[2018-02-09 21:56] #647 closed

[2018-02-10 14:13] #644 closed

[2018-02-13 14:17] jemcek opened #651 "On logical interface the "is_enabled" is FALSE with link down on Juniper"
On Juniper MX, if the physical link is down, the "is_enabled" status for the logical interface is FALSE instead of TRUE:

servis@router1.re1> show configuration interfaces xe-2/2/5
description test;
mtu 9192;
unit 0 {
    family inet {
        mtu 9000;
        address 10.200.7.100/31;
    }
}

servis@router1.re1> show interfaces terse
xe-2/2/5                up    down
xe-2/2/5.0              up

[2018-02-13 23:01] sdanelli opened #652 "napalm referencing attribute that is deprecated in py3.6 (maybe py3)"
When `ConnectTimeoutError` is attempted in "napalm/napalm/junos/junos.py" line 109, it references an attribute called `message` which has been deprecated.

In python2.7:
[code]

In python3.6:

[code]
Which means is raising an `AttributeError` instead of a `ConnectionException`:

More details:
[code]

[2018-02-13 23:02] sdanelli commented on #652
fix might to just cast to str if interested in the details: `raise ConnectionException(str(cte))`

[2018-02-14 14:21] Atroskelis opened #653 "IOS : Uncaught error response during replace"
Caught this when trying to commit replace an altered post-grab get_config 'startup' which adds an unsupported line on line 1

[code]

Cisco 1841 Version 12.4(13r)t issues the following when doing

The response is

Napalm goes forward with the code, even if changes are not applied on the router. I may not be that good at Python, but i assume this code bit does not have this answer in order to raise

[2018-02-16 22:30] demystifier opened #655 "Validation failure for non_string items in the list"
re.search() gets upset [here](https://github.com/napalm-automation/napalm/blob/2d08e66e9be779b59ec86eb347a1fed0c14ad00f/napalm/base/validate.py#L142) if there are non_string objects in the list.

sample data to reproduce:  [collected by get_route_to module]

src=[{'outgoing_interface': 'Port-Channel2', 'routing_table': 'default', 'protocol_attributes': {}, 'age': 0, 'protocol': 'connected', 'selec

[2018-02-16 22:38] itdependsnetworks commented on #655
Can you provide the error?

[2018-02-16 22:54] demystifier commented on #655
Here is the error:

The error is triggered when it tries to compare keys with non_string values. in above example it ends up trying to run  re.search(True,True) or re.search({},{})

[2018-02-17 00:59] itdependsnetworks commented on #655
Seems odd that this was not caught earlier, as anything but a string would have been an issue. We can check for type before, but personally wouldn't want add more logic to the list comprehension than is already there. Are the core maintainers ok with breaking this up into a for loop and some conditionals?

[2018-02-17 10:10] dbarrosop commented on #646
Oh, nice. Could you send a PR?

[2018-02-17 11:10] dbarrosop commented on #652
Good catch, would you mind opening a PR yourself?

[2018-02-17 11:27] #640 closed

[2018-02-17 11:54] dbarrosop commented on #655
I suspect that's a problem on your validation rules as you shouldn't be hitting that code. Make sure you haven't forgotten to specify you are comparing lists:

https://github.com/napalm-automation/napalm/blob/develop/test/base/validate/mocked_data/strict_pass/validate.yml#L33

I know it feels a bit counter-intuitive to have to add an extra layer to specify it's a list but it's basically so you can

[2018-02-17 11:54] #655 closed

[2018-02-17 14:27] jasperla opened #656 "RFC: new driver for Cisco 350 series devices"
I've been working on a [driver for Cisco 350 series devices](https://github.com/jasperla/napalm-s350) though I'd like to confirm the name before requesting moving it to [napalm-automation-community](https://github.com/napalm-automation-community).

Now, the datasheet or other forms of documentation are not very clear on which operating system devices run. Based on what's printed when the device bo

[2018-02-18 03:22] bbmin7b5 commented on #464
I just ran into this issue myself. Is there a fix for the regex?

[2018-02-18 06:33] sdanelli commented on #652
@dbarrosop sure, #657

[2018-02-18 21:31] #653 closed

[2018-02-19 22:12] ktbyers commented on #469
We decided to leave this as-is (as there is additional useful information that is being provided in the returned string.

[2018-02-19 22:12] #469 closed

[2018-02-22 19:50] jasperla commented on #656
As discussed on #napalm, I've renamed this napalm-s350 and it now lives at [napalm-automation-community/napalm-s350](https://github.com/napalm-automation-community/napalm-s350)

[2018-02-22 19:50] #656 closed

[2018-02-23 14:28] jperryNPS commented on #468
What info is needed? I am experiencing the same issue and am willing to provide what info I can. The switch I'm working with currently is not stacked, but I do have a stacked switch I can try if needed.

Here is the show version on the switch
[code]

Here is the traceback
[code]

[2018-02-24 16:07] respawner opened #659 "NAPALM returns two equal IPv6 with get_bgp_neighbors()"
I have found a strange issue on JUNOS and IPv6 BGP neighbors.

When using the `get_bgp_neighbors` method the inner the dictionary of peers for a given VRF might return two times the same IPv6 address. Here is a minimized output of a result.

[code]

If you take a look this is the same peer but with the address in two different format. The issue may come from JUNOS itself. In fact I've noticed that

[2018-02-25 10:33] dbarrosop commented on #659
That's unfortunate, I guess we will have to parse the IP with `netaddr` library to make sure this doesn't happen.

[2018-02-27 18:20] michaelgibson commented on #468
Would this not at least prevent the command from failing?
https://github.com/michaelgibson/napalm/commit/112d4a5a543528d89683c7adbf72b4a046c6f01d

[2018-02-28 20:48] ktbyers commented on #468
@dbarrosop @mirceaulinic So what do we want to do here (i.e. in the switch stack case).

Options
1. Just set it to 0
2. Set it to the value of the primary/master switch stack master
3. Parse all stack members and return a list (though causes compatibility/migration issues in napalm).
4. Aggregate values (which doesn't sound like a good idea to me).

If we go with 3, then that brings up questions a

[2018-03-01 13:06] jemcek commented on #651
I have done some more research regarding this issue. Depending the admin/link state of logical interface the xml result on Junos is:

1) if the logical interface is admin up and link is up
show interface xe-2/2/5.0 | display xml
...
   <if-config-flags>
      <iff-up/>

2) if the logical interface is admin up but link is down
show interface xe-2/2/5.0 | display xml
...
   <if-config-flags>
      <

[2018-03-03 11:48] matthieugouel opened #663 "Stack elements information from get_facts (tested on IOS)"
hello !

I noticed that get_facts() get only the facts of the master element of a stack, at least with the IOS driver (I haven't tested with other drivers yet).

I don't have Cisco IOS switches in stack at home so I use mocked data of the `show version` command to do the tests.

Here is the output of the `show version` of a stacked device I found on the Cisco website [here](https://www.cisco.com/c

[2018-03-03 15:54] ktbyers commented on #663
Related discussion here https://github.com/napalm-automation/napalm/issues/374

[2018-03-03 15:56] ktbyers commented on #663
Another related issue here:

https://github.com/napalm-automation/napalm/issues/468

[2018-03-03 16:02] ktbyers commented on #663
In the issue #468 I had added the following comment a few days ago which probably generally applies here.

[code]

I am past my limit of getter maintenance so more people will have to step up to work on these items (if they want these items).

[2018-03-03 18:13] matthieugouel commented on #663
Yes you came to the same conclusion that changing the output model would cause a certain amount of  issues... I think item 4 would be the same, and maybe less clean than a list.

I would be happy to help working on it if the item 3 appears to be the best idea or if a more convenient solution is found !

[2018-03-04 12:34] dbarrosop commented on #468
Can't we just query individual stack members somehow?

[2018-03-04 12:41] dbarrosop commented on #651
That's weird. At least older platforms had this:

[code]

Are you positive that has changed to something else? What is the output of the RPC call `get-interface-information`?

[2018-03-04 12:45] dbarrosop commented on #663
I don't think we should change anything. I think stack members should be queried independently.

[2018-03-04 22:09] matthieugouel commented on #663
Is there a way to access to a stack member independently with Napalm ?

[2018-03-05 08:38] jemcek commented on #651
The problem is only with logical interfaces (for example xe-2/2/5.0 or xe-2/2/5 unit 0)), the physical interfaces behave like you described.

[2018-03-06 11:21] aesposito91 opened #664 "NAPALM grains not updating in Saltstack"
It appears the once a proxy minion is spun up, all grain data is static and unable to be refreshed with saltutil.refresh_grains

salt==2017.7.4
napalm-base==1.0.0
napalm-eos==0.6.1

#Get current hostname from salt grain
$ salt 'dev1' grains.get hostname
dev1:
    dev1

#Get current hostname from device
$ salt 'dev1' net.cli "show hostname"
dev1:
    ----------
    comment:
    out:
        -------

[2018-03-06 14:53] mirceaulinic commented on #646
Hey @bplimp thanks for reporting this. What @dbarrosop said: can you please put you patch in a PR? Cheers.

[2018-03-06 16:03] bplimp commented on #646
PR has been submitted.  Thank you for the reminder.

[2018-03-07 09:53] aesposito91 commented on #664
This appears to impact IOS as well.

[2018-03-07 12:06] jemcek commented on #651
The solution for 'is_up' is like you said pretty clear, but I think the 'is_enabled' is more complex. I don't know if I understood you correctly but what you proposed is more a check if this interface exists at all (was created) or not. But I think that 'is_enabled' should indicate that an interface that was created and exists, is disabled ('set interfaces xe-2/2/5 unit 0 disable'). So for example

[2018-03-08 04:15] johnanthonyraluta opened #666 ""Error [1005]: CLI command 1 of 2 'enable' failed:" when accessing Arista router with enable secret configured"
Hi,
I am having issues with napalm-eos module accesing arista router with configured enable secret. I seems that napalm-eos commands cannot pass through the priviledge mode.  If I disable enable secret however, I would get my desired outputs.

=== Arista Router Details===
Hardware version: 11.01
Software image version: 4.19.4.1M
Architecture: i386
Internal build version: 4.19.4.1M-7459145.41941M
I

[2018-03-08 17:20] anochens opened #667 "Recording branch merging"
Is there any timeframe on merging in https://github.com/napalm-automation/napalm/pull/590 to the main branch of this project? It looks like everything was sufficiently tested. I would like to rely on this capability, and would prefer not to hardcode a branch into my requirements file

[2018-03-08 18:35] fasouto opened #668 "Add vagrant provider to the docs"
I'm using Fedora 27 and I had some trouble [setting up the lab](https://napalm.readthedocs.io/en/latest/tutorials/lab.html), when I tried to run `vagrant up` I got the following message:

[code]
After a while I solved it simply running: `vagrant up --provider virtualbox`

I think the reason is that I installed Vagrant and then VirtualBox so Vagrant used libvirt. However, to avoid confusions we can

[2018-03-10 16:52] johnanthonyraluta commented on #666
already found the solution to this

[2018-03-10 16:52] #666 closed

[2018-03-11 09:58] FloLaco opened #672 "The get_interfaces() speed crash with no IP address"
The `get_interfaces()` function crash when a SVI does not have IP address.

Problem seen on Nexus N9K-C93180LC-EX
Driver : NXOS_SSH
Traceback :
[code]

The interface that trigger the crash :
[code]

As we see, the `description `part is on the same line as `MTU/SPEED `
And here is the regex for the speed :     `re_speed = r"^\s+MTU .*, BW (?P<speed>\S+) (?P<speed_unit>\S+), "`

We just need to remo

[2018-03-14 10:14] dbarrosop commented on #663
not today, if that's a feature we want we will have to discuss how to do it. It shouldn't be difficult to do via `optional_args` (assuming you can't just access them via a dedicated port or something like that). Do you have any preference/idea?

[2018-03-14 10:14] #646 closed

[2018-03-14 10:17] dbarrosop commented on #651
I think your logic is correct so let's move forward and try to fix it..

Not sure if the junos views let you do that. Maybe @mirceaulinic knows. Worst case we can just invert it with python code.

[2018-03-14 10:18] dbarrosop commented on #667
Have you tested it? If you can confirm it works we can proceed and merge it. The only reason it hasn't been merged is because I was waiting for the community to test it.

[2018-03-14 10:19] dbarrosop commented on #668
Sounds good to me, please, send a PR :)

[2018-03-14 10:24] dbarrosop commented on #672
Great, thanks for the report. Waiting for the PR :D

[2018-03-14 10:37] jemcek commented on #651
I'm just doing some further testing and I found out that my logic does not handle well interfaces like:
`lo0.0, lc-2/0/0.32769,  pfe-2/0/0.16383`. There is no `{ if-config-flags/iff-up: flag }` when this logical interfaces are up, so I have to find out a better way of detecting the states of logical interfaces.

Even though some of this interfaces are internal and not configurable and maybe not th

[2018-03-14 10:45] FloLaco commented on #672
I'm going to be crazy with the cisco scrapping data ...
New N9K is different to N3K, N7K etc ...

[2018-03-14 17:03] ktbyers commented on #663
@dbarrosop I think for several Cisco stack platforms there is only a single management IP address. There is neither a dedicated port nor a dedicated management IP address. You would have to query the stack members by custom CLI commands.

People can chime in if my statement is not factually correct.

Solving this problem...is probably not going to be easy.

[2018-03-14 22:50] matthieugouel commented on #663
Indeed, to my knowledge you can't directly access by SSH to a IOS stack element (or at least it's not a classic behavior). So you must either collect the stack data from the master or using a custom CLI non-agnostic command as you said.

This is the first solution I used in my example above, using the `show version` of the master to get the serial numbers and models of the stack.

So IMO the quest

[2018-03-15 16:41] #477 closed

[2018-03-15 18:07] anochens commented on #667
I did test it a little but found it lacked the functionality that I needed. All this does is allow saving to a file. I'd like a List of the commands with outputs, etc. (essentially this without the yaml-bit.) And, even with that enabled, it didn't record 100% everything. I ended up going in another direction.

[2018-03-15 18:07] #667 closed

[2018-03-16 18:01] nickethier opened #677 "Support for MP-BGP in bgp related getters"
`get_bgp_neighbors_detail` doesn't distinguish prefix counts between afi-safi meaning it's ambiguous if running multiprotocol bgp (mp-bgp). The [openconfig bgp model](http://ops.openconfig.net/branches/master/docs/openconfig-bgp.html#bgp-neighbors-neighbor-afi-safis-afi-safi-state-prefixes) illustrates a great way to model this data.

This issue is meant as a discussion around if and how support c

[2018-03-17 05:29] nickethier commented on #465
Started work here: https://github.com/nickethier/napalm/tree/ios/get_bgp_neighbors_detail

[2018-03-17 14:41] FloLaco commented on #663
Maybe we can add and use optional argument on this method `def get_facts(stack_member=0)` for choosing which device we are trying to get. And the returned info are still the same as for other drivers.

[2018-03-17 16:11] ktbyers commented on #677
I am totally out of the loop on `get_bgp_neighbors_detail` method...so someone else will need to comment on this.

[2018-03-18 16:01] matthieugouel commented on #663
Yes it could do the trick. The stack_member=0 would always be the master,  but, for instance, that same info could be recovered from stack_member=2 if the master is the second element.
One think I wonder is how you get the number of stack elements this way ?

One think I thought also is maybe we could create an other method like `get_elements()` which would return the facts of all stack / module e

[2018-03-19 16:02] FloLaco commented on #663
It's not mandatory to return, by default, the master's `get_facts`.
But we should have a new method about stack information which will return this kind of info (for example) :
`show switch` ->
{
id_stack :
role :
mac_address :
state :
priority :
hw_version :
}

OR
show version ->
[code]

[2018-03-20 01:17] mattelphick opened #680 "get_environment does not collect memory correctly for IOS-XE"
The 'show memory statistics' command is used to collect memory data in the IOS get_environment getter.  However this command does not work on IOS-XE devices.

The example device I have is WS-C3850-48P running 03.06.05E.

[code]

[2018-03-20 02:04] itdependsnetworks commented on #680
Since spacing is so important, you will need to enclose your output in triple backticks, as described here: https://help.github.com/articles/basic-writing-and-formatting-syntax/#quoting-code

[2018-03-20 06:52] ameer131 opened #682 "NAPALM with JumpServer"
Hi there,

I am trying to find a way how can I write a NAPALM script with JumpServer enabled for IOS devices.
It seems there is limited number of args that I can supply:
`        # Netmiko possible arguments
        netmiko_argument_map = {
            'port': None,
            'secret': '',
            'verbose': False,
            'keepalive': 30,
            'global_delay_factor': 1,

[2018-03-20 18:20] ktbyers commented on #682
@ameer131 Are you connecting through a terminal server or an SSH Jump Server?

[2018-03-21 00:43] ameer131 commented on #682
Hi @ktbyers , it is through a terminal server. I am using terminal_server as the device_type and do the connection to the device manually. You have advised me before to use SSH config as that is the proper way to do it but unfortunately, I am using Windows (https://github.com/ktbyers/netmiko/issues/588) . So far its being working just fine and really wish to convert my machine to unix based soon.

[2018-03-21 10:03] jemcek commented on #651
I fixed my problem by changing the junos_views.yml and junos.py (unfortunately). The Junos logic for logical interfaces is pretty weird and I still don't know if I covered all the cases. But at least now I'm able to get a close match between the `show interfaces` output and `napalm_get_facts` output.
My logic follows this rules:
1) all the internal interfaces that are non configurable are in my ca

[2018-03-21 10:23] jemcek opened #685 "BGP multiple address families problem on IOS"
On Cisco Catalyst 6800 (IOS 15.2(1)SY1a):

If my BGP configuration includes IPv4 unicast and multicast address family, this results in following error:

`FAILED! => {"changed": false, "msg": "[bgp_neighbors] cannot retrieve device data: "}`

If I add both afi address families I get around this limitation
[code]

[2018-03-21 16:53] ktbyers commented on #682
Both SSH jump servers and terminal servers are supported. They are two different use cases, however.

For SSH Proxy support: https://pynet.twb-tech.com/blog/automation/netmiko-proxy.html

In napalm, you would feed the Netmiko arguments in using the optional_args dictionary. Also see the Netmiko 1.4.0 or 1.4.1 release notes as there were some changes on SSH proxy.

[2018-03-21 19:59] ktbyers commented on #471
I am not seeing this issue on Cisco IOS:

[code]

[2018-03-21 20:05] ktbyers commented on #471
@targuan Can you still reproduce this? I was unable to reproduce it.

Assuming you can, can you show the config diff between the old and the new config. Also can you show the full napalm stack trace, and the OS version you are currently using.

Thanks.

[2018-03-21 22:25] targuan commented on #471
@ktbyers I can still reproduce this in 03.06.06E (IOS-XE train, I'm hitting this on a C3650).

Note that I only have one user on this device and I'm trying to change its name.

[code]

[2018-03-21 23:04] ktbyers commented on #471
Okay, let me see if I can reproduce that behavior.

[2018-03-22 03:34] ameer131 commented on #682
Hi @ktbyers, i can see the **device_type** args is already pre-defined in the library itself.

        if self.transport == 'telnet':
            device_type = 'cisco_ios_telnet'
        self.device = ConnectHandler(device_type=device_type,
                                     host=self.hostname,
                                     username=self.username,
                                     pass

[2018-03-22 17:10] ktbyers commented on #682
NAPALM doesn't support terminal servers so unfortunately no.

It supports SSH proxy using an SSH config file.

Brigade would have this support (using Netmiko). In other words, you would have the flexibility of writing your own glue code in Brigade.

[2018-03-23 00:52] ameer131 commented on #682
I see, thanks for letting me know. Will put Brigade in my next study chapter :)
Thanks @ktbyers, always been helpful!

[2018-03-23 00:52] #682 closed

[2018-03-25 07:43] psaganesh opened #686 "Add support of telnet transport for IOS XR"
Is it possible to add telnet transport for IOS XR? as we are using terminal servers to connect with the lab routers. It would be great help for me if you could add that.

[2018-03-26 12:52] #630 closed

[2018-03-26 13:03] #672 closed

[2018-03-29 04:37] LongBeachHXC opened #687 "OSError: Search pattern never detected in send_command_expect: [>##]\s*$"
Is the below problem because a command that was sent down the channel produced a different output such as something like "confirm"?

I ran into this error so I cut down all unnecessary commands from the templates I was referencing and I still encountered the same error. As a result, I rewrote my code to leverage Netmiko directly.

Thank you for any assistance.

[code]

Traceback (most recent call

[2018-03-30 17:35] ktbyers commented on #687
Make sure you are using the latest released version of Netmiko and of NAPALM.

Then I would try:

[code]

Try adding the global_delay_factor (try both 2 and 4 for a value).

[2018-04-03 01:21] ngrundler opened #688 "issue with get_lldp_neighbors() on older IOS"
I think I've run into a bug with `get_lldp_neighbors()` and older version(s) of IOS that do not include the 'Local Intf:' in the show command output when combined with lldp-speaking systems that include a domain name in their lldp system name information.  In my case, it is a WS-3750G running IOS 12.2(55)SE9, and I'm looking at Cisco wireless access point LLDP neighbor information.

When `get_lldp

[2018-04-03 17:34] james-powis opened #689 "pip >= 10.0.0 incompatibility"
I am not going to create these for every single napalm module... but did for https://github.com/napalm-automation/napalm-ansible/issues/123 where I also saw this issue

pip 10.x no longer provides pip.req as needed in setup.py
https://github.com/pypa/pip/issues/5156

[2018-04-05 10:39] tkapluk commented on #689
Hi.
I try to install napalm with python3:
[code]
How to fix?

[2018-04-05 11:13] dbarrosop commented on #689
Downgrade to pip9. Version 10 is still in beta and has gone through some backwards incompatible changes we have to fix.

[2018-04-05 11:31] tkapluk commented on #689
I tried to use pip9, but on requirements: pip==10.0.0b2'.
[code]

[2018-04-05 15:03] BlyatFirmeza opened #690 "NAPALM isn't working"
When i try to do

it gives this output:

Collecting napalm
  Downloading napalm-2.3.0.tar.gz (147kB)
    100% |████████████████████████████████| 153kB 2.3MB/s
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-install-h1r3rl6y/napalm/setup.py", line 6, in <module>
        from pip.req imp

[2018-04-05 15:26] hslabbert commented on #690
Sounds like #689. Are you on pip 10?

[2018-04-05 16:00] BlyatFirmeza commented on #690
Yes im indeed on pip10:
`pip 10.0.0b2 from /usr/local/lib/python3.5/dist-packages/pip-10.0.0b2-py3.5.egg/pip (python 3.5)`

[2018-04-05 16:02] ktbyers commented on #690
You need to reinstall pip9 until we change our setup.py file (and release a new version). PIP10 broke their API.

[2018-04-05 16:02] #690 closed

[2018-04-05 17:24] BlyatFirmeza opened #691 "Netmiko error/problem"
I'm getting a error with netbox while using napalm and I think its origin comes from [Netmiko](https://pynet.twb-tech.com/blog/automation/netmiko.html).
Is it required to install Netmiko in the switch or as a intermediate SSH server for it to work properly?
I'm completly in the dark here, if someone could help i would be very much obliged

[2018-04-05 17:31] ktbyers commented on #689
You are going to have to figure out which package is requiring you to use the beta version of PIP10 and downgrade it (it might be `setuptools` itself).

Alternatively, you could just start over with completely new virtual environment (that has pip9 in it).

[2018-04-05 17:43] ktbyers commented on #691
You need to post your error.

NAPALM requires Netmiko and will automatically install it (when you install NAPALM).

[2018-04-05 20:43] tkapluk commented on #689
On new virtual machine installed successfully. Thanks.

[2018-04-05 20:50] BlyatFirmeza commented on #691
I have NAPALM already installed but it didn't worked with netbox, it said i needed to install the driver on the component thats why i don't understand you saying it installs automatically...

[2018-04-06 09:33] KalleDK commented on #659
You might want to use the official module instead https://docs.python.org/3/library/ipaddress.html

[2018-04-06 16:40] #689 closed

[2018-04-08 11:45] dbarrosop commented on #663
Unless this can be implemented in such a way it works "automagically" I am inclined to discard support for this. And by automagically I mean that there is a way of implementing this in such a way all the current and future methods support it without extra consideration (hence why I was asking before about dedicated ports and what not). This could be possible if those "custom" commands are consiste

[2018-04-08 12:03] dbarrosop commented on #651
I think the best approach would be to open a PR and relevant test cases and see which existing tests break (if any). Would you mind doing so, please?

Thanks and good job :)

[2018-04-08 12:04] dbarrosop commented on #685
I think that might end up breaking some things. Would you mind opening a PR and adding a test case for your particular case? Let's see if something breaks and evaluate how to fix it.

Thanks!

[2018-04-09 23:13] cuong-nguyenduy opened #694 "EOS - Fix remote_as with Local/Internal asPathType"
I have an iBGP route, originated from local peer. The result of `show ip bgp 10.0.201.25 vrf all` is as below:
[code]
When executing `get_route_to('10.0.201.25')`, I got Exception:

[code]

It seems that in the above output, **```asPathType```** is **```Internal```**, hence the **```asPath```** is empty. This causes the exception when an empty list is indexed to the last item.

I changed ```eos.py

[2018-04-11 18:25] bdlamprecht opened #695 "Error for 'get_lldp_neighbors()' on 'ios'"
I discovered a "strange" error while using NetBox which simply wraps around the NAPALM libraries.
This is what I encountered (I apologize for the extremely long line):

[code]

I brought this issue up in the NetworkToCode Slack channel and I was asked to include the above along with the following two files for `show lldp neighbors` and `show lldp neighbors detail`:

[show_lldp_neighbors.txt](https

[2018-04-11 18:45] bdlamprecht commented on #695
Also thought I would comment that the outputs above were taken from devices in a lab which emulates the production network as best as possible, but is definitely not as "clean" as I would like them to be.

[2018-04-11 21:14] itdependsnetworks commented on #695
Trying to understand your comment that this was not taken from production device. Does that mean this device in which you are showing output, does or does not exhibit the same issue?

[2018-04-11 21:25] bdlamprecht commented on #695
I was just stating the I didn't do an in-depth review or other "scrubbing" of any proprietary information from the posted files and wanted to cover myself from the corporate overlords in case they found this one day with the hostnames and IP addresses publicly available.

That is all I was trying to communicate.

[2018-04-14 00:17] ktbyers commented on #442
We should probably check what we do here for NXOS SSH as well.

[2018-04-16 18:33] bewing opened #703 "`base.clitools.cl_napalm:main` entrypoint still uses PIP internals"
https://github.com/napalm-automation/napalm/blob/f45fc4f8e9108cacd76ce8f5cd9182df45129480/napalm/base/clitools/cl_napalm.py#L146

Should switch to `pkg_resources.find_distributions()` or similar.

[2018-04-17 17:39] #695 closed

[2018-04-18 09:10] dbarrosop commented on #691
I am closing this issue due to lack of information. Installing napalm via pip installs netmiko automatically. If netbox is doing something else I suggest raising the issue with them.

[2018-04-18 09:10] #691 closed

[2018-04-18 09:11] dbarrosop commented on #694
That's an interesting one. Would you mind sending a PR and linking it here?

[2018-04-18 11:42] #442 closed

[2018-04-19 16:00] ogenstad commented on #688
Sounds a lot like the issue fixed in #698.

Can you test against the `develop` branch?

[2018-04-20 16:36] #703 closed

[2018-04-20 22:39] etedor opened #705 "napalm-ansible napalm_get_facts module fails to return LLDP output"
ansible `2.5.0`
napalm `2.3.1`
napalm-ansible `0.9.1`

I have a simple playbook with the following task:
[code]

It fails with the following output:
[code]

When I remove `filter: lldp_neighbors` from the task, the output shows nothing relating to LLDP.
I see the same results when using `lldp_neighbors_detail` instead of `lldp_neighbors`.

The target device is a C3750 running IOS `15.0(2)SE11`.
Ou

[2018-04-21 16:43] etedor commented on #705
A friend and I were initially looking at [line 747 in ios.py](https://github.com/napalm-automation/napalm/blob/3571631943ef9f062c8774fb5a005eec2847db27/napalm/ios/ios.py#L747) as the cause of this issue, and he wrote something to handle the extra field is being returned.

The real issue was right in front of me  - `yyyy-yyyyy-mgmt01` is reporting its `Port ID` and `Port Description` backwards. Bef

[2018-04-21 23:31] ktbyers commented on #705
@etedor It looks like it is this Cisco bug:

CSCsm38962

Given how problematic LLDP parsing is already...I think this will need to be fixed with an OS upgrade (also it doesn't look like it affects very many OS versions).

[2018-04-21 23:31] #705 closed

[2018-04-23 14:16] BlyatFirmeza commented on #695
Fix didn't worked for me please #open @ktbyers
ERROR LOG:
Server Error

[2018-04-23 14:26] BlyatFirmeza opened #709 "LLDP details could not determine the value of local interface"
I discovered a "strange" error while using NetBox which simply wraps around the NAPALM libraries.
I have tried the fix on #695 but it returns the error "Server Error".
Napalm seems to work on 2960-X and newer ones but in this one (Catalyst 3750-X) it returns this error:

`{"detail":"Error connecting to the device at 10.250.0.33: LLDP details could not determine the value of local interface:\n
{'Gi

[2018-04-23 15:18] ktbyers commented on #709
@BlyatFirmeza Please post the following from the device that is failing:

show_lldp_neighbors.txt
show_lldp_neighbors_detail.txt

You can obscure any confidential info in the LLDP just avoid changing the formatting.

[2018-04-23 15:30] BlyatFirmeza commented on #709
[show_lldp_neighbors.txt](https://github.com/napalm-automation/napalm/files/1938954/show_lldp_neighbors.txt)
[show_lldp_neighbors_detail.txt](https://github.com/napalm-automation/napalm/files/1938955/show_lldp_neighbors_detail.txt)

[2018-04-24 11:31] jpvis opened #710 "Unable to run two or more parallel jobs with net.load_template functions on same IOS device."
Hi,

I have simple jinja template:
[code]
When I'm trying to start two salt jobs.

[code]

Proxy logs:
[code]
**If I run only one job everything works fine.**

As I understood from debug logs, NAPALM is creating file "merge_config.txt" on Cisco device and working using this file. Can my problem be because one  NAPALM process already opened "merge_config.txt" but other NAPALM process could not open

[2018-04-24 17:33] ktbyers commented on #710
@jpvis I doubt that concurrent config operations are going to work (and to the extent it would work it would be because of locking and NAPALM making them happen serially).

I will defer to @mirceaulinic, however, as I don't recall exactly what we did with respect to locking and Cisco IOS for Salt.

[2018-04-25 07:40] jpvis commented on #710
I had conversation with @mirceaulinic in slack.  He proposed workaround:

This did the trick.  It is not necessary to do concurrent config operations. I think i will be good to add queuing.

[2018-04-25 11:42] KalleDK opened #711 "Using ipaddress module"
Have there been a discussion about the ipaddress module?

https://docs.python.org/3/library/ipaddress.html

So that instead of strings we can use actually adresses / interfaces / networks?

This would properly ruin backward compability, which I know a lot is fond of - but it could work with an option or something like that, (as in to enable it)

[2018-04-25 16:33] ktbyers commented on #711
Why? `netaddr` is working fine for what we need it for?

I am not seeing it being worth the work to do this.

[2018-04-25 16:34] ktbyers commented on #710
I am going to close this. If there is still an issue, then just re-open it.

Kirk

[2018-04-25 16:34] #710 closed

[2018-04-25 19:13] ogenstad commented on #668
Closing as #679 has been merged.

[2018-04-25 19:13] #668 closed

[2018-04-25 19:30] ktbyers commented on #711
Yes, I think the logical item to return here is a string, not a custom class.

You could do this in your code, but we probably wouldn't do this NAPALM. Note, NAPALM needs to interact with other upstream libraries (like Ansible, Salt, StackStorm, Brigade) so returning IP address objects instead of strings would likely break things.

[2018-04-25 19:36] KalleDK commented on #711
str(ip) would give the string you now are returning, but I do agree that it would break a lot upstream.

And ut is what I'm doing right now - wrapping all the calls and return with the ipaddress module.

But it might just be me :)

[2018-04-25 19:45] ogenstad commented on #711
A problem is that the ip address object wouldn't be serializable, so if that was used instead of a string things would break.

[2018-04-25 19:50] KalleDK commented on #711
Aaah your right that would be a pain without custom handles. Well thanks for the discussion :)

[2018-04-25 19:51] #711 closed

[2018-04-26 21:19] ktbyers opened #716 "Need to update the docs to fix these install dependency references"
This is assuming separate napalm packages (i.e. napalm-ios, napalm-junos, et cetera):

https://napalm.readthedocs.io/en/latest/installation/ios.html

[2018-04-27 19:13] ktbyers opened #718 "nxos using nx-api ping unable to handle no route to host message"
This test:

[code]

Resulted in an empty dictionary being returned.

[2018-04-27 19:14] ktbyers commented on #718
There is also no unit test data for the `ping` method for NX-API for any of the failure cases (the normal test case only handles a ping success).

[2018-05-02 15:41] LongBeachHXC commented on #687
@ktbyers Hey I should have updated this thread but the devices are in production and we were working on them during a maintenance window. By them time I received this suggestion I was outside the maintenance window  where it has become difficult to test that. I will keep this in mind for next time though.

Thank you for following up!

[2018-05-02 16:56] ktbyers commented on #687
No worries. Just let me know if there is still an issue. I am going to close this issue for now.

[2018-05-02 16:56] #687 closed

[2018-05-06 19:43] dmfigol opened #724 "napalm command line fails with pip 10.0.1"
Hi,
if I use pip version 10.0.1, napalm command line fails:
[code]
It works fine with pip 9.x:
[code]

[2018-05-08 14:39] darylturner commented on #465
Hi @nickethier, I needed this for a quick audit project so I ported your implementation to a custom_napalm driver and it works great. Looking forward to having this by default.

[2018-05-12 15:41] ktbyers commented on #407
I don't think there is any direct action to take here (individuals can work on contributing to napalm-yang to improve this situation and in certain cases there is ongoing work to add additional support into some existing getters).

[2018-05-12 15:41] #407 closed

[2018-05-12 15:48] ktbyers commented on #437
I would have thought that we should normalize this behavior. In other words, we should have a dictionary key like `remote_port` that always returns the remote interface name (regardless of what the vendor does).

Or worded differently, we should normalize the behavior so that any ambiguity about what is returned in our dictionary keys is removed. So to me `remote_port` should always be the remote

[2018-05-12 15:49] ktbyers commented on #446
This is documented here:

http://napalm.readthedocs.io/en/latest/support/nxos.html

[2018-05-12 15:49] #446 closed

[2018-05-12 15:56] ktbyers commented on #447
I think we should do this i.e. before merge operation create a checkpoint that could be rolled back to.

It still wouldn't be atomic as 1. if we are disconnected, there will be no rollback, 2. Partial changes could go through which you would have to manually handle and rollback, 3. You potentially would have to do this manually.

Though for both items 2 and 3 we could check for errors in the merge

[2018-05-12 15:59] ktbyers commented on #463
This is documented here:

http://napalm.readthedocs.io/en/latest/support/ios.html#self-signed-certificate-and-the-hidden-tab-character

[2018-05-12 15:59] #463 closed

[2018-05-12 17:28] ktbyers commented on #466
This is largely expected:

1. Screen scraping (in order to be reliable) is generally slow.
2. Using AAA command authorization will make it even slower (good chance considerably slower) and will like cause issues when trying to do concurrency.

[2018-05-12 17:28] #466 closed

[2018-05-12 18:47] ktbyers commented on #453
I think this is probably fixed at the Netmiko level.

[2018-05-12 18:47] #453 closed

[2018-05-12 18:49] ktbyers commented on #612
It looks like there is no issue here. For IOS virtual devices to work; they must have some file system which NAPALM-IOS can SCP files to.

[2018-05-12 18:49] #612 closed

[2018-05-15 17:05] ktbyers commented on #652
Updated fix here:  https://github.com/napalm-automation/napalm/pull/726

[2018-05-16 13:07] AmbicaY opened #728 "Cisco device error in the log"
I see this error continuously logged in my proxy minion for cisco device:
Exception argument of type 'bool' is not iterable occurred in scheduled job

Any idea about this error?

[2018-05-18 20:01] OzNetNerd opened #730 "NAPALM's use of jtextfsm breaks textfsm in Python 3"
Hi all,

I'm working on a tool which uses both textfsm and NAPALM. The problem is that if NAPALM is installed after textfsm, textfsm breaks.

The issue is due to NAPALM's use of jtextfsm. This package overwrites textfsm's version of `texttable.py` with a version which was written for Python 2.6 and uses the `xrange()` function. As this function is not supported in Python 3, a `NameError: name 'xra

[2018-05-18 20:07] ogenstad commented on #730
For a long time Textfsm wasn’t supported by Google so jtextfsm was used instead. But you are right it should be replaced now.

[2018-05-18 20:42] ktbyers commented on #730
This is a long and convoluted tale...

So the above doesn't sound right jtextfsm was used specifically because at the time Google was no longer maintaining textfsm and didn't have (at the time) PY3 support. In other words, jtextfsm was used because of its PY3 support.

Also, I looked through the jtextfsm support and there is no references to texttable or to xrange (nor does jtextfsm install any ot

[2018-05-19 00:10] OzNetNerd commented on #730
That's correct. I did the same and was quite confused by it. Therefore before lodging this ticket I went and installed the NAPALM `requirements.txt` manually. Sure enough, things broke after `jtextfsm` was installed.

Fair call. Apologies for not providing more details in my original post. Here's what I believe to be the "smoking gun":

[code]
As we can see, `texttable.py` is there and it is the o

[2018-05-19 01:38] ktbyers commented on #730
That texttable.py code is not coming from jtextfsm. It is coming from somewhere else.

[2018-05-19 02:07] ktbyers commented on #730
Okay, I take it back...it is jtextfsm that is messing up things.

What they have in their repo is significantly different than what they have on their released version that is on PYPI. The released version on pypi is not PY3 compatible, has texttable.py in it (and that texttable.py had xrange embedded in it).

$ md5sum texttable.py     (this is the file from jtextfsm.py)
d5d06a72a553310a1fe9efa04a

[2018-05-19 02:15] ktbyers commented on #730
Okay, yes we need to fix this.

[2018-05-19 02:48] ktbyers commented on #730
Okay, I did a first pass on a PR here:

https://github.com/napalm-automation/napalm/pull/731

I think we will probably be okay on the Windows issue (as we are not using 'clitable.py'), but I will do some more verification on this.

[2018-05-19 02:59] OzNetNerd commented on #730
Thanks for looking into this so promptly @ktbyers and @ogenstad.

[2018-05-21 13:55] mirceaulinic opened #732 "Unable to load banner MOTD on Arista"
Firstly, I am not entirely sure what's the right format expected. I tried loading:

[code]

With this, it fails:

[code]

Testing against a vEOS running:

[code]

Changing the line 157 to:

[code]

As it looks like `ret` is a list looking like: `[u'configure session napalm_61252', 'banner motd', {u'input': u'aaaa', u'cmd': u'comment'}, 'EOF']`, and the object referenced by `ret[s+1:e]` is a list o

[2018-05-21 14:04] mirceaulinic commented on #728
This is a duplicate of https://github.com/napalm-automation/napalm-salt/issues/49 and https://github.com/saltstack/salt/issues/47695.

[2018-05-21 14:04] #728 closed

[2018-05-21 14:51] mirceaulinic commented on #732
It appears that there's the same behaviour on a real device running `4.17.4M`, which makes me wonder whether there's a pyeapi versioning issue whatsoever.

[2018-05-21 15:58] BlyatFirmeza commented on #709
Hey @ktbyers
Any news on the subject?

[2018-05-21 16:34] ktbyers commented on #709
Someone will have to look at it and submit a PR on it. I haven't done it, not sure I will as I have already done so much work on LLDP parsing and Mac table parsing on Cisco IOS.

Regards, Kirk

[2018-05-21 16:49] ogenstad commented on #709
Has this been tested against the latest commit to the develop branch?

[2018-05-21 17:03] ktbyers commented on #709
Good point, we should re-test this since there was a recent fix to LLDP parsing.

[2018-05-22 01:49] ktbyers commented on #730
@OzNetNerd Should be fixed here:

https://github.com/napalm-automation/napalm/pull/731

[2018-05-22 01:49] #730 closed

[2018-05-22 12:32] OzNetNerd commented on #730
Excellent. Thank you @ktbyers.

[2018-05-22 15:28] bewing commented on #732
Per slack discussion, I believe this is occurring because `napalm.eos.EOSDriver::_mode_comment_covert()` is being called prior to `napalm.eos.EOSDriver::_multiline_convert()` inside `napalm.eos.EOSDriver::_load_config()`

The former reformats block-mode comments (which appear in configs as multi-line comments, all starting with `!!`, while the latter reformats multi-line commands (banners, https c

[2018-05-22 17:49] bewing opened #736 "EOS: `get_route_to()` does not support confederations"
Router output:
[code]

Error message:
[code]

[2018-05-23 09:04] mirceaulinic commented on #732
Confirmed that the issue was caused only by the `!!` at the beginning of the lines. @bewing suggestion to reorder the operations might help.
Either way, I've added the `documentation` label, as the documentation can be enhanced a little.

[2018-05-23 13:12] bewing commented on #732
@mirceaulinic can you checkout PR #738 and see if that resolves your issue?

[2018-05-24 15:22] #736 closed

[2018-06-01 05:27] AmbicaY opened #740 "Unable to connect to nxos device via salt"
I am connecting to a nxos device, my minion proxy config is very simple:
proxy:
  proxytype: napalm
  driver: nxos
  host: *********************
  username: ******************
  password: ********************

But the proxy is erroring out as:

Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/salt/minion.py", line 991, in _connect_minion
    yield minion.connect_master(f

[2018-06-01 05:36] AmbicaY commented on #740
For our switches, port 443 is blocked. Only SSH is allowed. Is there any way I can specify this in the pillar file?

[2018-06-01 05:39] DiogoAndre commented on #740
You may have better luck using the ```nxos_ssh``` driver.

[2018-06-01 14:57] AmbicaY commented on #740
Awesome!!!!! I dint know that such a driver was there. Thanks @DiogoAndre

Is there any location/documentation that I can refer for the list of drivers?

[2018-06-01 15:03] DiogoAndre commented on #740
NP!
There is a list here https://napalm.readthedocs.io/en/latest/support/index.html and there are also some community drivers  you may want to check: https://github.com/napalm-automation-community/

[2018-06-01 15:20] AmbicaY commented on #740
Thanks a lot @DiogoAndre

[2018-06-01 15:20] #740 closed

[2018-06-03 11:27] dbarrosop commented on #652
Fixed via #726

[2018-06-03 11:27] #652 closed

[2018-06-03 11:44] #465 closed

[2018-06-04 12:24] sarlacpit opened #742 "get_bgp_config is not implemented for the NAPALM ios driver"
Hi,

I am new to Salt & NAPALM.
I'm trying to see some basic bgp information on a Cisco ASR903 and I keep getting a traceback error:
`
[DEBUG   ] minion return: {u'fun_args': [], u'jid': u'20180604120248428710', u'return': {u'comment': u'get_bgp_config is not implemented for the NAPALM ios driver!', u'traceback': 'Traceback (most recent call last):\n  File "/usr/lib/python2.7/dist-packages/salt/ut

[2018-06-04 15:31] BlyatFirmeza commented on #709
I upgraded today the napalm ( pip install napalm -U) but the problem persists... Any ideas for a manual fix?

[2018-06-04 16:29] ktbyers commented on #742
@sarlacpit You are trying to use a NAPALM method that hasn't been implemented on that platform.

`get_bgp_neighbors` should probably work, but `get_bgp_config` someone would need to write (for Cisco IOS).

See the NAPALM getters matrix here:

http://napalm.readthedocs.io/en/latest/support/#getters-support-matrix

[2018-06-04 16:29] #742 closed

[2018-06-05 08:42] shibumi opened #743 "How to use a community driver with napalm-ansible?"
Hello,
How can I use a community driver with napalm_ansible? I know that I would need for napalm to import the module, but I can't do this with ansible.. is there any directory where I need to put the community driver?

[2018-06-05 08:52] dbarrosop commented on #743
Assuming the driver is built correctly you just install it as a regular python library and use it as any other napalm driver. There is nothing to do unless the driver says so. Basically if it works with `get_network_driver` in the REPL it should just work with the ansible modules.

Closing this one but feel free to keep asking or reopen if you think there is anything broken.

[2018-06-05 08:52] #743 closed

[2018-06-05 09:52] shibumi commented on #743
@dbarrosop sorry but you didn't get my question.. I am asking for napalm-ansible(!). I know how I can use the community driver via programming python, but I have no idea how to tell ansible that ansible should use the community driver with napalm and napalm-ansible.

[2018-06-05 09:54] dbarrosop commented on #743
I did get your question and I answered it. Happy to provide clarifications if something wasn't clear.

So basically if it works with `get_network_drivers("blah")` use that same blah as os in the ansible module.

[2018-06-05 10:04] shibumi commented on #743
@dbarrosop Thanks for your answer. Sorry seems like I was the one who didn't got your answer. I have executed napalm with `aos` now and this is what I got:
[code]

Does this mean that the napalm-aos driver is broken?

With Ansible I get this error:
[code]

[2018-06-05 10:15] dbarrosop commented on #743
Not necessarily. So, couple of questions:

1. Does it work in the REPL? Would be nice if you run:

[code]

2. If it works, are you certain you are using the same virtual environment for the REPL and ansible?

[2018-06-05 10:17] dbarrosop commented on #743
Wait, now it's me who missed half of your answer :P Yeah, that output seems to indicate something is broken in the AOS library. How did you install it?

[2018-06-05 10:34] shibumi commented on #743
I have created a virtualenvironment and installed it via `pip` with `pip install napalm` and `pip install napalm-aos`. Thanks for your help :)

[2018-06-05 12:13] dbarrosop commented on #743
I am not sure how you installed it though, I get this:

[code]

So I don't think they have any code published. I'd open an issue in their repo.

[2018-06-05 14:06] shibumi commented on #743
@dbarrosop I installed it via `pip install git+<URL to the repository>`
I have opened an issue in their repository.. thanks

[2018-06-05 17:12] ktbyers commented on #743
I think there are probably multiple issues here:

1. AOS driver looks like it has an issue:

[code]

2. The second issue is that os_choices in napalm-ansible needs removed which I have submitted a PR on here:

https://github.com/napalm-automation/napalm-ansible/pull/132

[2018-06-05 22:26] shibumi commented on #743
@ktbyers
Removing the second is a good idea.

About the first.. do you have a quickfix for this? I guess the rest of the code is alright just something in napalm changed and triggers that bug in AOS now..

[2018-06-06 10:12] ogenstad commented on #709
I just tested this with [napalm-inspector](https://github.com/napalm-automation/napalm-inspector), it hasn't been released yet but there's a PR if you want to test it (https://github.com/napalm-automation/napalm-inspector/pull/1).

What I found using that with the input from your files above is that the latest version of Napalm (2.3.1) on pypi raises an exception, however when I instead install th

[2018-06-07 07:40] AmbicaY opened #744 "nxos_ssh driver does not have get_environment function"
The NAPALM nxos_ssh driver does not contain the get_environment function. Any plans to add this? Also, why is it missing only in this driver?

[2018-06-09 18:07] cspeidel commented on #744
@AmbicaY I have made pull request #745 to try and add get_environment to nxos_ssh.

[2018-06-13 06:50] afourmy opened #746 "Inconsistency IOS / junos behavior when closing the connection"
IOS: we can open a napalm driver, load merge/replace a configuration, close the driver, reopen it later and commit. It works because the merge/candidate files are not erased when closing the napalm connection.

Junos: the config database is unlocked upon closing the connection => pending load merge/replace configuration is lost.

[2018-06-13 17:22] jberger commented on #746
Funny this should come up. After the previous report (#76) we were seeing problems with commit too. I had added `commit_config` before closing the connection and showed that for simple changesets (ie when you wouldn't need complex rollback) that was enough, but clearly that wasn't sufficient for more complex things. My assumption was that it was going to involve not disconnecting and as such we we

[2018-06-13 18:08] ktbyers commented on #746
@jberger I didn't really follow your response? Issue #76 was a timeout issue on EOS from 2015?

In other words, I didn't follow what your `commit_config` issues are from the comment? Can you explain more what your issues are?

Kirk

[2018-06-13 18:12] jberger commented on #746
Oh my apologies! I commented on this thread after following the link from the eNMS issue and hadn't noticed we'd changed repositories/projects! I've updated my comment but if it would clarify I can delete it entirely as it really does not belong here.

[2018-06-13 18:16] ktbyers commented on #746
No worries   :-)

Kirk

[2018-06-13 18:18] ktbyers commented on #746
@afourmy Can you explain a bit more how this difference in behavior impacts eNMS? Just trying to understand how the differences are affecting you.

Kirk

[2018-06-13 18:40] afourmy commented on #746
@ktbyers Until now, because of the way I implemented the workflow system in the first place, I was using different napalm connections to load merge/replace the configuration, and to commit it. That was working for IOS because the configuration files were still present in the flash memory, and not for Junos because the changes were discarded upon closing the first napalm connection after loading th

[2018-06-13 18:57] ktbyers commented on #746
Okay, that makes sense.

[2018-06-14 15:46] snatch2013 opened #747 "napalm's initial connection is too slow for cisco ios"
Hello,
I am trying to use napalm, but it seems to be too slow for configuration changes, it takes more than 30 seconds to commit one command. But it takes a lot of time even to get facts from the Cisco switches.
 Here are the logs:

`2018-06-14 17:09:10,485 Authentication (password) successful!
2018-06-14 17:09:10,486 [chan 0] Max packet in: 32768 bytes
2018-06-14 17:09:10,488 [chan 0] Max packet

[2018-06-14 16:59] ktbyers commented on #747
@snatch2013 That all seems pretty normal. Screen-scraping is slow.

Why does the 5 seconds or the 30 seconds matter to you? Trying to understand your context and why this is an issue to you?

[2018-06-14 18:19] snatch2013 commented on #747
@ktbyers

Well, seems strange that this task takes five seconds instead of several hundred milliseconds. Also, for one device this latency is not so critical, but since we are talking about automation tool, it is a problem, isn't it?

[2018-06-14 18:38] ktbyers commented on #747
Network devices are slow...and you start running into quite a few issues with managing the CLI session (especially when accounting for variation in devices).

Going fast for executing a single show command and login is probably 2 to 3 seconds (not several hundred milliseconds). Note there are other things that have to happen that are included in that time (turning of paging, verifying you have log

[2018-06-14 20:12] snatch2013 commented on #747
@ktbyers
as I have written from the beginning, five seconds is between the authentication completed and before show version command is issued. And of cause, it is not because of the slow network devices. It takes 1.7 second to connect by ssh client, issue the show version command and receive the output.

It is not clear for me, why do we need to wait two seconds if the application has already rece

[2018-06-14 20:41] snatch2013 commented on #747
ok, by using keywords global_delay_factor and netmiko I have found others issues, now it is more clear for me what is the problem with napalm. So we rely on the 2-second sleep timer, for some people it is too much and scripts work too slow, for others scripts fail because of 2-second delay is not enough if they have a big latency.
  Isn't there a way to know immediately that network device has sen

[2018-06-19 08:49] omershtivi opened #748 "Add support for juniper configure private"
When Napalm use configure, instead of configure exclusive or regular configure, add support for configure private

[2018-06-25 23:55] orgito opened #751 "Add get_cdp_neighbors() and get_cdp_neighbors_details()"
Add the methods to get CDP neighbors to devices that support CDP. Currently only LLDP neighbors are supported, but scenarios where CDP is required are common.

[2018-06-26 16:14] AmbicaY opened #753 "Any Napalm function to get channel group information"
I need to get the channel group information for a port channel, i.e. the interfaces in a channel group,
example, in cisco, to get this kind of information, we run:
show etherchannel 11 port-channel

it shows:
Ports in the Port-channel:

Index   Load   Port     EC state        No of bits
------+------+------+------------------+-----------
  0     00     **Gi8/27**   On                 0
  1     00

[2018-06-26 20:03] ktbyers commented on #753
Yes, I don't think there is any napalm getter that accomplishes this.

You could look at TextFSM and NTC-templates and see if they have anything that does this.

[2018-06-26 20:03] #753 closed

[2018-06-27 08:03] mirceaulinic commented on #751
Hi @orgito - @dainok already has a PR for this: https://github.com/napalm-automation/napalm/pull/601 and he'll appreciate any help you can provide. Thanks!

[2018-06-28 08:52] omershtivi opened #755 "Add getter get_bgp_received_routes"
Add a getter to specify a BGP neighbour address and get in response all the BGP NLRI received from that neighbour.

Juniper command:
show route receive-protocol bgp <neighbour>

[2018-06-28 10:58] mirceaulinic commented on #755
That's a good idea @omershtivi, and it would make sense as it's not at all specific to a particular platform. Would you be able to implement for a couple of drivers? Thanks!

[2018-06-28 11:59] omershtivi commented on #755
Hi Mircea,
I think I can implement it for Junos, but for now I don't have access to other network devices.
I will start with Junos and see how it goes from there.

[2018-06-28 13:11] pehruby commented on #755
I can try to implement it for ios, nxos-cli. What input parameters? Neighbor IP and vrf name?

[2018-06-28 13:18] omershtivi commented on #755
I think the VRF name need to be optional, and if it's not specify just fall to the default table

[2018-06-28 14:54] omershtivi commented on #755
So the name:
get_bgp_receive_routes is ok? any other suggestion?
What do we want to return?
The received routes from that neighbour... anything else?
I still think it should be a dict in a list in case we want to add additional information later (communities? LP?) without breaking  other people code

[2018-06-28 18:07] shyarkhan commented on #612
hello everyone,

Can someone help me with IOSVl3 or  IOSvl2... ?

[2018-06-29 07:19] pehruby commented on #755
For me number of routes received is important to be able to check if it is in a certain range.

[2018-06-29 17:39] james-powis opened #756 "Napalm CLI has Pip 10.0.1 incompatibilities"
Due to internal API changes in pip, napalm breaks, but when pip is down graded to 9.x it works.
[code]

[2018-06-29 22:31] ktbyers commented on #756
This is fixed in the `develop` branch:

https://github.com/napalm-automation/napalm/commit/a376387297a2c5d2b57c07ddd07a05ce69cfabe3#diff-bf37101a570e51364aa8220585401244

We need to do a new release to get it to pypi, however.

[2018-06-29 22:31] #756 closed

[2018-06-29 22:35] #448 closed

[2018-06-30 11:01] omershtivi commented on #755
Can you please explain what do you mean?

I think we should also add a "vrf all" option

[2018-06-30 17:35] pehruby commented on #755
I wanted to include received prefixes count but this information is already included get_bgp_neighbors. So I don't know if makes sense to include it into this getter as well.

[2018-07-01 16:53] omershtivi commented on #755
@pehruby First there is the get_bgp_neighbors as you mentioned, but if you want for just one neighbour.
There is no need to include a  count method because there is always the __len__, because it is just a list.
I don't see what the flag add, if there is no soft_reconfiguration the list will be 0, so the flag won't change anything.
The method will not change the config because it is a getter, and

[2018-07-01 17:28] pehruby commented on #755
@omershtivi I'd like to distinguish if the empty list is a consequence of missing soft reconfiguration or if no prefixes were received from the neighbor.

[2018-07-02 05:09] omershtivi commented on #755
I don't think this is the place for the soft reconfiguration it is more on the get bgp config but let me know if you think differently @mirceaulinic

[2018-07-02 22:31] ktbyers commented on #612
@shyarkhan If you run `dir` on the device, what does your device show?

You are also going to have to post your stack trace at a minimum.

Kirk

[2018-07-03 04:35] shyarkhan commented on #612
@ktbyers  Dir shows nothing , i need VIOS as per above posts i have the same issue, but i dont know from where i can get VIOS free version.

[2018-07-04 13:31] ckishimo commented on #659
#761 should fix it. @respawner are you able to test ? I was not able to reproduce it using Junos 14.1

[2018-07-05 08:10] iamroddo opened #762 "NXOS configuration replace does not work via an SSH proxy"
I created a checkpoint file on a Nexus 9K running 7.0(3)I7(4) and transferred it to my script host with SCP. After doing so I changed the hostname on the Nexus and used the example script at http://napalm.readthedocs.io/en/latest/tutorials/samples.html#load-replace-configuration and the downloaded checkpoint/configuration file against this Nexus 9K. The outcome was that the hostname of the Nexus 9

[2018-07-05 09:05] respawner commented on #659
@ckishimo it seems to be working with your PR yes. Thank you 👍

[2018-07-06 15:47] ktbyers commented on #762
@iamroddo Your first error is an error actually reaching the device.

You need to post your ansible playbook.

[2018-07-06 20:01] omershtivi commented on #755
Hi would like to change concept. instead of get_bgp_received_routes to:
get_routes_neighbour, the getter will receive neighbour, direction (in/out), and protocol.

[2018-07-06 20:01] #755 closed

[2018-07-06 20:06] omershtivi opened #764 "get routes neighbour"
add a getter
Instead of the previous pull request of get_received_routes change to get_routes_neighbour, the method will receive the following args:
protocol (BGP, or any other supported protocol)
direction (in/out)
neighbour

The getter will return:
list of learned routes as dict (can add more info later, like LP, AS-path, etc')

[2018-07-07 00:13] ktbyers commented on #612
napalm-ios requires a file system to transfer a file into for any of the configuration operations.

[2018-07-07 16:43] ktbyers commented on #762
Note, replace config on nxos_ssh will not work via an SSH proxy.

[2018-07-08 04:14] iamroddo commented on #762
I wanted to get replace working. The details on merge was to provide background. Is there any chance that replace will function with nxos_ssh via SSH proxy at any point?

[2018-07-08 14:46] ktbyers commented on #762
@iamroddo Feel free to submit a PR on it.

[2018-07-09 15:38] ckishimo commented on #651
@jemcek are you still working on this ? if not, I can have a look...thanks

[2018-07-09 18:28] mmihir82 opened #765 "Dynamic Pull OS information"
Hello
Is there any way to find driver (what OS is target device). What I was thinking to run the SNMP query to pull OS information, then pass to driver, then run the next action (stackstorm workflow).

This will be really helpful.

I using stackstorm.

[2018-07-09 18:31] ktbyers commented on #765
Netmiko has two autodetect mechanism one that is SSH based and one that is SNMP based. You could probably use that and then run what Netmiko provides back into a dictionary that maps it to NAPALM platform.

[2018-07-09 18:31] #765 closed

[2018-07-09 19:30] ktbyers commented on #765
https://github.com/ktbyers/netmiko/tree/develop/examples/use_cases/case8_autodetect

[2018-07-09 19:48] mmihir82 commented on #765
Thanks @ktbyers,

[2018-07-10 07:42] caobo1020 opened #766 "get_bgp_neighbor method does not return BGP description for EOS"
get_bgp_neighbor method does not return BGP description for EOS, it works for JUNOS.

EOS version: 4.20.3F

[2018-07-10 18:09] ipv6freely commented on #764
The name itself seems awkward. Instead of get_routes_neighbor, maybe it would be better to use get_adj_rib_in and get_adj_rib_out or something similar?

[2018-07-11 06:10] omershtivi commented on #764
maybe get_adj_rib?

I want to have the direction in the method

[2018-07-11 12:11] jemcek commented on #651
Please go ahead, maybe you will find even a better solution.

[2018-07-11 14:15] ckishimo commented on #651
@jemcek I agree with you. The idea is to check if the flag `iff-down` is present
Then if present, interface is `disabled`, otherwise is `enabled`

Doing like that we do not need to look for the `iff-up` flag, therefore status
for interfaces like `lo0.0, lc-2/0/0.32769, pfe-2/0/0.16383` is covered as well

Also the `iff-up` flag is not always present, for instance if the physical interface
is down,

[2018-07-13 12:57] marinkosmiljanic opened #769 "NAPALM - autodetect"
Hi,

It is not really issue but only question.

Is it possible to not define OS version in "get_network_driver('ios')" command, but to use "get_network_driver('autodetect')" instead?
It is possible in Netmiko, but not sure is it work in Napalm.
I have to use Napalm since it is possible to compare running config file on Cisco switch/router with the changes we plan to implement. Is this option avail

[2018-07-13 17:03] ktbyers commented on #769
NAPALM does not have this. You would have to use Netmiko or something else to find this and then feed the device_type into Netmiko.

NAPALM uses Netmiko for certain platforms? Why don't you use Netmiko for the autodetect and NAPALM for the functionality you want to achieve with the 'diff'?

[2018-07-13 20:11] marinkosmiljanic commented on #769
Thank you Kirk for prompt feedback.
I will do as you suggested.

Have a nice weekend.

Regards,
Marinko

[2018-07-13 20:43] ktbyers commented on #769
Yes, you too.

[2018-07-13 20:43] #769 closed

[2018-07-17 09:10] srfwx opened #771 "nxos get_lldp_neighbors_detail returns remote port description instead of remote port name"
In the following example, I have 1 Spine connected to two Leaf Switches.
All running NX-OSv 7.0.3.I6.1.bin

Before any configuration (except for hostnames), here is the ouput of "LLDP neighbors details" on the Spine:
[code]

If add a description to port Ethernet1/1 of leaf01 as follows:

[code]

Now I get the port description in the "remote_port" field instead of the port name!

[code]
The output

[2018-07-17 18:49] ktbyers commented on #709
I am going to assume this is fixed (given Patrick's last statement). If this is still an issue, please re-open.

[2018-07-17 18:49] #709 closed

[2018-07-17 18:50] ktbyers commented on #751
This is a duplicate issue. Closing.

[2018-07-17 18:50] #751 closed

[2018-07-17 23:58] caobo1020 opened #772 "EOS: get_bgp_neighbor return inaccurate 'last_flapped' time."
os: 4.20.3F
hw: 7508

The interface has been up for 73 days, however, it returns '1525105053.0689805' which is '17651' days. Can you look into this?

Thanks,

'interface': {u'Ethernet3/1/1': {u'description': u'testB',
                                  u'is_enabled': True,
                                  u'is_up': True,
                                  u'last_flapped': 1525105053.0689805,

[2018-07-18 13:40] srfwx commented on #771
#773

[2018-07-20 23:24] caobo1020 commented on #772
it's a EOS bug

[2018-07-20 23:24] #772 closed

[2018-07-21 22:33] #659 closed

[2018-07-24 23:03] ktbyers opened #776 "fix load_template so it doesn't require an absolute path"
And so it supports ~ for home directory reference.

[2018-07-26 18:07] nachosn89 opened #777 "Unable to access ios device in enable mode"
Hi,

I am trying to access to some cisco device with IOS Version 15.1 and version 12.4, and I want to run show commands with privileged mode. If I manually go to the device and type enable, I am able to type the password and run those commands.

Following the documentation, I added the parameter 'secret' in the optional_args but I cannot run those commands, so I guess it didn't entered in enable.

[2018-07-26 20:52] ktbyers commented on #777
[code]

What does your prompt look like from the CLI--before and after the enable action (if you do this manually)?

Are you going from privilege 1 to privilege 15 (or doing something else potentially using AAA)?

[2018-07-26 22:08] nachosn89 commented on #777
Many thanks Kirk.

It looks the same ->  `hostname#`
and for the password is just -> `Password:`

I am going from privilege 3 to 15 after the enable.

The commands I would like to run for now are just:
show running-config
show vlan brief

Thank you

[2018-07-27 06:43] sincerywaing opened #778 "junos: commit at"
would it possible to add 'commit at' in junos?

[2018-07-27 07:37] nachosn89 commented on #777
I know how to fix it.

First exiting:
device.device.exit_enable_mode()
and executing the enable again:
device.device.enable(cmd=u'enable', pattern=u'password')

No it is working as expected.

Many thanks

[2018-07-27 07:37] #777 closed

[2018-07-27 16:11] ktbyers commented on #777
For reference Netmiko is using the prompt as an indicator that you are in enable mode (so it sees '#' and concludes you are already in enable mode).

[2018-07-30 22:54] tybruno opened #779 "Error with load_merge_candidate / load_replace_candidate with Cisco IOS device"
I am getting the an uncaught exception when trying to perform a load_merge_candidate or load_replace_candidate action on a device. I also get the same error without using a context manager.  I am able to connect to the device and perform the get functions such as get_facts and get_running but I get an error when doing the load_merge_candidate and load_replace_candidate commands.

Traceback:
NAPALM

[2018-07-30 23:00] ktbyers commented on #779
@tybruno Opening of the Secure Copy connection failed:

[code]

What privilege level is the account that you login as (before the secret i.e. without any enable call)?

[2018-08-01 07:17] pehruby opened #780 "tox test fails with latest pytest/pluggy"
py -m tox failed on a fresh clone of napalm on my PC.

[code]
-----

When I manually install pytest==3.6.1 and pluggy==0.6.0 the tox test works fine.

[2018-08-01 07:33] pehruby commented on #780
pytest==3.6.1 in requirements-dev.txt is solution/workaround of this issue

[2018-08-01 09:50] sincerywaing commented on #778
would it possible to use rpc call:

something like below?

[code]

[2018-08-01 14:46] james-powis commented on #756
Can we please get a new release cut... Continually having issues with people (or processes) upgrading this package...

[2018-08-01 17:04] ktbyers commented on #778
Unfortunated, napalm doesn't support that directly. There was work done on supporting commit confirm, but it still a work in progress (mostly stalled at this point).

You can see if you can make it work via an RPC call.

Regards, Kirk

[2018-08-02 01:17] sincerywaing commented on #778
@ktbyers thanks Kirk. Yes rpc is the direction I'm looking for.
is there any example code that I can take a look if already exists?

[2018-08-02 03:57] ktbyers commented on #778
`self.device` should be the PyEz device. After that you will have to look what is available in PyEz.

I looked here and didn't see a good match:

http://junos-pyez.readthedocs.io/en/2.1.6/jnpr.junos.utils.html#jnpr.junos.utils.config.Config.commit

You might need to ask on the PyEz GitHub lib; there is nothing for this in napalm.

Regards, Kirk

[2018-08-03 12:53] #732 closed

[2018-08-03 13:23] ktbyers commented on #778
@sincerywaing FYI, there is commit_at in here:

https://github.com/saltstack/salt/pull/48909/files

You could probably reverse engineer it from this.

[2018-08-04 02:18] ktbyers commented on #747
New version of Netmiko allows a `fast_cli=True` argument which you can pass in as an optional_args into napalm drivers that support Netmiko.

[2018-08-04 02:18] #747 closed

[2018-08-04 02:25] ktbyers commented on #778
I don't think there are any other actions here (from a napalm perspective).

[2018-08-04 02:25] #778 closed

[2018-08-08 11:32] sarlacpit opened #783 "setup.py - pip version 10 ImportError: No module named req."
When trying to install Napalm on Ubuntu 16.04 I kept coming across the following message installing the napalm_install_formula on Saltstack: https://mirceaulinic.net/2017-07-06-napalm-install-formula/ and kept getting the following message.

[code]
I was informed by a helpful dude to downgrade pip - I am a novice python user but managed to downgrade to 9.0.3 which worked a treat.

[2018-08-08 15:46] explody commented on #468
I'm hitting this as well.  Option 1 makes sense from a purely code perspective, in that there's a variable that only gets set inside a conditional that may never test true, and it makes sense to ensure that it exists.   Plus it is easy to implement.

I would much rather get a '0' return than a complete failure.

[2018-08-08 18:32] ktbyers commented on #783
You are using an old version of napalm. You need to upgrade to a new version of napalm (napalm 2.3.1 is the latest) and this issue should be fixed (well except for in napalm-cli where it will be fixed on the next release; it is fixed in the develop branch there).

[2018-08-08 18:32] #783 closed

[2018-08-09 10:44] PalaniKumarP commented on #756
How about the newer version release? I'm getting the same error. Please inform me once it is released. Thanks in advance.

[2018-08-09 20:47] tybruno commented on #779
@ktbyers  Any progress on resolving this issue?

[2018-08-10 15:05] ktbyers commented on #779
So did you get this working or are you still having issues. I think you will probably need to use:

[code]

As an additional argument into NAPALM. This is from memory so please double check the syntax.

[2018-08-10 15:35] ktbyers opened #784 "Fix napalm NXOS such that it works with pynxos==0.0.4"
Currently there is an issue with pynxos 0.0.4 and napalm so we are frozen at pynxos==0.0.3

[2018-08-10 17:34] tybruno commented on #779
Yes that optional arg fixed the issue. Thank you for your help!

[2018-08-10 17:45] ktbyers commented on #756
NAPALM 2.3.2 was released a few minutes ago.

[2018-08-10 18:58] james-powis commented on #756
@ktbyers Kirk thanks for the exceptional follow up!

[2018-08-13 22:17] Lukiko commented on #468
I'm receiving this same error on several Cisco 3650 switches not stacked (WS-C3650-24TS).

Has there been any resolution or workaround? Thanks!

[2018-08-14 12:55] explody commented on #468
I should add, our issues are appearing on 3650's as well.  Our 3850s seem ok, which I presume is due new/different OS versions.

[2018-08-14 15:36] rarodrigo opened #788 "Error to use get_facts in XRV - 6.1.2"
I am having some problem using `napalm_get_facts` with filter facts under specific plataform related Cisco.

The issue was found under **Cisco XRV IOS version 6.1.2**.

Cannot see information in some `variable`. Follow the logs:
[code]
Like cannot see `napalm_os_version`, `napalm_version`.

[2018-08-14 15:54] ktbyers commented on #788
The next step is to figure out what the corresponding XML returned on your device is. Here is what it looks like we are doing:

https://github.com/napalm-automation/napalm/tree/develop/test/iosxr/mocked_data/test_get_facts/normal

But that would need translated into how to retrieve the corresponding XML on your device.

[2018-08-17 07:20] FloLaco opened #792 "Handle multiple VRF"
Hello,

@ktbyers notice me (on that thread : https://networktocode.slack.com/archives/C0EEQTCRH/p1534270593000100) that I should open a new issue to talk about this subjet.

What's the bes way to handle multi VRF ? Do we need to work with `vrf all` suffix in all OS command, or should we provide the vrf argument in the getter ?

How can we keep compatibility with the `compliance_report` method, whe

[2018-08-17 09:31] FloLaco commented on #784
@ktbyers do you know where's the issue ?

[2018-08-17 13:17] PhillSimonds commented on #471
Hi all! I have this issue as well. I'm running a 2960X switch stack on 15.2(2)E7.

Regards,

[2018-08-17 13:55] ktbyers commented on #471
Yes, this needs fixed in napalm. We can possibly put in a handler to catch this.

Although...I would say it is a Cisco bug/misdesign.

[code]

[2018-08-17 15:09] ktbyers commented on #784
pynxos added a verify argument and defaulted it to True (for verifying the SSL certificates).

[code]

Consequently, we need to support this verify argument in NAPALM optional_args.

I would probably vote we should default the napalm nxos setting to false, but I am open to either way for the default value.

[2018-08-17 15:09] ktbyers commented on #784
Basically pynxos==0.0.4 and napalm can't be made to work with self-signed certificates. They default to True and we don't support passing in the verify argument.

[2018-08-17 15:14] FloLaco commented on #784
If we set to false, it's meaning that by default, we won't check the SSL certificates, and from my POV, it's a good idea because I don't think a lot of people is changing the default cert.

[2018-08-17 18:49] ktbyers commented on #784
Yes, by default we wouldn't check the SSL certificate and then we would
provide a way to override that behavior for people that wanted to check it.

Kirk

On Fri, Aug 17, 2018 at 8:14 AM, FLaco <notifications@github.com> wrote:

--
*Kirk Byers*
*ktbyers@twb-tech.com <ktbyers@twb-tech.com>*
*Simplify through Automation*

[2018-08-19 04:13] jifox opened #793 "connection failure - Cisco Catalyst C6848"
I'm focussing a connection problem on one of my C6848 switches. The same playbook will

CISCO IOS VERSION
#show version
Cisco IOS Software, c6848x Software (c6848x-IPSERVICESK9-M), Version 15.4(1)SY4, RELEASE SOFTWARE (fc3)
Technical Support: http://www.cisco.com/techsupport
Copyright (c) 1986-2018 by Cisco Systems, Inc.
Compiled Fri 02-Feb-18 02:07 by prod_rel_team

ROM: System Bootstrap, Version

[2018-08-19 15:00] ktbyers commented on #793
Can you show the output of the playbook execution with the '-vvv' arguments?

[code]

[2018-08-20 00:53] ktbyers commented on #792
I will try to respond on this in the next couple of days. I would respond quicker, but unfortunately, I think there will be a bit of complexity on the discussion.

[2018-08-20 00:55] ktbyers commented on #788
@rarodrigo Any chance to get the needed XML information from the device?

[2018-08-20 00:56] #779 closed

[2018-08-20 01:00] ktbyers commented on #771
@srfwx Any possibility that we can also get `show lldp neighbors` on the spine for at least the two entries that you showed above. Having this in addition to the 'detail' information will make it easier for me to write unit tests for this case.

[2018-08-20 01:03] ktbyers commented on #764
We are generally trying to avoid adding new getters and instead think we should probably focus on napalm-yang for new getters. That being said, I am open to discussions on enabling this (somehow in the napalm community repositories). If there is a way this could reasonable be accomplished.

[2018-08-20 04:33] omershtivi commented on #764
Hi @ktbyers
Wish I understood the Napalm-Yang couldn't get my head around it.

Anyway my latest though was to get the feature into get_routes and maybe add two args for neighbour and neighbour_direction instead of adding a new getter

[2018-08-20 04:47] jifox commented on #793
@ktbyers
Hi,

Here is the output with -vvv arguments. I've trunkated switch configuration output manually.

[ansible@scvnetmgmt01 develop]$ ansible-playbook  -i hosts.yml  --limit ATKPACSC001  tasks/get_napalm_facts.yml -vvv
ansible-playbook 2.6.3
  config file = /home/ansible/ansible/develop/ansible.cfg
  configured module search path = ['/usr/lib/python3.6/site-packages/napalm_ansible']
  ansibl

[2018-08-20 14:07] rarodrigo commented on #788
@ktbyers I am trying to figure out how to execute command on device and export all directly as xml.

[2018-08-20 17:29] ktbyers commented on #793
@jifox Is `ATKPACSC001` DNS resolvable?

What does your Ansible inventory look like (for the 'ios' group) and ATKPACSC001

[2018-08-20 19:06] jifox commented on #793
children:
        ios:
          # All IOS Switches (valid modules: ios_config, ios_facts, ios_vlan, ios_l2_interface)
          children:
            ios_br:
              hosts:
                ATBRACSC001:
                  ansible_host: 172.23.228.1
                  is_default_gateway: true
                  is_location_dcbr: true
                  is_location_fwbr: true

[2018-08-20 19:09] ktbyers commented on #793
@jifox You need to use {{ ansible_host }} in your playbook, not {{ inventory_hostname }}:

So I would try this:

[code]

[2018-08-20 19:16] jifox commented on #793
@ktbyers  Thanks, using _hostname: "{{ ansible_host }}"_  solved the problem.
Close ticket, please

[2018-08-20 19:18] #793 closed

[2018-08-21 14:49] cuong-nguyenduy commented on #694
Takes me something to learn how to use git and github. I've created PR as shown here
[https://github.com/napalm-automation/napalm/pull/794](https://github.com/napalm-automation/napalm/pull/794)

[2018-08-21 14:49] #694 closed

[2018-08-22 12:37] srfwx commented on #771
@ktbyers
[code]

same thing with hostnames set:
[code]

Let me know if you need anything else or if I can help somehow.

[2018-08-23 13:34] bewing opened #796 "More EOS TextFSM VRF issues"
Still some issues with the TextFSM template for "show vrf"

[code]

[code]

[2018-08-24 17:21] ktbyers opened #799 "nxos_ssh merge probably doesn't handle hostname changes properly"

[2018-08-28 20:29] #796 closed

[2018-08-28 22:55] ktbyers opened #800 "Add global_delay_factor to ios and nxos_ssh driver documentation"
Both straight in Python and for napalm-ansible (salt also?)

[2018-08-30 20:17] #776 closed

[2018-08-30 20:26] ktbyers commented on #792
Sorry for the delay in responding. This is a somewhat hard problem as it has to be implemented for all the core-platforms. Note, this would need to be in the PR for whoever does this (i.e. they would have to do the implementation and testing on all the five core platforms).

You can see an example of it here:

https://github.com/napalm-automation/napalm/pull/512/files#diff-42f76fa4e7c3a361b0ebdd6d

[2018-08-30 20:32] #651 closed

[2018-08-30 20:34] ktbyers commented on #577
I am going to close this...per previous agreement all new getters need to be implemented in napalm-yang.

[2018-08-30 20:34] #577 closed

[2018-08-30 20:38] ktbyers commented on #351
I am going to close this as it looks invalid (using NETCONF port and not `xml agent`).

[2018-08-30 20:38] #351 closed

[2018-09-05 16:06] Mabuchin opened #802 "Destination addr error in get_route_to () in junos"
Using the `get_route_to()` function in junos.
If there is a VPNv4 route in the acquired route, it can not be acquired with an invalid error.

A sample of the error is below.
[code]

This was due to `get_route_to()` in junos, because the IP validation was applied to the destination. ( `Napalm.base.helpers.ip`
Please look at the following.

https://github.com/napalm-automation/napalm/blob/82432cccad

[2018-09-08 06:50] TomCos opened #804 "Use already established Netmiko connection for SCP instead of importing Paramiko in nxos_ssh"
Wanted to discuss.  I see in the ios driver, the SCP transfer is happening via Netmiko, which makes sense because that connection already exists.  In the nxos_ssh driver though, (if my understanding is correct), it's creating a new connection with Paramiko and the SCP is happening over that connection, instead of the already made Netmiko one.  Is it worth moving the nxos_ssh driver to match the io

[2018-09-08 15:53] ktbyers commented on #804
Netmiko opens a separate connection for the SCP also.

Personally, I don't think this is worth fixing as it likely a lot of work and not that much value (reducing the connections from two to one).

[2018-09-08 18:59] TomCos commented on #804
My understanding was Netmiko opens a separate channel, under the same connection though.  The Paramiko code is creating a brand new connection for the transfer to take place.  Based on my other commit going right now in the Netmiko repo, I'm a big fan of the SCP implementation in Netmiko, so it made sense to ask why we'd opening a separate session in Paramiko.

[2018-09-08 19:07] ktbyers commented on #804
No, Netmiko creates a separate SCP channel.

It probably would be ultimately better so NX-OS in napalm used Netmiko pattern (so we had consistent behavior), but it still would be separate connections.

This is from the netmiko scp_handler.py:

[code]

It would be great if you want to work on a PR for that (consolidating NX-OS to use Netmiko for its SCP function).

Kirk

[2018-09-08 19:34] TomCos commented on #804
Yes, new channel, same session though, using the session already created by Netmiko.  I can take a stab at it.  I'm new to the space, so let's keep this open for a bit.

[2018-09-08 20:30] ktbyers commented on #804
No completely new SSH session and then it uses a channel in that completely new SSH session...i.e. self.scp_conn and self.ssh_ctl_chan are separate connections. Netmiko takes the parameters from the other connection, but it is a separate connection.

Probably shouldn't be that way, but that is how it currently is.

[2018-09-08 20:44] TomCos commented on #804
Ah ok, been looking through, I see what you mean.  You call connect again, instead of passing the paramiko transport in the current netmiko session, correct?  If that understanding is correct, then I think we're on the same page.

[2018-09-08 21:01] ktbyers commented on #804
Yes, that is correct...

I just tried a quick test fix on that to see if it worked, but it was failing (i.e. to re-use the existing SSH connection).

[code]

I suspect that the fix might not be as easy as one would hope (given that we have to use `invoke_shell()` ). Which also potentially explains why I wrote it the way I did originally (it has been a while since I wrote that code).

[2018-09-08 21:05] ktbyers commented on #804
Here was the fix I was trying...didn't look at it too much though:

[code]

[2018-09-09 05:29] TomCos commented on #804
Dug around a little, could be a rabbit hole to start to try to get Netmiko to use its own transport instead of a separate SSH connection.  Those error codes are given back by the server when establishing the new channel, so there are any number of reasons why the switch might have replied with that.

The discussion really becomes now, is it worth re-working Napalm to use the Netmiko code to spin t

[2018-09-09 15:37] ktbyers commented on #804
In the long-run, I would probably prefer Netmiko (mainly so there is a consistent mechanism across platforms). It shouldn't be that hard to do, but definitely isn't on my priority-list for right now.

[2018-09-11 10:08] Noname2244 commented on #468
ios vs. ios xe issue?

[2018-09-11 18:09] mattlan opened #807 "interfaces_ip getter returns no data for nxos or nxos_ssh"
I am leveraging the napalm plugin in nornir for this, I am not using napalm natively.  That being said, I don't have any napalm specific examples to share.  Below is the basic nornir code I am using.

[code]

The getters for `facts` and `interfaces` both work for nxos, just not `interfaces_ip`.  This is what is returned back: `{'interfaces_ip': {}}`.  Same issue for nxos_ssh.

Running the same cod

[2018-09-11 19:45] mattlan commented on #807
Think I tracked this down to napalm only looking in default VRF -- which we don't use.

[2018-09-11 19:56] mattlan commented on #807
I was able to get this to work by changing https://github.com/napalm-automation/napalm/blob/develop/napalm/nxos/nxos.py#L810 to `ipv4_command = 'show ip interface vrf all'`.  Not sure on what the long term solution should be, but perhaps this works for now?

[2018-09-12 10:54] muffizone opened #808 "is_alive method not working for IOS-XR driver"
Hey guys,

The is_alive method for iosxr currently returns true even if the connection (_device.close()_) is closed.
Also currently when the _is_alive_ method is called before doing a _device.open()_, it returns an _AttributeError: type object ‘IOSXR’ has no attribute ’device’_ which seems to come from line 181 in PyIOSXR.

[code]

[2018-09-12 12:13] mkrzysztofowicz opened #809 "get_lldp_neighbors() doesn't return all LLDP neighbours on IOS-XR"
Hey Guys,

The `get_lldp_neighbors()` function doesn't seem to return all LLDP neighbours when ran against a Cisco IOSXRv host.

[code]

Same output from the device:

[code]

What's interesting is that `get_lldp_neighbors_detail()` *does* return both neighbours:
[code]

The issue, as far as I can tell, is with the following code in `napalm/iosxr/iosxr.py` module:

[code]

and specifically, with th

[2018-09-14 15:04] mirceaulinic commented on #808
Thanks for reporting @muffizone! You seem to be comfortable with the code, and know what's the root cause - would you be happy to send us a PR?

[2018-09-14 17:38] ktbyers commented on #468
@Lukiko @explody @Noname2244 Can you open a separate issue if you are not on a switch stack.

Include the output from this command on the failing device.

[code]

[2018-09-14 18:01] muffizone commented on #808
Yes, not an issue can definitely give it a try

Thanks

On Fri, Sep 14, 2018, 16:04 Mircea Ulinic <notifications@github.com> wrote:

[2018-09-17 16:50] bewing opened #810 "`EOSDriver.get_environment()` throws keyError on 7010T"
Arista 7010T switches have unmanaged power supplies and are missing the "powerOutput" key:

[code]

Looking at the other codebases, it appears we want to set the output to -1 in this case?

Raw JSON from a 7010T:
[code]

[2018-09-17 20:15] #810 closed

[2018-09-21 02:00] ktbyers opened #816 "Normalization of certain LLDP data"
Mainly focusing on remote_system_capab and remote_system_enabled_capab

Adding @jobec I am open to more discussion on this.

I think the main requirements would be:
1. Has to cover all five of the core platforms.
2. Has to be covered in the unit tests
3. We have to have a reasonably wide set of expected values we can get from the 5 different platforms (which might not be that hard since three of t

[2018-09-21 20:06] ktbyers commented on #792
We started working on `get_interfaces_ip` multiple VRF here:

https://github.com/napalm-automation/napalm/pull/815

We also should probably add VRF support to our getters table so it is clear which getters support VRF and which don't.

[2018-09-21 20:40] FloLaco commented on #792
I agree to add this information into the documentation support matrix.
I’ve done some work in my own repo branch PRODC4 (https://github.com/FloLaco/napalm/tree/PRODC4?files=1)

[2018-09-21 20:45] jobec commented on #816
Proposal on normalized values:

Bit   | Value                 | Cisco string | Juniper string        | Capability according to IEEE
----- | --------------------- | ------------ | --------------------- | ----------------------------
0x001 | `other`               | `O`*         | `Other`               | Other
0x002 | `repeater`            | `P`*         | `Repeater`            | Repeater
0x004 | `br

[2018-09-21 21:06] ktbyers commented on #816
Yes, that looks good.

I assume we would use the "Value" column above as the normalized data.

We can look at our current unit test data (I glanced at it yesterday and IIRC it only had "B" and "R").

One item I noticed is Arista had "bridge" and "router" in all lower case (once again from memory so definitely double check).

Cisco "B" and "R" and abbreviated codes looked consistent across IOS, NX-

[2018-09-21 21:07] ktbyers commented on #792
Okay, cool. I will see if I can get a PR adding the `vrf=None` argument in (so that we at least can start adding support for `get_interfaces_ip` by platform (one at a time).

[2018-09-26 17:33] Mabuchin commented on #802
It was solved by # 803. Thanks

[2018-09-26 17:33] #802 closed

[2018-10-02 20:56] TomCos commented on #804
Spent some time looking at this one today too.  The nxos base class is using pynxos file copy, so I'm not sure the right direction to go on this one, as it looks like there are 3 options.  Again, I'm new to this space, so I don't feel confident enough to make the change and properly test.  I am getting better, but not ready to tackle this one.  In the future if I understand the code more, maybe I'

[2018-10-02 20:56] #804 closed

[2018-10-03 01:45] ktbyers commented on #807
The above is the current expected behavior for the getter. Work is in progress on expanding the VRF support.

[2018-10-03 01:45] #807 closed

[2018-10-03 02:40] #766 closed

[2018-10-04 07:53] xschlef opened #825 "nxos_ssh: multiple rollback configs remain on the switch after calling commit and disconnecting"
I wrote a script that pushes acl changes to a device and merges them with the running config.
The script disconnects after calling commit_config().
I keep getting more and more files in bootflash, because the rollback configs are named by timestamp and not as a rollback.cfg as with IOS devices.

Do I have to manually discard the config after calling commit to remove it from the device or is this i

[2018-10-04 23:09] ktbyers opened #827 "napalm validate is modifying the source dictionary with pop operations"
[code]

and i'm using it like this:

[code]

which results in
[code]

is it because of `kwargs = expected_results.pop('_kwargs', {})` in `compliance_report`?

[2018-10-08 09:54] jwbensley commented on #471
I'm having the same issue on CSR1000v - IOS-XE 03.16.07b.S.

Some routers have user1 on them, some have user2, some have both. I want to delete user1 and user2 from all routers so the merge config file looks like this:
[code]

My python script does the following using the NAPALM library:
[code]

This is the output:
[code]

If I run the same commands NAPALM runs on the CLI interactively myself this

[2018-10-08 10:10] jwbensley commented on #471
Forgot to provide the NAPALM CLI output as part of the FAQ:

[code]

[2018-10-08 16:55] ktbyers commented on #471
@jwbensley Can you see if this fix works:

https://github.com/napalm-automation/napalm/tree/confirm_username_fix

[2018-10-09 10:20] jwbensley commented on #471
@ktbyers - Thanks I have tried this commit and now get a different error:
[code]

I think that maybe the problem is that the regex search pattern isn't matching up to the end of the CLI output, I have added a square bracket to the end and it is now working for me:

[code]

Before running my NAPALM script:
[code]

Script run:
[code]

Router CLI output after script run:
[code]

So it seems to fix it

[2018-10-09 17:20] ktbyers commented on #471
@jwbensley Yeah...me cussing at Cisco (they shouldn't prompt at all...and they are prompting for each user).

I will have to update this and use a loop to handle all the confirms.

[2018-10-10 07:58] xschlef commented on #825
Ok I fixed it by manually adding the following line to the config:
`"delete bootflash:/config_{}* no-prompt\n".format(today)`

where today is the iso timestamp of today.

Will napalm nxos_driver always write the merge config to bootflash:// ?

[2018-10-10 16:58] ktbyers commented on #825
I was just looking through the code both for nxos and nxos_ssh. It should get automatically deleted as long as you call:

[code]

Are you calling that in your code?

It is hard-coded to "bootflash:". I am probably going to change some of this in the future to be more like the IOS driver, but it might be a while before it is done.

To something like this:
[code]

[2018-10-11 08:00] xschlef commented on #825
I have an atexit hook that calls close on all napalm objects once the application terminates. But that does not seem to work.

[2018-10-11 16:15] ktbyers commented on #825
@xschlef Okay, strange...I am in process of re-writing this anyways to make it more like the IOS behavior (i.e. standardized file names).

[2018-10-13 16:37] ktbyers commented on #471
@jwbensley Okay, I have updated the PR to handle removing multiple usersnames:

https://github.com/napalm-automation/napalm/pull/829

Can you test it.

[2018-10-13 20:04] ktbyers commented on #825
This should fix this behavior:

https://github.com/napalm-automation/napalm/pull/833

[2018-10-13 20:08] ktbyers commented on #571
I don't think we are doing any work on this and I am generally opposed to new getters. I am going to close this for now. We can reopen this discussion if someone is actively working on this task.

[2018-10-13 20:08] #571 closed

[2018-10-13 20:11] ktbyers commented on #474
Fixed here https://github.com/napalm-automation/napalm/pull/833

[2018-10-13 20:11] #474 closed

[2018-10-13 20:32] ktbyers commented on #447
This should be fixed here https://github.com/napalm-automation/napalm/pull/833

[2018-10-13 22:58] ktbyers commented on #475
Should be fixed here:

https://github.com/napalm-automation/napalm/pull/833

[2018-10-15 13:28] jwbensley commented on #471
@ktbyers - Still not working:

[code]

However looking at the diff for the PR, there seems to be no change related to this bug, or as I not understanding the diff: https://github.com/napalm-automation/napalm/pull/829/files

[code]

[2018-10-15 23:36] ktbyers opened #834 "nxos_ssh get_lldp_neighbors using TextFSM template is unlikely to be correct"
I am basing this on IOS, but that first field in IOS is a fixed length field (20 characters) and can have spaces in it:

[code]

[2018-10-15 23:39] #784 closed

[2018-10-16 08:20] jwbensley commented on #471
@ktbyers OK it's working now with a slight change...

Router output before running NAPALM script:
[code]

merge_config.txt
[code]

Router output after NAPALM script run:
[code]

I just had to change from sending a "y" character to a new line character in the python:
[code]

I chucked some `print()` statements in and saw the following output with multiple `no username X` statements`:
[code]

And I'

[2018-10-16 09:10] jwbensley commented on #471
What I should have done is provided an actual diff, I forgot that there is another line changed, the regex search pattern and string were the wrong way around so it wasn't matching anything initially:

[code]

Without the regex fix I was getting the following error:
[code]

So two minor tweaks and the patch works.

[2018-10-16 16:40] ktbyers commented on #471
@jwbensley Okay, updated PR to reflect this. Thanks for the testing.

[2018-10-16 18:30] ktbyers commented on #834
Looks like NXOS is different here:

[code]

Names with whitespace could still be an issue though

[2018-10-20 21:07] #827 closed

[2018-10-24 14:44] muffizone commented on #808
@mirceaulinic,

1. So looking at the code again, I see that when we first call the device.is_alive() method, it returns an attribute error as pyIOSXR creates a device object only after calling the open method first.
So the question is do I handle this in the iosxr napalm class by catching this attribute error and return false if someone tries the is_alive() method before opening the connection or

[2018-10-24 20:33] stevebong opened #842 "validate.py for get_optic fails."
Results in a stacktrace when you correctly define "channel" as a list of dictionary.

To reproduce:

validation yaml file:
[code]

data structure:

       “ansible_facts”: {
           “napalm_optics”: {
               “xe-1/1/1": {
                   “physical_channels”: {
                       “channel”: [
                           {
                               “index”: 0,

[2018-10-25 00:19] jtishey opened #843 "IOS get_bgp_neighbors() fails on None neighbor_entry"
For IOS getter get_bgp_neighbors(), if a neighbor shows up with a supported AFI, but no info under that AFI, a ValueError is raised, which causes a TypeError since the neighbor_entry is None.  Skipping the neighbor/afi seems like an acceptable solution.

Example CLI Output:
[code]

Tries to raise a ValueError on None:
[code]

Check for None before doing the isinstance check.?
[code]

[2018-10-25 07:17] jobec opened #845 "IOS get_lldp_neighbors_detail not returning all lines on some older IOS versions"
We noticed some older IOS versions don't start their output from `show lldp neighbors detail` with a `---------` line, causing the TextFSM template to miss the first entry.

[2018-10-25 22:36] jlixfeld opened #849 "IOS-XR (timeout?) issue on get_bgp_neighbors (XR 5.3.4)"
Not sure what to make of this, but I suspect it's a timeout issue although I'm not sure if it's user error or something else.  I've tried to pass `--optional_args timeout=120` to extend it a bit, but that still seems like a long time to return results.  We're connecting, as can be seen from the successful get_facts().

Looking at the device logs, the session is closed very shortly after the traceb

[2018-10-26 04:18] DiogoAndre commented on #788
Below is what I get when I run the XML directly on an XRV running `Cisco IOS XR Software, Version 6.1.3[Default]`.

Looks like `<PlatformInventory/>` is not supported?

**Request**
[code]

**Response**
[code]

[2018-10-26 11:34] jobec opened #850 "Timeout parameter for IOS driver not used"
The timeout parameter for IOS driver is not used, causing unreachable devices to time out after ~100 seconds instead of whatever was specified.

[2018-10-26 16:42] #850 closed

[2018-10-27 16:41] jlixfeld commented on #849
For the archives, this was due to a few different things. Mainly, I suspect a bug in XR 5.3.4 where the output was too large and required streaming to be enabled.  To throw a bunch of poo against the wall to see what stuck while debugging this, I also maxed out the throttle memory, but I didn't test to see if removing the memory throttle but leaving the streaming would have any affect.  YMMV.

[co

[2018-10-31 07:26] AmbicaY opened #854 "Unable to start salt proxy for Cisco IOS device"
when I try to start a proxy for a couple of Cisco devices, I see that the authentication is successful, then it enters the enable mode, then it runs "show version".  After this the proxy just waits endlessly to the show version command to complete.

Proxy log:

[DEBUG   ] Got server p (2048 bits)
[DEBUG   ] kex engine KexGex specified hash_algo <built-in function openssl_sha1>
[DEBUG   ] Switch to

[2018-10-31 07:29] AmbicaY commented on #854
@mirceaulinic, can you check this issue and let me know if I am missing anything?

here is my pillar file:
proxy:
  proxytype: napalm
  driver: ios
  host: ******
  username: *****
  password: *********
  optional_args:
    secret: **********
    global_delay_factor: 5

Device details:
wan1.aus-tx>show version
Cisco IOS XE Software, Version 16.06.02
Cisco IOS Software [Everest], ASR1000 Software (

[2018-10-31 09:19] AmbicaY commented on #854
Please ignore, I think this issue is due to pagination command failure.

[2018-10-31 13:13] #854 closed

[2018-11-01 10:18] mirceaulinic commented on #843
Solved via #844. Thanks @jtishey!

[2018-11-01 10:18] #843 closed

[2018-11-02 09:38] AmbicaY opened #855 "NXOS_SSH: get_interfaces fails with AttributeError"
We have couple of nexus devices with tunnel interfaces, where get_interfaces is failing with the error:

[code]

On checking further, this happens for the tunnel interface whose output is as below in the "show interface" command':

[code]

[2018-11-05 17:55] ktbyers commented on #440
This was corrected at some point as that method no longer exists.

[2018-11-05 17:55] #440 closed

[2018-11-05 17:57] ktbyers commented on #475
This was fixed as per the above PR.

[2018-11-05 17:57] #475 closed

[2018-11-07 20:25] jnmatlock opened #861 "fix get_lldp_neighbors for EX2300-48T & EX4300-32F"
Received RPC 'syntax error' for EX Switch models EX2300-48T & EX4300-32F, similar to bug "fix get_lldp_neighbors for EX9208" #553, when running

[code]
Current workaround: (Added switch model to junos.py under the respective function)

[code]

[code]

[2018-11-09 15:45] kqchen34 opened #862 "please fix issues in setup.py (pip.req is not available in pip 10+"
lots of naplam libs like napalm-base / napalm-eos .....
still has setup.py with importing pip.req, which is not available in pip verion 10+
refer to https://stackoverflow.com/questions/25192794/no-module-named-pip-req:

Can we update those libs' setup.py, to change:
from pip.req import parse_requirements
install_reqs = parse_requirements('requirements.txt', session=uuid.uuid1())
reqs = [str(ir.req

[2018-11-09 16:45] ktbyers commented on #862
@kqchen34 napalm-base, napalm-eos were deprecated quite a while ago.

You need to `pip install napalm` and use that package instead.

Basically, we had to reunify napalm into a single package instead of separate packages as the maintenance was too much of problem (this is for the core napalm drivers: eos, ios, junos, iosxr, nxos, and nxos_ssh).

Kirk

[2018-11-09 16:45] #862 closed

[2018-11-13 09:57] AmbicaY commented on #855
@mirceaulinic, any idea about this error?

[2018-11-19 18:57] kiranmeduri93 opened #867 "Compare config for Cisco ASA ?"
Hi,
Does NAPALM has "compare config" supported matrix for Cisco ASA ?

[2018-11-19 21:46] ktbyers commented on #867
I am going to close this here...feel free to re-open in the napalm-asa community as per earlier comment.

[2018-11-19 21:50] #867 closed

[2018-11-19 22:45] kiranmeduri93 commented on #867
Sure, will do there from next issues.

Between, thanks for the info :)

On Mon, Nov 19, 2018 at 11:26 AM Diogo <notifications@github.com> wrote:

[2018-11-20 03:02] ktbyers commented on #861
@jnmatlock Do you want to submit a pull request on this?

[2018-11-24 00:46] ktbyers opened #870 "NX-OS using nx-api fails on get_bgp_neighbors if peer is admin down"

[2018-11-27 19:15] ktbyers commented on #855
@AmbicaY Okay, this is a bug. We are expecting there to be a DLY also on the MTU, BW line, but the above output doesn't have that:

[code]

So our regex parsing is failing.

[2018-11-30 11:38] jobec commented on #834
I've found other issues with the LLDP stuff on nxos_ssh. When the chassis ID isn't a mac address (for example, an F5 Load Balancer sends it's serial number) then the code explodes with this erros:

[code]
@ktbyers @mirceaulinic
Shall I send a PR to review this and rewrite it the same way as I did for IOS?

[2018-11-30 14:13] jobec commented on #834
To bypass the original problem of this issue, the LLDP neighbor output in PR #872 was switched to using the `show lldp neighbors detail` output. The standard `show lldp neighbors` output cannot be reliably be parsed with long neighbor system names.

[2018-11-30 15:11] jobec commented on #771
PR #872 fixes this issue.
I've also added your data to the mocked data in that PR.

[2018-12-03 08:57] jobec commented on #792
The VRF argument is also needed for `get_arp_table` because, on for example nxos_ssh, it gives back only the ARP table of the default VRF. While the MAC address table is across all interface, irrespective of the VRF.

[2018-12-06 15:16] jnmatlock commented on #861
@ktbyers submitting a pull request, right now.
Thank you!

[2018-12-07 10:27] jobec opened #876 "get_lldp_neighbors_detail() for junos EX3400-48T fails"
Like issue #861 I bumped into the same issue with a `EX3400-48T`.

The piece of code handling this with or without information part is not maintainable like it is.
After some research I found out that all models we have than need a `with_information` RPC call are devices that have their `switch_style` fact set to `VLAN`.
So maybe it's better to look at the `switch_style` device fact (`self.device.

[2018-12-07 10:38] jobec commented on #876
**update**
It also fails in the same way for `SRX320-POE` models.

From all investigations I did, every single device with `switch_style` set to `VLAN` needs a `with_information`. Every other device needed a `without_information` call.

[2018-12-07 14:14] ktbyers commented on #861
@jobec Yes, that would be great and a much better solution so we should definitely do that instead.

Will make issue #876 the reference issue for this (since it is a more general solution to the problem).

[2018-12-07 14:53] jobec commented on #876
See PR #878 for a fix for this.
I tested this internally and at first sight it looks like it's working across quite some different devices.

[2018-12-07 15:02] jobec commented on #792
One other thing missing is a `get_vrfs()` kind of getter. Because you can't use VRFs if you don't know which ones are there on a device.

[2018-12-07 21:04] awilki01 commented on #687
the global_delay_factor of 2 helped me out. Thank you!

[2018-12-08 07:12] Laurel-rao opened #879 "IOS method commit_config running is too slow"
I use 'load_merge_candidate' method  spend about 1~3s, but 'commit_config' can spend about 1minutes.
That‘s insane. when i use cli-command to change my password, I type every words just spend 20 seconds.
Please check this issue.

[2018-12-08 16:32] ktbyers commented on #879
At a minimum you need to post your code, the config change that you are making, and the NAPALM platform that you are using.

Also feel free to dive into the code, and submit a pull-request.

[2018-12-09 03:55] Laurel-rao commented on #879
platform:  Cisco ASR1002 Router
purpose:  change password of device
code:
[code]

[2018-12-11 01:18] #876 closed

[2018-12-11 04:48] #855 closed

[2018-12-11 04:51] ktbyers commented on #861
Fixed here:

https://github.com/napalm-automation/napalm/pull/878

[2018-12-11 04:51] #861 closed

[2018-12-18 13:20] vladola commented on #879
So I took some time to dive into this. Here are some of my findings.

With the code as given by @Laurel-rao , it indeed takes on average around 1 minute and 45 seconds:

[code]

The reason for this is generally due to the enabling and disabling (twice) of `file prompt quiet`. The first time happens when you call the `commit_config()` method at line [677](https://github.com/napalm-automation/napalm

[2018-12-18 15:10] PseudotsugaMeziesii commented on #879
Thanks for the leg-work on investigating this! We were running into issues with the time it took to send configs to IOS devices. In the end we ended up using the Netmiko method. The good news is that you can already make Netmiko calls with a NAPALM object.

Using the OPs code:

[code]

All the cool config merge stuff is skipped, but it really does jam.

[2018-12-18 15:16] vladola commented on #879
That's neat, didn't think of doing that :). There you go @Laurel-rao that should do the trick.

[2018-12-18 17:32] ktbyers commented on #879
@vladola Thanks for all the work on this...this is great. Yes, as @PseudotsugaMeziesii mentioned we can just use napalm_object.device to get at the underlying Netmiko driver.

On your point 1, I think we should just add an attribute to the napalm object where we track the file_prompt_quiet state. Once we change this once, then we set that flag to True. Then in the napalm close() method, if that fi

[2018-12-18 17:34] ktbyers commented on #879
@vladola Item #2

[code]

This is already the case for both the IOS driver and the NXOS_SSH driver i.e. all interaction with the device is via Netmiko. NAPALM just wraps this to facilitate Netmiko accomplishing things, but Netmiko is doing all the interaction with the device.

[2018-12-18 17:45] ktbyers commented on #879
Also I think we should prioritize reliability over performance in general to a certain standard of reliability (so I probably wouldn't enable fast_cli in general). An end-user can always just set fast_cli=True in the napalm optional_args so they can choose performance over reliability if they want to.

Though for certain operations, like the disable of the prompting and "write mem/save_config", we

[2018-12-19 17:53] #430 closed

[2018-12-20 00:32] #771 closed

[2018-12-20 00:32] #816 closed

[2018-12-20 00:32] #834 closed

[2018-12-20 20:51] vladola commented on #879
@ktbyers are you gonna work on #1? Otherwise I might give it a shot.

[2018-12-20 20:54] ktbyers commented on #879
@vladola Have at it...that would be great.

[2018-12-20 21:16] vladola commented on #879
Neat. I'll open a PR to track it tomorrow. I think you can close this issue now.

[2018-12-20 23:39] Laurel-rao commented on #879
I am busy that handle company stuff these days.So i reply you suggestion so late, sorry about that.
And i am grate for you guys help me fix the problem so quickly, it is helpful.Thanks!

[2018-12-20 23:39] #879 closed

[2018-12-21 10:12] hreidar commented on #473
Anyone working on this?

[2018-12-21 11:34] vladola opened #893 "[Enhancement] Enable `file prompt quiet` only once at the beginning when configuration occurs for cisco_ios"
Essentially what @ktbyers described in [this comment](https://github.com/napalm-automation/napalm/issues/879#issuecomment-448303651) of issue #879

I'll give it a go.

[2018-12-21 14:43] jobec opened #894 "get_mac_address_table() fails on juniper SRX300 series devices"
Relevant part of the traceback:

[code]

[2018-12-21 21:12] jobec opened #896 "Usage of PyEZ tables in junos is not optimized"
We're using celery and gevent (greenlets / green threads) as a pool implementation and we found out that the `get_interfaces()` getter is blocking a greenlet run too long when running a lot of concurrent greenlets and eventually starving the others.

Digging into this deeper is appears that the Juniper PyEZ tables are used in a suboptimal way in that function. When acting on a PyEZ table as if it

[2018-12-22 17:05] ktbyers commented on #473
Nope, I don't think so.

[2018-12-24 10:41] vladola commented on #893
I'll work on this in the new year. 👌

[2018-12-26 07:59] hhsn opened #899 "Integrate napalm with Cisco ACI"
Hi folks,
i would like to know if there is any plan to have driver or integration with Cisco ACI so it can read Fabric information ,noting that ACI support API calls to read fabric information as well SSH to leafs & Spines to get show information without showing running or startup configuration.

Thanks.

[2018-12-26 09:51] jobec commented on #896
This one instance of this issue is fixed in #898 but might be there are still other places where this issue surfaces. Without extensive profiling you won't find them.
We also don't use many other getters yet.

Anyway, whenever we bump into such issues again, I'll see to fix them.

[2018-12-27 22:19] mrfroggg commented on #468
I'm having the same issue on a Nexus 3500 switch using nxos_ssh driver.

There is no "show memory" command available on it.
Using NAPALM 2.2.0.

[2019-01-04 13:21] mirceaulinic commented on #899
Hi hhsn,

I am not aware of a NAPALM driver for Cisco ACI yet, and I don't seem to
find anything on GitHub. If you'd like to get started, I can create for you
a new repository under the NAPALM automation community (
https://github.com/napalm-automation-community) where you can work on it.
Cheers!

On Wed, Dec 26, 2018, 07:59 hhsn <notifications@github.com> wrote:

[2019-01-06 17:20] #896 closed

[2019-01-07 17:45] ktbyers opened #901 "Do Junos and EOS drivers allow for SSH host-key validation and SSL cert validation"
I didn't see the arguments in optional_args to enable this in napalm driver.

[2019-01-07 17:54] bewing commented on #901
pyeapi disables SSL verification if an SSL context is not passed in:

https://github.com/arista-eosplus/pyeapi/blob/develop/pyeapi/eapilib.py#L542-L545

Unfortunately, the `pyeapi.client.connect` method does not expose this.  It could be, if we switched to using `pyeapi.client.make_connection` instead, but we'd still need to pass in the kwargs correctly.

[2019-01-08 21:04] bewing opened #903 "`get_lldp_neighbors_detail()` fails on Arista 7150S"
[code]

[2019-01-08 21:48] bewing opened #905 "`get_bgp_config()` fails to process NHS on Arista 7150S"
If NHS is set on a peer-group, it is incorrectly reported in the peer group, and the correct value is not propagated down into the peer itself.

[code]

[2019-01-08 22:46] #903 closed

[2019-01-11 05:04] sjtarik commented on #646
@dbarrosop Working on a new EX model EX4300-48MP giving the same error. Instead of adding model to this list:
[code]

in /usr/local/lib/python2.7/dist-packages/napalm/junos/junos.py, do you think I should just create a pattern EX/QFX and make it all "rpc_call_without_information" or it is not safe to assume for all EX/QFX?

[2019-01-11 05:53] sjtarik opened #906 "get_lldp_neighbors_detail() on junos does not honor interface parameter"
On version 2.3.3, get_lldp_neighbors_detail returns all neighbors instead of the particular interface passed by user.

[2019-01-11 06:43] ktbyers commented on #906
@sjtarik I am pretty sure that is fixed in the 'develop' branch. Can you re-test it using that branch?

[2019-01-11 09:12] dbarrosop commented on #646
is it a problem because you don't have lldp enabled or because the platform doesn't support it? I find it odd the platform doesn't.

[2019-01-11 18:19] ktbyers commented on #646
@sjtarik LLDP was completely overhauled thanks to @jobec.

So this whole table is now gone in the `develop` branch. Consequently, I would re-test this in develop and see if you have an issue (and if so, create a new issue on it).

[2019-01-11 22:57] sjtarik commented on #906
@ktbyers I got the following error with latest from develop branch:

[code]

[2019-01-11 23:01] sjtarik commented on #646
thanks @ktbyers. Verified and it is working on  EX4300-48MP with develop branch code.

[2019-01-11 23:39] ktbyers commented on #906
@sjtarik Okay, that looks like a bug.

[2019-01-13 06:40] sjtarik commented on #906
@ktbyers it seems like a minor issue. Could you review this change?

[2019-01-15 10:41] vladola commented on #893
Starting on this ^ - been some busy days.

[2019-01-16 18:18] melphick commented on #483
@ktbyers do you know if support for collecting data from all VRFs for the get_interfaces_ip function was added?  I think the behaviour for the IOS driver is to collect the data for all VRFs.

[2019-01-16 18:32] ktbyers commented on #483
@melphick There is this PR that pertains to this issue:

https://github.com/napalm-automation/napalm/pull/877

Though it looks like it needs rebased.

There is probably some driver inconsistency on this behavior that still needs worked through/resolved.

[2019-01-16 23:30] melphick commented on #483
@ktbyers Thanks for the info. It looks like the change is approved.  I'm not very familiar with this process. Do you know when this might be released?

[2019-01-16 23:39] ktbyers commented on #483
@melphick Okay, I just dismissed that review. That PR and the PR it updates probably need completely re-created from scratch or a big rebasing. It will probably be easier to re-create it from scratch.

I don't see it being released any time soon. If you want to work on that issue, let me know.

Regards, Kirk

[2019-01-16 23:55] melphick commented on #483
@ktbyers I would love to help to get this fixed.  Is there any specific process I should follow?

[2019-01-22 03:20] Laurel-rao commented on #779
I had to try set inline_transfer = True , but still don't work
My environment,  cisco  router,   trying to change password of user,
There is  my code.
[code]
The error show up when haven't set inline_transfer = True,

[code]
The error show up when have set inline_transfer = True,
[code]
Help me fix the problem ,please!
Otherwise I  can only find  the other way to accomplish my purpose.

[2019-01-22 03:21] Laurel-rao opened #915 "I had to try set inline_transfer = True , but still don't work"
I had to try set inline_transfer = True , but still don't work
My environment,  cisco  router,   trying to change password of user,
There is  my code.
[code]
The error show up when haven't set inline_transfer = True,

[code]
The error show up when have set inline_transfer = True,
[code]
Help me fix the problem ,please!
Otherwise I  can only find  the other way to accomplish my purpose.

_Originall

[2019-01-22 03:40] ktbyers commented on #915
@Laurel-rao Please post the actual exception stack trace that comes back.

[2019-01-22 06:50] Laurel-rao commented on #915
I had updated my issue, check put please.

[2019-01-23 06:32] nathanjaya opened #916 "File Transfer to Remote Device Failed (IOS)"
**Description of Issue/Question**
when using napalm to upload a config file, the napalm sends out an error message

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/napalm/ios/ios.py", line 256, in load_replace_candidate
    raise ReplaceConfigException(msg)
napalm.base.exceptions.ReplaceConfigException: File transfer to remote

[2019-01-23 18:50] ktbyers commented on #916
Can you post the full stack trace?

Also does your user have direct privilege 15 access or do you have to call `enable`?

Have you tried using an inline transfer? Which is an optional_args that you can specify to napalm (inline_transfer = True).

[2019-01-24 02:46] nathanjaya commented on #916
File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/napalm/ios/ios.py", line 256, in load_replace_candidate
    raise ReplaceConfigException(msg)
napalm.base.exceptions.ReplaceConfigException: File transfer to remote device failed

that's already the full trace

my user have direct privilege 15 access
I have tried using inline transfer, and get more errors

[2019-01-24 03:47] ktbyers commented on #916
How are you trying to execute this via a Python script, via Ansible, via Salt?

[2019-01-25 04:09] nathanjaya commented on #916
I'm executing it from python CLI
But I've already found the solution, beginner's mistake

Thanks btw

[2019-01-25 04:10] #916 closed

[2019-01-25 16:14] airblag commented on #468
Hi,

I'm having a similar problem on a 3750 stack (get_environment() fails) with napalm 2.3.3

[code]
[code]

[code]
so temp_value should be also initialized as in https://github.com/napalm-automation/napalm/issues/468#issuecomment-368975678

but on my switch stack, the output of show env temperature status looks like this :
[code]
So the regexp is wrong. Changing it like this make my get_environm

[2019-01-27 02:35] 8radm1n opened #919 "VLAN getters"
Following on from a discussion in NTC slack. Adding VLAN getters would be a nice addition IMO.
@ktbyers mentioned that he is open to at least a discussion on adding VLAN getters.

Some closed issues in this topic from the past
https://github.com/napalm-automation/napalm/issues/571
https://github.com/napalm-automation/napalm-base/issues/252

I need this functionality for mainly Junos and Cumulus dr

[2019-01-27 07:56] jobec commented on #919
Proposed output format: A dictionary with keys per interface (as returned by `get_interfaces()`) containing a dictionary with `mode`, `tagged` and `untagged` keys.

* **mode:** the mode the port is in, one of `access`, `trunk`
* **tagged:** sorted list of integers with vlan IDs that are tagged
* **untagged:** one single vlan ID that is untagged.

[code]

Some assumptions I made.

**Why these field

[2019-01-27 08:00] tardoe commented on #919
What about a QinQ / dot1Q tunnelling use case?

[2019-01-27 08:05] bobthebutcher commented on #919
Copying this from another closed issue which is a proposed model based on the open config model.
https://github.com/napalm-automation/napalm-base/issues/252#issuecomment-305963170

[code]

[2019-01-27 08:35] jobec commented on #919
Personally, I don't like the YANG models. The overhead a) getting the data in there and b) getting it out again, results in too much code for handling all the nesting. In my opinion it's also why YANG isn't getting adopted much.

There's something to say for adding the vlan list in there though.

As for the `native-vlan` field. Isn't that vendor slang for the `port vlan id` from the 802.1q specs?

[2019-01-27 15:34] rnwolfe commented on #919
I would enjoy seeing this feature added myself. I recently made a custom IOS driver to do this for a use case I had: [(see here)](https://github.com/rnwolfe/interface-config-for-vlans/blob/master/custom_napalm/ios.py). I'm no expert python-er, so the driver is pretty rudimentary, I'm sure, and tuned to what I needed (just the VLAN #, really).

I think the dataset suggested by @jobec makes more sen

[2019-01-28 16:06] jesse-mcgraw opened #921 "Error parsing NX-OS v8.2.1 BGP summary table with 32bit ASNs using nxos_ssh"
On a NX-OS 8.2.1 device the "show ip bgp summary" table is wrapped when 32bit ASNs are used which causes a parsing error:

[code]
Here is what the table looks like:

[code]

[2019-02-12 19:26] ktbyers opened #925 "nxos is still creating time-based checkpoints"
i.e. filling up the filesystem with checkpoints when certain napalm configuration operations are performed.

[2019-02-13 17:33] ktbyers opened #926 "napalm3 - overall structure and high-level items/goals"
Definite
- Eliminate Python2 support

Maybe
- Should we change the structural relationship between the napalm-base driver and vendor-specific driver (interface pattern (ABC), adapter pattern).

https://github.com/napalm-automation/napalm-ng/pull/2

- Should we implement type-hinting internally to the napalm code base and mandate Python 3.6 or greater.

[2019-02-13 17:46] jobec commented on #926
* abstraction of all returned data (cfr the LLDP capabilities) where needed. The goal being that users have to bother about the vendor/model as less as possible.
* maybe: return instances of classes instead of dictionaries in dictionaries in dictionaries, ...

[2019-02-13 20:32] ktbyers commented on #919
How does the below sound?

1. Base solution on @jobec proposal.

2. Call it get_interfaces_vlans().

I think this is reasonably consistent with our current naming (and the returned getter is interface focussed).

3. Questions/additional discussion:

       a. Should we support any other modes besides trunk/access? I think we should probably support "routed". I don't think it makes sense to add vir

[2019-02-13 21:13] jobec commented on #919
1. I wouldn't use -1 as the empty/null value but rather None, which is the defacto empty value in Python. I know it's a test suite issue if a model field can be more then 1 type, but I'll see if it's easy to fix.

1. What would be a "routed" interface? Aren't vlans a L2 thing?

1. VOIP ports might be as easy as adding a `voice` field in the model.

[2019-02-13 21:26] ktbyers commented on #919
We are somewhat overloading mode onto this getter and I am pretty sure we don't have that elsewhere.

You could determine in the case of layer3 switch that a given interface was configured for routing (as opposed to being a L2 interface). We will probably have to parse that "routed" anyways regardless of whether we decide to use it or not.

[2019-02-13 22:06] bobthebutcher commented on #919
Some good proposals that cover vlans configured on interfaces, what about the case where vlans are defined, but not assigned to any interface. Do we want to add a getter to grab that info ?

[2019-02-13 22:10] ktbyers commented on #919
I think that should be something separate. I view that as more of get_vlans() which returns a data-structure containing all the vlans that are defined, there name, and the interfaces that are assigned to the VLAN.

[2019-02-13 22:32] bobthebutcher commented on #919
Yes, I  agree with that @ktbyers. Something like
[code]

[2019-02-13 22:53] ktbyers commented on #919
Yes, that would be fine with me, but we should track that one and implement that one separately (to avoid getting bogged down).

[2019-02-14 23:58] bobthebutcher opened #927 "get_vlans getter"
Opening this issue to track the implementation of a `get_vlans` getter. Based on the discussion in #919
919 is tracking per interface port type and vlan assignment, where this issue will track the vlan database potentially capturing vlans configured but not assigned to an interface.

Return structure being spit balled is as follows.
[code]
I am currently working on the `cumulus` community driver i

[2019-02-16 01:07] ktbyers commented on #915
Can you post the CLI output on the device that is failing if you do the following:

[code]

In other words, what do you observe when you type `tclsh` and then `exit` (this is just manually from the CLI).

[2019-02-19 15:29] brandomando commented on #450
As a workaround if the extended commands are required, there is the option to use extended traceroute:
[code]
This could be handled  using Netmiko expect_string arguments for the ':' prompts for the extended commands.  I was able to make this work on a handful of devices in the lab using the following:
[code]

[2019-02-20 12:44] jobec opened #928 "junos junos_iface_table fetches extensive XML response"
The junos_iface_table fetches an extensive table, while the needed data for the view is in the normal output also.

https://github.com/napalm-automation/napalm/blob/892c3eadb784710ab71dd5b5b620553eef0da1fb/napalm/junos/utils/junos_views.yml#L7-L13

This causes about 3x as much XML data to be retrieved and parsed causing a serious slowdown when getting interfaces.

[2019-02-21 12:59] fugal-dy commented on #468
+1

The same with Catalyst 4510R-E switch

`
{
  'os_version': 'Catalyst 4500 L3 Switch  Software (cat4500e-ENTSERVICESK9-M), Version 15.2(2)E5, RELEASE SOFTWARE (fc2)',

 ...

  'model': 'WS-C4510R-E',
}
`

[2019-02-24 21:05] b-marcum opened #931 "NXOS -MD5 failure on config replace or config merge from file"
I receive the following errors when calling load_replace_candidate(filename=chkpoint_file). I actually came across this in Nornir originally which prompted the following example to reproduce this in Napalm/Netmiko natively.

**Test Code**
[code]

**Output**
[code]
This has been reproduced in Python 3.7, 3.6, and 2.7. I've confirmed in both Linux and Windows on the nxos and nxos_ssh Napalm drivers.

[2019-02-25 07:39] anasbadaha opened #932 "Adding Support for Onyx Devices Using NAPALM"
Hi,

I'm working with Mellanox Company and we are planning to adding support for our switches that are using Onyx OS because of some of our customers needs to use it.

Anas Badaha

[2019-02-25 08:13] anasbadaha commented on #932
Hi @mirceaulinic,

I have created this issue in order to adding support for Onyx driver. Can you please create a repository for our new driver on https://github.com/napalm-automation-community in order to push my code for onyx-ssh driver on it ?

Best Regards,
Anas Badaha

[2019-02-25 20:16] samerd commented on #932
Hi,
Me and Anas are Mellanox Employees.
We have several customers who use napalm automation for salt, and we need to add support for onyx devices in napalm automation.
@anasbadaha already prepared some functions and we need to push it into your repositories.
we tried to contact the repository https://github.com/napalm-automation-community owners but seems the mail is not up-to-date
please advise.

[2019-02-25 20:32] ktbyers opened #933 "Cisco IOS merge operation key failure (trailing whitespace)"
Generates this message:

[code]

Maybe catch it and raise an error.

[2019-02-25 20:32] ktbyers commented on #933
This was for a radius server key.

[code]

[2019-02-25 20:40] ktbyers commented on #932
@anasbadaha @samerd I would join the networktocode.slack.com Slack channel and go to the napalm and/or salt sub-channels and then coordinate in there (that is probably the easiest way to do the communication).

You can join that slack channel by going here: http://slack.networktocode.com/

Regards, Kirk

[2019-02-25 21:41] neirbowj opened #934 "Update FreeBSD installation instructions"
In `docs/installation`, `ios.rst`, `iosxr.rst`, and `junos.rst` all refer to the `pkg_add` command which was removed from FreeBSD starting in 10.0 (2014-01-20). The new system package management utility is `pkg` and its sub-commands (e.g. `pkg install`).

I would be glad to prepare a patch for these docs, but first need some guidance. What installation scenario(s) do you wish to cover in the NAPAL

[2019-02-26 08:14] dbarrosop commented on #932
@anasbadaha @samerd I can create the repo for you and make you both admins. Is `napalm-onyx` the name you want?

[2019-02-26 14:55] samerd commented on #932
@dbarrosop : that would be great, the name is OK.
Thanks so much for your help

[2019-02-26 16:58] dbarrosop commented on #932
Done, please confirm you got access and let me know if you need anything else. Closing the ticket as well.

[2019-02-26 16:58] #932 closed

[2019-02-26 17:04] samerd commented on #932
Thanks so much @dbarrosop
I've got access

[2019-02-26 19:44] anasbadaha commented on #932
Thanks a lot @dbarrosop
I have got the access as well

[2019-02-27 21:31] ktbyers opened #935 "Cisco IOS-XE on a replace operation fails if secondary IP address exists"
Configuration replace fails as it tries to remove the primary IP address first and this is not allowed if a secondary IP address exists.

This was on:

Cisco IOS-XE, Version 16.8.1

Had to remove the secondary IP address for the configuration replace to work.

[2019-02-28 14:16] fhorv opened #936 "napalm command line tools fails with 'Namespace' object has no attribute 'which'"
Dear all,
i'm quite new to napalm, and i'm having problems to get the netbox integration working.
I'm not sure if i might be doing something wrong or if below is a bug?
Can someone please help to shed some light on this?
Thanks

[code]

[2019-02-28 19:12] ktbyers commented on #936
That looks like a bug/issue with napalm command line tools. I would see if it works directly in Python code using get_facts.

[2019-02-28 20:40] fhorv commented on #936
tried the python code below, it works fine.

[code]

[2019-03-02 17:25] luqasz commented on #926
* I am for python3.6 or greater. It will be easier to implement async and do `yield from`
* We can introduce [ipaddress](https://docs.python.org/3/library/ipaddress.html) for native ip representation, routes, etc.
* Roadmap will clarify things and give a good view of our plans.

[2019-03-03 03:59] pwnsmack commented on #931
I've tested on other platforms (Nexus 5596 and 5020 switches which do not encounter this problem. This issue appears to be specific to the Nexus 9000 series and I have also replicated this issue in Netmiko. The scp copy is actually completing successfully but the MD5 parse is failing. I can work around it by passing "disable_md5=True" argument into the "file_transfer" function.

Is there any way t

[2019-03-03 15:44] ktbyers commented on #931
@pwnsmack I don't think we should bypass the MD5 check. I think we should fix the underlying issue that is causing the MD5 parsing to fail.

[2019-03-03 16:12] ktbyers commented on #931
What does `show file bootsystem:/candidate_config.txt md5sum` show on one of the devices that failing.

Note, the filesystem and filename might be different depending on your device and what you are doing. Realistically you can probably show the output of this for some file on the device (just so we can see the output format).

Here is what is executed under the hood for retrieving the MD5

https:

[2019-03-04 03:19] b-marcum commented on #931
Thanks for responding Kirk, I'm a huge fan of your work having attended several of your courses and greatly appreciate your feedback.

Unfortunately, passing the global_delay_factor arguments of 2 and 4 results in the same outcome with (with extended run time).

I added the session_log argument which shows the file (candidate_config.txt) residing on the system with the proper hash. The file simply

[2019-03-05 22:43] ktbyers commented on #926
Merge nxapi-plumbing and pyiosxr directly into NAPALM repository to simplify the maintenance and release process of these two dependencies.

[2019-03-10 22:17] b-marcum commented on #931
Any ideas? I seem to have hit a wall on this

[2019-03-11 08:33] sincerywaing opened #941 "is there a way to check if a port is err-disabled?"
Or Is there a getter to get interface down reason?

[2019-03-12 15:27] robobeaver6 opened #942 "get_interface returns -1 for speed if Auto negotiate is used on Juniper"
reproduced using Nornir to call Napalm get_interface on a Juniper EX4300 running Junos 14.1X53-D47.6
[code]
The information returned for a single up interface:
[code]
I believe napalm is resolving the speed as `Auto` from the `show interface` command (or something similar).
[code]
if the command `show interface media` were used, the response would contain the auto negotiation information, includin

[2019-03-12 15:35] robobeaver6 commented on #942
Forgot to say the versions:
napalm	2.3.1
nornir 2.0.0

[2019-03-15 01:59] b-marcum commented on #931
@ktbyers, I may have isolated the issue but I don't know how to fix it.

The MD5 hash is being stripped from the output variable at the following line:

https://github.com/ktbyers/netmiko/blob/develop/netmiko/base_connection.py#L827

Here's what the raw output is prior to the sanitized_output function:
[code]

Here are the variables prior to strip_prompt function:
[code]

Following the strip_promp

[2019-03-15 03:13] ktbyers commented on #931
@b-marcum Does it work if you change this line:

https://github.com/ktbyers/netmiko/blob/develop/netmiko/cisco/cisco_nxos_ssh.py#L23

I would probably just try the following:

[code]

It might also be interesting to print out the following right before this substitution:

[code]

So we can see exactly what the newline pattern is.

[2019-03-15 03:13] ktbyers commented on #931
Adding @carlniger onto this issue.

[2019-03-15 09:58] b-marcum commented on #931
@ktbyers @carlniger - Thanks for the quick response

I added the print statement suggested and confirmed that the the output of `a_string` throughout is as follows:
[code]

I tried the newline change suggested which resulted in the following output:
[code]

Then I tried the following code change on the line below which fixed it for me ( ͡° ͜ʖ ͡°)
https://github.com/ktbyers/netmiko/blob/develop/net

[2019-03-15 12:50] ktbyers commented on #931
Okay, that makes I messed up the regex change in my original response.

Okay, so this works then--correct?

[code]

[2019-03-15 15:42] carlniger commented on #931
@ktbyers just tested against the new n9ks (nxos.9.2.3.bin) in the lab; without @b-marcum's fix, I was able to reproduce the error; with the fix proposed, it worked as expected.

However, with the change in place it broke file transfers against our older nexus boxes (7.3(1)D1(1)).

I'll dig into it more a bit later today to see if I can come up with a draft fix that works against both platforms.

[2019-03-16 04:42] jifox opened #943 "ios mac_address_table - error on VSS Stack (Ansible)"
Version:  napalm-2.4.0.dist-info

Retrieving the MAC address table leads to an error on an Catalyst 6824 VSS Stack.

Ansible Playbook:

[code]

Ansible Error Message:
[code]
IOS Version Output:
[code]

Output of the show command on the vss stack::

[code]

Ansible Version:

[code]

[2019-03-17 01:01] ktbyers commented on #941
I don't think so. We would have to modify a getter to support this.

[2019-03-17 01:03] ktbyers commented on #935
This is really a Cisco bug/issue so we need to see if there is a reasonable way to work around it (or at a minimum it needs documented).

[2019-03-17 01:28] sincerywaing commented on #941
Thanks Kirk. I’m also digging if there is any snmp oid could support this but failed.

Do you happen to aware any?

Sent from my iPhone

[2019-03-17 14:27] ktbyers commented on #941
@sincerywaing Yes, I don't know about SNMP and where it might exist there. I would probably look at ntc-templates as I think you could possibly retrieve it from that.

[2019-03-18 05:03] Mabuchin opened #944 "get_bgp_neighbors() gets corrupted if 6PE is enabled in eos"
In the case of processing of these lines, if ipv6 is invalid, there will be a gap in the number of processing lines.
As a result, local_asn regex different lines.

https://github.com/napalm-automation/napalm/blob/2e98a86bc8f967256fdc38255a856d2fae40fd68/napalm/eos/eos.py#L484-L509

In my eos environment, I confirmed neighbors where ipv6 stats like below are not displayed.

[code]

`v6_stats` shoul

[2019-03-18 05:04] Mabuchin commented on #944
Error Info
[code]

[2019-03-18 06:19] Mabuchin commented on #944
The cause was using 6PE on EOS's router.
If you use 6PE, it will be the following form before using Regexp.
[code]

Before the code is omitted, 6PE is omitted at the command level.
following parts.
https://github.com/napalm-automation/napalm/blob/2e98a86bc8f967256fdc38255a856d2fae40fd68/napalm/eos/eos.py#L429

Even in the case of 6 PE, we consider that it should be included in sent / received in i

[2019-03-18 19:09] ktbyers commented on #931
https://github.com/ktbyers/netmiko/pull/1140

[2019-03-19 15:49] ktbyers commented on #931
Fixed in Netmiko develop branch

[2019-03-19 15:49] #931 closed

[2019-03-20 21:57] madhurabhogate opened #946 "Different o/p for ping"
I was trying to use the `ping` function.
Incase of Juniper, I do get the error output as -
[code]

[2019-03-20 23:26] madhurabhogate commented on #946
I digged in a little bit more.

In case of Juniper-
                                    (scenario  ----->    output)
1. When the Host is unreachable --->  {'error': 'Packet loss 100'}
2. When the host is unknown      ---> {'error': 'cannot resolve foo: Host name lookup failure'}

In case of Arista:
Host unreachable : it gives success and says packet loss == probes sent. We could have it throw an e

[2019-03-20 23:33] ktbyers commented on #926
Rationalize ping behavior. The ping returned data structure should probably be restructured to be clearer about ping failures. Platforms should be consistent on the ping behavior:

Related:
https://github.com/napalm-automation/napalm/issues/946

[2019-03-22 22:41] ktbyers commented on #926
Eliminate `get_firewall_policies()` method.

[2019-03-28 13:54] VictorPavlushin commented on #927
Implemented for ios, nxos and nxos_ssh.
https://github.com/napalm-automation/napalm/pull/948

[2019-03-28 17:45] robobeaver6 opened #949 "get_interface Additional Parameters"
the get_interface getter only ascertains very basic information.  It would be very beneficial if it could also ascertain the following:

- Type of interface / Hardware Type
  - Ethernet
    - Routed / Switchport
    - Switchport Mode
      - Encapsulation Protocol
  - VLAN SVI
  - Port Channel
  - Tunnel {type}
  - Loopback
- MTU
- Media Type
- Bandwidth

There are probably several other Physical

[2019-04-08 22:25] jbotello7381 opened #958 "newest iosxr (6.5.3) causes pyIOSXR.exceptions.XMLCLIError with get_route_to function"
During my testing with Cisco NCS5500 and there latest IOSXR (6.5.3) I notice issues with commands that depend on the function **get_route_to** on iosxr.py module.

Validation

[code]

The new RPC call should look like this by replacing <IP_RIBRoute> with <IP_RIBRouteTableName>
[code]
root@test# python --version
Python 2.7.15rc1
root@test:~# pip list | grep napalm
napalm (2.4.0)
napalm-base (1.0.0)

[2019-04-10 05:03] AmbicaY commented on #949
+1

Hardware type is definitely needed. MTU should be an easy one.

[2019-04-12 06:38] akkaluri opened #960 ""Timeout waiting for scp response" Error with load_merge_candidate / load_replace_candidate with cisco router on GNS3."
Hi All,

I have created Napalm setup with cisco router on GNS3. I was able to get the configuration from router to VM with following steps.

[code]

But i couldn't  able to configure the router with following steps,

Even i configured "ip scp server enable" on router.

[code]

Could you please let us know how can we fix it?.

**Router configuration:**

RR1#dir
Directory of disk0:/

No files in dir

[2019-04-12 10:15] #944 closed

[2019-04-12 10:34] mirceaulinic commented on #958
Hi @jbotello7381 - I recall you were asking this in Slack, then you've manage to make it work with a different XML request. Would you be able to patch this? Thanks!

[2019-04-12 10:47] #928 closed

[2019-04-12 11:42] mirceaulinic commented on #936
Closed via #950.

[2019-04-12 11:42] #936 closed

[2019-04-12 11:45] mirceaulinic commented on #941
Hi @sincerywaing - not sure if you've looked at napalm-logs which you can use to get syslog notifications in a standard format, also for interface down: http://napalm-logs.com/en/latest/messages/INTERFACE_DOWN.html By the looks of it, however, it doesn't look like the syslog messages contain the reasoning why an interface went down.

[2019-04-12 13:39] mirceaulinic commented on #949
Hi @robobeaver6: @yeled has been working on adding the required support for the MTU - see https://github.com/napalm-automation/napalm/pull/940. Please feel free to submit a similar PR for the rest. Thanks!

[2019-04-12 13:44] mirceaulinic commented on #934
Hi @neirbowj. It's very nice that there's a package for FreeBSD, I wasn't aware of that. I personally prefer to install from system packages whenever available (and I think that's the recommendation on any platform, when possible). I would suggest to go ahead and document with this perspective in mind, as the other possibility using pip is not platform-specific. Cheers!

[2019-04-12 14:07] VictorPavlushin commented on #949
Hi!
I am working on the import and subsequent inventory of network devices (switches, servers: windows and linux) in the netbox.
In that case I use napalm, netbox-netprod-importer and ansible (to collect standard facts and handwritten) for this.
In this request, there is information of interest to me, if you help me with a technical task (commands to get the necessary information) I will try to im

[2019-04-12 16:57] ktbyers commented on #960
Are you able to manually copy a file into disk0?

For example, something similar to this except with disk0

[code]

[2019-04-12 16:57] ktbyers commented on #960
The above error looks probably like a GNS3 issue with the filesystem.

[code]

[2019-04-13 01:14] jbotello7381 commented on #958
how would you suggest @mirceaulinic we handle backward compatibility? I'm trying to get some information from Cisco to understand when this XML change

btw, I manually change it in my test environment and it works, but I haven't tested with older iosxr version

[2019-04-17 13:09] kaibabbob commented on #919
This would be really useful to have. But I have an additional parameter for the vlans in my fabric-path enabled data center which is the vlan mode.  Could you consider an additional parameter:

sw341(config-vlan)# mode ?
  ce          Classical Ethernet VLAN mode
  fabricpath  Fabricpath VLAN mode

[2019-04-17 21:17] TomCos opened #963 "Exception not caught "Socket exception: Connection reset by peer (104)""
So been wresting with this one for a while.  Just saw the note in the repo about opening a ticket for exceptions not caught, so figured this would be the best place to start.  My application is fairly large, but the issue is identifiable.

In the app I'm writing, it's for doing network device upgrades.  Regardless of the device, sometimes you'll get a prompt before it reboots, sometimes you wont.

[2019-04-17 21:46] ktbyers commented on #963
Do you have the full stack trace or line number that the exception happens at?

You say it just prints it to the screen--are you sure it isn't being caught by some earlier exception handler that you have that comes before the above code?

[2019-04-17 21:52] TomCos commented on #963
The logger is doing all output to the screen in color and also logging to 2 files.  It comes to the screen with no color and doesn't end up in either file.  It's hard to generate, because it basically depends on how the host played with us, but that plain print to the screen is all I got.  More than happy to help generate a traceback, but not sure how I'm going to be able to.  The above code block

[2019-04-18 10:22] writememe opened #964 "NAPALM validate - nxos - get_interfaces_ip not working"
### Description of Issue/Question

When attempting to use the napalm validate module in either Python or Ansible using the napalm-ansible for NXOS to validate the `get_interfaces_ip`, it appears that there maybe an issue locating `get_interfaces_ip` module for NXOS. Initially, I found the issue in Ansible, however it appears to be irrespective of using napalm-ansible or napalm.

### Did you follow

[2019-04-18 16:10] ktbyers commented on #964
I think this might already be fixed in the `develop` branch. Can you test this against the `develop` branch and see if you still have the same issue?

@writememe

[2019-04-19 02:46] writememe commented on #964
Hi @ktbyers , I've tried it in Python using the `develop` branch and it works. Below is an excerpt:

[code]

Probably sounds like a silly question but do I just wait until the next version of NAPALM is out? More specifically, if someone could point me on how to use the `develop` branch inside Ansible, that would be great. I don't even know if this is possible...

[2019-04-19 16:43] ktbyers commented on #964
git clone the repository. Then CD into the base of the repository and:

[code]

You can also use PIP to install it directly from the GitHub repository. Syntax should be easy to find online.

Regards, Kirk

[2019-04-19 16:43] #964 closed

[2019-04-19 19:46] ktbyers commented on #960
I am going to close as it doesn't look like a napalm issue. If you see more data that indicates this is a napalm issue, just re-open.

[2019-04-19 19:46] #960 closed

[2019-04-19 19:53] ktbyers commented on #949
Propose a change to the getter and/or just implement and submit a PR it including tests for all of the core napalm platforms.

If it is a completely new getter then create an issue with the new getter proposal: getter name, returned data structure. Note, you will probably need to implement it on all of the core napalm platforms in order for it to get approved.

The above referenced MTU PR is a ver

[2019-04-19 19:53] #949 closed

[2019-04-20 01:07] writememe commented on #964
Thanks @ktbyers, that worked.

[2019-04-21 12:56] ktbyers commented on #433
I am going to close this as there looks to be no active work on this issue.

[2019-04-21 12:56] #433 closed

[2019-04-23 16:55] ktbyers commented on #471
Should be fixed.

[2019-04-23 16:55] #471 closed

[2019-04-23 17:46] ktbyers commented on #919
I read through this issue again.

I say we go with this which is basically the same as open config except explicitly added voice mode and without all of the hierarchy.

Name: `get_interfaces_vlans()`

This getter is operational state only NOT configured state.

Would only cover Ethernet or Ethernet bundles (port-channels, et cetera)--no other interfaces.

[code]

`mode`: `access, trunk, voice`

if

[2019-04-23 18:10] ktbyers commented on #943
Fixed

[2019-04-23 18:10] #943 closed

[2019-04-24 01:56] #942 closed

[2019-04-25 18:38] ktbyers opened #972 "NXOS driver using nx-api doesn't return all VRFs for get_interfaces_ip"

[2019-04-25 18:41] ktbyers commented on #972
For reference see:

https://github.com/napalm-automation/napalm/pull/722

[2019-04-25 20:04] ktbyers commented on #941
I don't think there are any additional actions here.

[2019-04-25 20:04] #941 closed

[2019-04-25 20:05] ktbyers commented on #934
@neirbowj Do you want to submit a PR to update the documentation here?

[2019-04-25 20:08] ktbyers commented on #915
Closed...no response from user.

[2019-04-25 20:08] #915 closed

[2019-04-25 20:12] neirbowj commented on #934
Yes, I do. I haven't had the bandwidth recently, but I intend to return to this, hopefully next week.

[2019-04-25 20:12] ktbyers commented on #893
I think this issue was fixed. Related PR here https://github.com/napalm-automation/napalm/pull/918

[2019-04-25 20:12] #893 closed

[2019-04-26 08:05] robobeaver6 opened #974 "get_facts broken on Juniper stacked switches"
### Description of Issue/Question

Recent changes to Juniper's junos-eznc format has broken Napalm's parsing of device facts when the switch is in a stack

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x ] Yes
- [ ] No

### Setup

### napalm version
(Paste verbatim output from `pip freeze | grep n

[2019-04-28 12:32] nickrusso42518 commented on #502
I see this has not yet been implemented and I have a need for it. I am noodling around now because I've already solved the route-target parsing problem for a specific use case on IOS.

https://github.com/nickrusso42518/vpnm/blob/master/plugins/filter/filter.py

I'd be willing to submit a PR for IOS and IOS-XR assuming I can get it working, although I probably won't try to "follow" route-map RT app

[2019-04-29 19:05] ka7 opened #975 "Q: makes sense for devices like linux, openwrt, tiny-routers ?"
### Description of Issue/Question

i like the concept of __napalm__ ( esp. the get_facts() )

Would it make sense, to extend (plugin) that also to all net-devices, like linux servers, openwrt-based whatever, tiny routers ( like small "http config" switches ) ?
_some_ automation ( set_timeserver(), set_logserver(), enable/disabe ports  should also be easy to do here)
( BTW: I'm not shy to write& sh

[2019-04-30 21:35] Wo0dsi3 opened #976 "Cannot get facts from device with Napalm - "msg": "the python module napalm is required"
### Description of Issue/Question

I am running Ansible and Napalm on a ubuntu VM.
Napalm seems to work fine via a python program.
It will not work via by Ansible playbook though

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` b

[2019-05-01 19:21] TomCos commented on #963
This may be related?
https://github.com/paramiko/paramiko/issues/1336

[2019-05-03 16:08] #976 closed

[2019-05-06 16:41] LongBeachHXC opened #977 "Napalm Getter "environment" broken"
### Description of Issue/Question

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

When attempting to retrieve the network device environment using napalm's environment getter the traceback provided below is returned.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between th

[2019-05-08 06:22] AmbicaY opened #979 "Napalm get_facts broken for cisco"
get_facts fails for cisco devices when it tries to parse the output for the command "sh ip int brief"

There is an empty line in the output of this command on few of my cisco devices, which is causing this issue.

napalm version:
napalm==2.4.0

error:
Traceback (most recent call last):
         File "/usr/lib/python2.7/dist-packages/salt/utils/napalm.py", line 178, in call
           out = getattr

[2019-05-08 17:13] ktbyers commented on #979
@AmbicaY Can you post an example `show ip int brief` that is causing things to break?

[2019-05-09 03:26] AmbicaY commented on #979
spare-switch#show ip int brief
Any interface listed with OK? value "NO" does not have a valid configuration

Interface              IP-Address      OK? Method Status                Protocol
FastEthernet1          10.19.90.126    YES DHCP   up                    up
GigabitEthernet3/1     unassigned      YES unset  down                  down
GigabitEthernet3/2     unassigned      YES unset  down

[2019-05-15 11:26] robobeaver6 opened #981 "get_interfaces_ip Attribute Error if no IPv6 addresses are present"
### Description of Issue/Question

Using Nornir the task `task.run(task=napalm_get, getters="get_interfaces_ip")` raises an `AttributeError` because the Napalm function can not handle the None type due to the device not returning any data.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [

[2019-05-21 06:42] TomCos commented on #963
Looks like there are others that I can't catch....
`Exception: Error reading SSH protocol banner
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/site-packages/paramiko/transport.py", line 2138, in _check_banner
    buf = self.packetizer.readline(timeout)
  File "/usr/local/lib/python3.6/site-packages/paramiko/packet.py", line 367, in readline
    buf += self._read_timeout(timeo

[2019-05-21 22:09] ktbyers commented on #981
@carlniger You want to see if you can reproduce this and do a PR on it? This looks like it is NX-API.

[2019-05-21 22:25] carlniger commented on #981
@robobeaver6 can you try this with the develop branch please? Pretty sure #969 fixed this (or at least I can confirm it does on N9Kv). I dont have a a 7k/Titanium instance to test against right now but looking at tests and thinking back I think this should work on 7k/Titanium as well.

[2019-05-22 04:35] ktbyers commented on #981
Just re-open if not already fixed.

[2019-05-22 04:35] #981 closed

[2019-05-22 04:41] ktbyers commented on #977
Duplicate issue:

https://github.com/napalm-automation/napalm/issues/468

[2019-05-22 04:41] #977 closed

[2019-05-22 04:42] ktbyers commented on #975
You should check out the community drivers:

https://github.com/napalm-automation/napalm/issues/468

Regards, Kirk

[2019-05-22 04:42] #975 closed

[2019-05-22 04:51] #933 closed

[2019-05-22 04:52] ktbyers commented on #870
@carl Can you see if you can reproduce this? If so, then we should add a unit test for it and correct the behavior.

Probably should also sanity check the same thing on NX-OS SSH

[2019-05-22 04:54] ktbyers commented on #428
I think this is probably fixed. If it is still an issue, please re-open.

[2019-05-22 04:54] #428 closed

[2019-05-22 04:56] ktbyers commented on #436
I am going to close, I seem to vaguely recollect we were at disagreement over this. If this is still viewed as an issue, we can review the history and potentially re-address.

[2019-05-22 04:56] #436 closed

[2019-05-22 05:01] ktbyers commented on #443
Unfortunately, still an issue on both NX-OS and NX-OS SSH.

[2019-05-22 05:09] ktbyers commented on #762
This is a bit of a hard problem or at least harder than it might initially appear due to use of Secure Copy for the file transfer (and also due to Netmiko SCP needing to support Cisco IOS and consequently needing to open a completely separate SCP channel). This is NX-OS, but Netmiko needs to support both so its pattern is the lowest common denominator (i.e. supports Cisco IOS).

If anyone wants to

[2019-05-22 05:09] #762 closed

[2019-05-22 13:49] bewing opened #987 "IOS BGP not active error"
[code]

[code]

Looks like we need to detect this in line 1478.  Do we really want to raise a `CommandErrorException`, or just return an empty dictionary?

[2019-05-22 13:54] bewing opened #988 "Processing error in IOS get_environment"
### Description of Issue/Question

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [ ] No

### Setup

### napalm version
(Paste verbatim output from `pip freeze | grep napalm` between quotes below)

[code]

### Network operating system version
(Paste verbatim output from `show version` - or

[2019-05-22 13:59] bewing commented on #988
Device output:
[code]

[2019-06-03 19:08] beufanet commented on #849
How did you to show only default VRF results using napalm ?

[2019-06-03 20:44] ktbyers commented on #849
@beufanet You might want to ask a question in the slack channel: https://github.com/napalm-automation/napalm#slack

Regards,

Kirk

[2019-06-04 11:12] jlixfeld commented on #849
@beufanet I never specifically attempted to show the default VRF, but I believe the first example above would provide either the default VRF or both the default VRF and any non-default VRFs.

[2019-06-05 23:20] lazhao123 commented on #637
I got same issue on Linux when I config cisco nxos. I am using NAPALM version 2.4.0.
The script call commit_config() to change hostname.
The bug is caused by self.base_prompt, since hostname is changed, while base_prompt is not changed yet. That caused pattern not match, and timeout. Is anyone working on this?

    def _read_channel_expect(self, pattern="", re_flags=0, max_loops=150):
        outp

[2019-06-05 23:34] ktbyers commented on #637
Okay, let me test...adding @carlniger onto this issue also.

[2019-06-05 23:46] lazhao123 commented on #637
Great!

[2019-06-06 22:27] carlniger commented on #637
Tested and confirmed I can reproduce this. Spoke w/ @ktbyers and I have a really hack-y fix in place based on his input. Will try to clean it up and open a PR in the next day or so!

[2019-06-07 13:51] sanseihappa commented on #963
Seeing the same.  I'm observing two different failure modes, both during _check_banner: EOFError and ConnectionResetError.

paramiko 2.4.2 on Python 3.7:

`05-Jun-2019 11:24:49	    (Traceback (most recent call last):
05-Jun-2019 11:24:49	  File "/usr/local/lib/python3.7/site-packages/paramiko/transport.py", line 2138, in _check_banner
05-Jun-2019 11:24:49	    buf = self.packetizer.readline(timeout

[2019-06-07 13:55] sanseihappa commented on #963
Somewhat anecdotal observation: paramiko 2.4.2 with Python 2.7.x, and didn't observe this issue.

[2019-06-07 19:47] jobec opened #991 "Device connection not closed upon exception in __enter__() method"
### Description of Issue

Observed while connecting to a Juniper device over SSH with the Cisco IOS driver. (so wrong driver for the target platform)

When using Napalm as a context manager (or by manually calling `open()` and `close()`) an exception might be raised during the `__enter__()` method. Like for example when enable mode can't be reached.

When this happens, 2 issues arise:

1) When cal

[2019-06-10 03:54] lazhao123 commented on #637
Good job! Carlniger.
How do I get the fix? Will it be released soon?

[2019-06-10 08:11] jobec commented on #991
I investigated this a bit deeper and it seems it doesn't matter whether the target device is configured with idle timeouts or not.

Looking at the Paramiko layer, this i what happens:
1. idle timeout passes
1. Network device sends a EOF message in the SSH channel
1. Paramiko sends a EOF back, but does NOT close the TCP connection

Compared to Putty, Putty closes the TCP connection right after the

[2019-06-10 13:50] carlniger commented on #637
@lazhao123 you can clone my commit in the pr at #990 or wait till that gets hopefully approved/merged!

[2019-06-11 15:07] #991 closed

[2019-06-12 17:23] ktbyers opened #995 "Should better propagate up nx-api plumbing 500 error issues"
NX-API can hide invalid configuration command issues and just generate a 500 error response.

It would be better if we could more clearly indicate that you sent an invalid configuration command.

This might need to be fixed in the nxapi-plumbing library.

[2019-06-12 20:16] bewing commented on #901
This is exposed in EOS now, in release 2.4.0

[2019-06-15 16:47] #934 closed

[2019-06-16 00:42] lazhao123 commented on #637
Tested, good work!

[2019-06-16 00:52] lazhao123 opened #998 "link-local ipv6 of mgmt0 not returned on nexus 3048"
The ipv6 of link-local address exist as shown in "sh ipv6 int br vrf all", but "get_interfaces_ip" doesn't return it. The reason is the nxos_ssh.py is looking for "VALID". But the show command in 3048 doesn't show "VALID". Please fix.

======= show output
Cisco3048TP-16#  sh ipv6 int b vrf all
IPv6 Interface Status for VRF "management"(2)
Interface        IPv6 Address/Link-local Address

[2019-06-16 03:13] ktbyers commented on #637
I get an exception in a different place if I try to change the hostname using nxos_ssh:

[code]

[2019-06-16 04:23] ktbyers commented on #998
@lazhao123 Feel free to submit a PR on it.

[2019-06-16 18:29] ktbyers commented on #637
I think we need two fixes here, both Carl's and also something for the hostname change itself:

[code]

[2019-06-16 19:50] lazhao123 commented on #998
Will do it when I have time.

[2019-06-17 19:24] ktbyers commented on #490
Should be implemented here:

https://github.com/napalm-automation/napalm/pull/940

[2019-06-17 19:24] #490 closed

[2019-06-18 19:12] ktbyers commented on #637
Should be fixed by https://github.com/napalm-automation/napalm/pull/999

[2019-06-18 19:12] #637 closed

[2019-06-18 19:12] ktbyers commented on #799
Fixed here https://github.com/napalm-automation/napalm/pull/999

[2019-06-18 19:12] #799 closed

[2019-06-19 08:54] Tolisan opened #1000 "get_environment fails on cisco 2960"
### Description of Issue/Question

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [ x ] Yes
- [ ] No

### Setup

### napalm version
(Paste verbatim output from `pip freeze | grep

[2019-06-24 22:44] lazhao123 commented on #637
Hello Kirk,

Can you please check my comments?
https://github.com/napalm-automation/napalm/pull/999

On Tue, Jun 18, 2019 at 12:12 PM Kirk Byers <notifications@github.com>
wrote:

[2019-06-25 00:21] ktbyers opened #1005 "nxos_ssh hostname not working on merge operation"
Rollback also looks like it is probably broken.

[2019-06-25 00:21] ktbyers commented on #1005
See related PR https://github.com/napalm-automation/napalm/pull/999

[2019-06-25 00:30] ktbyers commented on #1005
FYI @lazhao123

[2019-06-25 02:23] bradh11 opened #1006 "ios: get_interfaces() last_flap - not implemented"
### Description of Issue/Question
Drivers do not have last_flap attribute calculated for `get_interfaces()`.  I believe a good source of this would be the "last input / last output / last output hang" data that is seen via a show interface command typically.  In fact it might make better sense to add these 3 values to the dictionary rather than try to leverage the single unimplemented `last_flap`

[2019-06-27 22:27] lazhao123 opened #1008 "remove vlan related question"
Currently what I do is to add configuration, what if I need to remove a configuration like removing a vlan. What is the right approach?

[2019-06-28 18:31] lazhao123 commented on #1005
Hello Kirk,

I have a question. How do I remove a setup from configuration. Say, I want
to remove static route under vrf management.

vrf management
  no ip route 0.0.0.0 0.0.0.0 192.168.1.1
  ip route 0.0.0.0 0.0.0.0  192.168.2.1

What would I put in the json file?
My proposal:
"vrf": [
  {
  "name": "management",
  "action": "no",
  "ip": "0.0.0.0",
  "mask": "0.0.0.0",
  "gw": "192.168.1.1"
  }

[2019-06-28 18:46] ktbyers opened #1009 "Cisco IOS configure replace issue with nonegotiate under an interface"
Cisco IOS/IOS-XE will fail when using `configure replace` if going between the following two states:

[code]

And tried to change it to this state:

[code]

[2019-06-28 20:04] ktbyers commented on #1009
Additional details:
----------

[code]

[code]

[2019-06-28 20:05] ktbyers commented on #1009
cisco3#show version
Cisco IOS XE Software, Version 16.08.01
Cisco IOS Software [Fuji], ISR Software (ARMV8EB_LINUX_IOSD-UNIVERSALK9_IAS-M), Version 16.8.1, RELEASE SOFTWARE (fc3)

[2019-06-29 15:54] ktbyers opened #1010 "get_config for IOS and NX-OS (maybe IOS-XR also)"
Filter header information out from the running, startup configs such that get_config and load_replace_candidate are complimentary operations.

i.e. you can do get_config on running and then go and immediately load it using replace and expect to get a null diff file back.

[2019-06-30 10:38] TheRealBecks commented on #1009
Just to be sure: If you enter the following commands, the configuration change will be committed?
`conf t
interface GigabitEthernet0/1/3
switchport mode trunk`

[2019-06-30 11:30] TheRealBecks commented on #1006
I took a look at Cisco and Arista switches. From the 'show interfaces' command I get the following output (shorted):
Arista:
[code]
--> Up 16 days, 20 hours, 24 seconds

Cisco:
[code]
--> Last input 00:00:12, output 00:00:00, output hang never

NAPALM processes the output as follows:
Arista:
[code]
--> I have no access to the Arista API, but I think Arista returns the lastStatusChangeTimestamp as

[2019-06-30 16:43] ktbyers commented on #1009
@TheRealBecks Yes, it works fine if you configure it manually via `conf t`.

[2019-07-01 15:46] TheRealBecks commented on #1000
PR has been created: [PR 1003](https://github.com/napalm-automation/napalm/pull/1013)

[2019-07-01 18:03] TheRealBecks commented on #1009
In that case I would say: Happy bug finding day! :) As 'configure replace' isn't working, but the manual method is, you should escalate that to Cisco directly.

So this 'bug' here can be closed as it's no bug in the napalm repository?

[2019-07-05 17:01] carlniger commented on #1008
If possible you could use config replace instead of a merge operation. if that isn't possible for you, you'd need to handle it in whatever way makes sense for your environment... not exactly an easy problem to solve though! :)

[2019-07-06 17:46] TheRealBecks opened #1014 "New driver: eos_ssh for Arista devices without API"
For an internal project I needed to create eos_ssh as a new driver as we have the EOS API not licensed (yet) and also not configured on our Arista devices. eos_ssh is a work in progress and I really like to contribute this driver to NAPALM, but first I wanted to know if you would integrate that driver?

It's not yet finished, but working great so far. If I get a GO from you I will work further on

[2019-07-07 01:24] ktbyers commented on #1009
Going to close as there are no actions to take on the napalm side. Hoping Cisco will fix this as it looks like an IOS bug.

[2019-07-07 01:24] #1009 closed

[2019-07-07 01:27] ktbyers commented on #1008
Yes, I would echo @carlniger and say the declarative way to do it would be to use full configuration replace and that configuration would contain the vlans that should exist on the switch.

[2019-07-07 01:27] #1008 closed

[2019-07-07 01:32] ktbyers commented on #1005
@lazhao123 Should open that as a separate issue or ping people in Slack.

Regards, Kirk

[2019-07-07 01:32] #1005 closed

[2019-07-07 01:59] #467 closed

[2019-07-08 17:40] ktbyers opened #1015 "IOS-XR putting hashes in the diff output"
Reported in Slack

When i `replace` a config, if the config is fresh (the configuration does not exists) there is no issue. However if i do a `replace` when there is configuration and i `replace` new for old - the `hash` symbols appear, for example…

[code]

I am using `6.5.2` - but i have seen this on images on XR since `5.x.x`

[2019-07-10 17:35] GarrettStrahan opened #1017 "Is SRX models supported with load_merge_candidate()?"
### Description of Issue/Question
Is device.load_merge_candidate() supported with the SRX models? I get napalm to do a configuration change with the following code (Don't worry I don't care if you have this password, this firewall SRX210 is not supporting any nodes and I will alter the password at a later date):

from napalm import get_network_driver
driver = get_network_driver('junos')
device = d

[2019-07-11 12:09] mirceaulinic commented on #1014
Hey @TheRealBecks. I'd give that a :+1: as I'm well aware of the challenge with the eAPI licensing. I'm not sure what approach you've been working on, but I'd suggest the following to minimize the amount of code we're maintaining (and, implicitly, your work :wink:) while re-using the existing code.
The core idea is that from the CLI you can get the JSON output you'd normally get over the eAPI, by

[2019-07-11 14:26] GarrettStrahan commented on #1017
Figured out what was wrong. I was connected at the same time with an SSH session, so this locked it out. Closing issue.

[2019-07-11 14:26] #1017 closed

[2019-07-11 18:41] ktbyers commented on #1014
I would be okay with doing this as long as we do this in the way Mirceau describes. In other words, there is no parsing and everything is done via `| json` and all the commands/mechanisms are essentially or very close to essentially the same.

Or worded differently, we would basically be saying that SSH is just another transport and that we won't be doing any screen-scraping in the driver.

Sound

[2019-07-15 17:15] blargh2015 opened #1018 "get_network_driver and multiple custom_napalm modules return incorrect modules"
### Description of Issue/Question

When having multiple custom_napalm modules with one inheriting from another, a "get_network_driver" will return the first module alphabetically, instead of the correct module, due to this code in base/__init__.py get_network_driver function:

[code]

inspect.getmembers returns items alphabetically, so you get the first module name imported, instead of the correct

[2019-07-15 17:31] itdependsnetworks commented on #1018
I do not believe this is supported. It is a convenience method provided for you within a context of a single OS per file. Any additional shared functionality would likely (I'm not a maintainer) have to be managed by yourself.

[2019-07-15 17:36] blargh2015 commented on #1018
It works fine if we change the names around (i.e. change "ADriver" to "ZZZDriver"), which is what we've done internally, for the moment.

[2019-07-15 17:57] blargh2015 commented on #1018
We've tinkered with replacing the code in get_network_driver from:
[code]

To:
[code]

Which works for this use case, but this may break other use cases (it can only return a class defined in the exact module loaded).

[2019-07-16 12:47] fousti opened #1020 "NXOS_SSH: get_interfaces_ip fails with KeyError when interface have no IP addr assigned to it."
### Description of Issue/Question
Calling get_interfaces_ip with nxos_ssh on a devices containing Interfaces without IP assigned to it, it fails with a key error.

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the squar

[2019-07-17 17:17] bewing commented on #1018
I think the proposed fix makes a certain kind of sense.  I hadn't run into this issue as my internal implementations sub-classes `NetworkDriver` to `OurNetworkDriver` and we re-define get_network_driver to test if the other classes are subclasses of `OutNetworkDriver`, which may be another (especially if you want to be sure that the class you are loading has any extra methods defined in `ADriver`

[2019-07-17 17:46] ktbyers commented on #1018
Okay, let me try to look at it. On quick glance I suspect the quick fix isn't viable as it would probably break existing code.

This is probably something we should support in some way.

[2019-07-18 17:17] emr-arvig opened #1022 "IOSXR driver LLDP output invalid with spaces in names"
### Description of Issue/Question

Napalm IOSXRDriver method `get_lldp_neighbors()` is having a bit of trouble parsing LLDP in our environment when there are spaces in either the local interface or the remote port description. When there are spaces in the Device ID, they key is incorrect. When there are spaces in the remote port ID name we get incomplete information.

### Did you follow the steps

[2019-07-24 01:57] VictorPavlushin commented on #919
I have almost all of this implemented here:
[https://github.com/aruhier/netbox-netprod-importer/pull/22](https://github.com/aruhier/netbox-netprod-importer/pull/22)
for iOS and NXOS.
After the final approval of the technical task here, I can do it for IOS and NXOS.

[2019-07-26 03:35] VictorPavlushin commented on #919
What to do if the port in "mode": "fex-fabric"
How to display it?
[code]

[2019-07-27 16:25] ktbyers commented on #919
Yes, I don't really know what we should do with these ports right now. I am somewhat inclined to issue a Python warning saying `fex-fabric` is not currently supported and will be ignored.

I am mostly concerned that we will get bogged down in these more narrow special cases and consequently won't actually implement anything.

[2019-07-29 11:00] kpetremann opened #1026 "get_bgp_config get non committed configuration on JunOS"
### Description of Issue/Question

get_bgp_config is getting the configuration from the candidate configuration (not committed) instead of the real configuration on JunOS.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq

- [x] Yes
- [ ] No

### Setup

### napalm version
(Paste verbatim output from `pip freeze | grep napalm` between quotes below)

[code]

### Netw

[2019-07-31 12:59] thugcee opened #1027 "SyntaxError when using key_file optional_arg in CLI"
### Description of Issue/Question

When I try to connect via CLI `napalm` tool using ssh key I get `SyntaxError: invalid syntax` exception.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq

- [x ] Yes
- [ ] No

### Setup

### napalm version

[code]

### Steps to Reproduce the Issue

[code]

### Error Traceback

[code]

[2019-08-01 13:46] ferfemar opened #1028 "Wrong interface information for Junos virtual-switch w/ bridge domains using get_network_instances"
### Description of Issue/Question

Output of get_network_instances shows no interfaces in Junos routing instance type virtual-switch when interfaces are assigned under a bridge-domain. It counts them as being part of the master/default instance which is not correct.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where

[2019-08-05 16:20] carlniger commented on #1027
`--optional_args "key_file='/Users/carl/.ssh/carl@home'"`

Looks like it should do the trick for ya. Does that work?

[2019-08-07 05:43] TheRealBecks commented on #1000
@Tolisan Have you tried my fix?

[2019-08-08 09:38] thugcee commented on #1027
Yes, it does. Thank you.

[2019-08-08 09:38] #1027 closed

[2019-08-09 08:41] ferfemar commented on #1028
Also the type is arguably wrong in this case. Junos identifies the instance as **VPLS**, but NAPALM as **virtual-switch**. Should I open a separate issue for it? @ckishimo

[2019-08-09 11:30] mirceaulinic commented on #1010
I can confirm that would be needed for IOS-XR as well.

[2019-08-09 12:35] ckishimo commented on #1028
@ferfemar I don't think this can be quickly fixed at this point. The napalm method is getting all the information from the candidate configuration, instead of using the RPC call `get-instance-information` as you do

So because in the candidate configuration, the instance type is reported as `virtual-switch` napalm returns the same instance-type
[code]
I believe one would need to change completely

[2019-08-09 22:04] sjtarik commented on #783
I am still seeing this issue on napalm 2.4.0

[2019-08-10 00:45] ktbyers commented on #783
Commented in Slack, but I think that is probably due to you still having napalm-base installed (potentially).

napalm-base is deprecated.

[2019-08-12 10:50] tjhannin opened #1033 "napalm-ios leaves "file prompt quiet" in startup configuration"
### Description of Issue/Question

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [] No

### Setup

### napalm version
(Paste verbatim output from `pip freeze | grep nap

[2019-08-12 10:55] ferfemar opened #1034 "VPLS instance identified as virtual-switch by get_network_instances"
### Description of Issue/Question

Output of get_network_instances shows Junos a routing-instance type as virtual-switch, while for Junos it is VPLS.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [] No

### Setup

### napalm version
(Paste verbatim output from `pip freeze | grep napalm`

[2019-08-12 16:33] ktbyers commented on #1033
Can you expand a bit on the `this causes issues with other IOS functionality, such as automatic configuration saving when a PKI certificate is renewed`?

Mostly as I am interested in knowing what the secondary consequences of this are (i.e. not saying the reported issue is not an issue).

[2019-08-12 16:49] tjhannin commented on #1033
Sure - the specific feature I have in mind is 'Certificate Autoenrollment with Key Regeneration'.

See https://www.cisco.com/c/en/us/td/docs/ios/ios_xe/sec_secure_connectivity/configuration/guide/convert/sec_pki_xe_3s_book/sec_cert_enroll_pki_xe.html: "autoenrollment will not update NVRAM if the running configuration has been modified but not written to NVRAM. "

So if there's been a configuration

[2019-08-12 17:52] ktbyers commented on #1033
Okay, makes sense...thanks.

[2019-08-14 00:54] masters3d opened #1036 "IOS-XE Official Support?"
### Description of Issue/Question

Is there any plans to officially support IOS-XE?  My understanding is that IOS-XE has different command mapping than IOS-XR.
https://www.routexp.com/2017/05/cisco-ios-and-cisco-ios-xr-command.html

[2019-08-14 01:22] itdependsnetworks commented on #1036
It is, and documented as such here https://napalm.readthedocs.io/en/latest/support/index.html

[2019-08-14 01:36] masters3d commented on #1036
I see XR but I am not finding XE.

[2019-08-14 04:19] ktbyers commented on #1036
Just use the Cisco IOS driver. IOS-XE should behave very similarly to Cisco IOS.

[2019-08-14 04:19] #1036 closed

[2019-08-18 20:54] icovada opened #1037 "Vague error returned if session is closed"
### Description of Issue/Question

Sending commands to a dead session returns a "NoneType" exception instead of something more specific like SessionUnavailable

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [X] Yes
- [] No

### Setup

### napalm version

[code]

### Steps to Reproduce the Issue

##

[2019-08-21 08:23] sjhloco opened #1038 "get_bgp_neighbors on IOSXE doesn't work for IPv4 VRF address families (VPNv4)"
### Description of Issue/Question

get_bgp_neighbors doesnt seem to work on IOSXE for BGP neighbors in a VRF as isn't able to pick up the peers. If I try with neighbors in the default IPv4 address-family it works fine.

Is this meant to work, haven't been able to find information in the documentation about it. From the cmds NAPALM runs neighbors are seen in "show bgp all summary" but not in "show

[2019-08-25 11:25] max-cz commented on #1015
I tested it on 5.2.2, but I was not able to replicate the problem.
Can you provide more information about it?

[2019-08-27 12:18] mirceaulinic commented on #1026
Solved via https://github.com/napalm-automation/napalm/pull/1035.

[2019-08-27 12:18] #1026 closed

[2019-08-27 12:24] mirceaulinic commented on #1028
@ckishimo fixed this in #1032.

[2019-08-27 12:24] #1028 closed

[2019-08-28 08:16] dpizzle opened #1039 ""Error [1005]: CLI command 1 of 2 'enable' failed:" when accessing Arista switch with enable secret configured"
### Description of Issue/Question

I'm trying to access an Arista 7150S switch running `4.20.11.1M`. It works when no enable password is set, but I get the below error when the enable password is set. The user credentials remain the same.

I've seen this issue posted before, but no solution.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq

- [x] Yes
- [ ] No

###

[2019-08-28 16:16] jdillard opened #1040 "Is there a reason the documentation builds stopped?"
### Description of Issue/Question

It looks like the Read The Docs builds stopped 8 months ago: https://readthedocs.org/projects/napalm/builds/

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [ ] No

[2019-08-28 17:16] mirceaulinic commented on #1039
Hey @dpizzle - it looks like there's an optional arg `enable_password`, incidentally, for EOS only: https://napalm.readthedocs.io/en/latest/support/index.html#list-of-supported-optional-arguments. Can you check that and confirm it works as expected?

[2019-08-28 17:27] mirceaulinic commented on #1040
I think the documentation should only be generated on new version being released, which is when we've released 2.4.0: https://pypi.org/project/napalm/#history.

[2019-08-29 02:16] tahigash commented on #1038
Hello @sjhloco

I'm from pyATS/Genie team. We've release Genie v19.8 with this parser fix.
Please upgrade Genie package by below either way and see if it works.

[code]

[2019-08-29 11:28] mirceaulinic commented on #1040
I think you are right @jdillard. I've added a webhook which should normally ensure to rebuild the docs on PR merge. You can find the develop version at https://napalm.readthedocs.io/en/develop/.

[2019-08-29 11:28] #1040 closed

[2019-08-29 11:31] mirceaulinic commented on #1022
Hey @emr-arvig. I personally can't really think of a good reason to have spaces in the host name, but either way, the fix you suggested sounds good so please feel free to open a PR. Thanks!

[2019-08-29 16:12] ktbyers commented on #1040
Thanks @mirceaulinic !

[2019-08-30 12:50] blahu opened #1041 "lock prevent to load new candidate config"
### Description of Issue/Question

It's a question rather than an fault description.
We are writing a script that checks if running-config matches the file provided by configuration automation.
To do that we are uploading a new configuration (load_replace_candidate()) and executing compare_config().
Unfortunately sometimes there is already an open session on the box in pending state.
When load_rep

[2019-08-30 17:34] ktbyers commented on #1041
We have a `lock_disable` argument in Juniper. I think it would be fine to add this to EOS (if someone wants to implement the PR on it):

https://github.com/napalm-automation/napalm/blob/develop/napalm/junos/junos.py#L94

[2019-08-30 21:43] ktbyers commented on #1022
So how do we know when the LLDP device ID field is done?

It looks like the regex is counting on enumerating the local interface names--that sounds like a non-viable solution to me. Interface name enumeration we will almost certainly get wrong and it will be inherently fragile.

On cisco IOS the device ID field is a fixed 20-character field. Is it a fixed field on IOS-XR?

What if you make a 100 c

[2019-08-31 19:05] blahu commented on #1041
https://github.com/napalm-automation/napalm/pull/1042

[2019-09-02 10:25] dpizzle commented on #1039
Hi @mirceaulinic - I now have a different error.

[code]

Separately, If I remove the enable password from the switch and leave the user credentials as they are, I am able to connect and collect facts. Does the enable password need to be passed when connecting irrespective of user privileges?

[2019-09-02 16:35] ktbyers commented on #1039
@dpizzle I think the fundamental issue is you need high enough privileges for the commands to execute (regardless of whether you have enable secret or not).

In both of the above cases you are getting:

[code]

That makes me think you have AAA authorization configured or that the enable secret is not taking you to privilege 15.

Here is me connecting to EOS with a priv 15 user and no enable secret

[2019-09-02 16:50] ktbyers commented on #1039
A bit more details...pyeapi the underlying library that NAPALM uses for Arista by default makes an `enable` call when executing run_commands (which napalm does).

That is the call you are failing on with both of the above outputs that you posted.

[2019-09-03 15:22] dpizzle commented on #1039
Hi @ktbyers, when trying to pass the enable password, I still get the below error -

[code]

I also find it confusing that when using the same user credentials without providing an enable password, works when the device doesn't have an enable password set, but fails when I set an enable password. The user credentials have the same privileges in both tests. Would setting an enable password on the s

[2019-09-03 16:37] ktbyers commented on #1039
What is the privilege of the user?

And do you have AAA-authorization configured?

Kirk

[2019-09-05 09:56] dpizzle commented on #1039
Current privilege level is 1. Only aaa authorization config is -

[code]

[2019-09-06 18:25] ktbyers opened #1043 "pyiosxr diff processor is not returning correct diff for configuration replace"
This looks like a bug too me:
https://github.com/fooelisa/pyiosxr/blob/master/pyIOSXR/iosxr.py#L575

[code]

So the -2 in the slice is causing the last two lines to get dropped. i.e. the new domain in this case.

[2019-09-06 19:01] ktbyers commented on #1043
Sometimes IOS-XR output has:

[code]

i.e. in one case there is an `!` and then `end`, the other not.

[2019-09-12 20:28] ktbyers opened #1044 "Cisco IO"
### Description of Issue/Question

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [] Yes
- [] No

### Setup

### napalm version
(Paste verbatim output from `pip freeze | grep napa

[2019-09-12 20:29] ktbyers opened #1045 "Cisco IOS issue on config diff and banners"
Cisco IOS/IOS-XE would continually flag this in the diff even though the correct chr(3) was being used for the terminating character and even those the full config was pushed to running config. In other words, subsequent pushes would flag this in the diff again and again.

[code]

[2019-09-13 10:27] Ichabond opened #1046 "Cisco NXOS Version discrepancies"
Cisco has an inconsistent API between Cisco Nexus 9000 series, and Cisco Nexus 5000 series.
Concretely, this results in the Cisco Nexus 9000 not having an OS version when returning `get_facts`:
[code]
versus:
[code]

This is due to a different key in the Nexus API output:
`'sys_ver_str` only exists in the Nexus 5000 API output, but it also has `rr_sys_ver`, which works for both platforms.

[2019-09-16 09:48] singlaive opened #1050 "Documentation typo: duplicated paragraph"
Check this page on the doc site: https://napalm.readthedocs.io/en/latest/tutorials/ansible-napalm.html, as pasted below.

You should easily find the duplication of "if your ansible config is like this..", " do git clone"

Install
To install, clone napalm-ansible into your ansible module path. This will depend on your own setup and contents of your ansible.cfg file which tells ansible where to look

[2019-09-16 09:59] mirceaulinic commented on #1050
@singlaive feel free to open a PR to address this, and we shall review.

[2019-09-16 09:59] #1050 closed

[2019-09-16 14:54] emr-arvig commented on #1022
@ktbyers

I did a bit of testing and it does appear that the `Device ID` column is restricted to 40 characters. You can see our domain getting truncated here.

    RP/0/RSP0/CPU0:TRANSPORT-CISCO-ASR9010-TEST-1#sh lldp neighbors | inc BORDER
    Mon Sep 16 14:31:49.096 UTC
    TRANSPORT-CISCO-ASR9010-TEST-BORDER-1.ar  Te0/3/0/4            120       R          Te0/0/0/1
    TRANSPORT-CISCO-ASR9010-T

[2019-09-17 01:29] ggiesen commented on #764
I have a working implementation on junos. Just needs a bit of cleanup and then I'll submit a PR

[2019-09-17 07:57] rickdonato opened #1051 "CPU % Issue with .compliance_report() and get_environment() mem: used_ram"
### Description of Issue/Question
Running the .compliance_report() and get_environment() mem: used_ram validator. The % operator i.e '<25' doesnt calculate and compare based on percentage.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [] No

### Setup
Have run this against a physical QFX

[2019-09-17 15:34] rickdonato commented on #1051
Looks like an additional else within https://github.com/napalm-automation/napalm-base/blob/f8a154e642a6da01ac1024dd52eaf7a7116e6191/napalm_base/validate.py#L129 may suffice. Thoughts? First time looking through code, so just looking for a few pointers...

[2019-09-18 07:00] mirceaulinic commented on #1051
Hey @rickdonato. `used_ram` is an absolute value (it's just a number and not a percentage). Correct me if I'm wrong: you're expectation is that if you configure `used_ram: '<25.0%'` in the validator, it should ensure that the value of `used_ram` is less than 25% of the `available_ram`?

[2019-09-18 08:22] #1046 closed

[2019-09-18 14:25] tcaiazza opened #1052 "get_environment not working on IOS-XE using the IOS driver"
### Description of Issue/Question

When I try to use the `get_environment()` on an ios-xe device of mine I get the following stack trace
[code]

The ios driver is looking to run the command `show memory statistics` which isn't valid on an ios-xe device, the command is just `show memory`

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your

[2019-09-19 19:50] rickdonato commented on #1051
Hey @mirceaulinic I was going from the documentation at https://napalm.readthedocs.io/en/latest/validate/index.html#documentation which says,

I think being able to query/validate both,  mem and cpu via a % would be good. Potentially we could add a `used_ram%`.

Thanks,

[2019-09-24 18:08] luqasz commented on #926
Python 2.7 is EOL by the end of 2020, which is soon. Is there any plan to support 2.7 for some time ?

[2019-09-24 18:14] ktbyers commented on #926
No, I think the plan is to EOL PY2.7 support and move to require >=PY3.6.

@mirceaulinic can chime in if he has different views on this, however (as I haven't really coordinated/discussed it with him).

[2019-09-25 07:43] #680 closed

[2019-09-25 12:41] #979 closed

[2019-09-30 06:53] #685 closed

[2019-10-04 06:51] hasri20 opened #1057 "get_environment() error on ios device."
i got some issue when running get_environment() on ios on linux device.

### Description of Issue/Question

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [] No

### Set

[2019-10-07 05:07] netwninja opened #1058 "napalm.get not working for Arista EOS( Socket error during eAPI connection)"
### Description of Issue/Question

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [X] Yes
- [] No

### Setup

napalm server(Ubuntu 16.0.4) ---------Arista (EOS)

### napalm versio

[2019-10-07 08:19] jesk78 opened #1059 "ios.py fishing"
Hi,

I would like to understand some design decision making behind ios.py:

I do wonder about the use of "show archive config incremental-diffs" to mimic a commit operation in config_merge, which ends up in applying only the differences between the config supplied by the user and what already exists in running config. Precisely the code in https://github.com/napalm-automation/napalm/blob/develop/n

[2019-10-07 10:10] mirceaulinic commented on #1058
@netwninja check again https://github.com/napalm-automation/napalm#faq, and make sure you are able to connect to the device. See also https://napalm.readthedocs.io/en/latest/support/eos.html, and the Arista documentation on how to enable the HTTP API.

[2019-10-07 10:10] #1058 closed

[2019-10-07 14:43] netwninja commented on #1058
I have checked specifically.  I know the API HTTP is enabled on the Arista switch. We should further investigate that how it's broken now

The Arista API was enabled as we can see in the below output. Also, it's working fine when i try to access the Arista switch directly via browser

[code]

Now i went ahead and enabled HTTP, same results

Arista output

[code]

NAPALM COMMAND OUTPUT FROM LINUX S

[2019-10-07 15:00] mirceaulinic commented on #1058
You've configured only the HTTP server (HTTPS is shutdown). NAPALM is using by default HTTPS, otherwise you'll have to set the optional arg `transport` accordingly: https://napalm.readthedocs.io/en/latest/support/index.html#the-transport-argument.

[2019-10-07 18:01] ktbyers commented on #1059
@jesk78 If I am understanding you correctly,you are misunderstanding the behavior of NAPALM + IOS and a merge operation.

NAPALM + IOS does the following

1. secure copy a configuration file you created and transfer that to the remote device (onto flash:/bootflash:). The file name will be named: `merge_config.txt`. This will also be the case for configurations, you do inline in NAPALM (i.e. a /tmp

[2019-10-07 20:37] netwninja commented on #1058
If you look at the first output, HTTPS was enabled and i was getting the same error.
Let me try transport argument and update the results accordingly.

[code]

[2019-10-07 20:48] mnhauke opened #1060 "Unittest failures with py-junos-eznc 2.3.0"
I'm actually in the process of packaging napalm for openSUSE.
Part of their package submission policy is to run all unit tests from upstream.

While the unittests run fine with py-junos-eznc [2.2.1](https://github.com/Juniper/py-junos-eznc/releases/tag/2.2.1) lot's of junos related tests actually fail with the latest version of py-junos-eznc [2.3.0](https://github.com/Juniper/py-junos-eznc/release

[2019-10-07 20:54] jesk78 commented on #1059
I really thought it was the concept, kinda got stucked in looking into this - you are right it's just used for actual diff.

The issue seems to be that IOS is the guilty one filtering out the commands already existing when doing the "copy flash:merge.conf running-config" operation. *weird*

[2019-10-07 21:19] ktbyers commented on #1059
@jesk78 Meaning the issue is with the `diff` or you are seeing an actual issue on a `merge` behavior?

If it is on the `merge` behavior, can you give me an example?

I don't think IOS does any filtering here--it merges what you tell it to merge.

[2019-10-07 21:35] ktbyers commented on #1060
Okay, yes it looks like something in Junos PyEZ 2.3.0 broke our unit testing/mocking in some way.

I looked at it briefly.

[2019-10-07 22:09] jesk78 commented on #1059
Take my ntp example, this happens on Everest and Fuji.

[2019-10-07 22:18] ktbyers commented on #1059
I am not seeing an issue:

[code]

[code]

End state:

[code]

[2019-10-07 22:20] jesk78 commented on #1059
You miss the „no ntp“ before I guess.

[2019-10-07 22:24] ktbyers commented on #1059
Okay, I don't think that is Cisco IOS-XE being smart. I think it is probably just a Cisco bug. I also would not generalize it beyond this one example (unless you have data from other cases).

[code]

[code]

[2019-10-08 03:50] netwninja commented on #1058
As per the links you shared i went ahead and used "transport" as an optional argument and still no luck.

ARISTA API OUTPUT

[code]
For the below python script i tried https and http , no luck.

[code]

TRACEBACK

[code]

The above API request is not even hitting or reaching the Arista switch because i don't see anything in tcpdump from BASH on Arista.

There is no reach ability issue between NAPA

[2019-10-08 07:37] mirceaulinic commented on #1058
In the snippet you provided, you used `hostname='r1'`. Have you also tried with `hostname='eos-a'`, or `eos-a.homelab1.com` or with the IP address?

[2019-10-08 08:03] mirceaulinic commented on #1060
Thanks for reporting this @mnhauke. Are you aware of any other issues with junos-eznc 2.3.0 (when using NAPALM)?

[2019-10-08 12:43] adrianchi commented on #1058
Hi. I am just following your case to learn. Could you try the tcpdump on your server just to see if something is getting out to the arista device? With the execution of napalm and then with a telnet to the http/https ports. I would say it Will not work anyway, but at least it would give you the final prove if it is network related of software server side.

Adrián.-