[2021-07-07 04:22] Tree2w63 commented on #1394
it was one of the optional args I tried, with no difference in the outcome

[2021-07-07 04:26] ktbyers commented on #1394
optional_args won't work, you would have modify the code at the location that I pointed to (or add the relevant entry in SSH known-hosts).

Actually, you might want to try the following three entries:

[code]

That would be interesting to know if it fixes your issue. Those items fixed the original issue that was reported by the original user.

[2021-07-07 04:37] Tree2w63 commented on #1394
no difference with the below, but using the same via ncclient manager works

from napalm import get_network_driver

optional_args = {
    'allow_agent': False,
    'hostkey_verify': False,
    'look_for_keys': False,
}
device = {
    "hostname": "xr.device.com",
    "username": "admin",
    "password": "password",
    "optional_args": optional_args,
}

driver = get_network_driver("iosxr_netconf")

[2021-07-07 04:42] ktbyers commented on #1394
optional_args won't work...they aren't wired in. You have to edit the python code (if you want to test them).

You would have to edit them in here:

https://github.com/napalm-automation/napalm/blob/develop/napalm/iosxr_netconf/iosxr_netconf.py#L93

[2021-07-07 04:44] Tree2w63 commented on #1394
Thank you, I'll add it to my local copy, going forward is this a patch that will be done, or will I need to document / highlight this, etc, so that when I update, I remember to update this as well.

[2021-07-07 04:48] Tree2w63 commented on #1394
Just to confirm, that resolved it for me

[2021-07-07 05:08] ktbyers commented on #1394
Okay, thanks for letting us know...we should make some fixes to the IOS-XR driver to change some of these defaults and to allow some of these to be passed via optional_args.

[2021-08-01 11:15] network-shark commented on #1459
@mirceaulinic I think I can create a PR for this , just for clarification. We have to change interface speed to float in every os , right ? iOS , junnos ....

[2021-08-01 13:13] network-shark commented on #1459
Hmm ,

I tried to implement a PR , but after my first change I got .

[code]

[2021-08-06 19:23] ktbyers opened #1481 "Cisco IOS driver does not properly detect this "command rejected" message"
Cisco IOS should detect this and rollback if the change if this is seen:

[code]

This was during a merge operation.

[2021-08-14 06:10] mmorteza commented on #687
Hi ktbyers
thanks
my problem was solve with optional_args={'global_delay_factor': 2} .
but whats it does exactly?

[2021-08-16 09:42] #1145 closed

[2021-08-22 15:08] z2mi opened #1483 "Cisco IOS , UnboundLocalError exception in get_environment"
### Description of Issue/Question

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [] No

### Setup

### napalm version
(Paste verbatim output from `pip freeze | grep nap

[2021-08-23 18:44] tony-bonet opened #1485 "eos_fn0039_config optional_arg breaks multiline configuration"
### Description of Issue/Question
While applying a multiline configuration, Eg: banner motd, while eos_fn0039_config=True an exception is thrown due to:
eos/utils/cli_syntax.py
`if command.startswith(c):`

In multiline case the command is a dict, not a string.

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follo

[2021-08-23 23:22] ktbyers opened #1486 "Review send_command / send_command_timing calls for Netmiko 4.x (IOS/NXOS-SSH)"
One user had a failing save_config() call on Cisco IOS.

[2021-08-27 10:54] FloLaco opened #1487 "ncclient mismatch version issue"
### Description of Issue/Question
ncclient version is not specified by napalm, so it will install the lastest (`0.6.12`), but the `junos-eznc` dependency specified `0.6.9`, which is not compatible.
Error when `pip install` :
`ERROR: junos-eznc 2.6.2 has requirement ncclient==0.6.9, but you'll have ncclient 0.6.12 which is incompatible.`

It produce error in `nornir` with `nornir-napalm`.

![image]

[2021-08-31 18:06] hhopjh commented on #1469
I've got the same issue on `JUNOS 18.4R3-S5.4`
[code]
Is there any known workaround

[2021-09-02 15:16] thomasbridge74 opened #1489 "nxos_ssh - get_vlans returns 16777216 as the vlan id."
### Description of Issue/Question

I just used the get_vlans device using the nxos_ssh driver - to get a dict back with a keys that don't use the VLAN id, but have strings such as '16777216'.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [X] Yes
- [] No

### Setup

### napalm version

[code]

###

[2021-09-03 16:09] greenpoles opened #1492 "IOS-XR get_environment returns no power data"
### Description of Issue/Question

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [] No

### Setup

### napalm version
(Paste verbatim output from `pip freeze | grep nap

[2021-09-09 15:48] sjsingh02 opened #1493 "Unable to run napalm load_merge_candidate"
Hi,

Running simple code to login to Arista vEOS device and verify the config before commit and getting following error

import json
from napalm import get_network_driver
driver = get_network_driver('eos')
eos = driver('10.86.185.114', 'admin', 'abc@123')
eos.open()

print ('Accessing 10.86.185.114')
eos.load_merge_candidate(filename='config.cfg')

diffs = eos.compare_config()
if len(diffs) > 0:

[2021-09-11 18:19] sen2diwakar commented on #1311
Kindly close the same

[2021-09-11 18:19] #1311 closed

[2021-09-16 07:35] sohanrai09 opened #1497 "get_bgp_neighbors() fails when there are Peers with same IP on different VRFs, works fine if they are unique."
### Description of Issue/Question

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [``x``] Yes
- [] No

### Setup

### napalm version
(Paste verbatim output from `pip freeze | grep

[2021-09-16 09:20] mirceaulinic commented on #1485
Hi @tony-bonet. Thanks for reporting this. Your suggestion sounds good, feel free to open a PR and I shall merge and release soon! 👍🏼

[2021-09-20 17:22] parth995 opened #1499 "Issues replacing device config using NAPALM"
### Description of Issue/Question
I am facing error replacing whole running config on IOS network device.

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [X] Yes
- [] No

### Setu

[2021-09-20 23:22] ktbyers commented on #1499
Have you tried to manually execute a `configure replace` with the file ('run_config') that you are uploading?

[2021-09-21 08:13] parth995 commented on #1499
Hey @ktbyers , Thanks for your reply. I am not getting how you would like to test it manually. I have noticed a thing that it isn't able to apply banner motd which contains special chars symbols (^C).

Tried with one more device :-

[code]

[2021-09-21 08:31] parth995 commented on #1499
I suspect issue is due to mentioned at https://napalm.readthedocs.io/en/latest/support/ios.html#banner
Would you be able to share some way to tackle this ?

[2021-09-21 14:35] ktbyers commented on #1499
Have you removed the banner and observed whether the configuration change works or fails?

Also did you follow the instructions here for properly formatting the banner (it is tricky).

 https://napalm.readthedocs.io/en/latest/support/ios.html#banner

[2021-09-21 15:05] parth995 commented on #1499
Yeah by removing banner it works fine and config is getting replaced.
Let me try steps in that doc too

[2021-09-21 15:07] parth995 commented on #1499
Worried as this steps just appends a different banner motd message in file. How about eliminating existing banner motd message in our stored config which contains (^C) ?

[2021-09-23 08:02] thomasbridge74 commented on #1014
I've run into a similar situation regarding access to the EOS API and was wondering about using ssh rather than https to connect to the devices from napalm.     I don't see any thing in the code base that suggests this ever got integrated?     If I were to make an effort to implement the ssh driver, would that still be welcome?

[2021-09-23 08:10] mirceaulinic commented on #1014
Sure thing, @thomasbridge74 - as long as your implementation aligns to what we've discussed above, we'd welcome your contribution! 😉

[2021-09-24 15:49] greenpoles commented on #1492
I have found 1 further example in IOS-XR 5.3.2 that uses the 0/PMx/Mx/ format.

[2021-09-24 23:00] seismiccollision opened #1500 "Junos "| display json" in cli method"
### Description of Issue/Question
I would like to be able to run arbitrary show commands on junos and get the JSON or XML data back instead of stdout
It seems like junos.py isn't setup for handling "| display" and just drops it
Is that something you'd consider adding support for?

The way NX-OS SSH works I am able to do the above equivalent

*Note*: Please check https://guides.github.com/features/

[2021-10-03 21:00] thomasbridge74 commented on #1014
I've just submitted a (WIP) pull request for some feedback.   Please be gentle :)

[2021-10-04 14:37] emfusion opened #1504 "get_bgp_config() mismatch between neighbors and peer-group"
### On EOS >=4.23 get_bgp_config() returns an empty dict of neighbors for a configured peer-group due to Arista syntax change

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Y

[2021-10-05 19:46] sen2diwakar opened #1507 "Can we use numpy with napalm"
### Description of Issue/Question
Hi Kirk and team ,

I have a general query i have observed on occasions that numpy is faster than lists . However numpy is a collection of similar data types .

Kindly let me know if we can pass numpy Like one mentioned below . because this code is giving me error and is unable to execute device.cli() commands in array and simply failing. If there is an alternate

[2021-10-06 03:28] ktbyers commented on #1507
Does your exact same code work or fail if you pass it in as a list?

What error do you get when you use numpy.

Note, Network devices are very slow so they will have seconds of delay in general--so whatever performance improvements you get by doing this will be swamped out by these delays.

[2021-10-06 04:45] sen2diwakar commented on #1507
hi kirk,

i have given above code as a sample config but yes we have created multiple scripts where the exact same code will work , with set of commands  being passed as list in device.cli but not as numpy .

 I just want to only use numpy in initial config only to make the initial config faster and remove global delay factor and i fully understand as you are right that network devices do have sec

[2021-10-06 18:49] ktbyers commented on #1507
You won't be able to remove `global_delay_factor` that is not a function of the input data structure, but of the interaction between Netmiko and the device.

Can you post the error you get when you try to use the numpy data structure?

[2021-10-06 18:52] ktbyers commented on #1507
Note, what you are doing above with NAPALM is probably not really valid even with a list. If you want to do that, you should probably convert straight over to Netmiko and use send_config_set().

For config changes in NAPALM you should use the standard NAPALM config operations.

[2021-10-06 21:38] sen2diwakar commented on #1507
[code]

[2021-10-12 15:12] kzorba opened #1508 "JunOS: Caching of interface_list in get_facts()"
### Caching of interface_list in get_facts

In junos driver when get_facts() is called a `get-interface-information` rpc call is issued that can be a very expensive operation in some cases (eg BNG devices). Caching of interface_list in facts can greatly benefit performance.

When NAPALM is used in a Salt(stack) environment during proxy minion startup `get_facts()` is called multiple times. On some

[2021-10-13 16:35] #1504 closed, assigned to nobody

[2021-10-18 20:27] DanSheps opened #1512 "Cisco IOS - Support revert timer for both replace and merge configuration"
### Description of Issue/Question

This is a pretty simple feature request for the Napalm Cisco IOS driver, and that is to support the revert timer for both replace and merge configurations.  For the replace method, the process is relatively straight forward as there is a built in command to replace the configuration which supports a revert timer.  For merge, the process gets more complicated as t

[2021-11-10 12:44] tennd0 opened #1517 "scp.SCPException: Privilege denied."
### Description of Issue/Question

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [] No

### Setup

### napalm version
(Paste verbatim output from `pip freeze | grep nap

[2021-11-23 10:52] tomhol opened #1521 "Sensitive data leaked in Exception thrown by commit_config()"
### When the `commit_config()` fails, the exception dumps the output which (in ios, perhaps other platforms too)
can contain the full config. Potentially leaking credentials and sensitive info.

Possible solution: The existing function `sanitize_config()` could be applied to the `output` to minimize the chances of leaking sensitive data.

If 100% backward compatibility is necessary (is it, in this

[2021-12-01 13:53] thomasbridge74 opened #1526 "IOS: Vlans with wildcards cause an exception in get_vlans()"
### Description of Issue/Question

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [X] Yes
- [ ] No

### Setup

### napalm version

[code]

### Network operating system version
(Pa

[2021-12-15 02:04] OsirisS13 commented on #1394
I'm running into this as a blocker as well, are there any updates on passing optional arguments?  Patching the underlying driver isn't a solution as we have multiple users running the code locally and it isn't feasible to patch on each environment

[2021-12-15 04:30] ktbyers commented on #1394
@OsirisS13 Someone would need to implement a fix for this (so far no one has done it). It is probably pretty straight-forward to do.

[2021-12-15 17:02] Tristou27 opened #1532 "IOS: get_bgp_neighbor issue with description"
### Description of Issue/Question

Hello everyone,

When a description is not specified for a neighbor, the last description field that matched is stored instead.
A quick fix should be to add "description" in the 'no_fill_fields' list.

Would it be possible?
https://github.com/napalm-automation/napalm/blob/ad1ff72000d0de59f25c8847694f51a4ad5aca86/napalm/ios/ios.py#L1752

### Did you follow the ste

[2021-12-15 17:08] Tristou27 opened #1533 "IOS: issue with ipv6 pattern matching"
### Description of Issue/Question

Some IPv6 are not matched by the 3 regex used for IPv6.

Adding a fourth IPv6 regex as follows should be fine:

[code]

https://github.com/napalm-automation/napalm/blob/ad1ff72000d0de59f25c8847694f51a4ad5aca86/napalm/ios/ios.py#L65

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where

[2021-12-15 17:23] Tristou27 commented on #1310
Merged.

[2021-12-15 17:23] #1310 closed

[2021-12-20 05:10] OsirisS13 commented on #1394
@ktbyers I've submitted pull request #1535 to resolve this issue.  As noted in the PR the solution bypasses the netmiko_helpers netmiko_args() function for this particular use case.

[2021-12-29 22:23] jaredmauck opened #1540 "OSError: Search pattern never detected in send_command: (?:[>##]\s*$|.*all username.*confirm)"
### Description of Issue/Question

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [] No

### Setup

### napalm version
(Paste verbatim output from `pip freeze | grep nap

[2021-12-30 00:00] jaredmauck commented on #1540
This is now working, it was an issue with my config file.

[2021-12-30 00:00] #1540 closed

[2022-01-20 00:11] Toluk opened #1543 "getting a socket.timeout: timed out"
### Description of Issue/Question

Hello.
Im not that good at network management and Cisco devices in particular, so please excuse if the problem is obvious.
Im trying to make a script to manage a Cisco device configuration.
With napalm i can connect to the device (with the same credentials as i do manually through konsole), get_facts(), get_config(retrieve="all", full=True, sanitized=False).
But

[2022-01-20 08:53] Toluk commented on #1110
Hello.

How did you resolve the issue ?
I seem to have the same one, dont know where to start.

[2022-01-20 22:12] ktbyers commented on #1110
@Toluk What is your VTY timeout set to?

Also does the user you are connecting with have privilege level 15 directly (i.e. no separate enable call). If not, then you will need to use inline_transfer=True.

[2022-01-21 09:45] DavidVentura opened #1544 "NXOS: Interface's is_up and is_enabled are flipped"
### Description of Issue/Question

NXOS devices report `is_up` as the port being `admin up` (ie: `no shutdown`) and `is_enabled` as having link.

ios, eos and mos (not 1st party) report this the other way around.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq

- [x] Yes
- [ ] No

### Setup

### napalm version
(Paste verbatim output from `pip freeze | grep napalm

[2022-01-22 19:58] #1543 closed

[2022-01-25 20:44] DavidVentura opened #1547 "[IOS] Crash on `get_network_instances` for devices that do not support `show vrf detail`"
### Description of Issue/Question

Calling `get_network_instances` on a Cisco C2960XR crashes. I expect it not to crash.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [ ] No

### Setup

### napalm version

[code]

### Network operating system version

[code]

### Steps to Reproduce the I

[2022-01-26 14:36] korniand opened #1549 "get_bgp_neighbors returns "is_enabled: true" for admin down peers on JunOS"
### Description of Issue/Question

When running get_bgp_neighbors against a JunOS router, it returns "is_enabled: true" for peers that are actually admin down.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [] No

### Setup

### napalm version
[code]

### Network operating system version

[2022-01-30 06:14] lordofire opened #1550 "Question about napalm License"
### Description of Issue/Question

From the official napalm documentation, napalm has Apache 2.0 license. However, I do see in the napalm 3.3.1, there is one library, `ciscoconfparse` with GPL license. Does that mean napalm itself should come with GPL license as well?

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets wher

[2022-01-30 16:42] ktbyers commented on #1550
IMO it means we have to rip out CiscoConfParse from NAPALM. CiscoConfParse is trivial to NAPALM library itself.

Adding the GPL requirements to NAPALM (after the fact) would be incompatible with how the contributions were made (i.e. would be adding additional licensing burdens after the fact that weren't consistent with the license under which the contributions were made).

I will do a PR to do th

[2022-01-30 16:48] ktbyers commented on #1550
Code to remove:

[code]

[2022-01-30 23:49] lordofire commented on #1550
That would be super, thanks for your effort on this!

[2022-02-01 16:42] jvanderaa commented on #1550
Would https://github.com/netdevops/hier_config be a possible replacement?

[2022-02-01 16:45] ktbyers commented on #1550
@jvanderaa Yeah, we only use it in one area of the code...so need to look at easiest option (i.e. just regex, textfsm, or doing something similar as confparse, but with non-GPL license).

[2022-02-03 06:15] ruppo68 opened #1552 "Repo request for community driver for Allied Telesis"
Hi,

i am writing a Custom Driver for Allied Telesis.

It will be using the Rest Api, and only get_* Function using

Could you please create a Repo napalm_alliedtelesis ?

Regards

Peter Rupp

[2022-02-04 19:25] itdependsnetworks opened #1554 "Partial Idempotent Configuration Push"
### Description of Issue/Question

Add the ability to push partial configurations idempotently.

Napalm provides two greats configuration deployment abilities:
* Config Replace
* Config Merge

While it is clear, Config Replace is more powerful, it is also harder to get to the maturity of full configuration deployment. Often times in customer implementations, Config Merge is being used.

In Netutil

[2022-02-04 19:32] jbemmel commented on #1554
This would fit well with the multi-vendor NAPALM driver based on gNMI I am planning for the Hackathon.

gNMI has a natural mapping for these "partial" updates - every gNMI transaction is a set of { DELETE, REPLACE, UPDATE } paths that either gets applied atomically, or not at all

[2022-02-04 19:35] ktbyers commented on #1554
Sounds interesting...I will try to ask a few follow-up questions next week.

[2022-02-07 14:00] DavidVentura opened #1555 "[Feature request] `get_interfaces_ip` not reporting interfaces in all VRFs"
### Description of Issue/Question
`get_interfaces_ip` returns IP of interfaces in default VRF only. This is a duplicate of #483.
I would like to pick this issue and implement it (also picking #877)
Is this feature acceptable? If implemented in a backwards-compatible way, will it get pulled?

[2022-02-07 19:50] lordofire commented on #1550
Hi @ktbyers , just curious if you have any planned timeline for the change? Thanks.

[2022-02-08 21:24] ktbyers commented on #1550
Hopefully, I can get this done in a week or two.

[2022-02-09 02:51] mundruid commented on #1554
I would like to work on this issue and had some thoughts on how to implement it. I would suggest two new functions in the base driver:
[code]

[2022-02-10 05:54] OsirisS13 commented on #1394
@ktbyers there's been no movement on the pull request I've submitted to resolve this issue.  Is there something else I need to do to have it reviewed and merged?  First time contributing to a project like this so I'm not sure of the process

[2022-02-12 13:40] mundruid commented on #451
I am interested in pushing this issue through the finish line. Let me know if this is still valid or it has already been fixed. Thanks!

[2022-02-12 16:17] #1507 closed

[2022-02-12 16:31] #1547 closed

[2022-02-12 17:43] mirceaulinic commented on #1487
`pip install napalm` (at least modern versions) should normally install ncclient 0.6.12, then downgrade to 0.6.9 because of the junos-eznc constraint. I can confirm this behaviour at least on Unix (don't have any Windows to test). Feel free to reopen if that still breaks your setul @FloLaco!

[2022-02-12 17:43] #1487 closed

[2022-02-12 20:03] jvanderaa commented on #1550
Or possibly even using netutils here.

https://netutils.readthedocs.io/en/latest/netutils/configs/index.html#netutils.config.parser.IOSConfigParser

[2022-02-12 22:30] jvanderaa commented on #1550
I should have the base of what I have tested out here shortly for review, then will add tests.

[2022-02-13 06:22] ktbyers commented on #1550
@jvanderaa Great...thanks for doing this.

I updated the PR here and fixed some linting and mypy issues:

https://github.com/napalm-automation/napalm/pull/1564

Note, it looks like `get_bgp_config` is failing on the NAPALM tests. I only glanced at it quickly but that looked like a real test failure due to the netutils changes.

[2022-02-13 18:26] mirceaulinic commented on #451
Resolved via #1560.

[2022-02-13 18:26] #451 closed

[2022-02-13 18:28] mirceaulinic commented on #1062
Closing as there's not much we can do here until this information is provided by EOS.

[2022-02-13 18:28] #1062 closed

[2022-02-13 19:57] cmsirbu commented on #1554
Since only the NXOS merge diff was not giving the correct output (from the base drivers), we have changed it to use `netutils` for a partial merge diff that respects command hierarchy.

Here's an example:

[code]

[2022-02-13 21:16] #1550 closed

[2022-02-13 21:45] korniand commented on #1549
Hi @mirceaulinic
Yes, looks better now.
Thanks a lot for fixing that !

[2022-02-13 22:33] #1549 closed

[2022-02-14 03:01] ktbyers commented on #1517
Are you logging in with a privilege 15 user (alternatively you can pass in a `secret` and use `inline_transfer=True`

[2022-02-18 10:29] DavidVentura opened #1569 "IOS: `get_vlans` does not return all interfaces if they wrap around in the config"
### Description of Issue/Question

Running `get_vlans` on devices with many interfaces on the same vlan returns a subset (first line of config) of the configured interfaces.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [ ] No

### Setup

### napalm version
(Paste verbatim output from `p

[2022-02-19 16:03] rgarzari opened #1572 "Support Matrix IOS & NXOS-SSH versions swapped"
Support Matrix documentation has the IOS and NXOS-SSH minimum versions swapped.

https://github.com/napalm-automation/napalm/blob/master/docs/support/index.rst

[2022-02-20 23:51] network-shark commented on #1508
@kzorba If you don’t need grains you could disable grains on your minion.

[2022-03-01 20:49] network-shark commented on #1508
@kzorba

From the Saltstack docs , there is a blacklist grains option .

[code]

What do you think ?

[2022-03-02 11:27] kzorba commented on #1508
Hello @network-shark, I had seen this option and I just tested it. It works as I expected, the grains collections happen like before but the specific items you put in this option are filtered out afterwards. No effect in my problem, the router is overwhelmed with get-interface-information netconf requests. I believe the way to go is to use 'provider' option in napalm proxy minion, overriding napal

[2022-03-02 21:56] network-shark commented on #1508
@kzorba Ok , maybe the naming here is a bit odd. For me blacklisting is that it should not be executed anyway. But maybe this is more a salt issue / feature request.

I think you are right , you need to patch it yourself.

[2022-03-10 14:20] mbeckergit commented on #1424
I am seeing the same issue with IOS-XRv. By any chance, has there been progress on this issue?

@ktbyers

[2022-03-10 17:12] ktbyers commented on #1424
@mbeckergit Not that I am aware of. As far as I know there is no one working on it...so if you want to dive into it...that would be good :-)

[2022-03-10 17:50] ktbyers commented on #1521
I don't view this as much of an issue . The people running the script should generally be allowed to see this (the person/process executing the script has `commit_config` privileges).

If you are wrapping NAPALM in some other application / web interface then you should control what is allowed to be viewed between the end-user and the app (i.e. you shouldn't elevate exceptions back to them).

[2022-03-10 21:13] susanhooks opened #1581 "Get_optics() for EOS update to add 4 channel support"
### Description of Issue/Question

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [] No

### Setup

### napalm version
(Paste verbatim output from `pip freeze | grep nap

[2022-03-11 13:46] mbeckergit commented on #1424
@ktbyers Thanks for the response.

I did some troubleshooting and in my case it seems like it was IOS XRv that was causing the issue.

Enabling debug netconf all I could see the router rejecting the request to lock, unlock or discard changes:
[code]

I think 3209299328 was the session ID that was causing the issue.

After an unsuccessful search for a command to clear the session, I rebooted the ro

[2022-03-11 18:09] ktbyers commented on #1424
Okay, let me know if you find a better way to clear it or something more proactive we can do on the NAPALM side (for this locking/unlocking issue).

[2022-03-11 18:47] mbeckergit commented on #1424
That reminds me, I also tried these ways to clear the issue directly from ncclient with no success:
[code]

[2022-03-14 17:56] bewing commented on #1581
The current behavior appears to assign subsequent channels to sub-numbered interfaces:

[code]

Note that the TX bias for 53/1 and 53/4 in the original command correctly reflect the channels in the `dom` commands.

Changing this to report multiple channels on the base interface may be a breaking change.

[2022-03-15 16:52] susanhooks commented on #1581
I think this would not be a breaking change, in that the output is the same, but with more channels. Since the command was extended, we could check for cli_version and add `dom` to the end of the `show interfaces transceiver` based on that.

cli_version is already available in the device object.
https://github.com/napalm-automation/napalm/blob/develop/napalm/eos/eos.py#L169

[2022-03-16 08:18] Kani999 opened #1586 "Iosxr - calling a napalm method gets stucked"
### Description of Issue/Question

I've run into an error when calling `napalm` methods as `get_facts` or other, that getting the information from device get stuck.
I tried to change the timeout, but even after 10 minutes, no response is returned.
I tried other `cisco iosxr` devices and it works fine, but the problem occurs only with the device described below.

Connecting to the device via `netmi

[2022-03-16 16:02] ktbyers commented on #1586
Do you have `xml agent tty` configured on the device?

What happens if you try to enter the `xml` shell manually (using the same account as your automation script uses):

[code]

Note, `exit` should get you out of the XML shell.

[2022-03-17 06:53] Kani999 commented on #1586
`xml agent tty` is properly set up like `pyIOSXR` says (https://github.com/fooelisa/pyiosxr#usage).

You found the problem:
[code]

After freeing up the memory on the device, everything works fine.

Thank you

[2022-03-17 06:53] #1586 closed

[2022-03-24 12:42] pgajdos opened #1594 "use unittest.mock instead of mock"
### Description of Issue/Question

Could you please consider to use unittest.mock instead of mock, as a fallback at least?

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [] Yes
- [x] No

### Setup

### napalm version
(Paste verbatim output from `pip freeze | grep napalm` between quotes below)

[cod

[2022-03-24 16:50] ktbyers commented on #1594
I am not really following your issue--you don't want to install and use the Python mock library?

[2022-03-25 06:49] pgajdos commented on #1594
Yes, this issue is meant this way: in case mock is not available, we could use built-in unittest.mock instead.

JFYI, I tried just mock -> unittest.mock (https://build.opensuse.org/package/view_file/home:pgajdos:python/python-napalm/python-napalm-no-mock.patch) and this works at least for 3.{8,9,10}.
Background: https://trello.com/b/WsskhdXA/opensuse-python

[2022-03-25 08:26] #1554 closed

[2022-03-25 08:46] #1569 closed

[2022-03-25 19:13] wasabi222 opened #1597 "Juniper rollback ignore warnings requires PyEZ 2.6.3"
### Description of Issue/Question
this is pretty straightforward. When I go do dev.load_replace_candidate(filename='mycfg') I get the following (shortened) traceback:

TypeError: rollback() got an unexpected keyword argument 'ignore_warning'

this is because of this line: https://github.com/napalm-automation/napalm/blob/develop/napalm/junos/junos.py#L387

[code]

This prevents the config from bein

[2022-03-25 19:15] wasabi222 commented on #1597
full traceback:

[code]

I forgot to mention I tested the proposed fix above and it works as expected.

[2022-03-25 19:33] wasabi222 commented on #1597
PR #1598

[2022-03-25 20:13] susanhooks commented on #1581
Would it be ok for me to submit this change for testing, or should I go down another path?

[2022-03-27 15:54] ktbyers commented on #1597
Fix is to require Juniper PyEZ 2.6.3

[2022-03-28 19:19] hsaljuboori opened #1601 "Subtask: napalm_configure (failed)"
### Description of Issue/Question
I'm new to napalm_configure and trying to use it to replace configs (generate configs via jinja2 template )and keep getting Subtask: napalm_configure (failed) error message and for NXOS & IOS devices, I'm not able to pinpoint the issue. Any help would be appreciated

### Setup

from nornir import InitNornir
from nornir_utils.plugins.functions import print_result
f

[2022-03-30 01:55] ktbyers commented on #1601
For NX-OS, did you use a Checkpoint file as the configuration? As per the NX-OS napalm documentation:

https://napalm.readthedocs.io/en/latest/support/nxos.html#notes-on-configuration-replacement

For IOS, what does `dir` on the device show? Does it have a real filesystem like flash or bootflash?

[2022-03-31 04:27] hsaljuboori commented on #1601
@ktbyers Thanks for the reply, both NX-OS and IOS devices that I'm testing are virtual devices. I'll try to create checkpoint files on NX-OS  boxes and give it a try. Is there a workaround for virtual IOS devices?

R9#dir
Directory of system:/

  758  drwx           0                    <no date>  cme
    2  -r--           0                    <no date>  default-running-config
    3  drwx

[2022-04-06 17:06] ktbyers commented on #1597
Fixed here:

https://github.com/napalm-automation/napalm/pull/1608

[2022-04-06 17:06] #1597 closed

[2022-04-12 12:17] simo735 opened #1614 "Failed to omport napalm module in CentOS 7"
### Description of Issue/Question
Failed to import napalm module in centos7 server.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [] No

### Setup

[code]

### Network operating system version

[code]

### Steps to Reproduce the Issue
pip install napalm
sudo yum install -y python-pip gcc

[2022-04-12 17:00] ktbyers commented on #1614
Is `localhost` defined in the /etc/hosts on your system?

Can you `ping localhost` from the command line?

[2022-04-13 10:20] simo735 commented on #1614
`localhost` wasn't defined in `/etc/hosts` and i can't `ping localhost` .
I correct that and the error has been resolved. Thanks for your help.

[2022-04-13 10:20] #1614 closed

[2022-04-18 15:21] purplecomputer opened #1622 ".get_vlans() does not return vlan if space is present in its name"
### Description of Issue/Question

.get_vlans() does not return vlan ID and their interfaces if a space is present in the VLANs name

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

[2022-04-29 14:55] gmazoyer opened #1631 "`discard_config` throws an exception for junos driver"
### Description of Issue/Question

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [ ] No

### Setup

### napalm version

[code]

### Network operating system version

[c

[2022-04-29 16:25] #1631 closed

[2022-05-16 23:43] bewing opened #1638 "EOS: Support parametrized FN0039 config input"
Some commands, like
[ip igmp snooping vlan](https://github.com/napalm-automation/napalm/blob/6137e857b04948b0ec255cc59c6619916b02f6c8/napalm/eos/utils/cli_syntax.py#L33), require parametrization to correctly input:
`ip igmp snooping vlan <vlan id> member`
should be auto-converted to/from
`ip igmp snooping vlan <vlan id> static`
The current `CliConverter` is not sophisticated enough to perform this

[2022-05-20 09:22] #1601 closed

[2022-05-20 09:23] mirceaulinic commented on #1594
I'm not opposed, feel free to open a PR and we shall review @pgajdos!

[2022-05-20 09:25] #1521 closed

[2022-05-20 09:25] #1517 closed

[2022-05-20 09:26] #1499 closed

[2022-05-20 09:28] mirceaulinic commented on #1489
Resolved via #1490.

[2022-05-20 09:28] #1489 closed

[2022-05-25 15:58] M0NsTeRRR opened #1650 "Inconsistent speed/uptime between model and documentation"
Hello,

I'm currently implementing a napalm driver.
On NetworkDriver documentation it says `get_interfaces()` has an attribute speed that must be an int in Mbit.
https://napalm.readthedocs.io/en/latest/base.html#napalm.base.base.NetworkDriver.get_interfaces
But in testing framework the model says it must be a float
https://github.com/napalm-automation/napalm/blob/b223f100bec827a7e40a15bdceddc6f78d

[2022-05-29 09:34] Beinish opened #1655 "get_interfaces() doesn't return correct info?"
### Description of Issue/Question
I'm trying to get a list of all of my interfaces on a certain device to see 2 things:
1. Which are disabled/enabled ports.
2. What is the description of said port.

#### First issue: is the port disabled or not.
For this test I have a single Juniper switch.
When I use NAPALM I get difference results compared to when I check the switch manually.
For example:
While

[2022-05-29 11:58] #1655 closed

[2022-05-29 11:59] Beinish commented on #1655
Turns out I was getting 2 outputs: `ge-2/0/45` and `ge-2/0/45.0`. The `.0` one is the wrong one, the other is ok :)

[2022-05-30 10:28] Kani999 opened #1656 "Raises XMLCLIError when getting facts from IOS-XR Version 7.3.3"
### Unable to get facts from IOS-XR (7.3.3) device

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [x] Yes
- [ ] No

### Setup

### napalm version
[code]

### Network operating system version
[code]

### Steps to Reproduce the Issue
run `napalm --user USERNAME --password PASSWORD --vendor iosxr --debug IP_ADDRESS call get_facts`

### Error Traceback
[code]

[2022-05-30 11:34] Kani999 commented on #1656
https://github.com/napalm-automation/napalm/blob/develop/napalm/pyIOSXR/iosxr.py#L409
https://github.com/napalm-automation/napalm/blob/develop/napalm/pyIOSXR/iosxr.py#L415

[code]

xml_rpc_command =
[code]

response =
[code]

[2022-05-30 14:10] Kani999 opened #1657 "Unable to setup custom port for iosxr_netconf"
### Problem
Unable to setup custom port for netconf connection. Exception is raised

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [x] Yes

### Setup
`napalm==4.0.0` or `napalm==3.4.1`

### Steps to Reproduce the Issue
`napalm --user USERNAME --password PASSWORD --vendor iosxr_netconf --debug HOSTNAME--optional_args "port=22" call get_interfaces_ip`

### Error

[2022-05-30 20:20] network-shark commented on #1650
@M0NsTeRRR Speed change to float in one of the last releases. It seems that I forgot the change the documentation.

[2022-05-30 20:46] M0NsTeRRR commented on #1650
I've reverted code change & updated the doc @network-shark

[2022-06-02 08:30] Kani999 commented on #1656
@ktbyers Could you help me with how I can get the whole XML representation from the device? So I can look at what's in there when `PlatfomrInventory` is missing?

[2022-06-02 10:45] Kani999 commented on #1656
I'am able to get a data via netconf, but I'm not able to create `xml_rpc_command`

`netconf-client -u USERNAME --host HOST  -p PASSWORD --get '<components xmlns="http://openconfig.net/yang/platform">'`

[code]

[2022-06-02 19:43] #1459 closed

[2022-06-02 21:23] #1657 closed

[2022-06-03 08:15] #1650 closed

[2022-06-03 09:32] #1500 closed

[2022-06-03 10:35] Kani999 commented on #1656
Instead of `PlatformInventory` there is `Inventory` with `Entities` instead `RackTable`

xml request:
[code]

response:
[code]

[2022-06-03 12:39] Kani999 commented on #1656
@ktbyers I've created pull request (work in progress) #1664 which replaces the XML RPC calls which work with `iosxr` version `7.3.3`.
It fixes `get_facts` and `get_interfaces` calls. I did not test other methods, but I suppose there will be problems too.

But I don't know how to make conditional statements that determine which `xml_rpc_command` (and xpaths) should be executed based on the `version

[2022-06-03 16:12] ktbyers commented on #1656
@Kani999 We could detect the OS-version on connect (NAPALM `open()` call) and then set that as a private object attribute.

`napalm_object._iosxr_version()`

We would have to use a solution for detecting the OS version that we thought would reasonably work across versions and if it fails set it to `unknown` and then in the getters have some default action happen for the `unknown` case.

Does that

[2022-06-03 16:57] M0NsTeRRR opened #1665 "FSOS SSH Community Driver repo request"
### Repo request for community driver for FSOS with SSH
Hello,

I've developped a community driver for FSOS using SSH because some FS switch does not support RPC API like S3900 and your current fsos driver (not finished yet) use RPC API.

Link of current repository => https://github.com/M0NsTeRRR/napalm-fsos-ssh

I would like to name the repo 'napalm-fsos-ssh'.

Please grant write access to the fo

[2022-06-05 19:59] mirceaulinic commented on #1665
All yours @M0NsTeRRR: https://github.com/napalm-automation-community/napalm-fsos-ssh. 😄

[2022-06-05 19:59] #1665 closed

[2022-06-06 07:05] M0NsTeRRR commented on #1665
Thanks repo is initialized :)

[2022-06-07 17:51] ktbyers commented on #1656
@Kani999 Yes, someone will have to dig into the IOS-XR netconf and which "get" operations would reliably return this across some set of IOS-XR versions.

[2022-06-09 10:48] Kircheneer commented on #1118
I would be willing to give commit confirm for config replacement for the
IOS driver a shot. I see that there was some work on that done by @DanSheps [here](https://github.com/DanSheps/napalm/commit/6d24540f5256b1a28f3e87669eb8efd2ceb7c626) but the effort seems to have slowed down.

# Proposed solution

Use the built-in Cisco IOS feature to accomplish automatic rollback on error/timeout:

```config

[2022-06-09 12:42] DanSheps commented on #1118
I am not sure what you mean by slowed down.  I am pretty sure what I provided does exactly what it needs to, plus, unlike your proposal it also covers appending and not just replace.

I believe that PR just needs to be reviewed for completeness by the team.

[2022-06-09 12:44] DanSheps commented on #1118
Nevermind, I see that it failed on a check and I didn't notice, I will see if I can fix that up shortly.

[2022-06-09 12:54] Kircheneer commented on #1118
Very sorry, I did not see that there was a PR for it - I thought that you just had commits on a branch and never submitted a PR. In that case you can ignore that comment. Thanks!

[2022-06-15 12:16] optiz0r opened #1671 "get_environment on recent EOS crashes due to output changes"
### Description of Issue/Question

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq

- [x] Yes
- [] No

### Setup

### napalm version

[code]

### Network operating system version

[code]

### Steps to Reproduce the Issue

### Error Traceback
(Paste the complete traceback of the exception between quotes below)

[code]

### Cause

The `show process top once` output

[2022-06-29 11:59] olebowle commented on #1297
Hi, I faced the same issue on NCS-5500 and fixed it by adding `n/a` to the transform table (see PR).

[2022-07-07 02:51] ktbyers commented on #1512
Completed in:

https://github.com/napalm-automation/napalm/pull/1691

[2022-07-07 02:51] #1512 closed

[2022-07-11 11:39] #1416 closed

[2022-07-12 08:24] M0NsTeRRR opened #1697 "Documentation is outdated due to a build error"
Hello,

Documentation hosted on RTD is outdated, there is an issue when building the documentation

https://readthedocs.org/projects/napalm/builds

Last successfull operation was 3 months ago

[2022-07-12 08:49] M0NsTeRRR commented on #1697
[code]

https://github.com/napalm-automation/napalm/blob/ef8326ceb925439b3031017c75ea5e2ca4392e2e/requirements.txt#L7

Probably related with this https://github.com/mkdocs/mkdocs/issues/2799

[2022-07-21 05:39] kumbung01 opened #1708 "bug on testing framework(test_model)"
### Description of Issue/Question
there is a bug in testing framework. I get results about type error which has same type.
original code:
[code]
this code prints all 'diff' from the entry which diff has occured.
ex)
[code]

prints:
[code]

patched code:
[code]

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follo

[2022-07-22 12:31] AshikKuppili opened #1711 "Support need for ipv6-mapped-ipv4 get_bgp_neigbhours() , otherwise it is breaking by raising value exception"
### Description of Issue/Question

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [] No

### Setup

### napalm version
(Paste verbatim output from `pip freeze | grep nap

[2022-07-22 12:42] AshikKuppili commented on #1711
bgp_table_parser
    raise ValueError(ipv6:ipv4)

[2022-07-25 07:43] robin-gllt opened #1712 "OneAccess OneOs communauty driver - repo request"
### Repo request for Oneaccess OneOs driver (oneaccess-oneos)

Hello,

I wrote a napalm driver for OneAccess oneos devices.
It is currently stored here:
https://github.com/robin-gllt/napalm-oneaccess-oneos

Could it be possible to integrate my driver in the relevant communauty driver repo? I see it has already been created (but it's currently empty).
https://github.com/napalm-automation-community/

[2022-07-25 08:29] mirceaulinic commented on #1712
https://github.com/napalm-automation-community/napalm-oneaccess-oneos created and gave you admin rights @robin-gllt! 😄

[2022-07-25 08:29] #1712 closed

[2022-07-25 09:53] robin-gllt commented on #1712
Thanks @mirceaulinic  :)

[2022-07-27 04:27] AshikKuppili commented on #1711
@ktbyers can you please look into this

[2022-08-02 17:56] mkhachfeh-godaddy commented on #1014
Any progress on this topic?

[2022-08-03 16:24] M0NsTeRRR commented on #1697
Build is still failling, I don't have time to look into in before one or two weeks

[2022-08-04 08:24] mirceaulinic commented on #1014
Yes, this is now available in release 4.0.0, see https://github.com/napalm-automation/napalm/releases/tag/4.0.0.

[2022-08-04 08:24] #1014 closed

[2022-08-04 08:25] mirceaulinic commented on #1711
@AshikKuppili please reopen and provide more information.

[2022-08-04 08:25] #1711 closed

[2022-08-05 03:35] ktbyers opened #1724 "nxos_ssh using Netmiko 4.x.x will silently fail to apply the configuration on a merge"
Due to this underlying Netmiko issue and the fact that NAPALM nxos_ssh on a merge operation uses a generator will fail to apply the configuration.

https://github.com/ktbyers/netmiko/issues/2874

The Netmiko error will cause the config change to be empty.

No exceptions will be raised.

[2022-08-05 03:38] ktbyers commented on #1724
I will fix this in Netmiko and push a new release to pypi, but wanted to document it here.

[2022-08-09 22:43] ktbyers commented on #1724
This should be fixed in Netmiko version 4.1.2 which was just released to pypi.

[2022-08-09 22:43] #1724 closed

[2022-08-15 20:57] ITJamie opened #1730 "nxos - _get_merge_diff - get_config - allow "full/all" config to be compared to allow better state enforcement"
### Description of Issue/Question

when https://github.com/napalm-automation/napalm/blob/develop/napalm/nxos/nxos.py#L236 is adjusted to
`running_config = self.get_config(retrieve="running", full=True)["running"]` it allows easier management with salt.
Since with the change, using netconfig.managed with a template it will be able to see default config options eg "no shutdown" and thus will not mak

[2022-08-15 22:45] rifen opened #1731 "Python 10+ EOS SSLV3_ALERT_HANDSHAKE_FAILURE"
### Description of Issue/Question

With Python 10+ the strength of the TLS stack is stronger. You have 2 options it seems:
1. Increase web server cipher suite.
2. Tell the eAPI client to use 'DEFAULT' ciphers.

Our team doesn't make the calls to be able to use option 1 and option 2 NAPALM seems to not support (at least that I am aware of)

eapi supporting documentation: https://pyeapi.readthedocs.

[2022-08-16 09:53] djohnnes opened #1733 "Device LLDP Neighbors No DATA"
Dear friends,
I wrote a napalm driver for ArubaOS Wi-Fi devices (505)
Everything is working fine except the LLDP Neightbors on the UI

Can anyone help me with this issue please?
Thank you in advance.

You can find the driver here:
- https://github.com/djohnnes/napalm-arubaOS
- https://pypi.org/project/napalm-aruba505/

## Environment
Linux 4.18.0-348.7.1.el8_5.x86_64

- Python 3.8.8
- Netbox (v3.2

[2022-08-16 12:06] #1733 closed

[2022-08-16 12:07] djohnnes commented on #1733
This issue has been reported in a wrong channel.
Sorry.

[2022-08-17 17:30] M0NsTeRRR commented on #1697
I assume it works with #1734 `make doctest`

[code]

It's a little ugly some dependencies are outdated, an other issue should be opened to clean and upgrade documentation dependencies, also all dependencies should be pinned with their appropriate version.

[2022-08-17 18:32] M0NsTeRRR commented on #1697
I don't know why there is an error on test, on my laptop I don't get this if someone can look into in

[2022-08-18 01:43] Gobam opened #1735 "Arista SSH not closing connections correctly"
### Description of Issue/Question

Napalm is not closing correctly the objects created for Arista SSH session. We identified this when noted a thread that remains open after a getter is completed for an EOS device. Trying to use the close() method is causing an exception (see below)

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq

- [x] Yes
- [] No

### Setup

##

[2022-08-23 00:21] #1735 closed

[2022-08-26 19:06] nbgr commented on #870
Currently hitting this issue with napalm 4.0.0
[code]

[2022-08-26 20:54] bewing commented on #1731
FWIW, the following does work on 3.10 and the current version of NAPALM:

[code]

[2022-09-01 16:04] vaderisback77 opened #1743 "EOS napalm=4.0.0 get_bgp_neighbors() returning error for Arista 7050CX3M"
### Description of Issue/Question

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

get_bgp_neighbors() is returning

AttributeError: 'NoneType' object has no attribute 'group'

when run on Arista DCS-7050CX3M-32S-F platform. We also tested Arista DCS-7050TX-64-F but we are not seeing this error there. It looks like a platform

[2022-09-01 17:51] ktbyers commented on #1731
@bewing What do you think we should do here?

The main two options I see:
1. Do nothing i.e. the above fix works and people can use it.
2. Put a little helper function that does the above (if we did that I would want to research some of the setting some more as I would want to make sure they were proper).

FYI, the SSL issue also goes away in newer versions of EOS (i.e. they default to better secu

[2022-09-06 16:03] vaderisback77 commented on #1743
Any updates?

[2022-09-06 16:34] ktbyers commented on #1743
@vaderisback77 It is probably better to create a fix and submit a pull-request on it (then waiting for someone to help you).

[2022-09-06 22:39] kjsanjay commented on #1743
One of the BGP blocks we're seeing is
`
BGP neighbor is 111.1.3.1, remote AS 31898, external link
  BGP version 4, remote router ID 111.1.3.1, VRF VPN-DRG-2557
  BGP state is Established, up for 5d00h
    IPv4 Unicast:                     0         0              0                   0
    IPv6 Unicast:                     0         0              0                   0
Local AS is 60000, local rout

[2022-09-06 23:27] vaderisback77 commented on #1743
Thanks.

[2022-09-08 19:11] vaderisback77 commented on #1743
I will have the bug fix PR out shortly.

[2022-09-09 02:51] vaderisback77 commented on #1743
Submitted PR:
https://github.com/napalm-automation/napalm/pull/1746

[2022-09-12 03:07] jbotello7381 opened #1748 "SSH key/passphrase support is broken Napalm 4.0 and EOS driver"
### Description of Issue/Question

New Napalm 4.0 support SSH transport on EOS driver, however when using ssh keys/passphrase, authentication fail.   After further debugging, it seems `optional args` are not mapped to `netmiko_optional_args`.

There are multiple ways to address the issue, one is import `netmiko_args` helper function

`from napalm.base.netmiko_helpers import netmiko_args` and inclu

[2022-09-12 03:18] jbotello7381 commented on #1748
Running following code for testing
[code]

Exploring `netmiko_optional_args`
[code]

For testing purpose, i added `from napalm.base.netmiko_helpers import netmiko_args` on `eos.py` code

[code]

Adding pdb breakpoint and running same code with `eos.py` workaround

[code]

Validation of workaround fix the ssh key authentication
[code]

[2022-09-12 22:03] ktbyers commented on #1731
I am going to close this as I don't think there is any action to take. The fix above let's you workaround this issue.

[2022-09-12 22:03] #1731 closed

[2022-09-13 00:28] jtishey commented on #1231
Think this is the same as #1497.  I've had this issue as well for a while and I'll see if I can put together a PR for it.

[2022-09-13 16:50] jtishey commented on #1497
Submitted PR #1751 for review to fix this.

[2022-09-13 16:50] jtishey commented on #1231
Submitted PR #1751 for review to fix this.

[2022-09-13 19:08] KDOTN opened #1752 "nxos_ssh - Pattern not detected: 'AAAA\\-BBBB\\-1234\\-5678"
### Description of Issue/Question
Pattern not detected on the hostname/command prompt on nxos_ssh. I think it's got to do with the long hostname and the backslashes because some methods like get_arp_table work.

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automat

[2022-09-13 22:15] ktbyers commented on #1594
Yeah, I am not opposed to this either, but you would probably need to do the pull-request on it.

This is entirely a NAPALM development dependency so not sure why you care?

[2022-09-14 12:48] jtishey opened #1753 "Junos get_bgp_config() issue with route reflector clients"
### Junos get_bgp_config() fails when a value is present in neighbor data for "cluster".  This raises an exception in helpers.convert, as a None datatype is passed in for "to".   If I add `"cluster": str` to `_COMMON_FIELDS_DATATYPE_` in napalm/junos.py it does seem to work as expected.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the s

[2022-09-16 12:48] djoproject opened #1756 "nxos_ssh - get_mac_address_table - Unexpected output from"
### Description of Issue/Question

Got a `Unexpected output from` error when the first entry in the mac address table does not start with any tag (by tags I means : *, +, C, G, etc.)

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [X] Yes
- [] No

### Setup

### napalm version

[code]
But I was also

[2022-09-16 15:02] ktbyers commented on #1756
Can you show the output of: `"show mac address-table"` from your device?

[2022-09-16 15:11] djoproject commented on #1756
Hello @ktbyers, a data sample is already provided in the gist:
[code]

And here is the (truncated) output from my device.  Even if it is truncated, it still trigger the bug:
[code]

I took care of keeping space characters on those example, that's why legends are not aligned in the same way.

[2022-09-17 23:19] #1752 closed

[2022-09-20 16:43] ktbyers opened #1757 "full configuration replace on cisco IOS/IOS-XE fails when a secondary IP address is present"
fatal: [cisco1]: FAILED! => {"changed": false, "msg": "cannot install config: Candidate config could not be applied\nMust delete secondary before deleting primary\nFailed to apply command  no ip address 192.168.217.1 255.255.255.0\nAborting Rollback.\n\nRollback failed.Reverting back to the original configuration: flash:pynet-rtr1-cfg-Sep-20-09-40-50.040-PDT-62 ...\n\nTotal number of passes: 1\nRo

[2022-09-25 17:50] bewing opened #1759 "EOS BGP IPv6 link local neighbor raises exception"
Horking on trying to parse the IPv6 link local address in neighbor output

[code]

Similar issue with details:
[code]

[2022-09-25 18:02] bewing commented on #1759
Possible approaches:
Refactor to use stdlib `ipaddress` module, which does support address scope:  https://docs.python.org/3/library/ipaddress.html?highlight=ipv6%20link%20local%20addresses#ipaddress.IPv6Address

Raise issue with upstream to support scoped IPv6 addresses:  https://github.com/netaddr/netaddr

[2022-09-25 18:17] bewing commented on #1743
It looks like the root cause is additional information in the BGP neighborship output:

[code]

[2022-09-29 15:59] jtishey commented on #1753
Ran into a similar issue with a group config failing to handle `multihop` key.  Looking for a better way to handle these.

[2022-10-10 11:58] Kani999 commented on #1752
@KDOTN Did you solve this problem? I've run into this problem right now.

[2022-10-18 07:54] M0NsTeRRR commented on #1697
I've added this PR that should fix readthedoc build

[2022-10-19 12:14] #1697 closed

[2022-10-24 19:57] M0NsTeRRR commented on #1572
#1785

[2022-10-24 22:04] #1572 closed

[2022-10-27 02:09] PyDeps opened #1788 "Project dependencies may have API risk issues"
Hi, In **napalm**, inappropriate dependency versioning constraints can cause risks.

Below are the dependencies and version constraints that the project is using

[code]

The version constraint **==** will introduce the risk of dependency conflicts because the scope of dependencies is too strict.
The version constraint **No Upper Bound** and **\*** will introduce the risk of the missing API Error

[2022-10-27 02:18] ktbyers commented on #1788
TextFSM issue is fixed (or will be shortly).

Not helpful for the rest.

[2022-10-27 02:18] #1788 closed

[2022-10-30 18:44] schmittvictor opened #1789 "BUG: Returning wrong name and no interfaces for VLANs with name containing ' - '"
### Description of Issue/Question

The get_vlans method is returning wrong VLAN name and not returning any interfaces for these vlans when the name of the VLAN contains ` - `.

[code]

Return:

[code]

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq

- [X] Yes
- [] No

### Setup

### napalm version
(Paste verbatim output from `pip freeze | grep napalm` between quo

[2022-10-31 13:15] rgmz opened #1790 "Domain is pointing to casino blogspam"
The Napalm Automation domain, which is still linked on the front page of this organization, seems to have lapsed in 2021 and is now being used for blackhat SEO to promote gambling websites.
<img width="324" alt="image" src="https://user-images.githubusercontent.com/32133502/199015923-595e2610-15eb-4f6a-9a0a-3d014cd0e7ee.png">

I am avoiding linking it from this issue, however, I'm guessing this wa

[2022-10-31 14:52] itdependsnetworks commented on #1790
thanks! will update

[2022-10-31 16:52] mirceaulinic commented on #1790
Updated, thanks for letting us know!

[2022-10-31 16:52] #1790 closed

[2022-11-09 15:53] hkam40k opened #1794 "Exposing a device config validation method in NetworkDriver class"
Hello,
Some platforms have commands to validate configuration changes without committing them, and some libraries used by NAPALM even expose them (for Juniper, `self.device.cu.commit_check()`). As a generally useful feature it would be good to be exposed in the `NetworkDriver` class. For example as such:
[code]
What do you think? If you think it would belong here, I can submit a pull request with

[2022-11-21 15:02] Punicaa opened #1801 "Interface speed is returned as a float instead of an integer, which conflicts with the documentation."
### Description of Issue/Question

Speed is returned as a float where according to the manual it should be an integer, this appears to be vendor independent as it happens on Juniper and Arista:

[code]

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [] No

### Setup

### napalm version
  (

[2022-11-22 01:22] awcrate opened #1803 "ios get_lldp_neighbor fails when parsing blank column rows"
### Description of Issue/Question

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [] No

### Setup

### napalm version
(Paste verbatim output from `pip freeze | grep nap

[2022-11-22 14:10] itdependsnetworks commented on #1803
I am not sure it is using `show lldp neighbors`, I think on the `show lldp neighbors details` something is getting tripped up.

You are failing here: https://github.com/napalm-automation/napalm/blob/7ecb9b9a330579fc9669b92b2bb56ff54131e83a/napalm/ios/ios.py#L990

Which is referencing `remote_chassis_id `, here:
https://github.com/napalm-automation/napalm/blob/7ecb9b9a330579fc9669b92b2bb56ff54131e8

[2022-11-22 16:42] awcrate commented on #1803
Thank you for your response.
Please note that `napalm --vendor ios --user USER --PASSWORD HOSTNAME call get_lldp_neighbors_detail` does not throw any errors.

An uncensored version of the following output can be provided if necessary.
`show lldp neighbors detail`
[code]

[2022-11-22 18:59] awcrate commented on #1803
I realized I did not provide the full output from `get_lldp_neighbors`
[code]
Then the traceback I posted above follows the above text.

[2022-11-24 21:08] network-shark commented on #1801
@Punicaa See https://github.com/napalm-automation/napalm/pull/1478

And I thought it was fixed by https://github.com/napalm-automation/napalm/pull/1650

But the documentation is still wrong @ktbyers any idea why

https://napalm.readthedocs.io/en/latest/base.htmlhighlight=get_interfaces#napalm.base.base.NetworkDriver.get_interfaces

is not updated ?

[2022-11-24 21:11] network-shark commented on #1794
Which other OS supports commit check like JunOS ?

[2022-11-25 10:09] hkam40k commented on #1794
At least PAN-OS (Palo Alto Networks).

[2022-11-28 08:49] Punicaa commented on #1801
Thanks. Should we leave this open until the docs have been updated?