[2015-03-23 17:15] fooelisa opened #1 "Implement basic data objects and get functionality"

[2015-03-23 17:37] fooelisa opened #2 "update readme"

[2015-03-23 17:37] fooelisa opened #3 "Common unittests"

[2015-03-23 17:39] fooelisa opened #4 "Implement load_merge_candidate for EOS"

[2015-03-25 09:55] #4 closed, assigned to dbarrosop

[2015-03-25 14:51] fooelisa opened #10 "Implement IOS-RX unit tests"

[2015-03-26 13:21] #10 closed, assigned to dbarrosop

[2015-03-26 13:21] #3 closed, assigned to dbarrosop

[2015-03-28 09:43] fooelisa opened #13 "not require all libs"
but selected ones as plugins
^ suggestion from grizz

[2015-03-28 09:46] fooelisa opened #14 "work with user accounts with ssh keys without passwd"

[2015-03-28 10:02] dbarrosop commented on #13
And what would be the benefit of that? We are talking about libraries that each need a couple of KB in your disk and that are loaded as you need them. Turning this into plugins will just make things harder from a development point of view (specially unittests) for no apparent gain.

[2015-03-28 10:04] fooelisa commented on #13
are plugins hard? I have no idea. Figured it would be nice not to have to install all that juniper stuff if I had an arista only network eg

[2015-03-28 10:04] dbarrosop commented on #14
Not sure I want this. Mainly because neither EOS nor IOS XR supports that. And the main principle of napalm is to provide the same user experience for all the vendors.

[2015-03-28 10:07] fooelisa commented on #14
there will be more vendors... but uh, no support at all? weird

[2015-03-28 10:09] dbarrosop commented on #13
I am not sure what you mean by plugins. if you mean different libraries that implement napalm basic functionality that will grow hard to maintain. Unittests not run in a unified manner, libraries diverging from the main napalm base... Etc. if you mean something else let me know.

[2015-03-28 10:11] dbarrosop commented on #14
I know and I hope there will be more vendors. But the idea here is to support the same user experience so we have to accommodate to the minimum common denominator. And no, none of those support ssh keys... EOS migh support certificates (eAPI it's https) but that's not ssh keys...

[2015-03-30 08:27] #2 closed

[2015-04-24 13:19] #13 closed

[2015-04-24 14:29] fooelisa opened #18 "agree on the methods/data structure for data retrieval"
David is going to propose a starting structure in base.py and we'll go from there

[2015-04-24 14:30] fooelisa opened #19 "implement get_facts for eos"

[2015-04-24 14:30] fooelisa opened #20 "implement get_facts for junos"

[2015-04-24 14:30] fooelisa opened #21 "implement get_facts for iosxr"

[2015-04-24 14:31] fooelisa opened #22 "implement get_facts for fortios"

[2015-04-24 14:32] fooelisa commented on #1
splitting it up into sub-tasks and closing this issue

[2015-04-24 14:32] #1 closed

[2015-04-24 14:32] #14 closed

[2015-04-24 14:38] fooelisa opened #23 "implement get_interfaces for fortios"

[2015-04-24 14:38] fooelisa opened #24 "implement get_interfaces for eos"

[2015-04-24 14:38] fooelisa opened #25 "implement get_interfaces for iosxr"

[2015-04-24 14:39] fooelisa opened #26 "implement get_interfaces for junos"

[2015-04-24 14:51] fooelisa opened #27 "implement get_bgp_neighbors for eos"

[2015-04-24 14:51] fooelisa opened #28 "implement get_bgp_neighbors for iosxr"

[2015-04-24 14:52] fooelisa opened #29 "implement get_bgp_neighbors for fortios"

[2015-04-24 14:53] fooelisa opened #30 "implement get_bgp_neighbors for junos"

[2015-04-24 14:53] fooelisa opened #31 "implement get_lldp_neighbors for junos"

[2015-04-24 14:54] fooelisa opened #32 "implement get_lldp_neighbors for iosxr"

[2015-04-24 14:54] fooelisa opened #33 "implement get_lldp_neighbors for eos"

[2015-04-24 14:54] fooelisa opened #34 "implement get_lldp_neighbors for fortios"

[2015-05-06 09:36] fooelisa opened #38 "add interface counters"

[2015-05-06 09:37] fooelisa opened #39 "IP/VLAN info for routed|bridged ifaces"

[2015-05-06 10:44] fooelisa opened #41 "add interface xcvr info"
model
serial number
dom

[2015-05-06 11:18] fooelisa opened #43 "add peer_group to get_neighbors"

[2015-05-06 11:18] fooelisa opened #44 "add local_as and local_address to get_neighbors()"

[2015-05-06 15:21] #26 closed

[2015-05-06 15:22] #20 closed

[2015-05-06 15:23] #18 closed

[2015-05-06 15:23] fooelisa commented on #18
as per base.py

[2015-05-10 22:37] ckannan opened #48 "add support for extreme networks devices."

[2015-05-10 22:38] ckannan commented on #48
Like the X670-G2-48x

[2015-05-11 07:55] dbarrosop commented on #48
Hello @ckannan,
is this something you would like to work on? I am afraid that:

1. I am not familiar with that device.
2. I don't have any extreme switch to develop/test
3. I don't have time to support devices other than the ones I have in my network.

However, I do have time to help people extending NAPALM and adding support to new devices so if you have time and you want to work on this let me k

[2015-05-18 12:30] #30 closed

[2015-05-18 12:30] #31 closed

[2015-05-18 12:30] #19 closed

[2015-05-18 12:30] #24 closed

[2015-05-18 12:31] #27 closed

[2015-05-18 12:31] #33 closed

[2015-05-18 12:31] #22 closed

[2015-05-22 15:52] bigzaqui opened #50 "unicode error"
while deploying with a particular device, got an error in the napalm_install_config, the solution was adding encode:
 diff = device.compare_config().encode('utf-8')

[2015-05-23 09:51] #23 closed

[2015-05-23 09:51] #21 closed

[2015-05-23 09:51] #25 closed

[2015-05-23 09:54] fooelisa commented on #50
see pull request #51 - merged

[2015-05-23 09:54] #50 closed

[2015-05-23 10:36] #29 closed

[2015-05-23 10:37] fooelisa commented on #34
not supported

[2015-05-23 10:37] #34 closed

[2015-05-23 11:48] fooelisa opened #53 "iosxr facts interface list"

[2015-05-23 20:10] #28 closed

[2015-05-23 20:10] #32 closed

[2015-05-29 14:57] fooelisa commented on #53
David fixed that! yay

[2015-05-29 14:57] #53 closed

[2015-05-29 14:59] fooelisa opened #56 "iosxr serial number"
admin show inventory

not available though xml interface
% 'admin' exec command not supported through XML interface

[2015-05-30 17:02] fooelisa opened #57 "implement get_bgp_neighbors in a unified way"

[2015-06-16 09:54] fooelisa commented on #57
this is to get vrf support in iosxr straightened out

[2015-06-16 10:12] fooelisa opened #59 "unit tests for everything new in 0.2"
get_* methods

[2015-06-16 14:02] fooelisa opened #60 "ocd on import paths"

[2015-10-01 12:38] fooelisa commented on #59
unti tests against vagrant vm's implemented by david

[2015-10-01 12:38] #59 closed

[2015-10-11 16:37] dbarrosop opened #67 "implement timeout"
* Add to all drivers
* Add to base
* Add to unittests

[2015-10-19 12:52] dbarrosop commented on #48
As nobody seems to pick up this task I am going to close it.

[2015-10-19 12:52] #48 closed

[2015-10-19 12:53] dbarrosop commented on #57
I am closing this task. We will discuss how to do that later on.

[2015-10-19 12:53] #57 closed

[2015-10-19 12:53] dbarrosop commented on #44
I am closing this task. We will discuss how to do that later on.

[2015-10-19 12:53] #44 closed

[2015-10-19 12:53] dbarrosop commented on #43
I am closing this task. We will discuss how to do that later on.

[2015-10-19 12:53] #43 closed

[2015-10-19 12:53] dbarrosop commented on #41
I am closing this task. We will discuss how to do that later on.

[2015-10-19 12:53] #41 closed

[2015-10-19 12:54] dbarrosop commented on #39
I am closing this task. We will discuss how to do that later on.

[2015-10-19 12:54] #39 closed

[2015-10-19 12:54] dbarrosop commented on #38
I am closing this task. We will discuss how to do that later on.

[2015-10-19 12:54] #38 closed

[2015-10-19 14:33] dbarrosop opened #68 "Support chart for configuration changes"

[2015-10-19 14:34] dbarrosop opened #69 "Support chart for getters"

[2015-10-28 16:24] fooelisa commented on #67
looks like junos and the ansible module were done and have been merged
I submitted a pull request that adds timeout to iosxr and the base class
the IBM driver accepts it as well
eos, fortios and unittests are still open

[2015-10-29 14:14] #69 closed

[2015-10-29 14:14] #68 closed

[2015-10-29 14:14] dbarrosop commented on #67
All of them are implemented. We have to fix EOS and IBM which actually ignores the parameter.

[2015-10-29 14:33] fooelisa opened #76 "timeout on eos does nothing"

[2015-10-29 14:35] fooelisa opened #77 "timeout on ibm does nothing"

[2015-10-29 14:35] fooelisa opened #78 "add port parameter"

[2015-12-01 13:24] kderynski commented on #77
We can close this one. Issue has been resolved :)

[2015-12-01 13:25] fooelisa commented on #77
Nice!! Thanks

[2015-12-01 13:25] #77 closed

[2015-12-14 02:58] ktbyers opened #114 "Install error using 'python setup.py install'"
Started off with blank virtualenv
Did 'pip install -r requirements.txt' to install dependencies
Then did 'python setup.py install'...install completed without an issue.

Tried to load:

[code]

I can fix the problem if I copy the 'junos_views.yml' file into the ./site-packages/napalm-0.40-py2.7.egg/utils directory.

There is no issue if I do 'pip install napalm', it works without an issue (the ./u

[2015-12-14 08:56] dbarrosop commented on #114
Hello Kirk,
thanks for reporting this issue. Looks like some namespace issue that triggers under some weird circumstances. I will try to fix it this week.

Thanks!
David

[2015-12-15 20:16] ktbyers opened #119 "Cisco IOS support and file transfer mechanism"
cc: @GGabriele

Wanted a place to have a discussion on the Cisco IOS implementation in NAPALM related to the following methods:

load_merge_candidate(filename, config):
compare_config():
discard_config():
commit_commit():
rollback():

I have been thinking for Cisco IOS that we should do an SCP file transfer mechanism where the file gets transferred to the box (to flash: or whatever is appropriate

[2015-12-17 18:32] dbarrosop commented on #114
@ktbyers Could you check if you have the same issue with napalm 0.50, please?

Thanks!

[2015-12-17 18:43] dbarrosop commented on #119
I think it makes sense. My main concern is keeping it consistent; uploading a file to a place present on all platforms. You mentioned a proof of concept. Could you share it via a gist? Is there any easy way to test it? Regarding reliability of "configure replace", I think it's just a matter of adding some input on the "caveats" section if we think something is fishy.

By the way, I am curious abou

[2015-12-17 20:00] ktbyers commented on #119
@dbarrosop Let me create a new branch and generate a proof of concept on it. I did work on this earlier, but most of it was outside of NAPALM (i.e. similar ideas but not using NAPALM specific methods).

Yes, I have IOS devices in my environment so I can test.

I glanced at some of the pyfg code. It looks like you batch the commands and then send them down the channel in a single exec_command(). I

[2015-12-17 20:05] ktbyers commented on #114
I still get this error (clean install of napalm using 'python setup.py install')

$ python
Python 2.7.10 (default, Dec  8 2015, 18:25:23)
[GCC 4.8.3 20140911 (Red Hat 4.8.3-9)] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/kbyers/venv/napalm_test/local/lib/python2.7/site-packa

[2015-12-18 04:15] plucena24 commented on #119
@ktbyers  -> "configure merge"? I haven't seen these semantics on IOS before. Do you mean "copy <scp'd file> running-config" - which will essentially merge?

The only downside to doing "config replace" is that a lot matters on the type of config being sent (downtime, etc). The good thing about it as you mentioned is that the caller is forced to only deal with full configs each time you need to mak

[2015-12-18 04:23] ktbyers commented on #119
@plucena24 Yes, I just meant 'copy flash:candidate_config.txt running-config' (i.e a merge of the candidate_config.txt file into the running-config).

<pre>
The only downside to doing "config replace" is that a lot matters on the type of config being sent (downtime, etc).
</pre>

Do you just mean by this that the caller has to get their configuration right (or something else)?

[2015-12-18 04:24] ktbyers commented on #119
@plucena24 I think it will support both the replace and merge operation.

def load_replace_candidate()            # will do 'configure replace'

def load_merge_candidate()              # will do the merge into running-config

[2015-12-18 04:58] plucena24 commented on #119
@ktbyers yes - I meant that the caller has to get their configs right. For example, if you are going to change a port from "access" to "trunk" by just setting:

switchport mode trunk
switchport trunk encap dot1q

In the config, then all of the other "access port" config will still be present in the config. Another example, if your intent is to replace a BGP peer's address (currently 1.1.1.1 - chan

[2015-12-18 06:01] ktbyers commented on #119
@plucena24 Yes, I think we are saying the same thing :-)

[2015-12-18 11:50] dbarrosop commented on #119
Yeah, I think we are all in the same page.

[2015-12-18 12:10] dbarrosop commented on #114
Found the issue, while moving files around to fix the namespace issue I forgot to update the Manifest.in... Should be fixed now. Try with the version 0.50.1 and let me know if it works now, please.

Thanks!

[2015-12-19 00:48] ktbyers commented on #119
@dbarrosop @plucena24 @GGabriele

Okay, I have an implementation of this here:

https://github.com/ktbyers/napalm/tree/cisco_ios_scp

It should be pretty good. I haven't updated the unit tests, but I have my own set of tests that I have been running it against.

I pretty much re-wrote these methods:

<pre>
    def load_replace_candidate(self, filename=None, config=None):
    def load_merge_candida

[2015-12-22 10:23] dbarrosop commented on #119
I will look into this during the holidays when I have the time. I talked with @GGabriele and he mentioned he would take a look as well.

[2015-12-22 21:28] ktbyers commented on #119
No worries. I am out traveling so I probably won't look at it for another
week.

Kirk

On Tuesday, December 22, 2015, David Barroso <notifications@github.com>
wrote:

--
Kirk Byers
CCIE #6243 emeritus
ktbyers@twb-tech.com
*http://pynet.twb-tech.com <http://pynet.twb-tech.com/blog>*
(415) 264-6270
Simplify your network management through automation

[2015-12-23 00:38] GGabriele commented on #119
Yes sorry @ktbyers, I've not found the time to test it yet. I'll definitely do it in coming days :)

[2016-01-04 09:05] vnitinv opened #127 "ValueError: requested attribute name cu already exists"
If we call open() function twice(junos devices), it throws exception which doesn't give proper message atleast. Should be handled in better way

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/nitinkr/Coding/PyEZ_env/napalm_env/env/lib/python2.7/site-packages/napalm/junos.py", line 43, in open
    self.device.bind(cu=Config)
  File "/Users/nitinkr/Coding/PyE

[2016-01-04 14:37] t2d opened #129 "replace_config required"
Ansible task:
[code]
Ansible output:
[code]
but the code says
[code]

[2016-01-04 14:50] t2d opened #130 "Cannot compare config on IOS"
Ansible task:
[code]
Ansible output:
[code]
Same happens with `commit_changes: True`

[2016-01-04 21:35] ppieprzycki opened #131 "Ansible module variables"
Hello all,
Thanks for this project in the first place.

In the beginning I had problem with usage of the napalm_install_config module.
Just tried using variables "commit_changes" and "replace_config" with parameters "true" and "false".
I just get used to it with other unusable modules.

Is there any particular reason why only values True/False and 1/0 are only possible.

Just get simple PoC in my

[2016-01-05 20:28] GGabriele commented on #129
Hi @t2d ,
the code says so because replace_config is not currently supported by the IOS driver :)

[2016-01-06 01:22] ktbyers commented on #129
@t2d I am working on a new IOS driver that should have this (see #119 )

[2016-01-06 01:25] ktbyers opened #133 "Cisco IOS driver (placeholder)"
Just keeping track of some issues on new Cisco IOS driver:

1. Need support for inline config merge, config replace (i.e. not from an external file, but from inline in-code).
5. Unit testing is really slow.
8. Should automate the testing at the ansible level.
14. Update unittests to test that invalid commands in a replace config operation get rejected.
15. There is no diff for a merge operation.
1

[2016-01-06 07:18] ppieprzycki commented on #133
Hi,
There seems to be problem on some Cisco switches because they have different names for flash (and this is not consistent).

I've just checked:
Device flash exist:
Cisco Catalyst 2960,3650, 3560

Cisco 6500:
we have devices
sup-bootflash (where keeps iOS image)
bootflash (keeps crashes)

Cisco 4948/4900M
cat4000_flash (keeps only plan.dat 516k)
bootflash (here stores iOS image)

Do you see any

[2016-01-06 08:45] t2d commented on #119
I have one more question about `def load_replace_candidate()`. What is supposed to happen with commands, which are completely excluded? Let's say, I don't want to manage my `version` in the template. Would it still be safe to just omit it?

[2016-01-06 16:41] ktbyers commented on #133
@ppieprzycki

New code (see pull request #134) should allow you specify the destination filesystem. I have the code here on this branch if you want to test (https://github.com/ktbyers/napalm/tree/cisco_ios_scp).

You can see this unit test code for some details on how to call/use it (https://github.com/ktbyers/napalm/blob/cisco_ios_scp/test/unit/TestIOSDriver.py)

[2016-01-06 18:23] ktbyers commented on #129
This is a documentation error in the Ansible module:

Doc string says:
<pre>
    replace_config:
        description: If set to True the entire configuration on the device will be replaced during the commit. If
                     set to False, we will merge the new config with the existing one. Default: False.
        required: False
</pre>

But code says:
<pre>
def main():
    module = AnsibleM

[2016-01-06 18:26] dbarrosop commented on #131
To be fixed by @ppieprzycki in #132

[2016-01-06 18:26] dbarrosop commented on #130
As you are probably aware by now there is some work going on that might fix this issue.

[2016-01-06 18:29] dbarrosop commented on #129
Yes, this problem will be fixed in #132

                replace_config=dict(required=False, choices=BOOLEANS, type='bool', default=False),

Once it's merged it will start behaving as described in the docstring.

[2016-01-06 20:41] ktbyers opened #135 "Cisco IOS: can 'configure replace' be made to support automatic rollback for invalid config"
Original comment from @dbarrosop:

You mention that "'configure replace' will accept the config with a typo command, but will just reject the relevant command". IMHO I think it would be better to detect that there was some issue and rollback automatically. That's what FortiOS does and it's one of the premises of napalm, that all intended changes are applied or none. What do you think?

[2016-01-06 20:47] ktbyers commented on #135
Notes, on behavior:

Working:
<pre>
#configure replace flash:rollback_config.txt force
Total number of passes: 1
Rollback Done

</pre>

Failed (invalid configuration command in the config):
<pre>
#configure replace flash:candidate_config.txt force
The rollback configlet from the last pass is listed below:
********
!List of Rollback Commands:
adfjasdfadfa
end
********

Rollback aborted after 5 pass

[2016-01-06 20:52] ktbyers commented on #135
Behavior when doing automatic rollback at IOS level.

<pre>
#configure replace flash:candidate_config.txt force revert trigger error
Failed to apply command adfjasdfadfa
Aborting Rollback.

Rollback failed.Reverting back to the original configuration: flash:pynet-rtr1-cfgJan--6-12-49-44.412-PST-0 ...

Total number of passes: 1
Rollback Done

The original configuration has been successfully restore

[2016-01-06 20:55] ktbyers commented on #135
Here is what 'revert trigger error' looks like when it works:

<pre>
#configure replace flash:rollback_config.txt force revert trigger error
Total number of passes: 1
Rollback Done

</pre>

[2016-01-06 20:58] dbarrosop commented on #135
So revert trigger error seems the way to go, right?

[2016-01-06 21:02] ktbyers commented on #135
@dbarrosop Yes it looks like it would probably work:

Key issues:
1. Does IOS give you many false positives.
2. Related to item 1, the 'crypto pki certificate chain TP-self-signed-' frequently generates an error. I believe this is due to the 'quit' line at the end which consists of '  \tquit\n' (i.e. two spaces and then a tab) so when you copy this manually the tab gets converted to a space.
3. Do

[2016-01-06 21:21] dbarrosop commented on #135
Just one comment, any prerequisites to make this work is just a matter to document them. So don't bother that much if the archive feature has to be enabled, if there is a reason for that people should do it. Dealing with IOS is already complex enough to not use that feature if it's available : )

[2016-01-08 18:53] ktbyers commented on #135
Okay, I added support for this.

https://github.com/ktbyers/napalm/commit/e5208220204a2ef41a320d16577320e5bd50bdd0

I added an optional_arg named 'auto_rollback_on_error' that defaults to True. This will allow people to choose to ignore errors if necessary.

This is needed as Cisco IOS can have issues with the self-signed certificate and 'revert trigger error' wasn't added in IOS until 12.4(20)T.

[2016-01-08 18:53] #135 closed

[2016-01-08 18:56] ktbyers commented on #119
@t2d I didn't understand your question here? Can you add some more detail on what you are trying to do?

[2016-01-08 19:17] ktbyers commented on #78
From discussion with @dbarrosop, 'port' argument will be added in optional_args dictionary.

Here is how I did optional_args and 'port' in the cisco IOS driver.

<pre>
    def __init__(self, hostname, username, password, timeout=60, optional_args=None):
        if optional_args is None:
            optional_args = {}
        self.hostname = hostname
        self.username = username
        self.pa

[2016-01-08 19:22] ktbyers commented on #67
IOS driver supports the timeout argument, but doesn't do anything with it.

[2016-01-11 13:15] jedelman8 commented on #129
Hey guys on a side note, I've been using the NAPALM ios integration with Ansible (before any changes from Kirk).  And you may need to use `get_diffs=false` in the playbook.  I originally added this for an older version for Arista, but needed it here so diffs aren't calculated b/c an error was being raised.

[2016-01-12 17:27] ktbyers opened #142 "Cisco IOS Testing"
This is a placeholder to discuss the testing of the new Cisco IOS driver.

[2016-01-12 17:45] ktbyers commented on #142
Tests using base.py:
testing on Cisco 881 running Version 15.4(2)T1

[working]
$ python TestIOSDriver.py TestIOSDriver.test_replacing_and_committing_config        OK (261s)

[failing]

[2016-01-13 06:49] ktbyers commented on #142
I think these tests all work now.

[2016-01-13 06:49] #142 closed

[2016-01-18 13:52] dbarrosop commented on #76
Solved in PR #146

[2016-01-18 13:52] #76 closed

[2016-01-19 02:23] jejenone opened #148 "IOS-XR 5.3.1 - XML agent returns incomplete tables"
Has anyone seen this behavior ?

XML Agent on IOS-XR 5.3.1 is returning incomplete tables for at least 2 operations: NeighborTable (get_bgp_neighbors) and LLDP neighbors (get_lldp_neighbors)

On a router with 119 BGP sessions viewable with "show bgp summary" I only retrieve 3 using the get_bgp_neighbors() from napalm. Same happenswith the list of LLDP neighbors; only 7 are retrieved in the XML out

[2016-01-19 17:41] ncostaa commented on #127
I'm getting this error with my junos file when i try to load some xml. But, when i use the xml directly in the script it works perfectly. What did you do to handle this?

[2016-01-22 08:43] dbarrosop commented on #127
@ncostaa can you send the traceback and the code that is triggering your issue? Usually pyez raises that Exception with that message when you open the connection multiple times.

[2016-01-22 08:48] dbarrosop commented on #148
That's interesting... Do you have VRFs? If you don't, could you go to the cli, go to the xml agent and send us the output of:

                     <Get>
                        <Operational>
                            <BGP>
                                <InstanceTable>
                                    <Instance>
                                        <Naming>

[2016-01-22 19:21] jejenone commented on #148
Here you are sir:

[code]

3 neighbors in the output when the router actually has 119 neighbors. No VRFs configured.

[2016-01-22 20:47] dbarrosop commented on #148
Yes, it's certainly returning only 3 neighbors, that's odd. I just tested to be sure on a device I have in production and I can get all of them without any issue. In my case I have only 15 neighbors but I get all of them.

Let us know what Cisco TAC tells you, please.

Thanks!

[2016-01-22 20:51] jejenone commented on #148
What version are you running ?

On Fri, Jan 22, 2016 at 12:47 PM, David Barroso <notifications@github.com>
wrote:

[2016-01-22 21:01] dbarrosop commented on #148
We are using 5.1.3.
On Fri 22 Jan 2016 at 21:51 Jerome Fleury <notifications@github.com> wrote:

[2016-01-22 23:46] ncostaa commented on #127
Hi @dbarrosop here is the log file gave by the worker from celery:

---------------------------------------------------------------------------------------------------------------------------------------
[2016-01-20 01:20:48,639: INFO/MainProcess] Received task: tasks.router_fod[edb8d5e3-fd55-4827-8622-a6180f31d30e]
[2016-01-20 01:20:48,681: INFO/Worker-1] Connected (version 2.0, client OpenSSH_5.

[2016-01-23 06:34] jejenone commented on #148
Looks like we've found the problem:

http://www.cisco.com/c/en/us/td/docs/ios_xr_sw/iosxr_r4-1/xml/programming/guide/xl41apidoc.pdf

on chapter 7
[code]

while we can fix it by applying ``xml agent [tty | ssl] iteration on size <1-100000>``, it would certainly be helpful if pyIOSXR would support it.

[2016-01-24 19:34] dbarrosop commented on #148
Closing issue as it is related to pyIOSXR and there is a PR with a workaround.

[2016-01-24 19:34] #148 closed

[2016-01-24 19:39] dbarrosop commented on #127
That error is usually triggered when try to open the same device twice. From the logs from celery is hard to say. Could you provide some code that we can use to reproduce the issue from a python shell?

[2016-01-24 21:46] ncostaa commented on #127
Hi David, tks for your response. The problem was exactly that,  multiple
connections to the device. I was using celery to perform the tasks and he
was simultaneasly binding dev to cu creating the error. The problem was the
lack of information about this issue.. and it should be handle better.

Regards,
Nuno Costa

[2016-01-25 08:01] dbarrosop commented on #127
Glad to hear you found the issue. We have plans to handle errors in a better way but right now we are focusing on creating something that brings value to as many folks as possible hoping to get more contributors. Sorry for the inconvenience.

[2016-01-27 17:31] ktbyers commented on #133
Timestamps on slow file operations:

check1: 2016-01-27 09:20:23.867486
check2: 2016-01-27 09:20:50.893301
check3: 2016-01-27 09:21:10.421605
check4: 2016-01-27 09:21:10.669322
check5: 2016-01-27 09:21:34.693989 (this is just before the method return)

[2016-01-29 03:49] jathanism commented on #127
I'm currently testing out NAPALM and running into the same issue. If someone doesn't beat me to it, I'll happily provide a patch soon.

[2016-01-29 20:48] dbarrosop commented on #127
That would be really cool, we definitively should start working on improving stability and error handling. As a first step the next version will support the python context manager, so you will be able to do:

    driver = get_network_driver(my_vendor_os)
    with driver(ip, user, password) as device:
        facts = device.get_facts()
        device.load_candidate_replace(new_config)
        devic

[2016-02-01 16:56] ande0581 opened #151 "invalid file names when cloning on windows"
Attempting to fork and clone. When i clone it fails with this error.

[code]

I don't know for certain but i would guess its the file names. They include a backslash and colon.

[2016-02-01 19:58] ktbyers opened #152 "IOS-XRv fails get_environment test"
@fooelisa Not sure if you want to do anything about this, but since I dug into it a bit I thought I would post what I saw.

This was on a Cisco IOS-XRv device. It would probably be nice to have it pass the unit test (so you could use an IOS-XRv device for testing purposes).

Running .get_environment() method would cause:

<pre>
$ ./napalm_iosxr_test.py

Traceback (most recent call last):
  File ".

[2016-02-07 18:18] #151 closed

[2016-02-08 08:50] dbarrosop commented on #133
NAPALM 0.51 has been released with all your improvements. Should be close this task?

[2016-02-08 08:51] dbarrosop commented on #130
With the release of NAPALM 0.51.0 this should now work. Open a new issue if it's not the case.

Thanks!

[2016-02-08 08:51] #130 closed

[2016-02-08 08:51] dbarrosop commented on #131
This should be fixed now.

[2016-02-08 08:51] #131 closed

[2016-02-08 09:07] dbarrosop opened #171 "Review IOSDriver documentation"
Could you take a look and make sure the caveats are properly documented and that all optional_args are documented? At least the ones you want to expose : )

[2016-02-08 09:08] dbarrosop commented on #171
@ktbyers I can't assign tasks to you because you are not part of the organization. Do you want me to add you as a contributor?

[2016-02-08 09:22] dbarrosop opened #172 "Add mock data for IOS"
Could we add some mocked data for IOS so we can test without a device? Let me know if you need help or if you can't do it.

[2016-02-08 09:23] dbarrosop commented on #172
@ktbyers I can't assign tasks to you because you are not part of the organization. Do you want me to add you as a contributor?

[2016-02-08 17:06] ktbyers commented on #133
No please keep this one open. This was how I was keeping track of various issues that I encountered.

[2016-02-08 17:09] ktbyers commented on #172
@dbarrosop This is fine.

[2016-02-08 17:11] ktbyers commented on #119
The new Cisco IOS solution is included in NAPALM 0.51

[2016-02-08 17:11] #119 closed

[2016-02-08 17:14] ktbyers commented on #171
@dbarrosop This is fine. I see the issue.

[2016-02-08 19:09] dbarrosop commented on #129
Closing this one as it should be fixed by now. Otherwise, feel free to reopen.

Thanks!

[2016-02-08 19:09] #129 closed

[2016-02-09 07:26] smnmtzgr commented on #114
Same problem for me at 0.51.0

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib/python2.7/site-packages/napalm-0.51.0-py2.7.egg/napalm/__init__.py", line 17, in <module>
  File "/usr/lib/python2.7/site-packages/napalm-0.51.0-py2.7.egg/napalm/junos.py", line 17, in <module>
  File "/usr/lib/python2.7/site-packages/napalm-0.51.0-py2.7.egg/napalm/utils/junos_v

[2016-02-09 07:35] dbarrosop commented on #114
Could you try doing the following and pasting the output?

cd /usr/lib/python2.7/site-packages/napalm-0.51.0-py2.7.egg/
find
On Tue 9 Feb 2016 at 08:26 Simon <notifications@github.com> wrote:

[2016-02-09 08:14] dbarrosop commented on #114
That issue is due to the way napalm was installed. If you want to install it manually do:

    git clone git@github.com:napalm-automation/napalm.git
    cd napalm
    python setup.py sdist
    pip install dist/napalm-$version.tar.gz

Replace $version with the version you are trying to install.

[2016-02-09 08:14] #114 closed

[2016-02-09 18:00] ktbyers commented on #172
@dbarrosop Why do you want to do this? I am not seeing that much value in it. It seems better to just test against a real device.

So I wanted to here your take on this.

[2016-02-09 20:40] dbarrosop commented on #172
Well, it's hard to test against a device. It's way easier to test agains mocked data. How would you ensure otherwise that everybody has the same environment and state to do proper tests? Take for example BGP, you might want BGP sessions up, down, shutdown, sending prefixes, etc... Or lldp, multiple neighbors in the same interface, interfaces with only one neighbor... etc. In addition, I am plannin

[2016-02-09 21:25] ktbyers commented on #172
@dbarrosop You can test Travis-CI against real devices. You just have to encrypt certain things like the credentials and device information. I do this with the Netmiko library. It only works for the branch owner (might be able to work for collaborators would have to look into this). This is probably fine, though, since this is the person that is approving pull requests (collaborators might be nice

[2016-02-10 07:30] smnmtzgr commented on #114
like we discussed in the slack channel -> this worked fine. Thanks for your help!

[2016-02-12 14:07] davehs30 opened #182 "NAPALM didn't catch this exception"
Traceback (most recent call last):
  File "/usr/bin/cl_napalm_configure", line 9, in <module>
    load_entry_point('napalm==0.51.0', 'console_scripts', 'cl_napalm_configure')()
  File "/usr/lib/python2.7/site-packages/napalm/clitools/cl_napalm_configure.py", line 139, in main
    args.optional_args, args.config_file, args.dry_run))
  File "/usr/lib/python2.7/site-packages/napalm/clitools/cl_napalm

[2016-02-12 17:20] dbarrosop commented on #182
There seems to be something wrong with paramiko. I have heard reports of people complaining lately about paramiko being broken. I will see if I can find more information about it.

[2016-02-12 17:40] davehs30 commented on #182
Thanks, paramiko version 1.7.7.1 is what I have installed.

[2016-02-18 00:41] XioNoX opened #187 "Unknown device model"
Using the IOS driver on 3 different switches always returns 'model': u'Unknown'

<class napalm.ios.IOSDriver at 0x7fc3a1763a78>

Show version returns:
cisco WS-C3850-48T (MIPS) processor with 4194304K bytes of physical memory.
And more down the page (as stacked switches)
Model Number                       : WS-C3850-48T

Same with:

cisco WS-C4500X-32 (MPC8572) processor (revision 9) with 4194304K

[2016-02-18 01:19] ande0581 commented on #187
I can take a look at this issue. The big difference offhand is the switches start with lowercase 'cisco'.

[2016-02-18 17:31] #187 closed

[2016-02-20 07:15] fooelisa opened #191 "bgp nlri evpn not supported (junos)"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/opt/local/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/napalm-0.51.0-py2.7.egg/napalm/junos.py", line 307, in get_bgp_neighbors
    peer['address_family'] = self._parse_route_stats(neighbor_data)
  File "/opt/local/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-pac

[2016-02-20 18:32] fooelisa commented on #67
Since EOS, IOS and IBM don't actually do anything with this parameter, should we maybe move it into the optional_args?

[2016-02-21 02:39] ktbyers commented on #67
Fine with me.

[2016-02-21 02:50] dbarrosop commented on #67
I agree but that's tricky as that changes the API and it might break existing code.

[2016-02-21 11:17] fooelisa commented on #172
I personally like the offline tests as well and would like to see them across all the drivers. We added travis for the offline tests yesterday and there is great value in PR's being checked automatically. Where are your devices set up so they are reachable from travis for Netmiko? Does it also test PR's, or do you have to re-run each test as the owner somehow?

[2016-02-21 11:28] fooelisa commented on #67
I would be ok with changing this in a major version bump, and documenting it well, it seems cleaner that way (I really like the optional_args way)

[2016-02-22 13:52] asmaps opened #199 "Python 3 support"
Hi,

I just tried to install napalm with python 3, but it stopped, because it looks like at least ncclient is currently not py3 ready.

[code]

They say, that from the next version on it will be py3 compatible (compare https://github.com/ncclient/ncclient#important---python3-support ). Are there other known blockers for py3?

[2016-02-22 14:53] asmaps commented on #199
I now installed ncclient in the py3 compatible version (`pip install -e git+https://github.com/ncclient/ncclient.git#egg=ncclient`). Also I needed a py3 compatible version of gtextfsm which can be installed like this: `pip install -e git+https://github.com/jonathanslenders/textfsm.git#egg=gtextfsm`

So pip install now runs without errors, but when I try to import get_network_driver I get `ImportEr

[2016-02-22 15:00] fooelisa commented on #199
I don't recall anyone ever trying out napalm with py3. The backend vendor libs might be problematic, afaik Pyez doesn't support 3 yet, which is probably the case for others as well. Keep us posted!

[2016-02-22 20:12] ktbyers commented on #172
@dbarrosop @fooelisa Looks like David wrote the code for this. So it isfine with me...I was reluctant to do the work, but if someone else does the work, not a problem. I do still question the value of it for file operations for IOS, for get_operations it is probably okay (at least as a sanity check).

The devices are at my office and I have allowed the Travis-CI IP addresses through my firewall. T

[2016-02-22 21:58] dbarrosop commented on #172
This has been done. @ktbyers if you want to improve the mocked data feel free.

[2016-02-22 21:58] #172 closed

[2016-02-23 05:06] vnitinv commented on #199
As far as PyEZ is concerned. Python 3 supported version can be installed
from
https://github.com/vnitinv/py-junos-eznc/tree/3x

Nitin Kr

On Mon, Feb 22, 2016 at 8:30 PM, Elisa Jasinska <notifications@github.com>
wrote:

[2016-02-25 08:55] t2d opened #209 "Config not applied on Cisco IOS"
I'm usinge the Cisco 897VAW. The commandline seems to work fine:
[code]
But when I check on the device, the config is actually still the old one:
[code]
This also happens with napalm-ansible.

[2016-03-01 09:58] dbarrosop commented on #209
@ktbyers can you help troubleshoot this?

@t2d have you tried with python code instead of with ansible or the CLI?

[2016-03-01 18:17] ktbyers commented on #209
@dbarrosop @t2d This worked for me on a Cisco 881 using latest Napalm code.

[code]

It sounds like it is most likely one of the following:

[code]

Without this you get the following:

[code]

What version of IOS are you running? Does this command exist in IOS?

configure replace flash:candidate_config.txt force revert trigger error

@dbarrosop Where should this be documented at?

[2016-03-02 07:12] t2d commented on #209
I'm running version 15.5 and it support `configure replace`.
[code]
There are even archive files:
[code]

[2016-03-02 07:37] t2d commented on #209
`--strategy merge` seems to work just fine.
[code]
That's the problem! Would be nice, to expose this somehow. And I'm not sure, why napalm constructs an invalid config file, but that could totally be my fault, since I used the config file for manual merging until now.

[2016-03-02 09:57] dbarrosop commented on #209
@t2d agreed, we should catch that error somehow. @ktbyers, is this something you could look into? However, napalm doesn't construct any configuration file, it just uploads whatever you have. If you constructed the file by just copy pasting the output of `show running-config` it might be that there is some header introduced by IOS that they don't like. Try removing comments or if there is any `vers

[2016-03-02 17:53] ktbyers commented on #209
@dbarrosop @t2d

I have a bit of reluctance to try to catch many errors on IOS since there could potentially be numerous different variations on error strings (which is a lot of string processing).

Though maybe we should try to catch errors due to failed configure replace operations (and potentially failed configure merge operations).

Related to this is whether a failed configure replace operati

[2016-03-02 18:17] dbarrosop commented on #209
All the errors start with `%` right? Why not just catch that and pass the rest as a message to the exception? That might be interesting to do directly on netmiko, don't you think? Having like a GenericCLIException or something like that.

Yes, that should definitively happen. There are two exceptions for that actually: ReplaceConfigException and MergeConfigException. Ansible or any other code shou

[2016-03-02 18:52] ktbyers commented on #209
Yes, that is fair enough I could possibly catch on the '%'. It usually isn't this easy, however (i.e. I have warning alarms going off in my head).

Netmiko's paradigm is to provide you the output back. So if you put in an invalid command, it will show you the CLI error. You can then raise an exception if you want (i.e. you can handle the errors in your Python code).

NAPALM is obviously a differen

[2016-03-02 18:54] ktbyers opened #215 "Improve Cisco IOS error handing for configure replace and configure merge"
See issue #209

[2016-03-03 05:10] #209 closed

[2016-03-08 05:27] ktbyers opened #224 "Cisco IOS merge and compare_config should generate an exception"

[2016-03-08 08:42] dbarrosop commented on #224
Kirk, would it work to use the current running-config, append the changes at the end and use that file to compare?

Worst case, I think the best option would be to return the merge configuration instead of returning an Exception.

[2016-03-08 17:22] ktbyers commented on #224
@dbarrosop No, just appending on to the end of running-config wouldn't work. A merge file could have 'no' commands. It could also have no to entire sections of config. For example, 'no router bgp 10'. You could also have merge config commands that modify a hierarchy 'router bgp 10 > neighbor 1.1.1.1 remote-as 20.

Yes, I think an exception is better than just returning the contents of the merge fi

[2016-03-08 18:11] dbarrosop commented on #224
You are right. If we are going to throw an Exception I guess it's worth creating a new one, something like UnsupportedByDevice. I don't want to reuse NotImplementedException because that one means we haven't implemented it.

[2016-04-03 22:09] ktbyers commented on #171
This should be done.

[2016-04-04 20:04] lukerussell opened #226 "ios.py get_facts bgp neighbours producing incorrect prefix counts"
Hi,

get_facts for bgp_neighbors is producing incorrect results for the prefix counts with my version of IOS/XE. Images are provided by VIRL.

I strongly suspect this is related to the regex match patterns, but I don't know enough to offer a solution.

Sample output from IOSv 15.6(1)T:

`    Prefixes Current:               4         12 (Consumes 960 bytes)`
[code]

get_facts produces this:
[code]

[2016-04-05 08:06] dbarrosop commented on #226
Could you share the output of the following commands?

- `show ip bgp summary`
- `show ip bgp summary | begin Neighbor `
- `show ip bgp neighbors 10.130.0.14 | inc router ID ` (replace the IP if necessary)
- `show ip bgp neighbors 10.130.0.14 | inc Prefixes Current`  (replace the IP if necessary)
- `show ip bgp neighbors 10.130.0.14 | section Local Policy`   (replace the IP if necessary)

Thanks!

[2016-04-05 10:05] lukerussell commented on #226
Hi @dbarrosop,

Requested outputs below from the IOS-XE router.

[code]

[code]

[2016-04-06 03:15] ktbyers commented on #226
@lukerussell I have submitted a fix for this. See https://github.com/napalm-automation/napalm/pull/227/files.

Can you test that this fix resolves your issue?

[2016-04-06 07:27] dbarrosop commented on #171
I don't think this is done, we keep having users having issues with the same errors all the time, would be nice to have all those issues explained in the `caveats` section of IOS so we can point them there instead of having to explain those issues over and over. Before closing this I would like to see how to deal with the common scp problems: how to use the `dest_file_system` and how to do some ba

[2016-04-06 16:08] ktbyers commented on #171
Yes, agreed.

Step one is they need to test it with straight Python and not Ansible. Ansible is too problematic when initially trying to get things working. They also need to start with a get_* method and not the file operations.

From memory, recent issues people have reported are:
1. Not having archive configured.
2. Using TACACS+ AAA and not allowed to SCP.
3. Invalid configuration file.
4. Not

[2016-04-07 08:11] dbarrosop commented on #171
As the `dest_file_system` seems to be the main cause of concern. How hard would it be to autodiscover it? Something like:

1. If the user doesn't specify `dest_file_system` the `open()` executes `dir` and grabs the filesystem from the output.
2. If the user specifies `dest_file_system` honor it and do nothing.

Thoughts?

[2016-04-07 16:25] ktbyers commented on #171
Yes, good idea. We should just auto-discover it.

I will write this into the Netmiko SCP handler (since it is a more general issue than NAPALM). I probably can do this today or tomorrow.

Agreed if user specifies 'dest_file_system', then that is used (otherwise autodiscover).

We should also probably add a check whether archive is configured and generate an error if it is not (only for 'replace' o

[2016-04-08 04:58] ktbyers commented on #171
@dbarrosop Here is a proposed fix for dest_file_system autodetect:

https://github.com/ktbyers/napalm/commit/8e0fcd72d35b9d86a26dcc2183a76f49a8701ec8
https://github.com/ktbyers/napalm/commit/db88f329d7f39e4325f69dad81a9f6becae29556

I haven't pushed at as a PR yet as I want to test it on IOS-XE. Do you have an IOS-XE device we can test it on?

I tested it on an IOS device.

Note, I still submitted

[2016-04-08 08:00] dbarrosop commented on #171
Checking the commits, what you are doing is trying a few predefined fs and get the first one to succeeds, aren't you? Wouldn't be easier to just `dir` and parse the output to extract which one is the default? Mainly to avoid having to do a new release just to support autodiscovering a new device that happens to have `bootflash0:`...

I have a csr1000v I use for testing `napalm-ios`, would that wor

[2016-04-08 14:12] ktbyers commented on #171
Yes, dir is fine. It is probably better than what I did. I looked at 'dir ?', but didn't see that just 'dir' put the default file system at top. I can convert it to that.

I did put a similar fix into Netmiko, but it was going to break napalm (i.e. napalm users using the new napalm, but an older Netmiko would break).

Also the napalm ios.py code had dependencies on self.dest_file_system that were

[2016-04-08 21:41] jzohrab opened #230 "Request: intro materials"
I'm looking to try out Napalm, but I have ​_no idea_​ where to start.  I've read the docs on github.  I have a coding background and CCNA-level networking understanding, which should be sufficient to try out the basics.  Familiar with Python, have used Chef and am happy to try out Ansible.  I'm okay to try out Ansible.  My ideal tutorial would include the following:

- setting up a vagrant box or

[2016-04-08 22:16] ktbyers commented on #171
@dbarrosop Here is a new proposed fix for this.

https://github.com/ktbyers/napalm-ios/commits/master

I ended up putting the detection code in Netmiko (so _autodetect_fs is now a Netmiko method). If napalm ios.py calls this and it doesn't exist, then an AttributeError with an appropriate error message will be generated (basically need to upgrade Netmiko or pass in dest_file_system in optional_arg

[2016-04-09 00:56] ande0581 commented on #230
@jzohrab You could check out some of kirks byers articles.

https://pynet.twb-tech.com/

He also has a formal course that covers a lot of what you are asking about.

https://pynet.twb-tech.com/class.html

[2016-04-09 01:30] ktbyers commented on #230
@jzohrab I wrote this article here regarding NAPALM and Cisco ios (which might help):

https://pynet.twb-tech.com/blog/automation/napalm-ios.html

[2016-04-09 02:21] jzohrab commented on #230
Thanks @ande0581 and @ktbyers for your input, appreciated.  @ktbyers I'd read that already, thanks for posting it.

I think what I'd like to see - for myself, and perhaps as a quickstart for the project - would be a simple set of instructions to set up a lab environment locally, including Ansible etc, so that I have something running that I can immediately hack around with.  It's not a place for m

[2016-04-09 11:06] fherbet opened #231 "Incomplete entries in IOS get_arp getter returns exception"
in case of incomplete entries in IOS "sh arp"

PAR000621#sh arp
Protocol  Address          Age (min)  Hardware Addr   Type   Interface
[...]
Internet  Y.Y.Y.Y             0   Incomplete      ARPA
[...]

then ANSIBLE reports

TASK [get facts from device] ***************************************************
fatal: [X.X.X.X]: FAILED! => {"changed": false, "failed": true, "msg": "cannot retrieve device

[2016-04-10 19:18] dbarrosop commented on #230
Hello @jzohrab,
there are a lot of resources out there to set up a lab. For example, I wrote:

https://www.dravetech.com/blog/2016/01/08/vagrant-for-network-engineers.html
https://www.dravetech.com/blog/2016/01/14/vagrant_box_ios_xr.html

to get started with vagrant. There are also the videos and article linked on the README and a couple of tutorials in the documentation:

http://napalm.readthedoc

[2016-04-10 19:20] dbarrosop commented on #171
That's great! Please, as discussed earlier, submit the changes to napalm-ios. I will test with ios-xe once the code is there.

Thanks!

[2016-04-10 19:42] jzohrab commented on #230
Thanks @dbarrosop, very happy to contribute.  I'll create a separate GitHub project to put this material together, with the goal of somehow merging it into the main Napalm project, or as a separate GitHub repo (to generate docs from).  I can get a Cisco OVA via work, but will keep the VEOs suggestion in mind.

[2016-04-10 19:59] dbarrosop commented on #230
I suggest you to clone the `napalm` and work on the docs folder. That way when you subimit the PR and it's accepted it will publish by the grace of CI directly into RTD : )

If you are unfamiliar with sphinx let me know and I will give you some pointers to get started.

The main reason why I suggested vEOS is because anyone can get it easily. I guess that the cisco OVA requires some entitlement. S

[2016-04-11 09:53] dbarrosop commented on #171
Seems to work fine with IOS-XE:

[code]

[2016-04-11 13:22] jzohrab commented on #230
Will start working on docs at https://github.com/jzohrab/napalm/tree/intro_docs.  I may not get very far with it.

Ack on vEOS.  Apparently Cisco does offer a virtual Nexus N9000/N3000 for development and testing, ref https://github.com/cisco/cisco-network-chef-cookbook/blob/develop/docs/README-agent-install.md.  I won't follow up on that at this moment, though.

If people would like to push up th

[2016-04-11 16:13] ktbyers commented on #171
@dbarrosop Okay, thanks. Only gating item now is I need to release new version of Netmiko to pypi probably today or tomorrow. I also need to test the 'write mem' on commit change.

[2016-04-11 21:46] jdambly opened #233 "Cisco ISO Driver does not commit changes to NVRAM"
using the config merge functions of napalm-ansile did not result in the startup-config getting updated.
[code]

the play book runs just fine, however when I checked the router

[code]
the running-config looks correct, however the startup-config has not been updated

[code]

[2016-04-11 21:47] dbarrosop commented on #233
Thx for reporting. @ktbyers is working on this one already, we will update here when it's done.

[2016-04-12 19:00] ktbyers commented on #233
Fixed here:  https://github.com/napalm-automation/napalm-ios/pull/3

[2016-04-12 19:00] #233 closed

[2016-04-12 19:00] ktbyers commented on #226
Fixed here https://github.com/napalm-automation/napalm-ios/pull/3

[2016-04-12 19:00] #226 closed

[2016-04-13 17:21] mirceaulinic commented on #230
@jzohrab Do you have available a real network, or only VMs? Is Ansible a must for you?

[2016-04-13 20:46] jzohrab commented on #230
Hey @mirceaulinic - I do have a real network.  This issue, and the branch I'm working on, is for newcomers who want to try out Napalm quickly.  There are docs out there, but I wasn't sure what to do when I first started (and still don't, when it comes to the Ansible side).  When I'm starting out with new tech, I like to be up and running with it as soon as possible, and not have to google for anyt

[2016-04-13 23:06] mirceaulinic commented on #230
Anyway it does not make any difference at the end of the day.

If you don't have any constraints regarding the tools you need to use, would you mind trying Salt? You'd be the very first person outside CloudFlare trying it (I think).

A couple of months ago, we, at CloudFlare, have evaluated the available tools in order to automatise our network. Indeed Ansible is the most used, but didn't cover ou

[2016-04-14 01:32] jzohrab commented on #230
Hey @mirceaulinic - this sounds interesting.  I don't know how much should be incorporated into an early introduction of Napalm, which is what I'd like to limit the scope to here.  This was for people to get up-to-speed with Napalm only, and as Ansible _appears_ to be the easiest to get started with, I thought it would be a good choice.

The intent is to submit this back to the Napalm master branc

[2016-04-14 08:07] mirceaulinic commented on #230
Yes, absolutely, go ahead with the introduction for NAPALM, I like the idea.

Being open to something new, I just took the chance to propose you what we consider a more complete technology.

The community is using Ansible because back in time (about 2 years ago perhaps) it was the best solution. Salt existed, but available only for servers, not for other type of devices. But not anymore and brings

[2016-04-14 09:58] dbarrosop opened #234 "Verify that get_network_drivers works fine if install with `python setup.py install`"
There seems to be issue as reported in #232 where installing napalm with `python setup.py install` doesn't work properly.

[2016-04-14 10:07] dbarrosop commented on #226
I released napalm-ios 0.1.2 with the bugfixes, Unfortunately people can't take advantage of the new code until we merge #232 but I guess that will be happening next week the latest (unless we discover something horrible in my PR : P)

[2016-04-14 10:08] dbarrosop commented on #171
I think we can close this for now. With the fs_autodiscover I am pretty sure we are covering most of the problems people have when starting with `napalm-ios`.

Thanks!

[2016-04-14 10:08] #171 closed

[2016-04-14 10:32] dbarrosop commented on #231
Hello @fherbet,
wo

[2016-04-14 11:37] jzohrab commented on #230
Right, I'm not sold on Ansible myself.  Our shop uses Chef, and Ansible feels _too easy_ - it's basically ssh with some wrapping, it seems. I wouldn't want this quickstart to be seen as Ansible endorsement.  So after the quickstart w/ Napalm and a Vagrant VM, it could branch off to different tracks for config management, or just refer to existing documentation.  The discussion for which config man

[2016-04-14 11:56] dbarrosop commented on #230
My two cents, ansible is a slow but very powerful 'scripting' framework that allows you to organize your systems and reuse common code in the form of modules or libraries. The scripting framework is versatile enough that allows you to build a configuration management system. What's appealing of ansible is precisely that; it's super easy (mostly YAML or some python if you want to write your own mod

[2016-04-14 12:03] mirceaulinic commented on #230
And here comes the question: what if you are a network engineer and never ever in your life have typed one single line in Python, but have a need? Do we want to force all net engineers learn Python, or just provide them a tool they can simply use?

Actually they are (unless you have a strong desire to reinvent the wheel over and over again, when other people already invented it for you) :)
Please

[2016-04-14 12:19] jzohrab commented on #230
For the scope of this tutorial/intro materials, let's stick with Napalm itself.  I have the quickstart running for Napalm itself and a VM - really just recompiling existing material.  We can add the config mgmt options later.

[2016-04-15 00:00] ktbyers commented on #234
FYI, I don't think I had any issue with this when I tried it earlier today (in a new virtualenv)?

[2016-04-15 00:53] mirceaulinic commented on #234
@ktbyers When I saw your comment I just supposed that 13th of April was not my day.

So I tried again, on a completely new platform. Same behaviour:

[code]

[code]

[code]

I just might be the lucky one :-|

[2016-04-15 02:12] ktbyers commented on #234
Okay, let me check again and see what I see.

[2016-04-15 08:32] #231 closed

[2016-04-15 08:34] dbarrosop commented on #231
napalm-ios 0.1.3 has been released solving this problem.

[2016-04-15 16:28] ktbyers commented on #234
@mirceaulinic @dbarrosop Okay, this also fails on Cisco IOS.

import napalm works, but when I try to use a napalm program, I get:

[code]

The error looks like it is in this code:

napalm_base/__init__.py
[code]

PATH is always None so I am guessing it fails if napalm_base and napalm_ios do not share the same common directory. python setup.py install (in my case tries to use the following):

./sit

[2016-04-18 22:52] Mierdin opened #236 "Proposal: A Comprehensive Continuous Integration Toolchain for NAPALM"
# Proposal: A Comprehensive Continuous Integration Toolchain for NAPALM

Authors:
- [Jason Butler](mailto://jbutler@ebay.com)
- [Matt Oswalt](mailto://moswalt@ebay.com)
- [Narayanan Seshan](mailto://nseshan@ebay.com)

Created: April 2016
Last updated: April 2016
## Abstract

This proposal discusses the contribution of continuous integration tools, scripts, and configuration files to the NAPALM pro

[2016-04-19 13:34] privateip commented on #234
The problem you are seeing is related to zip (egg) files.  The dynamic import library wasn't designed with that in mind; however, its not a difficult addition to make.   Using __import__ is okay but it only imports the __init__.py file so if you have a package it could cause unintended behavior and is relatively frowned upon by PEP302.  Of course all of this goes away in py3 as the import librarie

[2016-04-20 00:30] jzohrab commented on #230
PR #235 replaced by #238, a PR into a separate feature branch.

[2016-04-21 10:10] dbarrosop commented on #133
Should we close this? How do you feel about it in general?

[2016-04-21 14:17] davehs30 commented on #182
I think I see what is happening.  Ansible is sending /bin/sh  at the start of the connection,  The Fortigate firewall does not allow the user to start a shell.  How does one not have a shell called?

id 2\r\ndebug1: Sending command: /bin/sh -c 'LANG=en_US.UTF-8 LC_CTYPE=en_US.UTF-8 /usr/bin/python'\r\ndebug2: channel 2:

[2016-04-21 17:58] ktbyers commented on #133
Let me review it and move any open items to the cisco ios NAPALM repository.

Kirk

On Thu, Apr 21, 2016 at 3:10 AM, David Barroso <notifications@github.com>
wrote:

--
Kirk Byers
CCIE #6243 emeritus
ktbyers@twb-tech.com
*http://pynet.twb-tech.com <http://pynet.twb-tech.com/blog>*
(415) 264-6270
Simplify your network management through automation

[2016-04-21 21:25] #133 closed

[2016-04-22 20:37] jzohrab commented on #236
Thanks for the detailed write up and effort.  Some questions:

- does this PR take into account the recent restructuring of the Napalm code base?
- how will devs be impacted, day-to-day?  I've written some "quickstart" docs (currently in a feature branch on this repo, ref https://github.com/napalm-automation/napalm/pull/239 for latest thoughts), and can contribute to that effort if needed
- is the

[2016-04-22 20:47] Mierdin commented on #236
Thanks @jzohrab - replies below:

- Yes - ```All changes will be performed in a PR for just one NAPALM device driver as a PoC, then rolled out to the rest of the project once the idea is proven```. This means that we're probably going to start with ```napalm-junos``` and once the PR is accepted, we'll replicate the changes in other drivers.
- Devs will need to make sure their code is compliant wit

[2016-04-22 22:39] jzohrab commented on #236
"Devs will need to make sure their code is compliant with what the tooling presents. It's really easy to do this" - to simplify onboarding etc, can you make sure that the necessary tools are present in requirements.txt and/or setup.py, and that at least one sentence is added to the developer readme?  I think that David wanted to change some things with the development stream ... happy to help work

[2016-04-26 04:37] dbarrosop commented on #67
I am going to close this one. I don't think it's worth the trouble and, in any case, it should be implemented everywhere.

[2016-04-26 04:37] #67 closed

[2016-04-26 04:38] dbarrosop commented on #127
The context manager is already implemented and it's the preferred way of using the driver so this issue shouldn't happen anymore.

[2016-04-26 04:38] #127 closed

[2016-04-26 04:42] dbarrosop commented on #182
Ansible shouldn't be interacting with the device at all when using napalm. Did you add `connection: local` to your playbook?

[2016-04-26 05:03] dbarrosop commented on #236
@Mierdin I really like the proposal. Can't wait to see the PR. Although I am not looking forward to the process of cleaning the code so flake8 and pylint are happy ;) I think that it would be easier and less painful if people would be willing to joing for a 'hackathon' dat when we focus on putting all the tooling together and cleaning the code. The branch alternative would work as well but might l

[2016-04-26 07:03] Mierdin commented on #236
@jzohrab So, since we're using Tox, the dependencies are very easy (since Tox is basically virtualenv automation). We have a requirements.txt file which is automatically installed into each Tox virtualenv, but we also have a test-requirements.txt file that contains all of the test-specific dependencies. As @dbarrosop points out, this is only for dev, so you don't use these dependencies for actuall

[2016-04-26 23:52] ktbyers commented on #224
Merge operation should not generate this error:

(venv) ~/Documents/Projects/acl_manager$ python zz_napalm.py
Error: Could not open file flash0:/candidate_config.txt for reading

[2016-04-28 18:40] dbarrosop opened #243 "Review that RTD links point to .io"

[2016-05-02 20:22] davehs30 commented on #182
Thanks the "connection: local"  corrected that issue.  closing this issue

[2016-05-02 20:22] #182 closed

[2016-05-07 22:16] ktbyers commented on #224
@dbarrosop Note, from seeing what other users are expecting here.

I changed my mind on this...I think I am going to implement .compare_config() and a merge operation to just echo the merge_config file (i.e. the changes the end-user submitted) with a comment stating that is what it is doing.

[2016-05-07 22:18] dbarrosop commented on #224
Sounds good to me. Add it to the caveats : )

[2016-05-07 22:45] ktbyers commented on #224
Okay, this is what this looks like on a compare_config() for merge operation.

[code]

for a merge_file.txt that contains
[code]

[2016-05-10 23:44] mirceaulinic commented on #234
Proposed fix: https://github.com/napalm-automation/napalm-base/pull/24

[2016-05-11 00:00] mirceaulinic commented on #56
On IOS-XR the equivalent XML request usually does not match the CLI command format:
[code]
does the trick:

[code]

[2016-05-11 00:02] mirceaulinic commented on #78
From what I can understand, this one has been solved?

[2016-05-11 00:04] mirceaulinic commented on #60
@fooelisa is this still an issue? Can you be more specific please?

[2016-05-11 00:16] mirceaulinic commented on #152
I can probably have a look at this issue in the next couple of days.
Anyway ```get_environment``` is slightly sub-optimal, given that the XML agent can eat multiple requests at once.

[2016-05-11 00:58] ktbyers commented on #78
Yes, that is my understanding too.

[2016-05-11 06:27] dbarrosop commented on #234
Now it works fine with the proposed fix : )

[2016-05-11 06:27] #234 closed

[2016-05-11 06:47] dbarrosop commented on #236
Hi! Any update on this?

[2016-05-11 07:59] Mierdin commented on #236
Not yet. Lots of post-Interop catch up. :) Still hoping to get this done soon. Maybe this week if I can find a blank spot.

Will keep you all posted

[2016-05-11 21:52] jzohrab opened #249 "Change 'cl_napalm_configure' reference in setup.py, remove redundant setup"
`cl_napalm_configure` currently fails:

[code]

The `cl_napalm_configure` alias is currently set in both this repo and napalm-base:

https://github.com/napalm-automation/napalm/blob/develop/setup.py#L31:
`'cl_napalm_configure=napalm.clitools.cl_napalm_configure:main',`

https://github.com/napalm-automation/napalm-base/blob/develop/setup.py#L33:
`'cl_napalm_configure=napalm.clitools.cl_napalm_confi

[2016-05-12 12:37] #249 closed

[2016-05-17 14:10] davehs30 opened #253 "Changes to FortiOS fails."
python cl_napalm_configure.py --user dsmith --password ***** --strategy replace --vendor fortios --strategy replace  --optional_args "fortios_vdom=root" --debug /root/fortigate/compiled/homefw/new.conf homefw
2016-05-17 08:42:05,717 - cl-napalm-config.py - DEBUG - Getting driver for OS "fortios"
2016-05-17 08:42:05,830 - cl-napalm-config.py - DEBUG - Connecting to device "homefw" with user "dsmith

[2016-05-17 15:26] dbarrosop commented on #253
Issue moved to [napalm-automation/napalm-fortios #2](https://github.com/napalm-automation/napalm-fortios/issues/2) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-05-17 15:28] dbarrosop commented on #253
Sorry, was testing the `move` feature but I think it's not worth as it's just a hack. Reopening here.

[2016-06-04 22:57] #78 closed

[2016-06-06 20:10] Mierdin commented on #236
Just a quick update - I am really only fighting a single issue that's standing in the way of me publishing these changes (have been at this stage for a few weeks actually).

In short, something about Tox (not even our specific Tox configuration - as I've tested with a very minimal tox configuration to produce these results as well) is causing one of the nosetests to fail in a really weird way. In

[2016-06-07 07:31] dbarrosop commented on #236
Could you post the issue? Depending on what it is maybe I can slightly change it to fix it.

[2016-06-13 20:06] #243 closed

[2016-07-10 14:32] dbarrosop opened #273 "1. Hackathon 2016 - Interest?"
TBD

If you think you might be interested in joining a NAPALM hackathon feel free to add a comment saying "hi", "I'm in", "This is gonna be awesome", "Howdy" or just with your favorite emoji. That way I will be able to get a rough idea of how many people might be interested on this.

In addition, feel free to subscribe to this issue to get notifications as we start discussing potential dates and t

[2016-07-10 15:01] GGabriele commented on #273
Hi, I'm in since this is gonna be awesome :D

[2016-07-10 15:04] viniciusarcanjo commented on #273
Let's do it! +1

[2016-07-10 15:04] jtdub commented on #273
+1

[2016-07-10 16:37] DiogoAndre commented on #273
Awesome!

[2016-07-10 21:14] jedelman8 commented on #273
All time permitting man, but if I'm free, I'm in.

[2016-07-11 08:18] jwbensley commented on #273
Sounds great to me!

[2016-07-11 13:27] fooelisa commented on #273
+1 - when and where?

[2016-07-11 14:30] filapinoaquino commented on #273
I'm in

[2016-07-11 15:20] laetrid commented on #273
Count me in, hope it will be online event :)

[2016-07-11 15:24] dbarrosop commented on #273
Regarding when/where, give me a couple of days to look at a few options and I will open a couple of issues to discuss those.

Regarding being online, it's going to be online for sure. We might organize something physically as well but we will have hangouts, slack, etc, and communication should be primarily via those tools. So don't worry about that : )

[2016-07-11 17:24] jejenone commented on #273
I'm in.

[2016-07-11 22:45] chadell commented on #273
+1

[2016-07-12 03:02] ktbyers commented on #273
I should be in.

[2016-07-12 08:00] dbarrosop opened #274 "Hackathon 2016 - Proposed tasks"
# Drivers
## Minor enhancements

I would add the following in the list of minor enhancements:
- IOS-XR:
  - https://github.com/napalm-automation/napalm-iosxr/issues/28
  - https://github.com/napalm-automation/napalm-iosxr/issues/15
  - https://github.com/napalm-automation/napalm-iosxr/issues/29
  - napalm-automation/napalm-iosxr#17
  - napalm-automation/napalm-iosxr#18
  - napalm-automation/napalm

[2016-07-12 13:22] ebeahan commented on #273
+1

[2016-07-12 13:41] mirceaulinic commented on #274
Can we group them by driver?

I would add the following in the list of minor enhancements:

- IOS-XR:
  - https://github.com/napalm-automation/napalm-iosxr/issues/28
  - https://github.com/napalm-automation/napalm-iosxr/issues/15
  - https://github.com/napalm-automation/napalm-iosxr/issues/29
- JUNOS:
   - https://github.com/napalm-automation/napalm-junos/issues/27
   - https://github.com/napalm-a

[2016-07-12 14:11] cebotareanu commented on #273
+1 :)

[2016-07-13 04:40] jathanism commented on #273
Sounds fun! This is the perfect excuse to contribute. 👍

[2016-07-13 09:54] mirceaulinic commented on #56
This issue was fixed via https://github.com/napalm-automation/napalm-iosxr/pull/26

[2016-07-13 09:57] dbarrosop commented on #274
Done

[2016-07-13 10:03] #56 closed

[2016-07-20 06:33] dbarrosop opened #276 "2. Hackathon 2016 - Announcement (Work in progress)"
# NAPALM Hackathon 2016

Welcome to the very first NAPALM hackathon ever. What you are about to see is a bunch of people doing the unthinkable; **writing code for the network!!!**

# Format

During a weekend we will hack around napalm, fixing existing issues, cleaning the base code or just doing whatever we want.

First day will be a half day, probably starting on a Friday around [6pm UTC](#Timezo

[2016-07-20 06:37] dbarrosop commented on #273
Announcement #276

[2016-07-26 21:10] dbarrosop opened #280 "Tasks related to pre-hackathon2016"
This is just a placeholder to link back from other repos.

[2016-08-12 12:17] mirceaulinic opened #284 "New docs section: installation"
### Description of Issue

Unfortunately a couple of libraries required in NAPALM drivers do not cover properly the installation steps for various operating systems.

### Solution

To make it simpler for NAPALM users, we should probably include all documentation bits in one single place.

[2016-08-12 13:05] bordeltabernacle commented on #284
I also wonder if it's worth adding a `Automation Frameworks` page as well, for instructions on how to use and integrate with these frameworks?

[2016-09-09 11:18] grizz opened #291 "add get_config()"
### Add a function to get the full config as a text blob
Would obviously be platform specific, but would be handy for using NAPALM for development and device changes.

[2016-09-09 17:53] #291 closed

[2016-09-09 18:36] dbarrosop opened #292 "add get_config()"
See details in the parent issue napalm-automation/napalm-base#65

[2016-09-09 18:36] dbarrosop opened #293 "add get_config()"
See details in the parent issue napalm-automation/napalm-base#65

[2016-09-09 18:37] dbarrosop opened #294 "add get_config()"
See details in the parent issue napalm-automation/napalm-base#65

[2016-09-09 18:38] #292 closed

[2016-09-09 18:38] #293 closed

[2016-09-09 18:38] #294 closed

[2016-09-10 10:37] #60 closed

[2016-09-10 10:37] dbarrosop commented on #60
Closing as it's a bit old.

[2016-09-10 10:44] #224 closed

[2016-09-10 10:45] dbarrosop commented on #224
This issue has been 'moved' to napalm-automation/napalm-ios#26

[2016-09-10 10:46] #215 closed

[2016-09-10 10:46] dbarrosop commented on #215
This issue has been 'moved' to napalm-automation/napalm-ios#27

[2016-09-10 10:49] #191 closed

[2016-09-10 10:49] dbarrosop commented on #191
This issue has been 'moved' to napalm-automation/napalm-junos#39

[2016-09-10 10:49] #152 closed

[2016-09-10 10:49] dbarrosop commented on #152
This issue has been 'moved' to napalm-automation/napalm-iosxr#39

[2016-09-10 10:50] #253 closed

[2016-09-10 10:51] dbarrosop commented on #253
This issue has been 'moved' to napalm-automation/napalm-fortios#6

[2016-09-10 10:57] dbarrosop commented on #291
Just wanted to let you know I think it's a good idea, I have moved this issue to napalm-automation/napalm-base#65 and created childs on all the drivers to keep track of it.

[2016-09-11 17:49] inetuid commented on #273
Wasn't watching, so missed the announcement. I'll try and make it.

[2016-09-12 08:25] dbarrosop opened #297 "Adding CONTRIBUTING.md and PULL_REQUEST_TEMPLATE.md files"
I would like to add two documents with guidelines regarding contributing and opening pull requests.

`CONTRIBUTING.md` should contain our guidelines, something detailed. For simplicity I would recommend implementing this into RTD documentation and linking there with this file.

`PULL_REQUEST_TEMPLATE.md` I would suggest here adding just a checklist, something like:
1. Have you added mocked data an

[2016-09-12 08:46] dbarrosop commented on #284
I have merged a bunch of stuff we had pending, I will close this for the moment. Feel free to create a new issue/send PR if you think something can be improved.

[2016-09-12 08:46] #284 closed

[2016-09-12 08:47] dbarrosop commented on #230
I have finally merged this into `master`. It took forever and I apologize for that.

Thanks, it's really awesome : )

[2016-09-12 08:47] #230 closed

[2016-09-13 22:28] mirceaulinic commented on #297
We should probably distinguish between a pull request for a driver and napalm-base.

For driver we can have pretty much the following options:

- bug fix
- method implementation

While in napalm-base would be different yet more complex:

- new helper
- new method
- new exception
- bug fix
- base test changes
- others?

We can add something like this for drivers:

[code]

And something like this fo

[2016-09-14 12:36] dbarrosop commented on #297
I don't want to manage this in those files, I'd rather do it in RTD to avoid having to update all the repos for a slight change. So I went with this: https://github.com/napalm-automation/napalm-eos/pull/42

What do you think?

[2016-09-14 12:43] mirceaulinic commented on #297
Makes sense, it would be a nightmare to maintain indeed. But I'm not sure how many will follow the link and read the RTD document :)

[2016-09-15 11:01] jzohrab commented on #230
Cheers, thanks @dbarrosop, hope it's useful for newbies!

[2016-09-17 01:07] ktbyers commented on #199
cc: @dbarrosop @mirceaulinic

These are some notes for Python3 support from my investigation as part of the NAPALM hackathon.

The general process is:
1. Get napalm-base to support python3.
2. Cleanup napalm-base from a pylama perspective. This will make it easier to see issues introduced because of python3 conversion.
3. Thoroughly regression test existing drivers (both getters and config operati

[2016-09-18 08:14] dbarrosop commented on #199
Ok, this was way more than I expected to be achieved during two days. Awesome job.

I am going to work on the pylama issue. I am going to evaluate a) getting rid of it b) making it python3 compatible and getting rid of some heavy dependencies... stay tuned

[2016-10-07 19:07] shivharis opened #310 "New napalm driver for Brocade switches"
### Description of Issue/Question

I have recently written a new napalm driver for Brocade switches. I started out with napalm-skeleton. The code is currently located at:

http://github.com/shivharis/napalm-brcd

equivalent Pypi is located at:

https://pypi.python.org/pypi?%3Aaction=pkg_edit&name=napalm-brcd

[2016-10-07 19:16] mirceaulinic commented on #310
Hi @shivharis great stuff!

I have created a new repository: https://github.com/napalm-automation/napalm-brocade where you can submit a pull request and we'll start reviewing. You might want to adjust the content of the README - either empty or provide some very brief description (not mandatory).

Please use the full name "brocade" everywhere instead, to avoid any ambiguities.

[2016-10-07 20:13] shivharis commented on #310
Thanks Mircea.

Shiv

On Fri, Oct 7, 2016 at 12:16 PM, Mircea Ulinic <notifications@github.com>
wrote:

--
-Shiv

[2016-10-07 20:19] dbarrosop commented on #310
@shivharis also, when the first release it out I will give access to the repo so you can approve and merge PRs as well.

[2016-10-07 20:22] shivharis commented on #310
Thanks Dave.

Shiv

On Fri, Oct 7, 2016 at 1:19 PM, David Barroso <notifications@github.com>
wrote:

--
-Shiv

[2016-11-09 17:35] DiogoAndre opened #318 "Driver for Cisco ASA"
Quick question before I get too far on this.

For writing a driver for the Cisco ASA platform, it is better to rely primary on the available ASA REST API, than to rely on ssh + screen scraping, right?

One of the disadvantages of using the REST API is its availability only on [newer platforms and newer software](http://www.cisco.com/c/en/us/td/docs/security/asa/compatibility/asamatrx.html#pgfId-13

[2016-11-09 17:52] mirceaulinic commented on #318
Hey @DiogoAndre,

IMO would be better to implement it based on the API. Event if it does not provide support for old versions, on the long term this is the right way.
But does it allow the execution of the most important features? http://napalm.readthedocs.io/en/latest/base.html

[2016-11-09 17:52] dbarrosop commented on #318
If you are writing the driver it's mostly your decision but I would be completely ok with using the REST API and just having a minimum ASA version as a requirement. We do the same with other drivers for similar reasons.

[2016-11-09 18:04] dbarrosop commented on #318
That was timing... we both responded at the same time. Good that at least we gave a consistent answer ;)

[2016-11-09 19:35] DiogoAndre commented on #318
Thanks for the feedback @mirceaulinic and @dbarrosop!

As for support for the most important features, I believe most getters will be fine, and I already have a couple of getters implemented (facts, interfaces, cli). Some are just not supported (lldp, optics).  Is there something like a minimum list of features that a driver must implement to become viable? If not, maybe something we could define

[2016-11-09 19:44] dbarrosop commented on #318
There is not, even a few getters might be useful for people so as long as it works it's fine.

That's something we can probably discuss how to best do it. Shouldn't be a big deal to support only the `load_merge` and the `commit` without diff, rollback. Let's start with what you have and then we can take it from there : )

[2016-11-09 20:12] jedelman8 commented on #318
I'll comment here, but this could be something that has a greater impact across OSs (if adopted by NAPALM) for managing configurations (merge/replace) on OSs that don't offer that natively.

In use and written by Rackspace:
https://github.com/jtdub/hierarchical_configuration/

https://www.packetgeek.net/2016/07/network-lifecycle-management-with-hierarchical-configuration/

It offers the ability to

[2016-11-09 20:25] dbarrosop commented on #318
@jedelman8 that's something we could look into for devices without native support. Did I hear you are gonna build a POC? ;)

[2016-11-09 20:42] jedelman8 commented on #318
Figured that was coming :)
We'll see!!

[2016-11-20 14:14] dbarrosop commented on #318
@DiogoAndre two things:

1. How are you doing? Do you need help with something?
2. Figured you might be interested on this method: https://github.com/napalm-automation/napalm-base/pull/136 Feedback/ideas are welcome.

[2016-11-21 02:57] DiogoAndre commented on #318
Hi @dbarrosop! Almost ready to ship an initial version. I got little bit stuck in making the mock tests pass, but I think it's OK now.

I'm definitely interested in [napalm-automation/napalm-base#136](napalm-automation/napalm-base#136)! Will share some thoughts there.

[2016-12-03 15:33] ogenstad commented on #318
@DiogoAndre, which route did you take with this?

For the getters I think either SSH, using Netmiko or the REST-API would work. For most things it won't be much trouble to get the info. There are some corner cases like the get_snmp_information() function, as the keys are based on communities which aren't visible using `show run` and have to be displayed using `more system:running` (which in turn i

[2016-12-06 18:36] ogenstad opened #327 "Tox"
### Description of Issue/Question

There was some discussion about using Tox in the PR I created for napalm-ios. Opening an issue for that since I removed tox.ini in the PR to get it merged.

I think it's quite nice to have tox since it allows people to test the code in a very easy way, especially for libraries which are to support both 2.7 and 3.

[2016-12-08 09:24] dbarrosop commented on #327
Can you propose a `tox.ini` file? You already had some idea : ) Would be nice a brief explanation on how to use tox with virtualenv to test all python versions.

[2016-12-08 15:27] ogenstad commented on #327
I've added an example [here](https://github.com/napalm-automation/napalm-eos/pull/107)

The file tox.ini with comments:
[code]

Once this file is in place someone can just `pip install tox` and run the tests from the napalm-eos root directory like below.

[code]

When you run tox it creates a .tox/ directory where it installs new virtual Python environments which are used to run the tests.

[2016-12-08 16:59] ktbyers commented on #327
Yes, this is nice...we should definitely do this.

[2016-12-08 17:59] ktbyers commented on #327
Okay, I just tested this on napalm-ios. You accidentally dropped the [tox] header from the top of the tox.ini file.

[code]

Also will require that anyone that runs this has the relevant Python versions on their system (I had python34, but not python35 installed).

Definitely helpful though as previously I was manually switching virtual environments which is a waste of time.

[2016-12-09 09:20] ogenstad commented on #327
Ah, sorry. Must have been a cut & paste bug.. Of course `[tox]` should be at the top of the file.

Yes if we test against three versions of Python changes are that most people will only have one 3.x version installed. I don't think that really matters though as this would just help people with testing against 2.7 and one of the 3.x versions.

[2016-12-09 16:57] ktbyers commented on #327
Yeah, agreed. I think it is definitely worth it.

[2016-12-09 17:35] dbarrosop commented on #327
Looks super cool. We should have on the file whatever we want to test on travis and probably make sure travis uses it. Is it possible to also add coverage?

[2016-12-10 10:48] dbarrosop commented on #327
Something I don't see there is `pylama`. Can it be added? @mierdin added this `tox.ini` and some other tooling long ago. We didn't merge it but I think we should review it for ideas:

https://github.com/napalm-automation/napalm-junos/pull/37/files#diff-b91f3d5bd63fcd17221b267e851608e8

[2016-12-10 11:33] ogenstad commented on #327
Yeah Travis can call tox too.

Regarding coverage that can be added too. I change the line in setup.cfg `addopts = --cov=./ -vs` to `addopts = -vs` (so that the virtualenv doesn't get included). Than changed the command in tox to: `py.test --cov=napalm_eos --cov-report term-missing``

For pylama it was just silent since it didn't have anything to complain about. I've added a few extra lines to a f

[2016-12-10 11:36] dbarrosop commented on #327
Regarding pylama, I deleted my own comment because I realized it was there and I had just missed it : (

[2016-12-10 16:02] #274 closed

[2016-12-10 16:02] #273 closed

[2016-12-10 22:28] Mierdin commented on #327
FWIW the benefit of using something like Tox is to simplify the travis
configuration enough that it cuts down on what's needed for the user to run
the same tasks that travis would, on their laptop. That's the goal anyways

*Matt Oswalt*
Network Software Engineer
(c) 513.202.3138
(e) matt@keepingitclassless.net
(t) @Mierdin <http://twitter.com/mierdin>
(w) http://keepingitclassless.net/

On Sat, De

[2016-12-12 05:14] DiogoAndre commented on #318
Hi all,

Sorry for the long delay in posting some progress.

@ogenstad so far I'm relying exclusively in the REST API, but what I have today is pretty basic, so it remains to be seen if it will be enough or if some ssh will be required. Either way, there are still a ton of things to do, and probably more than a few corner cases to tackle. Firewalls are complicated 😢

I have posted my initial work

[2016-12-12 06:04] mirceaulinic commented on #318
Hi @DiogoAndre,

Daaat! It's a Cisco firewall, we expect to be overly complicated :)

Could you open a PR to https://github.com/napalm-automation/napalm-asa? I think it would be easier like that to receive some feedback and suggestions to improve.

Thanks!

[2016-12-12 09:14] ogenstad commented on #318
Nice work @DiogoAndre! Just looking skimming the code there are a few things I can comment on.

First you are using the old test framework, to save time later and not have to recreate the mock data it would be better to use the new framework (the one used by napalm-eos and napalm-ios).

Secondly it can be a good idea to write the code to be compliant with both Python 2 and Python 3 at the same tim

[2016-12-12 15:20] DiogoAndre commented on #318
Just sent the PR.

Thanks, @mirceaulinic and @ogenstad!

@ogenstad would you mind moving your last comment to [napalm-automation/napalm-asa/pull/1](https://github.com/napalm-automation/napalm-asa/pull/1). You raised super relevant points and as @mirceaulinic said, it will be easier to concentrate discussions there.  Cheers!

[2016-12-12 15:20] #318 closed

[2016-12-13 10:05] dbarrosop commented on #327
I commented on the PR (https://github.com/napalm-automation/napalm-eos/pull/107). I personally think we should move forward with this although I'd like to make sure it integrates nicely with travis.

[2016-12-14 06:09] mirceaulinic commented on #310
PR open in https://github.com/napalm-automation/napalm-brocade/pull/1, closing this.

[2016-12-14 06:09] #310 closed

[2016-12-14 06:19] mirceaulinic commented on #280
Can we close this one?

[2016-12-14 07:35] #280 closed

[2016-12-15 09:19] dbarrosop commented on #327
@napalm-automation/council would you mind taking a look to this? https://github.com/napalm-automation/napalm-eos/pull/107

[2016-12-24 07:11] aihuasxy opened #342 "help for support other device!"
hi，I am newbie to napalm and have read some document and code of napalm.

I have a question.

If I want to add support for other devices like zxr10 of ZTE,  how can I know whether its possible to extend napalm.
Does it need network devices have the ability of replacing configure wholly (cisco ios using configure replace).
If the device only support CLI , does it can't use panpalm?

[2016-12-25 10:45] dbarrosop commented on #342
Hello @aihuasxy,

Any device can be added to napalm, it might be easier or harder depending on the device API (if any) or how feature-rich their CLI is but it should be doable to add nay device.

No, not all the features are mandatory. That's why we have this page:

https://napalm.readthedocs.io/en/latest/support/index.html

Yes, there are a few examples of devices supported by napalm that use net

[2016-12-27 01:57] aihuasxy commented on #342
Thanks for your detailed answers。

[2016-12-27 01:57] #342 closed

[2017-01-30 09:49] #236 closed

[2017-02-15 11:54] mirceaulinic opened #350 "Deprecate IBM driver"

[2017-02-20 20:46] #350 closed

[2017-02-24 13:42] thorko opened #351 "cl_napalm_configure iosxr error"
cl_napalm_configure --vendor iosxr  --debug -o 'port=830' -s replace --user <user> <host> /tmp/config
Enter password:
2017-02-24 14:35:42,568 - cl-napalm-config.py - DEBUG - Getting driver for OS "iosxr"
2017-02-24 14:35:42,627 - cl-napalm-config.py - DEBUG - Connecting to device "172.16.102.6" with user "peter" and optional_args={u'port': u'830'}
NAPALM didn't catch this exception. Please, fill a

[2017-02-25 17:43] dbarrosop commented on #351
Two comments:

1. We will look into catching the exception to return a "standard one".
2. Don't connect using the netconf port. Netconf support in ios-xr is very limited so `napalm-iosxr` is using the xml agent within the standard ssh interface.

[2017-03-28 21:58] zevlag commented on #14
Looks like this was eventually added as optional args.

I found this here: https://github.com/napalm-automation/napalm/blob/master/docs/support/index.rst

[2017-04-03 20:35] ckishimo opened #362 "new napalm driver for MLXe routers"
I implemented a few methods for a new napalm driver for Brocade (now Extreme) MLXe routers based on naplam-skeleton. I ignore if there are some mandatory methods... please let me know how to proceed. I'm newbie developing/contributing code, so please bear with me

https://github.com/ckishimo/napalm-extreme-netiron

Thanks!

[2017-04-05 02:08] LindsayHill commented on #362
Cool, good start @ckishimo

[2017-04-06 11:22] dbarrosop commented on #362
Great job! As there are no configuration related commands this should be fairly easy to validate and test but you will have to provide mocked data. You will have to patch this file to provide a test double:

https://github.com/ckishimo/napalm-extreme-netiron/blob/master/test/unit/conftest.py

You can probably look at that file on the `ios` driver for reference. Then you will have to provide mocked

[2017-04-09 17:01] ckishimo commented on #362
Thanks! taking the ios driver as a reference was very helpful. I just pushed a new version of the driver with the mocked data and passing all the tests. Please let me know next steps. Thanks

[2017-04-16 07:20] dbarrosop commented on #362
Next steps:

1. Decide if the name is the one we want. I don't have an opinion about this. @LindsayHill would you care to chime in or bring someone else to the discussion that might be interested in (also see 2)?
2. Someone a part from you should test with a real device or VM. I am afraid I don't have access to any so I can really test myself :(
3. Send PR to main organization (if you want to move

[2017-04-19 15:47] ckishimo commented on #362
According to #https://github.com/napalm-automation/napalm-brocade-slxos/issues/5
it was decided to name it <code>napalm-\<vendor\>-\<platform\></code>, so <code>napalm-extreme-netiron</code> should be ok :) but let's wait for @LindsayHill
Regarding 3) I'll be happy to send a PR once 1) and 2) are resolved

[2017-04-19 15:50] LindsayHill commented on #362
Oh that's right, now we need to change to Extreme. I'm cool with napalm-extreme-netiron. Officially Brocade & Extreme are still separate companies, but looks like acquisition will go ahead, so might as well plan ahead

[2017-05-05 22:06] mbauden opened #374 "Question: get_facts for a multi-chassis switch stack"
I am working on putting together a napalm driver for Brocade fastiron switches and was wondering how best to implement the get_facts getter when dealing with a multi-chassis switch stack.

In this case you have multiple units with unique serial numbers, uptimes, and they can possibly be different models as well. This does not seem to map well to the output described in napalm-basic for the get_fac

[2017-05-09 09:44] dbarrosop commented on #374
Hi,
yeah, model is not designed for stacked switches. Maybe the new YANG models would work better. In any case, as a workaround, you could define a separator and use it. Something like:

`serlal_number: "serial_no1::serial_no2::serial_no3..."`

[2017-05-22 15:19] cognifloyd opened #376 "Support Cisco AireOS (Wireless controller)"
### Description of Issue/Question
Please add support for Cisco AireOS devices such as their Wireless LAN Controllers.
Configuration is over an SSH cli that looks similar to IOS and other devices.

The device I'm targeting is [Cisco 2500 Series WLC](http://www.cisco.com/c/en/us/products/wireless/2500-series-wireless-controllers/index.html). All of the other Cisco WLCs use the same OS, but might use

[2017-05-22 16:36] ktbyers commented on #376
@cognifloyd You are welcome to write it, but it is unlikely that someone will write it for you (unless someone has a significant need for this and wants to).

There is a Netmiko driver for Cisco WLC so you could see if that accomplishes what you need.

[2017-05-27 11:06] dbarrosop commented on #362
Hi!
just wanted to check on this. Any update?

Regards

[2017-05-27 11:18] dbarrosop commented on #376
I am closing this one as this is something the core group of napalm will not be working on. If you want to work on this yourself and need help or guidance feel free to reopen.

[2017-05-27 11:18] #376 closed

[2017-06-02 23:14] PackeTsar opened #380 "CentOS7 Install Error"
### Description of Issue/Question

Received the below when trying to install napalm on CentOS7

[code]

[2017-06-02 23:14] PackeTsar commented on #380
Was able to work around it after running `pip install --upgrade setuptools --user python`

[2017-06-03 01:21] ktbyers commented on #380
@PackeTsar You probably also should use a virtual environment (so you decouple from the system Python).

This will make it less likely for you to break the system and for the system upgrades to break your NAPALM install (as well as having different virtual environments when you upgrade and for other testing).

See here for some examples:

http://python-guide-pt-br.readthedocs.io/en/latest/dev/virt

[2017-06-03 01:21] #380 closed

[2017-06-20 01:09] securebyte commented on #199
I was able to install on Python3. I'm using Python 3.5.1. Thanks for porting the API to Py3.

[2017-07-05 23:24] thomarite commented on #362
Hi all

My employeer has several MLXe and I need an excuse to get involved in napalm and automation. I am very very new on this so I am happy to get involved and test this driver.

Regards

[2017-07-06 15:15] johnkeates opened #390 "pfSense Support"
Would it be possible to support pfSense in napalm?

[2017-07-06 15:41] dbarrosop commented on #390
Well, we don't have any plans to support it but if you are looking into implementing support yourself we can certainly help.

[2017-07-20 10:49] dbarrosop opened #392 "Reunification"
TBD

[2017-07-31 07:19] dbarrosop commented on #362
Hi,
we should revisit this issue after the reunification event. The whole process should be easier then:

https://napalm-automation.net/reunification/

Thanks for your patience.
David

[2017-07-31 19:06] ktbyers opened #394 "Inconsistent documentation on ping and traceroute"
How is the getters support matrix documentation built?

 `is_alive`, `ping`, and `traceroute` shouldn't be in this matrix (i.e. only methods that begin with get_ should be in this matrix).

Also `ping` and `traceroute` have inconsistent information between what is in the getters matrix and what is in the "Other Methods" section?

[2017-07-31 19:15] ktbyers commented on #394
Corrected inconsistencies here:

https://github.com/napalm-automation/napalm/pull/395

We should still correct having the same information in two places (i.e. in the getters and other methods sections).

[2017-08-01 07:25] dbarrosop commented on #394
We should get rid of the "other methods". The matrix is built here:

https://github.com/napalm-automation/napalm/blob/develop/docs/conf.py#L309

[2017-08-01 17:17] herste opened #397 "Not understanding diffs for IOS"
### Description of Issue/Question

Having a running IOS router with a config snippet like
[code]

in the current configuration of the device, and using a local changeset with

[code]

i would expect napalm to create a diff for the third line only and when converting that to IOS commands to execute something like

[code]

But this does not seem to be executed. Are there any limitations with napalm

[2017-08-01 18:15] ktbyers commented on #397
@herste

[code]

[2017-08-01 18:31] #397 closed

[2017-08-01 19:03] herste commented on #397
Thanks alot for explaining, I get the point that you dont expect target configuration and calculate the diff but more or less the commands that will result in the desired configuration.

[2017-08-18 19:10] ktbyers commented on #199
I don't think we need this any more so closing...

[2017-08-18 19:10] #199 closed

[2017-08-18 20:11] wisotzky opened #407 "common data models for getter methods should be improved"
Most get_XXX() seem to be relevant for LAN switches/routers only. It is needed to improve the data models to cover better with Carrier PE Routers, BNGs and Firewalls.

Some examples:
get_arp_table() does not specify the routing context. Does it mean the function is for base router instance only? In general it would be meaningful, the get_arp_table() method would have a parameter to define the cont

[2017-08-18 20:16] wisotzky opened #408 "documentation for templates are missing"
Is there any documentation for the Jinja2 configuration templates.
The only I've found is:
    set_hostname - Configures the hostname of the device.
    set_ntp_peers - Configures NTP peers of the device.
    delete_ntp_peers - Removes NTP peers form device’s configuration.
    set_probes - Configures RPM/SLA probes.
    schedule_probes - Cisco only
    delete_probes - Removes RPM/SLA probes.

Esp

[2017-08-19 07:39] dbarrosop commented on #407
Yes, that is correct. Take a look at `napalm-yang`, it's using OpenConfig so it should be generic enough. We haven't implemented there as many `getters` there yet but given that what you are asking is not here either we should implement it there.

[2017-08-19 22:51] sumperson opened #409 "Project Name Issue"
### Description of Issue/Question

The project is named after an anti-personnel weapon responsible for quite a bit of suffering and death, as exemplified by that famous photo of Phan Thi Kim Phuc. You can quickly find loads of other examples of the impact of napalm with a google image search.

I'm sure there are plenty of projects named after iconic weapons but does yours need to be? You're not ge

[2017-08-20 08:07] dbarrosop commented on #409
Thank you for your comment. I understand the name could be offensive for some people and I am really sorry for that. What I am about to say it's just context/history, I am not trying to defend the name or anything.

The project started as an internal tool long ago, as you can imagine, being an internal project the name never got a second thought and napalm was mostly a joke due to the frustrations

[2017-08-21 03:01] jejenone commented on #409
I tend to agree with @sumperson here. I've been thinking about it many times, and now that it's a much more public project, the name has become a burden.

Maybe we could start by suggesting other names ?

[2017-08-21 07:12] dbarrosop commented on #409
I'd rather not start discussing names until I see the commitment of an individual or group of individuals to form a plan and carry it out.

[2017-08-25 18:59] sumperson commented on #409
Thanks for considering it. I know a rename would be a big challenge because I'm trying it myself in working copies of the napalm repos and finding lots of things are easily missed and need to be reconnected. For my testing purposes I'm just using the dummy name ANP (automated network programmer) but that's not a good name. I may not be the person to spearhead this, but I'll keep working at it in m

[2017-09-11 22:35] LongBeachHXC opened #415 "Error installing napalm"
Hey Everyone, I am brand new to this world and just trying to get my feet wet here. I am using the native ubuntu interface provided by windows. I have installed python and the necessary modules but when installing Napalm I get the following error, some assistance would be greatly appreciated.

Downloading/unpacking librouteros>1.0.0 (from napalm-ros->napalm)
  Downloading librouteros-1.0.3.tar.gz

[2017-09-11 22:59] ktbyers commented on #415
@LongBeachHXC How are you trying to do the install? What command did you use?

I just tested it using `pip install napalm-ros` and it worked fine (this was on a Fedora-based Linux)

[2017-09-11 23:23] LongBeachHXC commented on #415
pip install napalm...everything seems to work fine up until that package. Just to add I have done some research and a lot points to the pip setuptools are out of date. I attempted to update those; still to no avail.

[2017-09-12 11:43] dbarrosop commented on #415
Could you post the output of `pip --version`?

[2017-09-13 15:25] LongBeachHXC commented on #415
pip 1.5.4 from /usr/lib/python2.7/dist-packages (python 2.7)

[2017-09-14 18:12] ktbyers commented on #415
Probably should be using something much newer (like pip 9.0.1). Note I would use a virtual environment for this:

http://python-guide-cn.readthedocs.io/en/latest/dev/virtualenvs.html

[code]

[2017-09-15 02:26] LongBeachHXC commented on #415
Seems my issue is it doesn't want to uninstall older pip because it is owned by the OS?

$ sudo pip install --upgrade pip
Downloading/unpacking pip from https://pypi.python.org/packages/b6/ac/7015eb97dc749283ffdec1c3a88ddb8ae03b8fad0f0e611408
f196358da3/pip-9.0.1-py2.py3-none-any.whl#md5=297dbd16ef53bcef0447d245815f5144
  Downloading pip-9.0.1-py2.py3-none-any.whl (1.3MB): 1.3MB downloaded
Install

[2017-09-15 02:47] LongBeachHXC commented on #415
I managed to work through it and upgraded my pip...attempted to install napalm again using pip install napalm but to no avail. Output of the attempt below

forwein@LT-A0032856:/$ pip install napalm
Collecting napalm
/usr/local/lib/python2.7/dist-packages/pip/_vendor/requests/packages/urllib3/util/ssl_.py:318: SNIMissingWarning: An HTT
PS request has been made, but the SNI (Subject Name Indication)

[2017-09-15 07:11] mkbt commented on #415
Crazy question but ....can you run Docker?

Napalm installs with all its dependencies perfectly under the python:2.7
image.

On Fri, 15 Sep 2017 at 09:47, LongBeachHXC <notifications@github.com> wrote:

--
Regards,

Mark L. Tees

[2017-09-18 07:40] dbarrosop commented on #415
I think you might be running a very old system. What version of `python` do you have?

[2017-09-18 14:21] LongBeachHXC commented on #415
Hey DBarrosop,

I am using the embedded linux system that is now included with Windows 10. I installed an Ubuntu VM on my local machine and installed Napalm with no issues. I would rather use the embedded version of Ubuntu within Windows so that I don't have to have a VM running but I still have yet to figure it out.

Thanks!

[2017-09-18 15:43] LongBeachHXC commented on #415
according to python --version output I am running python 2.7.6

[2017-09-18 17:57] dbarrosop commented on #415
Mmm, according to python itself:

I think you have your problem there :(

[2017-09-20 08:22] dbarrosop commented on #415
I am going to be closing this one as we can't do much to support such old systems. Feel free to open or just comment if you have any other question.

[2017-09-20 08:22] #415 closed

[2017-10-18 08:15] s-m-e opened #419 "Support for LCOS?"
This is not a feature request, more an inquiry: Has someone yet considered or started to work on support for LCOS (the "LANCOM Operating System")? Its driving a number of routers, switches and firewalls manufactured by LANCOM Systems GmbH in Germany. At a first glance, there is no API - just a web interface and a custom made console / shell, accessible by ssh and telnet, with a mix of custom dos-s

[2017-10-18 08:50] dbarrosop commented on #419
I am afraid I have never heard of them and can't recall anyone mentioning them so I don't think anyone is working on it.

[2017-10-18 10:19] s-m-e commented on #419
LANCOM was formed in 2002 after its de-facto predecessor, the original ELSA company, went bankrupt. I have seen their devices popping up more and more in the post-snowden area thanks to "initiatives" like "IT Security made in Germany" ... It's what you get when your compliance guidelines tell you to buy a domestic product.

I'd like to add rudimentary support. I found [this page in the manual](htt

[2017-10-19 16:06] bdlamprecht opened #420 "Add VRF support to "get_bgp_neighbors" for IOS driver."
### Description of Issue/Question
Currently, the `ios` driver only captures the "global" BGP neighbors and states this is the case in the documentation.
However, the `junos` driver captures **_both_** "global" as well as "VRF" BGP neighbors.

This is being opened under the generic `napalm` repo as directed by @dbarrosop since the re-unification process is underway.

[2017-10-20 11:25] dbarrosop commented on #409
I am closing this one for the time being. If someone is interested in carrying out this task feel free to reopen an let us know.

Thanks.

[2017-10-20 11:25] #409 closed

[2017-10-20 11:33] dbarrosop opened #421 "reunification process"
This issue tracks the progress of the reunification process. `STATUS` below will be updated to inform of steps carried out.

For more details on the plan visit: https://docs.google.com/document/d/1wxst7fuBxKxRP6mhN6MGxmyUn9inkn5HoXihZ9xpmf8/edit?usp=sharing

# How to help?

You can help by testing, reviewing the changes and informing of anything that might be broken. Anything you might highlight w

[2017-10-21 05:48] ogenstad commented on #421
Should the docs for the "Partial Installation" just be wiped and perhaps replaced with extra drivers? Or converted into a section which points to the last released versions of the split drivers.

[2017-10-21 06:22] ogenstad commented on #421
Also regarding the documentation it mentions `from napalm import get_network_driver` should that be supported or changed to `from napalm.base import get_network_driver`?

[2017-10-21 09:12] dbarrosop commented on #421
We will adapt it soon for the new method. We are still unsure how it will but mostly likely something like:

[code]

We should probably just get rid of the `napalm.base` import and provide `napalm`. We have to adapt `napalm_base` endpoint either way so let's make it backwards compatible for the people using the `napalm` one.

[2017-10-21 10:12] ogenstad commented on #421
I'm guessing that would be for the extra drivers and not the supported core ones? Not really sure if the above would be better than `pip install napalm[eos,junos]` It looks like that option came in pip 7.0 when using a requirements.txt file:
https://pip.pypa.io/en/stable/reference/pip_install/#requirements-file-format

Though I would guess NAPALM wouldn't install with earlier versions regardless.

[2017-10-21 10:25] dbarrosop commented on #421
we are not going to use `pip install napalm[eos]` format because that's hardcoded for a very specific use case that doesn't match ours so we will proceed with `--install-options` instead. We will allow installing individual drivers because luckily these two are equivalent:

[code]

It should just work, as long as the maintainer respects the namespace of the python package it should be fine.

[2017-10-21 10:39] mirceaulinic commented on #421
I would just like to clarify what are the requirements here:

- When executing `pip install napalm` this should install the entire lists of requirements (base + eos + junos + ... etc)

- When executing `pip install napalm --install-option="--drivers=eos,ios"`, this installs the requirements only for eos and ios.

Unfortunately something like `pip install napalm[eos]` is trying to install all the r

[2017-10-21 14:32] dbarrosop commented on #421
Ok, that doesn't work. `pip` and the whole python packaging ecosystem is pretty terrible. A few notes:

1. pip will pass `--install-option` to dependencies so you get errors like this:

[code]

2. I have been trying to create custom commands and see if setuptools would somehow expose the `extras_require` with no avail...

After 4 hours trying things I am out of ideas. If anyone has any, I will app

[2017-10-21 15:45] dbarrosop commented on #421
I finally got it working:

[code]

[2017-10-23 07:04] ogenstad commented on #421
What would happen if someone were to install Napalm and later upgrade without specifying the install options?

[code]

Could there be problems if the 2.0.2 release requires later packages for some drivers compared to the 2.0.1 release?

[2017-10-23 07:46] dbarrosop commented on #421
You are going to basically install **all** the requirements with the second commands. If versions are pinned in the requirement files for each specific drivers those should be enforced as usual.

[2017-10-23 08:31] ogenstad commented on #421
Ah, saw in the setup file now. Had the impression that the drivers wouldn't be installed by default, was thinking about support questions related to that. This looks much better.

[2017-10-23 17:16] ktbyers opened #425 "get_facts()['version'] Unknown on old 2950"
New test case needed.

[code]

[2017-10-24 01:08] ktbyers opened #427 "Proposal: napalm library should abstract away internal files and directory structure"
There are two fundamental ways that `__init__.py` can be used:

1. As a way to enable directory traversal and with some very minimal level of code definition.

2. As a method of hiding the internal directory structure and file names of a library (or some meaningful part thereof).

There is disagreement in the Python community on how `__init__.py` should be used. Some projects use only item 1; othe

[2017-10-24 07:47] dbarrosop commented on #427
I am not a fan of hiding (hiding != abstracting) directory structure as it makes it harder to navigate the code as a developer but I see the value in our case to provide a "public API" so we can change the code structure without notifying people, specially given our track record.

How are we going to expose in this public API the drivers? I think we should extend this to the drivers so I can get t

[2017-10-24 08:57] mirceaulinic commented on #427
I agree with both of you on some particular points:

From David:

Yes, I am not a fan of hiding stuff either.

Indeed.

From Kirk:

I'll add `pyzmq` to this list too (of course there are many many others, but for the point I'd like to make below): I was once trying to catch an exception in ZMQ, I had a block of code raising an exception called `Again`, so I started looking at the code, but I was s

[2017-10-24 09:10] dbarrosop commented on #427
Yeah, I agree with you in the sense we should keep some sort of structure and not shove everything into `napalm`. So we should have things like:

[code]

`get_network_driver` and `SUPPORTED_DRIVERS` are probably the exception and can be just returned in the root namespace.

I am not so sure about `from napalm.base.utils import py23_compat`. I think that's an internal import, that's not part of the

[2017-10-24 10:43] mirceaulinic opened #428 "get_lldp_neighbors_detailed borked on Junos 15, MX series"
### Description of Issue/Question

Because F$%^&ng vendors and the RPC has been changed yet again. On MX series used to be `get-lldp-interface-neighbors-information`, now it's `get-lldp-interface-neighbors`.

### napalm-junos version
(Paste verbatim output from `pip freeze | grep napalm-junos` between quotes below)

[code]

### JunOS version
(Paste verbatim output from `show version and haiku` bet

[2017-10-24 10:53] mirceaulinic opened #429 "get_environment temperature generates an exception against SRX"
napalm-junos 0.12.0

get_environment against an Juniper SRX yielded:

[code]

[2017-10-24 10:54] mirceaulinic opened #430 "get_lldp_neighbors_detail() fails on JunOS EX switches"
### Description of Issue/Question
Calling get_lldp_neighbors_detail() fails on all varieties of Juniper EX-series switches that I have to test with.  Other getters (including get_lldp_neighbors(), get_interfaces(), get_config(), and get_facts()) work without a problem.

Tested switch models are:
- EX4300
- EX2300
- EX2300-C

### Did you follow the steps from https://github.com/napalm-automation/na

[2017-10-24 11:01] mirceaulinic opened #431 "Feature request: Support interface units"
### Description of Issue/Question
Junos has a concept of physical and logical interfaces.
Physical: xe-0/0/0
Logical xe-0/0/0.0

In practice this means xe-0/0/0 will hold physical properties of a port e.g. speed. xe-0/0/0.0 will hold logical properties such as IP addresses etc.

On Napalm-EOS this already seems to be supported, as subinterfaces:
[code]
It would be great to have this same functiona

[2017-10-24 11:07] mirceaulinic opened #432 "SRX get_facts() enhancement: clustering"
### Description of Issue/Question
Can we add clustering information to srx get_facts()?
```show chassis cluster summary```

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
[* ] Yes
[ ] No

### Setup

### napalm-junos version
(Paste verbatim output from `pip freeze | grep napalm-junos` between quotes below)

[code]

### JunOS version
(Paste verbatim output from `sh

[2017-10-24 12:20] mirceaulinic opened #433 "device connects successfully but methods give timeout error"
### Description of Issue/Question
I'm able to connect to a device successfully but when I issue a method like get_bgp_neighbors or get_facts I get a timeout error. The connection to the device remains active though.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
[x ] Yes
[ ] No

### Setup

### napalm-iosxr version
(Paste verbatim output from `pip freeze | grep n

[2017-10-24 12:24] mirceaulinic opened #434 "Raw CLI requests blocked in XR 6.1.2"
### Description of Issue/Question

`get_lldp_neighbors` is still wrongly implemented in the ancient way of scraping the CLI and parsing raw text when all the other methods are using the XML agent.
In XR 6.1.2 seems like they have blocked this kind of requests and we have one more reason to get rid of this.

### napalm-iosxr version
[code]

### IOS-XR version and platform details

[code]

### Steps

[2017-10-24 12:27] mirceaulinic opened #435 "RPC on IOSXR for optics changes interface name in the output"
In reference to napalm-automation/napalm-base#60:

RPC command <Get><Operational><DWDM/></Operational></Get> provides a detailed output of the dwdm interfaces on the ASR. However, in the output, for instance, the interface names are specified as dwdm0/0/0/0 as opposed to TenGigE0/0/0/0. Now I am not sure how to validate the actual interface name due to the output of the RPC command.

Instead, if t

[2017-10-24 12:40] mirceaulinic commented on #392
I will close this, as the reunification process is already tracked under https://github.com/napalm-automation/napalm/issues/421

[2017-10-24 12:40] #392 closed

[2017-10-24 12:44] mirceaulinic commented on #327
Closing this, as I think this will be solved anyway during the reunification.

[2017-10-24 12:44] #327 closed

[2017-10-24 12:44] mirceaulinic commented on #297
Already solved.

[2017-10-24 12:44] #297 closed

[2017-10-24 12:57] mirceaulinic opened #436 "get_facts() does report internal OS version, not the OS version."
### Description of Issue/Question
get_facts() does report internal OS version, not the OS version.

I assume that is by choice but I believe that is an incorrect behaviour.

### Setup

### napalm-eos version
(Paste verbatim output from `pip freeze | grep napalm-eos` between quotes below)

[code]

---

Moved from https://github.com/napalm-automation/napalm-eos/issues/177, this discussion will be ne

[2017-10-24 13:01] mirceaulinic opened #437 "get_lldp_neighbors_detail() to include remote_port_type'"
### Description of Issue/Question

Not a bug but a proposal for an additional field in the response from get_lldp_neighbors_detail()

Currently the response data model includes "remote_port" which is mapped from the 'port ID' LLDP TLV.  However, the Port ID also has a type, 'Port ID type' which can be a number of different things.

The following are the types specified in IEEE's LLDP MIB, [LldpPor

[2017-10-24 13:09] mirceaulinic opened #438 "Neither NX-OS SSH nor nx-api save the running-config to startup-config on replace"
Issue moved from https://github.com/napalm-automation/napalm-nxos/issues/145

[2017-10-24 13:10] mirceaulinic opened #439 "rollback() behavior doesn't persist across time"
Brought up the issue of rollback() checkpoint file isn't reusable across time (i.e. it is deleted on close() and is bound to the object a different connection to same device couldn't use it).

This is different than the behavior of other platforms and should be corrected (if possible).

---

Issue moved from https://github.com/napalm-automation/napalm-nxos/issues/144

[2017-10-24 13:11] mirceaulinic opened #440 "fix_checkpoint_string references a format() operation that does nothing"
[code]

The purpose of this code looks to be to add the following string:

[code]

to the top of the replace file. It is just written in a hard to read way.

---

Issue moved from https://github.com/napalm-automation/napalm-nxos/issues/143

[2017-10-24 13:13] mirceaulinic opened #441 "Parsing issue on get_mac_address_table for nxos_ssh"
From show mac address-table. Parser will choke on the extra space in the interface name

[code]

Fix for this is to just preprocess 'vPC Peer-Link' this string and eliminate the space:

[code]

---

Issue moved from https://github.com/napalm-automation/napalm-nxos/issues/140

[2017-10-24 13:14] mirceaulinic opened #442 "get_interfaces_ip fails when multiple ipv6 addresses configured"
This was configured:

[code]

Ansible playbook had the following:

[code]

Would get this error message back:

[code]

Using NX-API

---

Issue moved from https://github.com/napalm-automation/napalm-nxos/issues/127

[2017-10-24 13:16] mirceaulinic opened #443 "get_bgp_neighbors has a hard-coded uptime (-1) and has hard-coded the prefixes (-1)"
Need to work which command in NX-API we can retrieve this data from. It doesn't look to be present in:

[code]

Although uptime can maybe be worked out from that command.

---

Issue moved from https://github.com/napalm-automation/napalm-nxos/issues/116

[2017-10-24 13:19] mirceaulinic opened #444 "Command output for nxos-ssh show ip interface - N7K"
[code]

---

Issue moved from https://github.com/napalm-automation/napalm-nxos/issues/113

[2017-10-24 13:26] mirceaulinic opened #445 "Does this work properly on the standard nxos driver"
def _compute_timestamp():

I have some evidence that this might be giving the right results.

---

Issue moved from https://github.com/napalm-automation/napalm-iosxr/pull/154

[2017-10-24 13:27] mirceaulinic opened #446 "nxos replace operation - add to docs"
Can't use `show run` for initial config of replace operation; need to use a checkpoint file.

[code]

need to be careful about copy-and-paste from box as line-wrap can introduce invalid newlines for very long lines.

[2017-10-24 13:30] mirceaulinic opened #447 "Atomic Merge"
Could the merge process be made atomic by taking a snapshot that could be rolled back just before the merge? I thought about writing an enhancement, but I wanted to check here first to see if there is some other technical reason that merges cannot be atomic on this platform.

@jedelman8:

nxos using the nxos_rollback and ntc_rollback modules.  So yes, in
agreement for merges:  Step 1.  Create a ch

[2017-10-24 13:37] mirceaulinic opened #448 "Implement get_ntp_peers on Cisco IOS"

[2017-10-24 13:38] mirceaulinic opened #449 "ip scp server enable shouldn't show up in diff"
Should this be changed so that it never shows up in the diff.

---

Issue moved from https://github.com/napalm-automation/napalm-ios/issues/85

[2017-10-24 13:43] mirceaulinic opened #450 "Some IOS devices don't support ttl and timeout traceroute arguments"
### Description of Issue/Question

### napalm-ios version
(Paste verbatim output from `pip freeze | grep napalm-ios` between quotes below)
[code]
### IOS version
(Paste verbatim output from `show version` between quotes below)
[code]

### Steps to Reproduce the Issue
On at least this version of IOS, traceroute doesn't support the ttl and timeout arguments:
[code]
But napalm sets defaults at: TRACE

[2017-10-24 13:45] mirceaulinic opened #451 "Inconsistent MAC and IPv6 format for several IOS getters"
### Description of Issue/Question

https://github.com/napalm-automation/napalm-ios/pull/110 shows that as of napalm-ios 0.6.0, the following methods need a bit of work and use the `ip` and `mac` napalm-base helpers:

- [x] get_mac_address_table, fixed in https://github.com/napalm-automation/napalm-ios/pull/110
- [x] get_arp_table, fixed in https://github.com/napalm-automation/napalm-ios/pull/110
-

[2017-10-24 13:46] mirceaulinic opened #452 "Is cntl-C a control character for TCLSH"
cntl-C is required for banner, but reports that this is causing TCLSH for inline transfer to terminate.

---

Issue moved from https://github.com/napalm-automation/napalm-ios/issues/112

[2017-10-24 13:47] mirceaulinic opened #453 "Improve error message on missing secret argument"
Issue moved from https://github.com/napalm-automation/napalm-ios/issues/123

[2017-10-24 13:49] mirceaulinic opened #454 "Cisco IOS: load_merge_candidate is not additive"
### Description of Issue/Question

Executing a series of load merge operations, it preserves only the latest config:

[code]

I think it would require reading the `merge_config.txt` file and append the latest config addition before writing the file on the flash.

---

Issue moved from https://github.com/napalm-automation/napalm-ios/issues/125

[2017-10-24 13:52] mirceaulinic opened #455 "Implement better solution for handling hostname changes on replace and merge"
Probably just make search pattern be '#' and get rid of the 12 second timeout.

---

Issue moved from https://github.com/napalm-automation/napalm-ios/issues/140

[2017-10-24 13:54] mirceaulinic opened #456 "device.get_lldp_neighbors() does not support spaces in Device ID"
### Description of Issue/Question
device.get_lldp_neighbors() does not support spaces in Device ID

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [x] Yes
- [ ] No

### Setup

### napalm-ios version
(Paste verbatim output from `pip freeze | grep napalm-ios` between quotes below)

[code]

### IOS version
(Paste verbatim output from `show version` between quotes

[2017-10-24 13:56] mirceaulinic opened #457 "napalm_install_config using replace operation is always transfering file on IOS"
This is causing the operation to be very slow on no change (as inline transfer for full replace is slow).

I think this is because the current running config is saved to flash:candidate_config.txt at a certain point and contains the 'file prompt quiet' command (which causes it to be different from the file that is being pushed).

---

Issue moved from https://github.com/napalm-automation/napalm-io

[2017-10-24 13:58] mirceaulinic opened #458 "Is autodetect dir always needed?"
### Description of Issue/Question

Using getters, would not seem like you would always need to auto_detect the dir filesytem.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [ x ] Yes
- [ ] No

### Setup

### napalm-ios version
(Paste verbatim output from `pip freeze | grep napalm-ios` between quotes below)

[code]

### IOS version
(Paste verbatim output from `

[2017-10-24 13:59] mirceaulinic opened #459 "For BGP neighbor information (determine if address family is not negotiated)"
Decide how to handle this case:

[code]

[2017-10-24 14:07] mirceaulinic opened #460 "Parse show interfaces into sections in get interfaces code"
Current implementation can have potential mismatch where some variables are regex matching, but not on the right section.

---

Issue moved from https://github.com/napalm-automation/napalm-ios/issues/160

[2017-10-24 14:09] mirceaulinic opened #461 "Shutdown BGP neighbours are not parsed correctly"
### Description of Issue/Question
If a BGP neighbour is Admin shutdown, the key "is_enabled" has value True instead of False

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [* ] Yes
- [ ] No

### napalm-ios version
[code]

### IOS version
[code]

### Steps to Reproduce the Issue
In case the bgp neighbour 10.1.1.1 is shutdown, the output from "show bgp all summa

[2017-10-24 14:11] mirceaulinic opened #462 "napalm-ios ping is not correctly tracking probes_sent"
This was on a failure pinging an IP address that didn't exist using napalm-ansible:

[code]

---

Moved from https://github.com/napalm-automation/napalm-ios/issues/203

[2017-10-24 14:12] mirceaulinic commented on #462
Ooops this one seems already solved via https://github.com/targuan/napalm-ios/commit/e4d6504d39430e1c84f7c42b6b165dddc37de4ad

[2017-10-24 14:12] #462 closed

[2017-10-24 14:16] mirceaulinic opened #463 "Configure replace: strange behavior of self-signed certificate (add to docs)"
### First Issue

Using napalm-ios/napalm-base develop branch as of 2017-04-29 and netmiko 1.3.0 (and sometimes develop version on this same date).

Running on a CSR1000V using
[code]

If I use `configure replace` operation and the file contains the following:

[code]

Then the SCP transfer would fail.

It would fail to transfer the file. Debugging on router side indicated the SCP communication sta

[2017-10-24 14:17] mirceaulinic opened #464 "get_mac_table not parsing routed ports correctly"
cat4500e-universalk9.SPA.03.04.05.SG.151-2.SG5.bin
Cisco IOS Software, IOS-XE Software, Catalyst 4500 L3 Switch Software (cat4500e-UNIVERSALK9-M), Version 03.04.05.SG RELEASE SOFTWARE (fc1)
WS-C4506-E

Unicast Entries
vlan mac address type protocols port
---------+---------------+--------+---------------------+-------------------------
60 0001.d800.022c dynamic ip,ipx,assigned,other GigabitEtherne

[2017-10-24 14:18] mirceaulinic opened #465 "Implement `get_bgp_neighbors_detail`"
For framework consistency, this seems to be one of the most used methods (at least on Junos and XR).

[2017-10-24 14:20] mirceaulinic opened #466 "load_merge_candidate & commit_config slow (takes 40 seconds)"
### Description of Issue/Question

I do a small change of prefix-list (just a single entry) on a Cisco 7600 device. I do this in a 2 step proces. First load_merge_candidate, and after that commit_config. The complete operation takes 40 seconds. See output of AAA command authorization debug to get an idea of the time the different steps take. Is that normal? The C7600 is not busy at all, I have the

[2017-10-24 14:22] mirceaulinic opened #467 "CSR1000V"
Why do I need to use inline transfer?

Document process.

Does global delay factor need to be set?

---

Issue moved from https://github.com/napalm-automation/napalm-ios/issues/210

[2017-10-24 14:23] mirceaulinic opened #468 "get_environment fails on Cisco 3850 switch"
### Description of Issue/Question
When it tries to get the memory, it executes show memory statistics which is not implemented on Cisco 3850 switches.  it fails to find the Processor line and fails to set proc_used_mem variable
Cisco 3850s (and I believe 3650s) use
[code]

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [X] Yes
- [ ] No

### Setup

### napalm-io

[2017-10-24 14:27] mirceaulinic opened #469 "get_facts returns the whole string from "show version" not just the software version"
### Description of Issue/Question
When using the generic NAPALM function `get_facts` against an `ios` device, the whole string from the command "show version" is returned, not just the software version (like a `junos` device does).

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [X] Yes
- [ ] No

### Setup

### napalm-ios version
(Paste verbatim output from `pi

[2017-10-24 14:30] mirceaulinic opened #470 "get_snmp_information() returns ACL names as "N/A" if none exist for a community"
IOS driver returns "N/A" if no ACL is specified for a community statement. This is a different behaviour from EOS and NX-OS that simply return an empty string.

The documentation has an example that includes "N/A" though so while I am not sure which one is
the intended behaviour, an empty string or None makes much more sense than "N/A"

[code]

[code]

[code]

@ktbyers:

---

Issue moved from http

[2017-10-24 14:33] mirceaulinic opened #471 "Cannot install config if candidate change username"
### Description of Issue/Question
When the candidate configuration change an username, the configuration replace ask for a confirmation:
[code]
load_replace_candidate hangs and fails to complete.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [x] Yes
- [ ] No

### Setup

### napalm-ios version
(Paste verbatim output from `pip freeze | grep napalm-ios` between

[2017-10-24 14:35] mirceaulinic opened #472 "Is AAA (TACACS) Supported? Not able to login nor test."
### Description of Issue/Question

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [x] Yes
- [ ] No

### Setup

### napalm-ios version
(Paste verbatim output from `pip freeze | grep napalm-ios` between quotes below)

[code]

### IOS version
(Paste verbatim output from `show version` between quotes below)

[code]

### Steps to Reproduce the Issue

### Error Trace

[2017-10-24 16:51] ktbyers commented on #427
It sounds like we should decide the following:

1. What is public in the NAPALM library?
     a. Is this public for library consumers or public for library developers (I would include anyone that subclasses NAPALM to be in the developer category)?
     b. Assuming this is public for library consumers...do we have any notion of public for NAPALM developers?

2. Once we define what is going to be pu

[2017-10-24 17:00] ktbyers commented on #427
I would propose the following should be public to library consumers (not saying where they necessarily should live structurally or from an import perspective)

[code]

I don't really think we need to expose the drivers as `get_network_driver` should be the proper way to retrieve the driver.

We could also directly expose the driver classes, but we would just have to do this in such a way as not to

[2017-10-24 17:20] ktbyers opened #473 "Create a new layer2_neighbors that supports both LLDP and CDP"

[2017-10-24 18:48] ktbyers opened #474 "napalm-nxos SSH send_config_commands() method is not using config_mode"
Should be using the `send_config_set()` method in Netmiko.

[2017-10-24 20:14] ktbyers opened #475 "NXOS fails to create checkpoint file if file already exists"
This would fail (basically take over 12 minutes to complete...potentially never finish):

[code]

If the `sot_file` already existed.

This was observed on NX-OS 6.2.16

[2017-10-24 20:15] ktbyers commented on #475
Probably should just delete `sot_file` before trying to write it.

[2017-10-25 02:53] ktbyers opened #477 "Inconsistencies between nxos and nxos-ssh driver for get_facts()"
get_facts() on nxos_ssh returns abbreviated interface (from show ip int brief); nx-api returns canonical interface names.

Also model results differs between the two.

[2017-10-25 22:35] ktbyers opened #480 "Fix NX-OS SSH file write issue in reunification branch"
https://github.com/napalm-automation/napalm-nxos/pull/148

Other NX-OS replace issues:
Replace operation always writes the file even if it is already correct (it checks the MD5 on the file but doesn't do anything).
Do we need to specify `bootflash`? Generally this is not being done (but not sure it matters).
NX-API and NX-OS SSH config file operations are pretty different...they should be rational

[2017-10-28 00:01] Ragsboss opened #483 "NXOS get_interfaces_ip not reporting interfaces in all VRFs"
### Description of Issue/Question

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
[X] Yes
[ ] No

### napalm version
(Paste verbatim output from `pip freeze | grep napalm` between quotes below)

[code]

### Network device software version
(Paste verbatim output from `show version` (or equivalent on your platform) between quotes below)

[code]

### Steps to Reprod

[2017-10-28 00:26] Ragsboss opened #484 "EOS: Empty serial number from facts on vEOS"
### Description of Issue/Question
On vEOS, get_facts is returning empty serial number.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
[X] Yes
[ ] No

### napalm version
(Paste verbatim output from `pip freeze | grep napalm` between quotes below)

[code]

### Network device software version
(Paste verbatim output from `show version` (or equivalent on your platfor

[2017-10-28 16:19] ktbyers commented on #483
@Ragsboss I don't think get_interfaces_ip supports VRFs at this time (only the 'global'/'default' VRF). IIRC this is the behavior across all drivers.

This is a feature/enhancement request.

[2017-10-30 08:33] dbarrosop commented on #484
From your own output:

[code]

So behavior is correct. We can't return a serial number if there is none.

Closing issue, feel free to reopen if this response doesn't address your issue.

[2017-10-30 08:33] #484 closed

[2017-10-30 17:41] Ragsboss commented on #484
From the perspective of NAPALM north bound consumer, this is a bug. I'm using NAPALM as a common abstraction layer to communicate with various network devices and NAPALM is not giving me a critical piece of info (i.e., reliable 'identity') for devices under management.

I understand your perspective that it's a bug in vEOS. In that vein, I'm trying to ping the vEOS guys. Perhaps, in their perspect

[2017-10-30 18:03] ktbyers commented on #484
I agree with @dbarrosop here. The device does not have a serial number so we are not returning one (nor are we making up an alternate identity).

If you want to make a broader abstraction, i.e. identity, you are free to create one. NAPALM returns the mac-address-table so if you want that for identity (you can obtain that). Or you could generate a custom identity in some way.

[2017-10-30 20:02] Ragsboss opened #486 "Add support for Cumulus devices"
### Description of Issue/Question
https://cumulusnetworks.com is quite common with whitebox vendors and has a huge list of supported vendors (see https://cumulusnetworks.com/products/hardware-compatibility-list/). It would be very helpful for NAPALM's common device layer (as depicted in http://napalm.readthedocs.io/en/latest/support/) to support Cumulus devices.

### Did you follow the steps from

[2017-11-02 00:22] Ragsboss opened #490 "Add MTU to interfaces coming from get_interfaces"
### Description of Issue/Question
MTU is becoming an important piece of information on interfaces especially with abundance of overlays these days, which is putting some specific requirements on MTU on the underlay. I see that this is not part of the interface model documented to be output from `get_interfaces` method. This issue is an enhancement request to extend the model to include MTU and all

[2017-11-02 19:02] jamesboswell opened #491 "get_optics fails on some JUNOS versions (12.3R2, 11.4)"
### Description of Issue/Question

`get_optics` fails on some JUNOS versions,  including 12.3 and 11.4 (admittedly < 12.1 supported).
This is due to a simple space inserted in the output for Infinite light levels.

A simple change to [L61](https://github.com/napalm-automation/napalm-base/blob/0.25.0/napalm_base/constants.py#L61) in constants.py to add a space fixes this issue in my environment.  H

[2017-11-06 18:00] #480 closed

[2017-11-07 17:19] mirceaulinic opened #498 "`get_facts` fails on Junos"
`get_facts` fails on Junos, even though running `junos-eznc==2.1.7`:

[code]

[2017-11-08 07:40] dbarrosop commented on #491
We can probably do either `optics['input_power'].replace(' ', '')` in line 1879 or add a second constant. Do you want to try and submit a PR?

[2017-11-08 07:48] dbarrosop commented on #486
Regarding this, there is some basic support already but hasn't officially been announced as there is actually nobody maintaining it. If this is something you'd be willing to maintain yourself let us know. We will try to contact the original contributors but we as it stands now we won't be officially supporting it ourselves as our resources are limited.

[2017-11-08 07:51] dbarrosop commented on #490
Yeah, I think it makes sense. We should probably add it to the output of `get_interfaces`. @mirceaulinic @ktbyers thoughts?

@Ragsboss is this something you'd want to work on?

[2017-11-08 16:16] ckishimo opened #500 "Junos: missing PR after reunification"
There may be some PR that were merged in `napalm-junos` that are missing in the `junos` driver after the reunification. In particular https://github.com/napalm-automation/napalm-junos/pull/216, there may be others... Thanks!

[2017-11-08 17:43] alcidessd37 opened #501 "Panos driver missing after unification"
After upgrading to 2.0.0 napalm-panos and its dependencies are not installed with napalm.

[2017-11-09 07:33] afourmy opened #502 "Missing route-target information in get_network_instances"
This issue follows the discussion we had in https://github.com/napalm-automation/napalm/pull/497 (implementation of get_network_instances for IOS).
As of now, the get_network_instances contains the Route Distinguisher and the list of interfaces of the VRF.

It would useful to have also the route-targets, namely which RT are imported and exported for each AFI.
Cisco and Juniper don't manage the imp

[2017-11-09 17:00] #425 closed

[2017-11-10 09:14] dbarrosop commented on #502
@mirceaulinic as discussed in the PR, is this something you know and/or can take to the openconfig meeting?

[2017-11-10 09:17] dbarrosop commented on #501
Yeah, "community" drivers haven't been merged into the core and won't be. Community drivers will still be kept separated, under a different org and maintained by the community.

You can find panos here:

https://github.com/napalm-automation-community/napalm-panos

I suggest you to open an issue there asking them to migrate to napalm 2.0.0.

I am closing this issue but feel free to reopen or commen

[2017-11-10 09:17] #501 closed

[2017-11-10 09:19] dbarrosop commented on #500
That sucks, I wonder how that happened with the code freeze and all :S Would you mind reopening the PR against this repo?

Thanks and sorry :(

[2017-11-10 19:26] bharath-ravindranath opened #506 "Need optional arguments for EOS in load_replace_candidate function"
We need option for autoComplete, timeStamp and expandAliases

I ran into an issue where using load_replace_candidate failed because of the autoComplete is False

I had two commands back to back:
router bgp 1
router multicast

Since I had autoComplete False as default, the router multicast was considered as 'router-id multicast'.
This is only because 'router' is valid under bgp configuration.

Subm

[2017-11-10 20:05] #506 closed

[2017-11-10 20:34] ktbyers commented on #500
I talked to @mirceaulinic about this...I think some of the PRs that he released into napalm-junos late in the reunification process weren't resubmitted to the reunification branch (i.e. they occurred after you did the reunification so he needs to resubmit them manually).

I think he will follow up on this and resubmit them.

[2017-11-10 21:43] bewing opened #509 "EOS VRF parsing not working"
[code]
[code]

[2017-11-11 09:26] dbarrosop commented on #486
Closing this issue as we are discussing onwership here:

https://github.com/napalm-automation/napalm/issues/486

Feel free to reopen/comment if you have any question or corcern.

[2017-11-11 09:26] #486 closed

[2017-11-11 14:28] bewing opened #510 "textfsm symlinks lost in migration"

[2017-11-13 11:40] ehlers opened #513 "[2.0] "pip3 install napalm" doesn't install requirements"
Debian 9.2 (Stretch) with python3 v3.5.3, pip3 v9.0.1

With v1.2.0 a `pip3 install napalm==1.2.0` installs also the required modules (MarkupSafe, jinja2, netaddr, pyYAML, pyeapi, future, pynacl, bcrypt, paramiko, pyFG, scp, netmiko, lxml, pyIOSXR, ncclient, pyserial, junos-eznc, urllib3, idna, certifi, chardet, requests, pynxos, pan-python, requests-toolbelt, xmltodict, pyPluribus, chainmap, libro

[2017-11-13 12:42] dbarrosop commented on #513
Hello,
couldn't reproduce your problem:

[code]

Note that napalm 2.0.0 installs dependencies silently so could you send us the output of `pip3 install --verbose napalm` and a traceback with the error you are getting?

Thanks

[2017-11-13 13:20] ehlers commented on #513
I'm doing it in a debian docker container `docker run -ti debian:stretch`.

First I'm installing python3 and some few modules:
[code]
Then I'm installing napalm, see the attached log file
[napalm-pip-install.txt](https://github.com/napalm-automation/napalm/files/1466916/napalm-pip-install.txt)

The `pip3 install --verbose` shows that pip tries to install the dependencies, but fails with "ValueErro

[2017-11-13 13:43] ehlers commented on #513
Tested it in a virtualenv directly in debian and it works fine. But in docker it doesn't install properly. I've tried it also within a privileged container (docker run -ti --privileged) and in a virtualenv within docker. Nothing helps, it doesn't like docker.

[2017-11-13 13:46] dbarrosop commented on #513
Were you running python3.5 or some other version when it worked?

[2017-11-13 13:51] ehlers commented on #513
The working virtualenv was in a debian stretch 9.2 VM with python 3.5.3 and pip v9.0.1
The non-working docker container was using the same debian stretch v9.2, so it also uses python 3.5.3 and pip v9.0.1. All other software has also the same version.

[2017-11-13 13:53] dbarrosop commented on #513
Would you mind testing this branch?

https://github.com/napalm-automation/napalm/compare/detached_error

[2017-11-13 14:22] ehlers commented on #513
First I used branch develop (in a docker container) and verified, if I have the issue also with `python3 setup.py install`, which I have. Then using branch detached_error. Basically it works (that the good news).

The only issue I had is, that debian uses pip3 for python3. When you don't have python2 installed, there is no pip. Therefore the "pip install" command in setup.py fails. A quick workaro

[2017-11-13 14:32] dbarrosop commented on #513
Great! Thanks for testing and for the patch, I just pushed a commit with it. Would you mind testing again?

[2017-11-13 14:35] ehlers commented on #513
Just re-tested, works fine.

[2017-11-13 15:31] dbarrosop commented on #513
Good news, thanks! :)

[2017-11-14 16:45] bewing opened #517 "EOSDriver._load_config deletes ACL doublebang comments"
[code]

[2017-11-14 16:47] bewing commented on #517
Hrm.  Removing the other doublebang on the untouched ACL kind of points at a vendor bug.

[2017-11-14 16:51] bewing commented on #517
Using session config via the CLI does not remove doublebang in other ACL entries.

[2017-11-14 16:56] bewing commented on #517
TODO:  Confirm vendor issue using JSONRPCLib

[2017-11-14 17:22] bewing opened #519 "EOSDriver._load_config() doesn't support HEREDOC syntax"
If attempting to blindly copy a multiline command from a potential config to a file, conversion is required.
[code]

[2017-11-14 20:48] jamesboswell commented on #491
@dbarrosop  #521 submitted.  I put the replace before the `intf_optics` dict, and only if `input_power` is a str

[2017-11-14 22:28] ktbyers commented on #513
I assume this the same issue, but I just observed this on Python3.6:

[code]

It works if I manually install the requirements using `pip install -r requirements/all`

[2017-11-15 14:45] #510 closed

[2017-11-16 09:00] Rian83 opened #524 "NXOS-SSH get_mac_address_table() error"
Hello Guys,

When I try to get the mac add table from a Nexus 5020 (version 5.2(1)N1(9b)).
Do I miss something ?

[code]

[2017-11-16 10:20] afourmy opened #525 "get_isis_neighbors"
Do you think it would make sense to have a get_isis_neighbors as a new getter ? The format could be something like: (list of dict like get_ipv6_neighbors format)

[code]

Any suggestions to change the format is welcome.
I would need it for my work so I can implement it for ios to begin with, then maybe junos too.

[2017-11-16 10:46] mirceaulinic commented on #525
Hi @afourmy - In my option it would be nice to have that. Can you propose a complete structure that you think it would be suitable and then we start to discuss?
I think at least the following fields would be interesting too:

- System ID
- Uptime
- Area address

Others?

[2017-11-16 12:02] afourmy commented on #525
Hello @mirceaulinic OK for these three fields. (no hostname needed then as the system ID and hostname should be more or less the same). We can also add the SNPA if you think it's useful.

So far we would have something like:

[code]

[2017-11-16 12:07] dbarrosop commented on #525
Is there any openconfig model we can just copy?

[2017-11-16 14:55] bewing commented on #524
Can you paste us a sanitized output of `show mac address-table` from the device in question?

[2017-11-17 04:45] jamesboswell commented on #491
I've changed my proposed fix to a new constant instead of a str replace,  see #521

[2017-11-17 07:34] #491 closed

[2017-11-17 08:19] #513 closed

[2017-11-17 12:46] Rian83 commented on #524
And another info for you, if run the script, I get this error :

So If I run this command : `sh mac address-table | egrep -B 4 -A 5 000e.1e49.bc22`
Here's a summury of what I get, to show you the context of the "parsing" bug :

[2017-11-17 14:00] Rian83 commented on #524
Maybe the issue came from the '+' at the beginning of the ligne.
From the source code, there is no "test" regarding the '+'

[2017-11-17 14:41] Rian83 commented on #524
I've fixed the issue by editing this line :
napalm/nxos_ssh/nxos_ssh.py:1292 :
`        output = re.sub(r"^[\*G\]", "", output, flags=re.M)`
by
`        output = re.sub(r"^[\*G\+]", "", output, flags=re.M)`

But I still have an issue because I have also the beginning of a line that start with a space :
[code]

[2017-11-17 16:08] Rian83 commented on #524
For the second issue, I partially resolved the issue by changing this code :

[code]
But the problem is the multiple interfaces. The interface part of the returned list should not be a string but a list.
The bad output :
`{u'vlan': 20, u'last_move': -1.0, u'active': False, u'mac': u'01:00:5E:7F:FF:FD', u'static': False, u'interface': u'Po1', u'moves': -1}`
The new output :
`{u'vlan': 20, u'last_mo

[2017-11-17 17:14] jamesboswell commented on #525
Perhaps this should be `get_isis_adjacency`?   That's the term used in IOS-XR and JUNOS for sure, both are `show isis adjacency` on CLI.

Also there is an openconfig model  https://github.com/openconfig/public/blob/master/release/models/isis/openconfig-isis.yang#L1450

I think this thread might be relevant here https://github.com/robshakir/pyangbind/issues/135

I'm poking around on this,  I've got

[2017-11-17 22:00] bobthebutcher commented on #432
at $job we have lots of clustered juniper devices. I can work on this during the hackathon

[2017-11-18 00:44] ktbyers opened #532 "get_facts on iosxr fails"
[code]

Using the develop branch as of today.

Running IOS-XRv.

[code]

[2017-11-18 15:07] chadell commented on #442
@mirceaulinic
do you know how it looks it in json? I mean, I would test it adapting the tests in nxos/mocked_data/test_get_interfaces_ip:
[code]

[2017-11-20 08:04] sincerywaing opened #546 "[feature request]: get_acl Method"
Just wondering if we can implement a method to get acl configuration on devices -

def get_acl(self, name=''):
    """
        Returns a dict of list of dicts containing acl configuration.
        Each inner list contains these fields
            * protocol (string)
            * src_ip (string)
            * src_mask (string)
            * src_port (string)
            * dest_ip (string)

[2017-11-20 20:08] ktbyers commented on #458
This should be fixed.

[2017-11-20 20:08] #458 closed

[2017-11-20 20:28] mirceaulinic opened #547 "Add commit message"
The next API change around the `commit_config` is adding an arg, say `message` to add a label to the commit.
This is supported only on Junos and IOSXR and needs to be carefully documented.

[2017-11-20 20:30] ktbyers commented on #524
One part of this is fixed here: https://github.com/napalm-automation/napalm/pull/548

Second part with multiple ports still needs fixed. Do you want to work on a PR on that?

[2017-11-20 20:31] mirceaulinic commented on #532
I think this might be a duplicate of https://github.com/napalm-automation/napalm-iosxr/issues/104, which has been already solved in https://github.com/napalm-automation/napalm-iosxr/pull/143. I think that PR has been merged into master after the reunification.
Let me investigate if that's the case, and I will port the commits.

[2017-11-20 20:33] mirceaulinic commented on #502
Sure thing, I will bring this on the next OC agenda. Thanks!

[2017-11-20 20:45] ktbyers commented on #532
@mirceaulinic I just tested this and still fails as of current `develop` branch

[code]

[2017-11-21 08:04] dbarrosop commented on #546
There is one already: https://github.com/napalm-automation/napalm/blob/develop/napalm/base/base.py#L1500

Closing the ticket, feel free to reopen if you have any concerns or the existing getter doesn't cover something.

[2017-11-21 08:04] #546 closed

[2017-11-22 04:17] ktbyers commented on #547
I added the `message` argument here: https://github.com/napalm-automation/napalm/pull/550

Nothing is implemented for the `message` but the method for all the platforms has the argument.

[2017-11-22 13:03] mk311d opened #551 "Telnet option in optional_args not accepted"
Hello,

I am trying to set up a telnet connection towards our cisco IOS devices. When I specify in the `optional_args` to use telnet or SSH the option is not accepted.

The command I use:
`napalm --vendor ios --user USER_NAME --password MY_PASSWORD --optional_args 'transport=ssh' 123.123.123.123`

The error message I get is:
[code]
When I put for example into the `--optional_args 'port=22'` the co

[2017-11-22 13:35] afourmy commented on #551
Hello Matt,

that's because of ast.literal_eval. You need to give him an actual string to parse:
`"transport='telnet'"`

[2017-11-22 13:43] mk311d commented on #551
Thanks @afourmy worked!

Closing this one.

[2017-11-22 13:43] #551 closed

[2017-11-22 14:55] Rian83 commented on #524
Yes #548 should solved the first issue.
I can't PR because I didn't have git and internet access on my dev server. I only work with the zip file ...

I discover another issue :
[code]
When the list of interfaces are on multiple lines, the line with lot of whitespace will crash.

[2017-11-22 18:51] ktbyers commented on #524
Yuck...that is unpleasant.

[2017-11-23 11:02] #519 closed

[2017-11-23 14:17] Rian83 commented on #524
@ktbyers I've installed git ;-)
I can push my modification if you need

[2017-11-23 16:50] alexandrecorso opened #556 "get_environment PEM missing MX/EX"
I got an error when PEM is missing on my chassis :

For example :
[code]

When I try to get environment informations :
[code]

I got this error :
[code]

I looked into values :
[code]
There is no check about ```status```

I have an other error with this part (PEM capacity/output), line : 415
[code]

I will be happy to help and give more data outpur

P.S There is an issue similar to mine #429

Alex

[2017-11-24 16:35] #509 closed

[2017-11-24 17:24] Rian83 commented on #524
@ktbyers For retrocompatibility, how can we return the list of ports and not only the first one ?
Maybe a string like `{u'vlan': 20, u'last_move': -1.0, u'active': False, u'mac': u'01:00:5E:7F:FF:FD', u'static': False, u'interface': u'Po1,Po2,Po24,Eth1/2', u'moves': -1}`
Otherwise, if we return a list (`{u'vlan': 20, u'last_move': -1.0, u'active': False, u'mac': u'01:00:5E:7F:FF:FD', u'static': Fa

[2017-11-27 06:31] sincerywaing commented on #546
@dbarrosop but it does not seem to be implemented in any driver. is there any intention to have one at least in ios and junos?

[2017-11-27 11:10] ckishimo commented on #556
@alexandrecorso I had the same issue (missing PEM) while adding a test case for EX9208. I just submitted the fix #552

Regarding the second problem it should be also fixed in the same PR. This happens when `show chassis environment | display xml ` is not reporting any `<class>Power</class.`, so the dict was not initialized when iterating over the `power supplies` line 424. That should be fixed as

[2017-11-28 16:29] bewing commented on #517
Removal of unrelated doublebangs is definitely a vendor bug (via jsonrpclib):

[code]

[2017-11-28 16:35] bewing commented on #517
At least it's consistent through all parsers:
[code]

[2017-11-28 16:37] bewing commented on #517
And committing does not actually remove the mode comments, so it's just a bug in their diff function.

[2017-11-28 16:42] bewing commented on #517
We do still need to update `eos.eos.EOSDriver._load_config()` to accept double-bangs, as we currently don't pass on comments (I guess to save network IO?):

https://github.com/napalm-automation/napalm/blob/584197ed4a8f368ccbc1cb0eb18f14f4ab663f33/napalm/eos/eos.py#L182-L183

[2017-11-28 18:22] dbarrosop commented on #517
No, that check used to be there because `eAPI` used to break when sending those so we had to make sure they were removed. Not sure about `!!` comments though, never seen them before actually.

[2017-11-29 03:00] bewing commented on #471
Perhaps a similar approach to the `napalm.eos.eos.EOSDriver_load_config()` shims I added for comments and HEREDOCs to shim in a newline or two?

[2017-11-29 03:03] bewing commented on #456
Resolved in #538

[2017-11-29 03:03] #456 closed

[2017-11-29 03:14] bewing commented on #427
We could probably do this with importlib and `SUPPORTED_DRIVERS` to import installed driver classes and append their names to `napalm.__all__` ?

[2017-11-29 03:21] bewing commented on #469
Related: #436

[2017-11-29 11:28] ckishimo commented on #429
@mirceaulinic I think this should be fixed as well with https://github.com/napalm-automation/napalm/pull/552/commits/b2e6cb9cbcde6caa4aa91753152210910edd9f4e in PR #552
Pls let me know if you have the chance to test that again. Thanks

[2017-12-03 19:38] mattschwen opened #571 "VLAN Getter for NAPALM"
I propose that we implement a VLAN getter for NAPALM using the following model:

{
    "vlan_id": 300,
    "vlan_name": "cool_vlan",
    "vlan_state": "active",
    "vlan_int": ["port-channel1,port-channel101-117,ethernet1/1]
}

If someone wants to open a branch with the initial structure in place, I can assist in work on a PR for Cisco NXOS, Cisco NXOS-SSH, Cisco NXOS-SSH (XML), Cisco IOS, and JU

[2017-12-03 19:45] mattschwen commented on #571
For NXOS API, we have to use XML vs JSON. The reason being is a bug that does not include all interfaces associated with a particular VLAN. This is only fixed in the very latest code in Cisco. Parsing XML vs JSON for NXOS API is a much safer way to get valid data as Cisco does not do a good job of converting XML to JSON.

[2017-12-03 19:50] mattschwen commented on #571
NXAPI Function for show vlan:

[code]

[2017-12-03 20:51] ktbyers commented on #571
@mattschwen We need to complete our NXOS XML work and submit a PR on that before we do this.

The next steps for the XML work our to get the testing framework done. Also we need to get the XML working with NX-API for get_mac_address_table using the same parsing that we used for SSH `| xml`.

[2017-12-03 20:57] dbarrosop commented on #571
Just for reference; https://github.com/napalm-automation/napalm-base/issues/252#issuecomment-305963170

[2017-12-04 02:17] nickethier commented on #465
@mirceaulinic I'll take this one, you can assign me.

[2017-12-04 10:42] natieitan opened #572 "Error with parsing BGP summary ipv6 on napalm_ios"
Running get_bgp_neighbors() give me error when we have full ipv6 neighbor

The error:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Library/Python/2.7/site-packages/napalm_ios/ios.py", line 1330, in get_bgp_neighbors
    remote_addr = napalm_base.helpers.ip(entry['remote_addr'])
KeyError: u'remote_addr'

[code]

That's when I printed the entries in summary_data:

[2017-12-04 16:35] natieitan opened #573 "Issue with BGP neighbors status"
I'm using napalm to show and change BGP configuration.
I noticed that it always shows 'true' under 'us_up' even if the neighbor is down.
I saw on the code, the following:
            # Uptime should be -1 if BGP session not up
            is_up = True if uptime >= 0 else False

If a neighbor is down there's still a number there, for example:
Neighbor        V           AS MsgRcvd MsgSent   TblVer

[2017-12-06 09:54] mirceaulinic opened #575 "get_network_driver is not backwards compatible"
`get_network_driver` is currently looking for the `driver` class under `napalm.<driver>`, while in the past it was searching under `napalm_<driver>`. Not only this breaks backwards compatibility, but also napalm cannot actually be extended with community drivers.
In the current form, the developer would need to create the following tree structure: `napalm/<driver>/<driver>.py`. As napalm is a depe

[2017-12-06 10:22] dbarrosop commented on #575
I think it's easier to just modify `get_network_driver` to search for `napalm_$driver` as well. I guess this ties together with what @itdependsnetworks wanted to do as well for the custom drivers.

[2017-12-06 10:24] mirceaulinic commented on #575
That sounds good to me too.

[2017-12-06 15:20] sincerywaing opened #577 "[new feature]: get_acl method"
looking to implement something similar to ‘get_firewall_policies’ but better than that.

[2017-12-06 18:07] ktbyers commented on #575
Yes, I agree I think `get_network_driver` should look for the module as follows (probably in this order)

[code]

i.e. custom_napalm_ios should take precendence if it exists (since you are intentionally trying to override the default behavior), then `napalm.ios` (NAPALM2), then fallback to old drivers `napalm_ios`.

[2017-12-06 21:30] itdependsnetworks commented on #575
+1 to @ktbyers

[2017-12-07 10:49] dbarrosop commented on #362
So sorry for the late response. It's been crazy and we were trying to get some documentation around this topic so I have been hogging on this one for a while. Sorry again for the delay.

You have some info here:

http://napalm.readthedocs.io/en/develop/contributing/drivers.html#contributing-drivers

And even though is not 100% up to date there is a cookicutter template for a driver here:

https://

[2017-12-07 10:52] dbarrosop commented on #362
I am closing this ticket, feel free to reopen if you feel there is something to discuss or you need something from us.

[2017-12-07 10:52] #362 closed

[2017-12-07 12:17] adampav opened #579 "Salt Proxy minion drops the connection with XRv 9000 after 1 minute"
Hello, i noticed this problem while experimenting on an XRv 9000.
After approximately one minute of normal operation the proxy minion is not able to interact with the specific device.
I tested the same on an IOSXE device and i didn't face such problems.
I attach some DEBUG log lines
2017-12-02 13:28:44,563 [salt.utils.lazy                                            ][DEBUG   ][20954] LazyLoaded st

[2017-12-07 12:38] mirceaulinic commented on #579
That's unfortunate. I've noticed the same some time ago, but I forgot to submit the report.

Apparently our method `is_alive` does more harm than good, as besides checking the state of the SSH connection we also send the NULL byte, which destroys the connection: https://github.com/ktbyers/netmiko/blob/master/netmiko/base_connection.py#L248
Even though this is already tracked under https://github.c

[2017-12-07 17:58] ktbyers commented on #579
@mirceaulinic Can you expand on this? So the Null byte causes the IOS-XR to get in a messed-up state?

Is it because we are in an XML agent context?

Seems strange...but we can definitely do something different (or give an option to `is_alive` to actively test the connection versus just querying paramiko).

I thought this was what Secure CRT SSH session keepalive did (send a null byte). I will hav

[2017-12-07 18:18] adampav commented on #579
@mirceaulinic The proxy_keep_alive option seems better suited to my needs.
Many thanks again

[2017-12-07 20:43] #517 closed

[2017-12-08 10:04] dbarrosop commented on #575
I am fine what @ktbyers' proposal

[2017-12-08 10:13] dbarrosop commented on #577
Do you have more details or a proposal regarding this?

[2017-12-10 19:24] slinderud opened #582 "local variable 'system_temp' referenced before assignment - get_environment, napalm-ios 0.8.1"
Using netbox and trying to retrieve data via napalm.
Getting the error "local variable 'system_temp' referenced before assignment"

kcelenza from slack suggested this could be related to different output from sh env temp status.
Looks like he's correct:

 #sh environment temperature status
Inlet Temperature Value: 25 Degree Celsius
Temperature State: GREEN
Yellow Threshold : 46 Degree Celsius
Red

[2017-12-10 19:47] targuan commented on #572
Hi, it seems there is no tests for ipv6 bgp neighbors for this driver.
Could you provide the output of ```show bgp all summary``` , ```show bgp ipv4 unicast neighbors``` and ```show bgp ipv6 unicast neighbors``` ?

[2017-12-11 03:07] sincerywaing commented on #577
@dbarrosop

in junos it's equal to
[code]

in IOS it's equal to `show run | in access-list <policy-name>`

some additional details -

we don't need put the specific `sequence` into consideration, just use list's position to mark that.

we only put the most important src/dst/port/protocol/action into `mandatory fields`, and leave rest as `driver specific fields`, thus to keep consistency.

returns:

[2017-12-11 05:14] cspeidel commented on #582
Can you provide output for the following commands in case there are other quirks in get_environment:

show memory statistics
show proc cpu

[2017-12-11 08:34] natieitan commented on #572
Hi,
Sure, I just had to change part of the IP addresses to X.

show bgp all summary
For address family: IPv4 Unicast
BGP router identifier 178.249.100.124, local AS number 11054
BGP table version is 3671167, main routing table version 3671167
288197 network entries using 71472856 bytes of memory
293932 path entries using 35271840 bytes of memory
98 multipath network entries and 196 multipath paths

[2017-12-11 08:39] natieitan commented on #572
show bgp ipv4 unicast neighbors
BGP neighbor is 10.XX.1.2,  remote AS 11054, internal link
 Description: IBGP to ASR-NL2
  BGP version 4, remote router ID 178.XXX.100.125
  BGP state = Established, up for 9w5d
  Last read 00:00:00, last write 00:00:00, hold time is 15, keepalive interval is 5 seconds
  Configured hold time is 15, keepalive interval is 5 seconds
  Minimum holdtime from neighbor is

[2017-12-11 08:42] natieitan commented on #572
show bgp ipv6 unicast neighbors
BGP neighbor is 2001:XXX:2:XX::2:1,  remote AS 174, external link
  BGP version 4, remote router ID 38.XX.1.201
  BGP state = Established, up for 9w5d
  Last read 00:00:18, last write 00:00:15, hold time is 60, keepalive interval is 20 seconds
  Configured hold time is 60, keepalive interval is 20 seconds
  Minimum holdtime from neighbor is 0 seconds
  Neighbor sess

[2017-12-11 08:43] natieitan commented on #573
Hi,

Any chance someone can look at that?

[2017-12-11 08:44] slinderud commented on #582
Sure.

https://pastebin.com/0LsHHsuQ

[2017-12-12 10:57] mirceaulinic commented on #575
/remind me to work on this in 5 hours

[2017-12-12 11:08] dbarrosop commented on #575
if this is what this bot does I think we should remove it. I don’t want to increase the vast amount of emails I already get for napalm. We can each one use our favorite todo app ;)

[2017-12-12 13:08] dbarrosop commented on #429
@mirceaulinic can you review this issue and the linked PR?

[2017-12-12 13:33] dbarrosop commented on #524
Closed via #524

[2017-12-12 13:33] #524 closed

[2017-12-12 13:48] dbarrosop commented on #573
given that you seem to have the solution more or less figured out, would you mind sending a PR?

[2017-12-12 13:54] dbarrosop commented on #577
We need sequence number or this info can't be used to regenerate the configuration.

That sounds sane to me. However, I'd differentiate between `protocol` (ipv4, ipv6, ...) and `transport_protocol` (tcp/udp).

@mirceaulinic I think you were planning to look into this, if you are still planning to do that, would you mind checking this issue?

[2017-12-12 13:59] dbarrosop commented on #572
Fixed via #583

[2017-12-12 13:59] #572 closed

[2017-12-12 15:21] ktbyers commented on #573
@natieitan Can you get me the output from these three commands?

[code]

and also the OS version and model number that the output came from.

[2017-12-12 17:04] ktbyers commented on #575
I agree with David on this...as it notifies everyone not just the person that set the reminder.

[2017-12-12 17:20] ktbyers commented on #577
Whoever implements this needs to make sure they at least consider extended, standard, and named ACLs in Cisco land.

I would also say at a minimum that any data structure created needs to consider all five of the core platforms.

I am against implementing this as I think the parsing on Cisco IOS and NXOS is going to be a nightmare. I also think this data structure is going to be hard to implement

[2017-12-12 20:06] ktbyers commented on #472
I looked back at the original issue...this should work at the Netmiko/NAPALM level so AAA/TACACS+ should be supported.

If people run into issues, this can be re-opened.

[2017-12-12 20:06] #472 closed

[2017-12-12 20:08] ktbyers opened #585 "Cisco IOS driver should not automatically change the config"
ip scp server enable

auto prompt quiet

https://github.com/napalm-automation/napalm/pull/570

[2017-12-12 20:10] ktbyers commented on #585
`ip scp server enable` behavior still needs to be changed.

I will probably toggle the default for auto prompt quiet to not change this automatically.

Also optional args and Cisco IOS documentation needs updated.

[2017-12-13 08:31] sincerywaing commented on #577
@ktbyers Yeah. However from what I see the acl implementation in Cisco land is near-structural, or is easier to parse than `show environment` or `show lldp nei`...  its tricky part might be the fields are not always static, people may omit wild cards or using other words to replace them.

[2017-12-13 09:03] natieitan commented on #573
That's from my lab [it's easier to send that]:
ROM: Bootstrap program is IOSv
System image file is "flash0:/vios-adventerprisek9-m"

show bgp ipv6 unicast neighbors
BGP neighbor is 2001:1900:2101::1,  remote AS 11055, external link
  BGP version 4, remote router ID 192.168.0.2
  BGP state = Established, up for 3w2d
  Last read 00:00:39, last write 00:00:19, hold time is 180, keepalive interval is

[2017-12-13 09:04] natieitan commented on #573
show bgp ipv4 unicast neighbors
BGP neighbor is 10.0.0.10,  remote AS 11055, external link
 Description: eBGP to ISP1
  BGP version 4, remote router ID 192.168.0.2
  BGP state = Established, up for 3w2d
  Last read 00:00:25, last write 00:00:35, hold time is 180, keepalive interval is 60 seconds
  Neighbor sessions:
    1 active, is not multisession capable (disabled)
  Neighbor capabilities:

[2017-12-13 09:05] natieitan commented on #573
show bgp all summary
For address family: IPv4 Unicast
BGP router identifier 192.168.0.3, local AS number 11054
BGP table version is 22, main routing table version 22
15 network entries using 2160 bytes of memory
37 path entries using 2960 bytes of memory
7/4 BGP path/bestpath attribute entries using 1064 bytes of memory
4 BGP AS-PATH entries using 96 bytes of memory
0 BGP route-map cache entries u

[2017-12-13 09:16] mirceaulinic commented on #577
I was about to suggest a similar structure, and in addition to what @sincerywaing proposed, I think the following cross-platform fields would be useful too:

- policer
- icmp_type
- routing_instance
- next_ip?
- qos
- option (e.g. `tcp-established` etc.)
- source_interface
- destination_interface

Not sure about the last two however. Of course there can be many others, which we can either add late

[2017-12-13 09:26] mirceaulinic commented on #577
I would also argue about this one - I'm not convinced we should have subclasses, as this would need us to discuss every time from now on where shall we include protocol X; for example, it is not immediately obvious to me whether `vrrp` would belong to `transport_protocol` or the other one. I would suggest to keep things simple. Also, this should be a list, otherwise it won't work cross platform. S

[2017-12-13 09:28] sincerywaing commented on #577
@mirceaulinic shall we first make an agreement on the overall structure and see how we can proceed?

[2017-12-13 09:30] mirceaulinic commented on #577
Yes, please let's discuss first and then we can start implementing the tests with the expected structure.

[2017-12-14 12:55] natieitan commented on #573
@dbarrosop I'm having hard time understanding the regex, I need to replace the row from "Up/Down" to "State/PfxRcd"

[2017-12-14 13:39] mrstell opened #587 "Unambiguous LICENSE"
The project lacks clear license.
I see APACHE LICENSE in some source files, but no evidence in documentation or anywhere else that whole project could be distributed under this license.
Please, consider also adding license to PyPI: https://pypi.python.org/pypi/napalm/2.2.0

[2017-12-14 13:42] dbarrosop commented on #587
You are right, me "lost" during the reunification of the repos. Adding it back.

https://github.com/napalm-automation/napalm/pull/588

[2017-12-14 17:29] ktbyers commented on #587
License PR was merged.

[2017-12-14 17:29] #587 closed

[2017-12-15 00:04] ktbyers commented on #582
Okay, someone will have to do a PR to create a fix...to handle the output variations in the command.

[2017-12-15 14:18] dbarrosop commented on #577
I personally think this one should be "extensible". For instance, I'd rather start with something like:

[code]

So, for instance, TCP would have as transport_options source_port, destination_port, flags (SYN, ACK), established... UDP would have only source and destination ports, ICMP would have type and code and other protocols may have other options or just a subset of them.

For QoS we should d

[2017-12-15 14:36] mirceaulinic commented on #498
I have revisited this, that's actually not the case, everything is alright.

[2017-12-15 14:36] #498 closed

[2017-12-15 14:40] mirceaulinic commented on #579
Sorry for late reply @ktbyers:

Yes, but I still don't know why.

This is what I suspect.

I will need to investigate this closer to understand what's actually going on there and why. Thanks!

[2017-12-15 14:59] Rian83 commented on #477
Reminder of what is different between two

on nxos : `"hostname": "XXXX", `
on nxos_ssh : `"hostname": "XXXX.YYY.YYY.YYY?YYY", `

on nxos : `"model": "Nexus 3048 Chassis", `
on nxos_ssh : `"model": "Nexus",`

on nxos : `"os_version": "7.0(3)I4(7)", `
on nxos_ssh : `"os_version": "", `

and interface name different too

[2017-12-15 19:43] ktbyers commented on #477
@Rian83 Can you post the output for these four commands from that device above:

show_hostname.txt
show_hosts.txt
show_interface_status.txt
show_version.txt

Note, the model and os_version looks like a bug on NXOS_SSH.

You will also have to provide more details on `interface name different too`

[2017-12-15 20:58] Rian83 commented on #477
@ktbyers Yes version is a bug which I fixed. I'll do a PR on that. For model also but I need to find someone who have a N5K for example, because I need to have this kind of `sh ver` :
`Hardware
  cisco Nexus 5596 Chassis ("O2 48X10GE/Modular Supervisor")`

And here's my equipment. I discover that N3K and N9K does not have the same CLI output (as usual :( )
[code]

[2017-12-15 23:11] Rian83 commented on #477
I've installed titanium NXOSv for test on another plateform.
My NXOS json :
[code]

My show CLI :
[code]

[2017-12-15 23:16] Rian83 commented on #477
@ktbyers Should we produce the same napalm output for `nxos` and `nxos_ssh` drivers ?
Because, for example, `show hostname` is showing our fqdn on the CLI but the API not.

[2017-12-17 00:43] targuan opened #593 "Drivers reports free memory instead of memory installed"
In base, the documentation states that ```available_ram``` is the total amount of RAM installed in the device.
IOS and EOS driver parse the output of show memory statistics but return the sum on the column Free instead of the column Total.

Should it be fixed in the drivers or in the documentation of base ?

[2017-12-20 08:00] sincerywaing opened #595 "How to use a custom driver?"
Recently trying to develop something useful for cisco_wlc, but how can I import it to napalm? The document does not explain a lot there.

e.g., I have a folder name `cisco_wlc` with two files under it:
`__init__.py`:
[code]

`cisco_wlc.py`:
[code]

then in a `test.py` file, I want to use this as

[code]

How can I put this driver to use? if it's fine with the community, I can also open a PR (but p

[2017-12-20 08:12] #582 closed

[2017-12-20 08:21] dbarrosop commented on #595
We fixed that recently in #589 so you will have to wait until we release a new version. Basically, you will have to call your module `custom_cisco_wlc` and call it as `get_network_driver("custom_cisco_wlc")`.

[2017-12-20 08:26] sincerywaing commented on #595
@dbarrosop Thanks for the heads up! how about `__init__.py`? should it be something similar to
[code]

and change file name `cisco_wlc.py` to `custom_cisco_wlc.py`

then in `test.py`
[code]

something same to above?

[2017-12-20 08:31] dbarrosop commented on #595
correct, that should work.

[2017-12-20 08:32] sincerywaing commented on #595
fantastic. then I'll be waiting for `2.2.1` I guess.
I'll also see if I can share that with community soon.

[2017-12-20 08:34] dbarrosop commented on #595
Next version will be 2.3.0. I actually wanted to release today so hopefully you won't have to wait for long :P

[2017-12-20 09:43] mirceaulinic commented on #593
Hi @targuan - I think we should fix this in the drivers. I'll also ask @ktbyers for more opinions.

[2017-12-20 11:56] #500 closed

[2017-12-20 17:50] ktbyers commented on #573
@natieitan We can take this data you provided and incorporate it. I think that BGP code is pretty complex so if you can't complete the PR...no worries.

Ping me if I forget to do this.

[2017-12-20 18:01] ktbyers commented on #579
@mirceaulinic No worries...just let me know what you find.

[2017-12-21 06:43] sincerywaing opened #600 "get_users(): can we get root/admin (junos) and enable password (ios)?"
In junos it seems that there are two static users - root and admin, can we get them when we do get_users()?
also can we also get enable password in ios as well if it does not break anything?

[2017-12-26 07:43] DadaHiT commented on #600
get_users() can get admin but cannot get root-authentication

In [15]: device.get_users()
Out[15]:
{**'admin'**: {u'level': 0,
  u'password': u'***************',
  u'sshkeys': []},
 **'remote'**: {u'level': 0, u'password': u'', u'sshkeys': []}}

[2017-12-29 05:20] ktbyers commented on #593
Yes, this is a bug...so we should fix it.

[2017-12-31 08:39] vampep opened #606 "windows live environment all outputs { }"
I have tested my script which is simple compare_config script in gns3 and it works fine, so it's using unix and test routers with ver 15.6 ios.

When i move to my windows pc and a live environment my script is unable to get any output which causes an early error when trying to write to directory. When i test it in the interpreter and i do anything like device.get_interfaces() the output is a blank

[2017-12-31 21:32] ktbyers commented on #606
Can you post your code and the output from your code?

[2018-01-02 06:02] vampep commented on #606
@ktbyers below is just a quick test so you can see the blank result from get_interfaces. this is my live environment so i just x.x.x.x'd the ip address and generic'd the username/password but i connect just fine (I can see the additional user if I ssh into the router myself and do "show users") and you can see its "alive". Again, if tested in my gns3 environment on Unix i have no issues. The only

[2018-01-02 06:24] vampep commented on #606
same problem with 2.7. i feel like i'm missing some module (i'm a newb) or something. I was having trouble getting driver ('ios') to work until i realize i needed "terminal" installed, didn't auto download with netmiko or napalm. I'm sure i'm missing something else, which i didn't have to do on my unix vm.

[2018-01-02 08:25] dbarrosop commented on #600
I'd recommend having two different issues to track these changes. The `root` issue should be quite straightforward to implement (or at least it only involves changes in the junos driver). The other one requires modifying the `base` definition of the method and implementing the change in all the drivers so it requires more work. In any case, I think both changes are fine, we just need someone to im

[2018-01-02 08:55] dbarrosop commented on #595
Sorry this is getting delayed but I wanted to include #590 in the release and the holidays have kept me busy.

[2018-01-02 08:58] sincerywaing commented on #595
@dbarrosop no worries, please take your time. Happy new year!

[2018-01-02 10:50] #532 closed

[2018-01-02 20:33] ktbyers commented on #532
Okay, tested this in my lab environment and it worked properly now.

[2018-01-03 00:17] vampep commented on #606
i went through the required txt but i have everything there. but like i said, when i just installed netmiko and napalm for some reason i was missing terminal and that caused an error loading the driver for ios. Now i'm getting this problem but haven't been able to figure out why. Any idea?

[2018-01-03 05:06] sincerywaing commented on #600
@dbarrosop I'm changing this to target Junos. Will open a new one on ios.

[2018-01-03 05:39] ktbyers commented on #593
Fixed here:

https://github.com/napalm-automation/napalm/pull/605

[2018-01-03 05:39] #593 closed

[2018-01-03 05:51] ktbyers commented on #606
@vampep I would focus on the `get_interfaces` failure right now and not the `merge_config` (as other things could go wrong there).

I recommend turning on additional logging and see if that gives you clues as to what is occurring:

https://github.com/ktbyers/netmiko/blob/develop/COMMON_ISSUES.md#enable-netmiko-logging-of-all-reads-and-writes-of-the-communications-channel

[2018-01-03 07:03] vampep commented on #606
i agree with that assessment. i believe the blank output of get_interfaces (and everything else i try) is sending blank stuff to merge_config when it's looking for the flash memory and thats not normal and sends an error. I'll try the logging and see what happens.

[2018-01-03 07:15] vampep commented on #606
There doesn't seem to be a problem. Might I ask how does the script collect the info to be shown? I know merging creates a file on the flash, is it trying to download something from the router? if so that might be the problem. if it's just reading it as a string, then idk. Attached is the logging output but i removed the interfaces that were shown since it is a live environment.
[test.log](https:/

[2018-01-03 07:53] sincerywaing commented on #600
@dbarrosop sent a PR to this but it seems can't get Travis passed...can you take a look?

[2018-01-04 05:00] ktbyers commented on #606
@vampep When you enable logging...Netmiko then logs all reads and writes of the SSH channel.

So are you getting a valid `get_interfaces` data structure back from your program then?

The two `show interfaces` are the first one when you write the channel and then the router echo's the command back on the CLI (and you read this back during a read operation). So it is just once and an echo of the com

[2018-01-04 08:40] mirceaulinic commented on #465
Hi @nickethier. I'm sorry I missed your comment, thankfully someone asked about this so I just saw it. Unfortunately, I cannot assign issues but to folks that are part of the napalm-automation organisation. But please feel free to implement it, and submit a PR once you have anything ready. Thanks!

[2018-01-04 09:07] sincerywaing opened #611 "ios get_users(): add enable password"
this is something related to issue #600 however we raise a new issue to separately track this.

I'd propose to simplify things by adding a user with username `enable` and password with `enable secret`, without modifying base api.

Or another way is like @mirceaulinic suggested to add a new flag 'system_users' and add `enable secret` in `ios`, `admin` in `eos` and `junos`, `root` in `junos` as a li

[2018-01-04 22:34] vampep commented on #606
well the logging showed that it could see the router responded to the "show interfaces" but i still got a blank list as the output in the program.

[2018-01-04 23:59] ktbyers commented on #606
What version of Netmiko are you using?

[code]

Can you post the output of `show interface` for the first couple of interfaces?

[2018-01-06 15:25] sagarh9 opened #612 "Unable to push napalm script to an Cisco IOU L3 device"
Hi Guys,

I'm trying to push the configurations to an IOU L3 cisco router through a python-napalm script and i'm getting the below error:

 Traceback (most recent call last):
  File "napalmcfg4.py", line 13, in <module>
    iosv.load_merge_candidate(filename='ACL1.cfg')
  File "/usr/local/lib/python2.7/dist-packages/napalm/ios/ios.py", line 271, in load_merge_candidate
    file_system=self.dest_fi

[2018-01-06 16:46] ktbyers commented on #612
It looks like it is failing on the secure copy to the device.

What does a `dir` on the device show?

[2018-01-08 09:54] sincerywaing commented on #595
@dbarrosop I tried with develop branch and added the fix of #589 to `__init__.py` in base directory but still throw below error -

[code]

my `__init__.py`:
[code]

is there anything I'm missing?

[2018-01-08 14:58] dbarrosop commented on #595
looks like your class doesn't implement `__init__`.

[2018-01-08 15:40] targuan commented on #490
I'm working on the implementation for junos driver. I don't have any junos device, I'm working with the test output.
Some logical interfaces don't report the mtu (for instance ge-0/0/0.0 in [this test cast](https://github.com/napalm-automation/napalm/blob/develop/test/junos/mocked_data/test_get_interfaces/normal/get-interface-information.xml#L209).
 Anybody know how this should be reported by the

[2018-01-08 15:52] afourmy commented on #490
@targuan it is already done for junos, see https://github.com/napalm-automation/napalm/compare/get_interfaces_mtu3

[2018-01-08 18:13] targuan commented on #490
@afourmy the test of get_interfaces has not been updated with the mtu values and some interfaces where added inbetween in the test set and are not handled.

[2018-01-09 04:10] mattschwen opened #615 "ios get_mac_address_table() Unexpected output"
List of a few outputs that NAPALM get_mac_address_table() cannot recognize.

[code]

[2018-01-09 11:10] bDrwx opened #616 "Get network driver error"
Hi. When i try load network module for 'ios' device i get the error. But 'eos' work fine.

➜  ~ python
Python 2.7.6 (default, Nov 23 2017, 15:50:55)
[GCC 4.8.4] on linux2
Type "help", "copyright", "credits" or "license" for more information.

<class 'napalm.eos.eos.EOSDriver'>

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/n

[2018-01-09 11:25] dbarrosop commented on #616
Couldn't reproduce. Can you do this and paste the output?

[code]

If there is no output it means it worked just fine.

[2018-01-09 11:32] bDrwx commented on #616
python -c "from napalm.ios import IOSDriver"
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/napalm/ios/__init__.py", line 16, in <module>
    from napalm.ios.ios import IOSDriver
  File "/usr/local/lib/python2.7/dist-packages/napalm/ios/ios.py", line 28, in <module>
    from netmiko import ConnectHandler, FileTransfer, InLin

[2018-01-09 12:19] bDrwx commented on #616
Answer is here:
https://stackoverflow.com/questions/26828206/importerror-no-module-named-enum

pip install --upgrade pip enum34

[2018-01-09 12:31] dbarrosop commented on #616
Nice! did that solve your problem? Can we close this issue?

[2018-01-09 13:28] bDrwx commented on #616
Yes. This solved the problem. Can close issue.

[2018-01-09 13:54] #616 closed

[2018-01-09 14:46] vampep commented on #606
sorry i fixed it. I started playing with netmiko and realized i was having the same problem. After testing all day i realized what the logging file was actually showing me. The command were taking to long to get to the router therefore the output was always showing as nothing, or just the router prompt. A search found you had someone complain about the same issue. You addressed it by adding a "glo

[2018-01-10 12:29] mirceaulinic commented on #611
Hi @sincerywaing - let's see what we agree to do in #608, then we can do the same for IOS. Cheers.

[2018-01-10 14:34] sincerywaing commented on #595
@dbassrosop is there any example I can refer to? my class also has a __init__, a very close one to ios class.

[2018-01-10 17:57] dbarrosop commented on #595
well, I'd start by inspecting the `driver` object to make sure you got the class you were expecting and if you did then verify the `__init__` method has the correct name; that's two underscores before and after the word `init`.

[2018-01-10 17:57] dbarrosop commented on #595
by the way, we released a few days ago a new version of napalm with the fix already.

[2018-01-10 21:31] rbcollins123 opened #618 "Split for rollback command output causes exception when generating diffs"
https://github.com/napalm-automation/napalm/blob/0a2a5425e59e939efdc162a841281f01f4bc308a/napalm/nxos/nxos.py#L261

So the `#` in this split statement causes exception in NXOS 7.0(3)I7(2) on NX9300s I was testing today since there's no # in the CLI output.    I came across it when I noticed that "diffs: true" on a napalm_ansible playbook crashed, but disabling diffs pass for the platform.

I don't

[2018-01-10 22:40] ktbyers commented on #618
For reference here is what it looks like on NX-OSv 7.3(1)D1(1):

[code]

[2018-01-10 22:44] ktbyers commented on #618
@rbcollins123 Can you test that PR that I submitted fixes your issue.

[2018-01-11 02:26] sagarh9 commented on #612
Sorry, i was away from work for a while. Will let you know the output of 'dir' by EOD. But to clarify, i do not understand **AttributeError: 'NoneType' object has no attribute 'group'**. I haven't seen this error with IOSv devices.

[2018-01-11 17:48] #618 closed

[2018-01-13 01:35] #390 closed

[2018-01-13 01:37] ktbyers commented on #419
@s-m-e I am going to close this, if you have more questions on how to create a driver just re-open a new issue.

[2018-01-13 01:37] #419 closed

[2018-01-13 01:38] ktbyers commented on #421
Reunification is done. Closing this issue.

[2018-01-13 01:38] #421 closed

[2018-01-13 01:39] ktbyers commented on #427
I don't think there are additional actions here...

[2018-01-13 01:39] #427 closed

[2018-01-13 01:52] ktbyers commented on #438
NXOS_SSH doesn't save the configuration to startup on a replace operation. It does on a merge.

[2018-01-13 14:39] sagarh9 commented on #612
root@NetworkAutomation-1:~# dir
ACL.cfg  ACL1.cfg  napalmcfg3.py  napalmcfg4.py  ospf1.cfg
root@NetworkAutomation-1:~#

This is what i see when i do a 'dir'.

NOTE: I'm running this inside GNS3.

[2018-01-13 16:52] ktbyers commented on #612
@sagarh9 No I was referring to `dir` on one of the network devices.

For example, here is the output from an IOS router.

[code]

[2018-01-13 21:03] ktbyers commented on #438
Fixed here: https://github.com/napalm-automation/napalm/pull/624

[2018-01-14 06:18] sagarh9 commented on #612
Oops, sorry...

This is the info:
R1#dir
Directory of system:/

  758  drwx           0                    <no date>  cme
    2  -r--           0                    <no date>  default-running-config
    3  drwx           0                    <no date>  its
  105  dr-x           0                    <no date>  memory
    1  -rw-        1944                    <no date>  running-config
  104  dr-x

[2018-01-14 18:08] ktbyers commented on #612
@sagarh9 NAPALM IOS for the configuration operation requires a file system that you can create a file on.

So this probably won't work:

[code]

Is there a way on the L3 IOU device to create a `flash:` file system. At the end it needs to look more like what you have for the L2 IOU device.

[2018-01-15 06:38] sagarh9 commented on #612
@ktbyers you're right. I replaced the IOUl3 with the IOSvl3 router which had the flash: file system and the script ran successfully.

'dir' output of the IOSvl3 device:
r1#dir
Directory of flash0:/
    1  drw-           0  Jan 30 2013 00:00:00 +00:00  boot
  264  drw-           0  Oct 14 2013 00:00:00 +00:00  config
  267  -rw-   143178592  Mar 22 2016 00:00:00 +00:00  vios-adventerprisek9-m
  268

[2018-01-16 03:38] lingfish commented on #551
I have to say, this makes zero sense to me (having to quote like that)... but either way, shouldn't the doco be updated?

[2018-01-17 09:37] sincerywaing commented on #595
I upgraded to 2.3.0 but it seems there is still issue - looking at below code, it seems what napalm is trying to find is a folder with name 'custom_napalm' and a file, e.g. 'wlc.py'?

[code]

I have below directory -

[code]

in __init__.py:
[code]

in wlc.py:

[code]
and when I trying to use it, it throw below error -

[code]

[2018-01-17 10:43] noobcoderT commented on #579
Hello, thanks @mirceaulinic and @ktbyers to provide these nice libs.
I am now using salt with napalm to manage a cisco router which running ios, and I use telnet to connect this device. I have got the same problem. If I use ```always_alive``` option, and do nothing in 1 minute, I will lose this connection. If I make it false, it becomes very slow to contact with my device.
So, what will I do? Coul

[2018-01-17 13:53] sincerywaing commented on #595
I used community driver to make it running. Thanks guys!

[2018-01-17 13:53] #595 closed

[2018-01-17 22:16] mirceaulinic commented on #575
Closed via https://github.com/napalm-automation/napalm/pull/589

[2018-01-17 22:16] #575 closed

[2018-01-17 22:51] #438 closed

[2018-01-18 10:19] dbarrosop commented on #606
It's documented here: http://napalm.readthedocs.io/en/latest/support/index.html#optional-arguments

[2018-01-19 12:02] mirceaulinic commented on #579
Hi @ktbyers I had a closer look into this, and the NULL byte definitely breaks the connection in the XML context:

[code]

So the `is_alive` always returns True (as it is able to send the NULL byte, but the underlying netmiko layer doesn't fail).

Logs:

[code]

I am not sure what shall we send instead, or if there's anything we can send at all.
What about '\n'?

[2018-01-19 12:05] mirceaulinic commented on #579
@noobcoderT If you turn off the `always_alive` option, Salt will not attempt to keep the connection alive anymore, thus it will start a new SSH connection for each command you execute. So that sounds fine from this perspective (as establishing a connection is pretty heavy).

[2018-01-22 14:47] noobcoderT commented on #579
Thanks for your reply @mirceaulinic .
I'm trying to use salt.proxy.napalm module in salt python api. I started a proxy daemon for a network device, and I got 'True' when using salt.proxy.napalm.alive(opts) function even before I used  the init() function, and the get_device() func returned an empty dictionary. I have read the doc, but I don't know how to get the ```__proxy__``` variable.
[code]
 N

[2018-01-22 15:31] mirceaulinic commented on #579
Hi @noobcoderT you don't need to use the `__proxy__` object. This is documented only for developers that will potentially extend these capabilities, but not for users.

What are you trying to do, more specifically? To invoke arbitrary NAPALM methods, you can use the `napalm.call` execution function: https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.napalm.html#salt.modules.napalm.c

[2018-01-22 19:41] ktbyers commented on #579
@mirceaulinic Responding to your comment, have you tried to use '\n' or does that break the XML Agent also?

[2018-01-22 23:56] ktbyers commented on #606
@vampep were you using `send_command_timing` or `send_command`. It really shouldn't be showing nothing or just the prompt if you are using `send_command`; `send_command_timing` might do this (but you shouldn't normally be using `send_command_timing`).

I am going to close this as there doesn't appear to be any more actions to do here.

[2018-01-22 23:56] #606 closed

[2018-01-23 01:57] noobcoderT commented on #579
Hi @mirceaulinic , I want to use this napalm module in a python script, but not in salt cli. I want to use salt LocalClient to handle all proxy minions that running as daemon services, but I don't know all these IDs. So I want to know if there is a way to let me get the proxy objects and then operate them. Thanks!

[2018-01-23 08:54] mirceaulinic commented on #579
@ktbyers

From what I noticed, it doesn't seem to break anything. It actually doesn't do anything either (i.e., it doesn't move to the next line, or display again the prompt).

[2018-01-23 09:15] mirceaulinic commented on #579
@noobcoderT:

If your Proxy processes are already running, it's pretty easy:

[code]

The arguments you can send to the `cmd` function are documented at https://docs.saltstack.com/en/latest/ref/clients/#salt.client.LocalClient.cmd, e.g.,

[code]

But this requires your Proxy processes to be already started. You can equally write a Python script without pre-starting them, but that's slightly more c

[2018-01-23 10:22] noobcoderT commented on #579
@mirceaulinic
That's great, really big help. Now I know what I should do.
Thanks a lot!

[2018-01-24 15:11] Ichabond opened #630 "get_interfaces_ip for NXOS does not handle unnumbered interfaces"
When an interface is an unnumbered interface (https://www.cisco.com/c/en/us/support/docs/ip/hot-standby-router-protocol-hsrp/13786-20.html#unnumbered_iface), napalm will raise an exception:
```netaddr.core.AddrFormatError: failed to detect a valid IP address from None```
This is due to https://github.com/napalm-automation/napalm/blob/develop/napalm/nxos/nxos.py#L700, which passes None to IPAddress

[2018-01-25 17:36] ktbyers commented on #579
@mirceaulinic I wonder if it breaks if we are not in XML Agent context (especially the null-byte). I guess we could always enter/exit out of XML Agent if null-byte works in normal SSH session.

i.e. just do a little wrapper that could check for, enter, exit XML Agent.

It would make things slower though...

[2018-01-25 22:14] rbcollins123 opened #633 "nxos_ssh.py parsing for arp table dies if flags present in command output"
This line forces the arp table to only have at most 4 columns in output:
https://github.com/napalm-automation/napalm/blob/cb5fbd8de58c7f3971deacfd287c62e124155588/napalm/nxos_ssh/nxos_ssh.py#L1057

But there's a valid 5th column for flags that could be ignored, but shouldn't void parsing the result:
[code]

a simple `elif` to catch the case with 5 columns and parse the 5th column into _ or some un

[2018-01-27 23:26] nabapal opened #636 "cannot diff config: Search pattern never detected in send_command_expect"
Hello All,
Not able to use get_diffs=True getting this error. without get_diffs my playbook is working fine.
 Details error are attached.

can anyone help me to resolve the issue .
[error.txt](https://github.com/napalm-automation/napalm/files/1670632/error.txt)

[2018-01-29 13:37] nabapal commented on #636
This issue has been solved after provide the correct path for diff file.

[2018-01-29 13:37] #636 closed

[2018-01-29 17:01] omershtivi opened #637 "when using nxos_ssh when changing hostname receive error"
When used nxos_ssh changing device hostname I received the following issue:
`fatal: [LAB_POD2_1]: FAILED! => {"changed": false, "failed": true, "msg": "cannot install config: Search pattern never detected in send_command_expect: LAB\\_POD2\\_1\\-TEST\\#"}`

Rerun the playbook Password OK

The playbook:
[code]

[2018-01-29 17:02] ktbyers commented on #455
This was done previously.

[2018-01-29 17:02] #455 closed

[2018-01-31 14:58] radtrentasei opened #638 "Extend a driver and reference it with napalm-ansible"
As discussed in [115](https://github.com/napalm-automation/napalm-ansible/issues/115) I am bringing this topic to a broader audience.

I am trying to write some custom methods for my project; e.g. get_service_policies().

I have created in my working directory the **custom_napalm/** folder with **ios.py** and **__init__.py** ; ios.py extends the IOSDriver adding the desired method as explained in

[2018-01-31 15:46] dbarrosop commented on #638
`napalm_get_facts.py` uses `get_network_driver` so if you can find it with python it should work there as well. Make sure you are using the correct virtual environment in ansible (`ansible_python_interpreter="/usr/bin/env python"`)

[2018-01-31 16:04] radtrentasei commented on #638
To my understanding methods defined within a custom_napalm folder are accessible only from scripts in the parent folder and are not part of the whole python.

[code]

[2018-01-31 17:55] dbarrosop commented on #638
you can add it to the PYTHONPATH so that's not the case.

[2018-01-31 18:10] radtrentasei commented on #638
Obviously you are right :) , now it works

[2018-01-31 23:22] #441 closed

[2018-01-31 23:22] #633 closed

[2018-02-01 05:58] paperbacon opened #640 "junos ConnectionException"
`  File "/Users/paperbacon/Documents/PycharmProjects/napalm-test/venv/lib/python3.6/site-packages/napalm/junos/junos.py", line 109, in open
    raise ConnectionException(cte.message)
AttributeError: 'ConnectTimeoutError' object has no attribute 'message'`

I think line 109 of napalm/napalm/junos/junos.py should be:
`raise ConnectionException(cte.msg)`
as per http://junos-pyez.readthedocs.io/en/2.1

[2018-02-03 17:57] dbarrosop commented on #638
Happy to hear :D

[2018-02-03 17:57] #638 closed

[2018-02-08 18:32] cspeidel opened #644 "NTP set/get fails for non-CFS Nexus"
Commit 7bb33ee9a061264bba297ae08abd74b95cb4b65e breaks templated NTP configs for Nexus devices not running CFS for NTP. In this example the N9K did not have CFS enabled for NTP by default.

Example code:
[code]
Results:
[code]
The CFS application status:
[code]

From the N9K:
[code]

'show version' details:
[code]

[2018-02-08 19:16] cspeidel commented on #644
@mirceaulinic 'ntp commit' is not a valid command when CFS is not enabled for NTP (the default behavior for the platform/version above).

[2018-02-09 21:20] bplimp opened #646 "get_lldp_neighbors_detail error on Juniper PTX"
Hello

We recently encountered this error when calling get_lldp_neighbors_detail against a PTX5K.
$ napalm --user user --password pass --vendor junos 127.0.0.2 call get_lldp_neighbors_detail

[code]

We were able to fix the error by making the following adjustments to:
/usr/local/lib/python2.7/dist-packages/napalm/junos/junos.py
[code]
Not sure if this has been previously submitted or not but want

[2018-02-09 21:42] gmoua opened #647 "napalm load_merge_candiate inconsistent results for test cases"
Descr:
Would anyone be able to help me understand why invoking the napalm load_merge_config method for naplam-vyos succeeds in one test case but fails in another test case (I'll assume the underlying mechanics are similar as I'm trying to get to the same end goal with different but similar constructs):

Summary:
* napalm cli tool succeeds
* using salt with napalm doesn't succeed & reports "already

[2018-02-09 21:56] ktbyers commented on #647
@gmoua You need to file this directly against the vyos repository:

https://github.com/napalm-automation-community/napalm-vyos

Also please format your markdown properly when you post code and output captures.