[2019-10-08 15:40] ktbyers commented on #1060
Temporarily fixed using (by pinning to PyEZ 2.2.1

https://github.com/napalm-automation/napalm/pull/1061

FYI, I have not been seeing any NAPALM config-test failures against real devices using PyEZ 2.3.0. I run these nightly.

[2019-10-08 21:20] mnhauke commented on #1060
I also haven't seen any further issues with junos-znc 2.3.0 (when used NAPALM) so far.

[2019-10-09 04:08] netwninja commented on #1058
@mirceaulinic Thanks for catching the host name mistake.It's working fine now. I have tested it without optional argument and now seeing the expected results.

[2019-10-09 04:13] netwninja commented on #1058
Also, it seems HTTPS is enabled by default on Arista EOS under API section. All, we need to do is just "no shut"

[2019-10-09 04:14] netwninja commented on #1058
[code]

[2019-10-09 04:15] netwninja commented on #1058
Thanks again .. It was a good learning experience.

[2019-10-09 06:44] netwninja opened #1062 "napalm.get_bgp_neighbors on EOS showing "-1" for accepted prefixes wrt IPV4 & IPV6"
### Description of Issue/Question

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [] No

### Setup
EOS<192.168.10.1>------EBGP------<192.168.10.2>IOS
### napalm version

[2019-10-10 04:39] netwninja commented on #1062
![NAPALM](https://user-images.githubusercontent.com/45272577/66539557-3a66d300-eadd-11e9-8763-fc7d37d2be17.png)

[2019-10-10 14:45] netwninja commented on #1057
I ran the below NAPALM script and not seeing the issue

[code]

[2019-10-10 14:47] netwninja commented on #1057
[code]

[2019-10-10 15:06] mirceaulinic commented on #1057
Can you try with napalm 2.5.0? This should normally be fixed, unless there's a different issue.

[2019-10-10 18:16] TheRealBecks commented on #1062
@mirceaulinic If I understand correctly the json output for IPv4 is exactly that what @netwninja posted in his screenshot. In the eos.py file the keys 'sent' and 'received' are referenced and the section for 'accepted' is not yet implemented:
https://github.com/napalm-automation/napalm/blob/d2133692c3a58760f535da3765689bcbfafa17f1/napalm/eos/eos.py#L535-L558
But in the screenshot I can see the key

[2019-10-10 18:34] TheRealBecks commented on #1022
I have to be pedandic... hostnames and FQDNs have the valid characters a-z0-9- and the dot (.) for classifying the domain regions. There's no space allowed. Nevertheless lots of vendors allow other characters than that, so device names are not equal the DNS entries anymore. What I want to say is: I would prefer you change the hostnames to 'correct' ones, so no workarounds are needed in the source

[2019-10-11 08:18] TheRealBecks commented on #1010
I connected to one of our devices and I started some investigations:
[code]
In all three cases the header is not equal. I tested some regex on the website https://regex101.com/ with the following edited test string:
[code]
And I got the following regex pattern:
[code]
Is it that you are seeking for?

[2019-10-11 11:04] pehruby commented on #1038
Have you tried version 2.5.0 ?

[2019-10-11 15:22] #1044 closed

[2019-10-11 16:11] ktbyers commented on #1010
Very complex reg-ex are almost impossible to maintain...so I was thinking something more like:

[code]

Note, this is not solving the problem of things that change for Git checkin/backup. That is a slightly different problem than this.

To solve that there would be different things that need stripped.

[2019-10-13 18:09] netwninja opened #1069 "naplam.get_route_to() not working on EOS:failed to detect a valid IP address from u''"
### Description of Issue/Question

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [] No

### Setup

napalm-server-------vEOS

### napalm version
(Paste verbatim output f

[2019-10-13 19:07] netwninja commented on #1069
### show ip route output from Arista vEOS

[code]

[2019-10-13 22:01] netwninja commented on #1069
### show ip route 3.3.3.3/32 detail | json

[code]

[2019-10-14 17:17] emr-arvig commented on #1022
I will say that I completely agree. We have used napalm to go through and edit everything we have control of to ensure hostnames are more or less aligned with [RFC1034](https://tools.ietf.org/html/rfc1034#section-3.5). The problem, of course, are when we need to be able to discover customer devices, and many folks out there are just not as concerned.

What next? I'd like a green light on whether o

[2019-10-16 17:21] #1060 closed

[2019-10-25 22:30] sjhloco commented on #1038
Sorry only just got round to testing, yeah is working fine with 2.5.0, thanks

[2019-10-25 22:30] #1038 closed

[2019-10-28 02:22] ktbyers commented on #1043
That should be fixed in this PR:

https://github.com/napalm-automation/napalm/pull/1074

[2019-10-28 02:22] #1043 closed

[2019-10-28 13:49] mirceaulinic commented on #420
This has been resolved via https://github.com/napalm-automation/napalm/pull/768, included in version 2.5.0.

[2019-10-28 13:49] #420 closed

[2019-10-28 13:50] #429 closed

[2019-10-28 13:51] #431 closed

[2019-10-28 13:51] #432 closed

[2019-10-28 13:52] #447 closed

[2019-10-28 13:53] #445 closed

[2019-10-28 13:56] #663 closed

[2019-10-28 13:56] #579 closed

[2019-10-28 13:58] #460 closed

[2019-10-28 13:59] mirceaulinic commented on #454
I believe this has been fixed in the meanwhile.

[2019-10-28 13:59] #454 closed

[2019-10-28 14:03] mirceaulinic commented on #800
Seems to be documented right now.

[2019-10-28 14:03] #800 closed

[2019-10-28 14:03] #808 closed

[2019-10-29 10:51] #987 closed

[2019-11-01 09:51] Vuader commented on #963
@TomCos did you ever find a way to work around the "connection reset by peer" issue?

[2019-11-01 17:09] TomCos commented on #963
Nope, never found a solution sadly.  Still happens though, I just added a user log message to ignore it.

[2019-11-06 07:19] saifk-20786 opened #1082 "net.facts not working on nexus switch driver(nxos_ssh) in the upgraded version of (napalm 2.5.0)."
### Description of Issue/Question
net.facts not working on nexus switch driver(nxos_ssh) in the upgraded version of (napalm 2.5.0).
However, net.facts works perfectly fine when i install napalm 2.4.0 as expected.
*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automa

[2019-11-06 14:12] mirceaulinic commented on #1082
Hey @saifk-20786 would you be able to provide the output from `show inventory | json` and `show inventory`?
Also, are you seeing any issues with the `nxos` driver (not nxos-ssh)?
FYI: you don't need the `napalm-*` packages - `napalm` is all you need.

[2019-11-06 23:30] seismiccollision commented on #1082
i'm gonna guess it's because before nxos 7.x there is no support for "| json"
just ran into this on 6.x and 5.x nxos

[2019-11-07 03:48] saifk-20786 commented on #1082
# show inventory | json
                                  ^
% Invalid command at '^' marker.

==============================
# show inventory
NAME: "Chassis", DESCR: "Nexus5548 Chassis"
PID: N5K-C5548UP       , VID: V01 , SN: SSI155206VG

NAME: "Module 1", DESCR: "O2 32X10GE/Modular Universal Platform Supervisor"
PID: N5K-C5548UP       , VID: V01 , SN: FOC16130WSQ

NAME: "Fan 1", DESCR: "Chassis f

[2019-11-07 04:32] ktbyers commented on #1082
I think an issue was probably introduced in this PR:

 https://github.com/napalm-automation/napalm/pull/1025

It looks like that PR probably switched it to require the `| json` which will then fail for a set of NX-OS platforms that don't have the `| json` capability.

[2019-11-07 07:27] AmbicaY commented on #1082
I think its due to json capability. Most of my nxos fleet is not on nxos 7.x and I can repro this issue.

[2019-11-09 10:48] gadrenayan commented on #974
Hi, I work at Juniper, I can work on this issue.

[2019-11-10 16:23] adampav opened #1083 "user management for IOS devices"
Hello,

I noticed that there are no Cisco IOS templates for "set_users" and "delete_users" as there are for other drivers (e.g. Junos, Cisco XR).

I am in the process of creating these templates, would you be interested in me submitting a pull request?

regards,
Adam

[2019-11-11 08:43] mirceaulinic commented on #1083
I think we have agreed that these templates were generally a bad idea, and we no longer accept expanding the list of NAPALM native templates. However, I think it makes sense to add these two, to match the coverage with the rest of the drivers. Please feel free to open a PR for this @adampav. Thanks!

[2019-11-11 08:45] mirceaulinic commented on #1082
CC @VictorPavlushin - would you like to take a look at this? Cheers.

[2019-11-11 09:47] VictorPavlushin commented on #1082
I have no way to check other firmware versions. I have 6000 and 9000 devices. They have installed version 7 of the firmware. What is your version?

[2019-11-11 12:35] VictorPavlushin commented on #1082
@saifk-20786 I will try to fix it soon.
Please advise on which 6.x versions it works and on which not.

[2019-11-11 12:50] saifk-20786 commented on #1082
@VictorPavlushin its not working on all 6.x versions, i mean its not woking for the devices which are below 7.x version.

[2019-11-12 08:01] mirceaulinic commented on #1082
@saifk-20786 can you try the @VictorPavlushin's fix in #1084?

[2019-11-12 11:04] adampav commented on #1083
Cool @mirceaulinic , will do.
Cheers!

[2019-11-12 18:30] seismiccollision commented on #1082
tested on 6.x and 5.x and seems to be working for me for what it's worth
(is there a right way to test the module? without knowing better i just replaced the nxos_ssh.py file in my install directory)
this is a nice addition to get the serial numbers right
thanks guys!

[2019-11-13 05:43] saifk-20786 commented on #1082
i tried @VictorPavlushin's fix in #1084
seems to be working, but the output is not accurate. please take a look.
hostname and fqdn is not printed correct and the serial number is empty.
[code]

[2019-11-13 12:23] adampav commented on #1083
regarding the templates for set_users, i have observed that various platforms treat the `password` in user_details differently.

NXOS --- encrypted password. Interestingly enough ``password`` in NXOS is equivalent to ``secret``
[code]
IOSXR --- unencrypted pass (uses the ``password`` directive instead of the ``secret``)
[code]
JUNOS --- attempts to config ``plain-text-password`` instead of ``encry

[2019-11-13 21:15] adampav commented on #1083
well this issue started as simple stroll down the "jinja path".. It feels like it is spiraling out of control :D .

i checked the ``get_users`` getter across various devices and i am getting inconsistent results.
my problem is again the iosxr and ``secret`` vs ``password``.

e.g. from the ``iosxr`` napalm driver.

https://github.com/napalm-automation/napalm/blob/develop/napalm/iosxr/iosxr.py#L2203

[2019-11-14 04:32] VictorPavlushin commented on #1082
@saifk-20786
You have firmware version 7 on your device.
Please give `show inventory | json` and `show inventory`

Also try on the site https://regex101.com/ to check your console output with regexp `^NAME:\s+\"(.*)\",.*\n^PID:.*SN:\s+(\w*)`

[2019-11-14 04:38] VictorPavlushin commented on #1082
@saifk-20786 And tell me which version of python you have?

[2019-11-14 14:30] saifk-20786 commented on #1082
[code]

[2019-11-14 14:51] saifk-20786 commented on #1082
net.facts is working as expected. Thanks @VictorPavlushin @ktbyers @mirceaulinic

[2019-11-15 08:20] mirceaulinic commented on #1082
Closing as @saifk-20786 confirmed that https://github.com/napalm-automation/napalm/pull/1084 solved the issues. Thanks @VictorPavlushin.

[2019-11-15 08:20] #1082 closed

[2019-11-15 08:23] mirceaulinic commented on #1083
Hey @adampav! As platforms generally can't provide the password in clear, I think it makes sense to return the encrypted password across all the drivers. I'm surprised XR is able to return the password in clear (but if it's using the type 7 encryption is like not using any encryption at all, anyway). I'm going to mark this as a bug to fix. Cheers!

[2019-11-21 09:13] adampav commented on #1083
thanks for getting back to me @mirceaulinic . Great, so how should i proceed ?

- IOS templates?

- minor fixes for Junos/IOSXR templates (https://github.com/napalm-automation/napalm/issues/1083#issuecomment-553381407)

- iosxr user getter ?

- Any combination of the above ? :)

Cheers,
Adam

[2019-11-21 14:30] gadrenayan commented on #974
Hi,

I did following tests on a DUT EX4300-24p:

[code]

[code]

GNA: Set FactCache style new
FactCache called __init__ device <class 'jnpr.junos.device.Device'>
GNA: Facts gathered
GNA: call _refresh
GNA: refresh key is None
GNA: get_facts domain juniper.net
GNA: get_facts fqdn ex4300-24p

Can you confirm if the junos-eznc 2.2.1 has fixed the issue, the DUT didn't have hostname and domain-name co

[2019-12-11 08:46] writememe opened #1097 "nxos - napalm_validate - get_interfaces_ip - not working with nxos driver"
### Description of Issue/Question

It appears that the `nxos` driver is not working correctly for napalm validation on `get_interfaces_ip`, however when using the `nxos_ssh` driver with the same validation file, it works correctly.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [X] Yes
- [] No

###

[2019-12-13 16:56] robobeaver6 commented on #870
I am hitting this issue.  It seems to occur on [Line894](https://github.com/napalm-automation/napalm/blob/51ce16c1980c3ea9fd919e8097f3f59fecbae285/napalm/nxos/nxos.py#L894)
on neighbors where the state resolves to `Shut (Admin)`, which is not in the bgp_state_dict lookup dict.

[2019-12-25 19:11] mhprabin commented on #879
I tried to call netmiko command in napalm module but it's throwing error. Any idea please

Traceback (most recent call last):
  File "arista-mgmt_napalm.py", line 10, in <module>
    return_dictionary = dev.send_command("sh ip int br")
AttributeError: 'EOSDriver' object has no attribute 'send_command'

import json
import napalm
from napalm import get_network_driver
from netmiko import ConnectHandl

[2019-12-25 22:37] ktbyers commented on #879
@mhprabin The `EOSDriver` uses pyeapi and not Netmiko so you would have to use Netmiko directly here (if you want to use an SSH channel).

[2019-12-25 23:05] jbotello7381 commented on #849
I end here, after looking for some answers on the same error.  @jlixfeld are saying the issue was solved by modifying xr xml configuration? with the following config?

[code]

[2019-12-25 23:07] mhprabin commented on #879
@ktbyers  thank you for the response.
so if i want to send multiple config, do i need to call pyeapi module?

with netmiko, i'm able to send multiple command but with NAPALM, i couldn't get that feature. So, found this link to call netmiko within NAPALM but didn't work.

[2019-12-26 00:20] mhprabin commented on #879
@ktbyers  i'm able to send my desired config set by calling netmiko within NAPALM object. that's really cool feature.

res = iosvl2.device.send_config_set(['interface g0/1','no sw','ip add 1.1.1.1 255.255.255.0'])

[2019-12-26 02:39] mhprabin commented on #879
I tried same in EOS but seems it's using pyeapi call.

dev.device.run_commands(["show ipv6 bgp summary vrf all", "show ip bgp summary vrf all"])  -->working

 commands = ["show running-config | section router bgp"]
dev.device.run_commands(commands, encoding="text")[0].get("output", "\n\n")    -->working

I am able to send above command but couldn't send command with grep

sh int status | grep Et29

[2019-12-26 20:34] ktbyers commented on #879
@mhprabin In napalm, you would use `load_merge_candidate` or `load_replace_candidate` and then `commit_config`

https://napalm.readthedocs.io/en/latest/tutorials/first_steps_config.html#replacing-the-configuration

So you would just send multiple configuration commands that way.

Let me know if you were asking something different though?

[2019-12-27 00:16] mhprabin commented on #879
Actually I am working on one script where primary server is connected to Router1 and secondary server is connected to Router2. upon request i have to shutdown one interface at Router1 and no shut on Router2. I am able to complete this script but with netmiko it's little bit slow. i tried with fast_cli=True also but this works only in Cisco IOS.

 i'm running this script in EOS.Below is my sample s

[2019-12-27 00:25] ktbyers commented on #879
Okay, what is the question/issue?

Really not a NAPALM issue i.e. the question should be moved to Netmiko.

[2019-12-27 00:42] mhprabin commented on #879
sorry for the confusion. Above script is in netmiko and i'm trying to migrate to NAPALM.

with EOS, i'm not able to execute "sh ip int br" command but show clock works.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/napalm/eos/eos.py", line 636, in cli
    raise CommandErrorException(str(cli_output))
napalm.base.exceptions.C

[2019-12-27 01:07] mhprabin commented on #879
I tried with full command instead of skipping and finally, it worked. Thank you so much @ktbyers for the response.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/napalm/eos/eos.py", line 636, in cli
    raise CommandErrorException(str(cli_output))
napalm.base.exceptions.CommandErrorException: {u'sh ip intbr': u'Invalid comma

[2019-12-27 02:03] ktbyers commented on #879
@mhprabin Yes, in general eAPI requires full commands (i.e. you cannot abbreviate commands).

[2019-12-27 14:29] jlixfeld commented on #849
@jbotello7381 I specifically recall, but I don't believe so, no.  There was never any real attempt made to resolve the issue for the default VRF.  My interest was only in having NAPALM return results for one specific VRF, and I had to hack NAPALM in order to achieve that.

When coupled with this patch for NAPALM 2.3.3...
[code]

... this XR config was sufficient:

[code]

However, YMMV as this wil

[2020-01-05 10:00] timgates42 opened #1103 "Fix simple typo: themselvs -> themselves"
# Issue Type

[x] Bug (Typo)

# Steps to Replicate

1. Examine napalm/base/base.py.
2. Search for `themselvs`.

# Expected Behaviour

1. Should read `themselves`.

[2020-01-05 14:44] #1103 closed

[2020-01-07 14:11] #1020 closed

[2020-01-08 11:46] robobeaver6 opened #1105 "Expose Juniper format option for get_config so JSON format can be selected"
### Description of Issue/Question
## Feature Request:
For get_config against Juniper switches, currently the format option is hard coded to "format"="text".  Juniper supports JSON format for the show configuration,  which is much better to work with programmatically.  The underlying jnpr.junos.Device module supports JSON format.

### Did you follow the steps from https://github.com/napalm-automati

[2020-01-08 14:51] mirceaulinic commented on #1105
This sounds good to me. If you're willing to open a PR for this, please make sure to add the argument for all the core drivers (even though for some it may not make sense, the NAPALM API must be consistent).

[2020-01-08 18:48] writememe commented on #1097
Hi NAPALM team, would it be possible to get some assistance on this issue? I'd be happy to help fix it if you lead me to where the problem might be. Thanks

[2020-01-13 21:44] tcaiazza commented on #1097
I stumbled across this issue and took a stab at it.

I was able to reproduce the issue if my lab switch didn't have any IP interfaces assigned to the switch.  I suspect if you just ran the command `get_interfaces_ip` it would throw the same stack trace.  After assigning an IP address my lab setup, the script complained about not being able to run `show ipv6 interface`.  After I commented the IPV6

[2020-01-13 22:02] tcaiazza commented on #1097
So it looks like the interface not having an IP address was just fixed with https://github.com/napalm-automation/napalm/commit/ed9cbe4841d67d90cbd043303c634719a3fcd902

[2020-01-16 13:56] smaxx1337 opened #1110 "socket.timeout when trying to merge configuration on IOS-XE (12 minutes)"
### Description of Issue/Question

When trying to deploy a big configuration a Cisco IOS-XE router, it times out after a long time. SCP is enabled on the router. Is this a general bug or can I somewhere increase the timeout value from 12 minutes to 60 minutes? (idk)

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where

[2020-01-16 18:04] #1110 closed

[2020-01-19 01:50] writememe commented on #1097
Hey @tcaiazza , thanks a lot for helping! That fix seems to be with the `nxos_ssh` (napalm/nxos_ssh/nxos_ssh.py) driver however my issue is with the `nxos` (napalm/nxos/nxos.py) driver.

I commented out the entire get_interfaces_ip ipv6 block (lines 1125 to 1170) and the code now runs:
![Screen Shot 2020-01-19 at 12 46 30 pm](https://user-images.githubusercontent.com/24688622/72673105-c499dc80-3ab

[2020-01-20 20:48] tcaiazza commented on #1097
@writememe Yeah that is still the issue,  I have a PR now that once it is merged should fix your issue.  https://github.com/napalm-automation/napalm/pull/1108

[2020-01-23 21:20] writememe commented on #1097
Thanks! @tcaiazza

[2020-01-24 10:11] AmbicaY opened #1113 "get_bgp_config errors out on EOS"
get_bgp_config errors out on some Arista devices.

Error:
        Traceback (most recent call last):
          File "/usr/lib/python2.7/dist-packages/salt/utils/napalm.py", line 178, in call
            out = getattr(napalm_device.get('DRIVER'), method)(*args, **kwargs)
          File "/usr/local/lib/python2.7/dist-packages/napalm/eos/eos.py", line 850, in get_bgp_config
            local_as = int

[2020-01-31 17:36] alcm-b opened #1115 "Unable to configure connection timeout for JunOS driver"
### Description of Issue/Question

When NAPALM connects to a JunOS device that is down, `Driver.open()` falls back
to a default connection timeout, which is 30 seconds or so. In some cases there
is a need to reduce or increase that timeout.

For example, if NAPALM is used to query many devices, such as from a long
Nornir inventory, when some of the devices are not available, a long connection
time

[2020-02-01 17:27] ktbyers commented on #1115
@alcm-b

Reading more per the issue you referenced on PyEZ

https://github.com/Juniper/py-junos-eznc/issues/780

It sounds like the issue is more Juniper's timeout doesn't actually have a direct connection timeout. In other words, the PyEZ timeout is an RPC timeout post connection and not an authentication timeout.

Probably the best course would be add an "optional_args" into NAPALM to support au

[2020-02-04 08:46] alcm-b commented on #1115
@ktbyers , yes, I'll work on a fix for that.

[2020-02-04 11:36] alcm-b commented on #1115
@ktbyers may I assume there is no Python 2 compatibility required?

https://github.com/napalm-automation/napalm/releases

[2020-02-04 17:08] ktbyers commented on #1115
Yes, develop branch for NAPALM has already removed PY2 support so going forward there is no PY2 compatibility.

[2020-02-05 11:05] alcm-b commented on #1115
@ktbyers please take a look - https://github.com/napalm-automation/napalm/pull/1117

[2020-02-05 11:16] alcm-b commented on #1115
I ran a test script with the new optional argument `auto_probe` :

[code]

[2020-02-05 11:20] alcm-b commented on #1115
Without the `auto_probe` option, default timeout is in effect:

[code]

[2020-02-06 01:02] rbcollins123 opened #1118 "Interest in using EOS `commit timer` for EOSDriver.commit_config operations?"
I'm interested in contributing a PR to add this ability (and subsequently pass it upstream to napalm_ansible via another PR also), but wanted to gauge interest from maintainers on accepting something along those lines?   We have a number of use-cases where it would be advantageous to have the commit auto-reverted quickly if connectivity to the target EOS device was lost due to a change in the conf

[2020-02-06 01:24] tlund42 commented on #1118
This would be fantastically useful for us. We currently do the scheduled reload trick to revert in case we make a bad deploy and it seems a bit messy.

[2020-02-06 02:48] cdorry commented on #1118
Agreed this would be so much cleaner than the scheduled reload and also reduce the impact as config replace would be so much quicker than device reload.

[2020-02-07 20:23] TheRealBecks commented on #1057
@netwninja Please test with the current version, thanks!

[2020-02-07 20:27] TheRealBecks commented on #1022
Yeah, maybe you're right, as a IT guy things often have simply to work, even if that strange implementation cannot be changed. Maybe I was to harsh?
@mirceaulinic What do you say to this case?

[2020-02-07 20:32] TheRealBecks opened #1122 "Documentation build on readthedocs.org is failing due to Black and PY27"
When searching for 'NAPALM python' the first result on google.com is https://napalm.readthedocs.io/en/latest/
That documentation refers to NAPALM version 1 and when looking at https://readthedocs.org/projects/napalm/ I can see that the build process breaks. Two people are registered as maintainers: @mirceaulinic @dbarrosop
Is there any chance to get the build process working again?

[2020-02-10 21:01] rbcollins123 commented on #1118
Bump!  @ktbyers i noticed you did a lot of work on #550.  Any thoughts on the below?

[2020-02-11 00:53] ktbyers commented on #1118
Yes, we tried to do this in late 2017 and it eventually got abandoned due to how much work it was (abandoned was mostly be me i.e. implementing it + tests and documentation was going to take too much time).

We could open up discussions on it, but some caveats:
1. Any solution has to apply to all drivers (excluding NX-OS which I don't think has any viable solution for this). This doesn't mean we h

[2020-02-11 00:55] ktbyers commented on #1118
Here is relevant info from issue #550

----------------
Did some more research and review (which also helped me remember past research):

IOS - Should be able to do reasonable system-wide solution.

NX-OS - Does not have any reasonable solution (AFAIK). The only thing I see is a kludge that we shouldn't do. This is also what I found in past research. We can ask in Cisco channel or NAPALM channel a

[2020-02-11 04:37] sindhujit1 commented on #1039
I faced the same issue using threads in python. Seems like using too many threads( I used 200) running parallely may be a cause this issue.

[2020-02-11 13:53] ggiesen commented on #927
I noticed this implementation doesn't deal with any of the Cisco Metro E platforms (ME3400E, ME3600X, M3800X, ASR920) that use bridge-domains. Would extending this getter or writing a new getter that covers off those platforms be the right approach?

[2020-02-11 18:38] ktbyers commented on #927
I am going to close this as I think the original item is done.

@ggiesen I think you should create a separate issue if you think there is an enhancement that needs made to the existing getter (or a different getter that you think needs implemented).

[2020-02-11 18:38] #927 closed

[2020-02-11 18:48] ktbyers commented on #1039
I think this issue is now stale...I am going to close. If there is follow-up work to be done here, just re-open it.

[2020-02-11 18:48] #1039 closed

[2020-02-11 19:01] ktbyers commented on #1122
The `latest` here: https://napalm.readthedocs.io/en/latest/ looks to be NAPALM2. Why do you say it is NAPALM version1?

@TheRealBecks

[2020-02-11 19:01] ktbyers commented on #1122
Docs build is failing due to trying to use Python2.7 with Black.

[2020-02-12 08:16] TheRealBecks commented on #1122
The HTML title says it's "NAPALM 1" and now I found out where that (wrong) information comes from: https://github.com/napalm-automation/napalm/blob/develop/docs/conf.py#L67

[2020-02-12 14:05] rbcollins123 commented on #1118
Thanks @ktbyers for the feedback.  My main concern was if I could avoid the implementation for the other drivers as we need the EOS use-case 1st.  I'm fine with just adding NotImplemented stubs for all the other core drivers and tests, etc.  I'll start taking a look at it next week and making some plans for initial implementation

[2020-02-12 17:17] ktbyers commented on #1118
Yes, I think we need to consider all of the core NAPALM platforms as far as the behavior and methods we define (so that as they eventually get implemented for other platforms the methods make sense/don't need to be changed).

That being said we should not require all of the platforms to actually be implemented i.e. we should just implement them one at a time (as someone who has interests in that p

[2020-02-12 17:43] ktbyers commented on #1115
PR with this fix was merged.

[2020-02-12 17:43] #1115 closed

[2020-02-18 09:30] mirceaulinic commented on #1097
#1108 got merged, @writememe are you able to confirm it works as expected now (install the code from the `develop` branch)?

[2020-02-18 10:32] writememe commented on #1097
Hi @mirceaulinic, using the python script above works. I'll double check using napalm_ansible tomorrow and let you know (having issues with my lab) and confirm 100%. Thanks again

[2020-02-19 05:39] writememe commented on #1097
Hi @mirceaulinic, I've checked this again and it's now working. Thanks to you and @tcaiazza for helping out, much appreciated

[2020-02-19 11:21] #1097 closed

[2020-02-19 11:22] mirceaulinic commented on #1097
Great, thanks for confirming!

[2020-02-19 22:13] shorton3 opened #1128 "Latest 2.5.0 failing to connect IOSXR devices with Netmiko 3"
napalm==2.5.0
netmiko==3.0.0
Cisco IOSXR device

I am able to run napalm using on this same device with an older version of napalm and netmiko, but in a recent build of my environment and latest packages, its failing. Any ideas if this is caused by netmiko 3.0.0 or something else?  I am able to login to the device via ssh. Thoughts on what to look at next?  I've tried on dozen devices (all IOSXR),

[2020-02-19 23:14] ktbyers commented on #1128
Can you turn on Netmiko logging and record what happens when it fails (and post that here)?

Thanks. Kirk

[2020-02-20 01:19] shorton3 commented on #1128
Hi Kirk, this is the log output for get_facts:

DEBUG:napalm:Starting napalm's debugging tool
DEBUG:napalm:Gathering napalm packages
DEBUG:napalm:napalm==2.5.0
DEBUG:napalm:get_network_driver - Calling with args: ('iosxr',), {}
DEBUG:napalm:get_network_driver - Successful
DEBUG:napalm:__init__ - Calling with args: (<class 'napalm.iosxr.iosxr.IOSXRDriver'>, '10.10.10.10', 'userid'), {'password': '*

[2020-02-20 02:02] ktbyers commented on #1122
This should be fixed:

https://readthedocs.org/projects/napalm/builds/

[2020-02-20 02:02] #1122 closed

[2020-02-20 02:06] ktbyers commented on #1128
Okay, this is a bug that I will need to fix. You will need to use Netmiko 2.4.2 until I fix this issue.

[2020-02-20 02:50] shorton3 commented on #1128
Thank you sir!

[2020-02-20 15:15] TheRealBecks commented on #1122
Yes, it works, thanks a lot!
If someone needs the current documentation, it can be found here: https://napalm.readthedocs.io/en/develop/
And here we get the documentations for master, stable and develop: https://readthedocs.org/projects/napalm/
...master and stable will be automatically updated with the next NAPALM release.

[2020-02-26 06:14] jifox opened #1134 "Error module napalm_install_config replace-config: true (Cisco Catalyst 2960-CX IOS Version: 15.2(4)E6)"
### Description of Issue/Question

I get the following error during config replace operation:

**Command rejected: An interface must be configured to the "Access" or "Trunk" modes to be configured to "NoNegotiate."**

When I apply all the commands given in the diff file manually, all is working as expected.

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to

[2020-02-26 06:44] jifox commented on #1134
The problem was, that in the configuration file the interface Gi0/8 existed twice. One time as port channel and one time as edge port

[2020-02-26 06:44] #1134 closed

[2020-02-29 11:37] kochargs opened #1135 "incomplete outputs"
I am running Nornir to backup device configs for approximately 10, 000 devices. While a majority of the devices gets backed up perfectly fine there are still a lot of devices that return partial running config or the saved .txt file is empty. These devices are accesible because when i login to them manually via putty and execute show run, i don’t see any delays or latency to produce the output.

W

[2020-02-29 16:47] TheRealBecks commented on #1135
You're **thinking** it's a Napalm or Netmiko bug, but you're not knowing, so it would be best to open a bug report on the Nornir project: https://github.com/nornir-automation/nornir/issues
Also please provide information about:
- Nornir version
- Which devices (vendor, model, OS version) are having this issue?
- Are different devices affected when running the task a few times or always the same de

[2020-02-29 17:30] kochargs commented on #1135
Hi Martin,

Name: nornir
Version: 2.4.0

I am running this only with cisco routers/switches. I have 10k devices and i see this issue on multiple different IOS and hardwares. There is nothing common as such between the IOS and platforms.

If i run the task for 1 device or few devices, issue is less prevalent but if i run the task for large number of devices, the host that produced output when ran s

[2020-02-29 17:47] ktbyers commented on #1135
@kochargs Can you provide an example of a failing device including the code and device_type.

What version of Netmiko are you using?

[2020-02-29 18:04] kochargs commented on #1135
Name: netmiko, Version: 3.0.0
Name: napalm, Version: 2.5.0
Name: nornir, Version: 2.4.0

device_type : ios

`def backup_configurations(task):
    config_dir = 'sh_int_desc_all_routers'
    type_dir = config_dir + "/" + task.host.groups[0]
    date_dir = type_dir + "/" + str(date.today())
    pathlib.Path(config_dir).mkdir(exist_ok=True)
    pathlib.Path(type_dir).mkdir(exist_ok=True)
    pathlib.P

[2020-02-29 18:20] kochargs commented on #1135
Another fact that might be of significance is..

if i run the commands for small set of devices, the results are fairly constant. Even if i run that batch multiple times, same devices will fail everytime if there was a failure at all

but if i run the batch for large number of devices, i can expect to see varied results on each time i execute the batch. For example:-

Router-X might have produced

[2020-02-29 18:35] ktbyers commented on #1135
Are you using TACACS+ AAA (especially command authorization)?

[2020-02-29 18:35] TheRealBecks commented on #1113
There are two possible ways to represent a BGP AS number:

  64512                Configure BGP AS 64512
  <1-4294967295>       AS Number
  <1-65535>.<0-65535>  AS Number in asdot notation

See [Cisco documentation](https://www.cisco.com/c/en/us/products/collateral/ios-nx-os-software/border-gateway-protocol-bgp/white_paper_c11_516829.html) for more information. The ASN can be represented as intege

[2020-02-29 18:37] kochargs commented on #1135
Yes, i am using all As and unfortunately there isn't a way i can test this without AAA.

[2020-02-29 18:39] ktbyers commented on #1135
AAA is very likely the cause of the variability with large devices i.e. AAA slows things down meaningfully and thus causes more things to break.

[2020-02-29 18:41] kochargs commented on #1135
But what should be the cause for partial device outputs.... I can understand AAA causing delay leading to timeouts but if a command has been executed by code, its producing output and saving it to file then why just save a part of it and not all of it ? AAA shouldn't be responsible for this i think.

[2020-02-29 18:46] ktbyers commented on #1135
The general issue is significant variable delay in command output when doing screen-scraping (in particular pertaining to knowing when a command is done).

Related issues can be incorrect state caused by the same significant variation in delay (which once again AAA can cause huge problems with). Basically, Netmiko thinks the network-device is in a different state than it is actually in due to slow

[2020-02-29 18:50] kochargs commented on #1135
i can try to find such device where i can reproduce the behavior. With this huge set of devices i have, i am sure i should be able to find devices with consistent behavior. This might take me sometime since i will have to run the task multiple times to be able to draw any conclusion.

[2020-02-29 18:53] ktbyers commented on #1135
Even if it is somewhat reproducible that is fine (i.e. a device where ~30-60% of the time we see the issue).

I think focusing on a single device will be helpful as it will help us understand why this particular behavior is happening and what we find there will likely be applicable to a larger set of devices.

[2020-02-29 19:52] kochargs commented on #1135
I ran "show run" for a batch of 592 devices three times

First run:-
total files saved - 503
number of 0KB files - 89

second run:-
total files saved - 494
number of 0KB files - 83

third run:-
total files saved - 499
number of 0KB files - 79

Correlating data now.
On a side note, search pattern never detected is the most common error i see in logs file and for the devices for which i get this mes

[2020-02-29 19:54] ktbyers commented on #1135
This part:

[code]

is very likely caused by AAA (i.e. AAA making things much slower).

Can you post the full exception stack trace from an individual device?

[2020-02-29 21:12] TheRealBecks commented on #1083
@mirceaulinic @adampav What's the status here?

[2020-03-01 14:42] bong-asis opened #1136 "Adding Custom Method"
### Description of Issue/Question

This is more of a support question rather than an issue.
I'm trying to follow the documentation below but not having any luck.

https://napalm.readthedocs.io/en/latest/tutorials/extend_driver.html

So basically i wanted to create a custom method for ios.py driver. See the code below. The intention is to parse a string from a specific command. However the changes

[2020-03-01 15:06] bong-asis commented on #1136
i just edited the ios.py under the napalm/ios/ folder and added the custom method, it worked but i guess that's not the recommended way of doing it.

### Input/Output
driver = get_network_driver('ios')
ios = driver('10.255.100.10', 'admin', 'cisco')
ios.open()
ios.get_string('show ip route', 'last resort', -4)
Out[7]: '10.255.1.1'
ios.get_string('show ip cef', 'attached', -1)
Out[8]: 'GigabitEther

[2020-03-01 15:09] itdependsnetworks commented on #1136
You show a code snippet, but it’s more about folder structure and system path. I suspect your custom driver is not found for one of those reasons

[2020-03-01 15:24] bong-asis commented on #1136
So i did exactly this.

1. created a new folder under napalm called custom_napalm (napalm/custom_napalm)
2. under napalm/custom_napalm folder, i have two files, __init__.py and ios.py. however that doesn't seem to be helping as i still could not call the new method. please help?

### contents of the ios.py
'''
from napalm.ios.ios import IOSDriver
class CustomIOSDriver(IOSDriver):
    """Custom NAP

[2020-03-01 16:10] itdependsnetworks commented on #1136
From anywhere the /tmp directory can you import that module in the python interpreter shell? If you cannot, adjust your system path, which is a question best suited for google, as there are multiple options and not specific to this project.

If you can show that from the /tmp directory you enter the python interpreter and can import get_string, I’ll take a deeper look.

[2020-03-01 20:15] TheRealBecks commented on #1010
Ok, one step back to this:

[code]

and:

[code]
If the configurations shall be comparable the 'using ...' line in 'show startup-configuration' command needs to be deleted. When executing 'show running-configuration' the blank line in line 2 needs to be deleted, but the blank line at the end of the file needs to be preserved (or ignored when comparing two files).

[2020-03-01 21:13] mirceaulinic commented on #1083
Hey @adampav, sorry, I must have missed your question. Yes, I think we should proceed with the fixes you suggested for Junos and XR, and add the templates for IOS to be consistent across the drivers. Cheers!

[2020-03-02 14:10] kochargs commented on #1135
I am doing some code clean up and run it again and fetch the traces for you.
However in the meantime, i do randomly get "
    raise ConnectionClosedException(str(e))
napalm.base.exceptions.ConnectionClosedException: Search pattern never detected
in send_command_expect: test\-dev\-135\-ce01\#

for a lot of the devices. While there are a lot of results for this error on google but they all say the d

[2020-03-02 15:19] bong-asis commented on #1136
All good here. So instead of creating the folder inside venv/lib/site-packages/napalm i created the folder outside of napalm, that is venv/lib/site-packages/custom-napalm and then put the ios.py file in it, without the init.py as stated in the tutorial. I am now able to call the method for the ios object, which is cool. Thanks for your help!

[2020-03-02 17:26] ktbyers commented on #1135
Yes, the most likely fix is to add a global_delay_factor of 2 or 4 (or possibly more). If you are not using Netmiko 3.0.0 that also might help.

Yes, you won't see it manually as the most likely cause is slowness of AAA when a lot of simultaneous requests are going on.

[2020-03-02 17:28] kochargs commented on #1135
I am already using netmiko 3.00
Do i still need to set global delay when using nornir

On Mon, Mar 2, 2020 at 10:56 PM Kirk Byers <notifications@github.com> wrote:

--
Sent from phone. Please excuse abbrevity and typing errors

[2020-03-02 17:32] ktbyers commented on #1135
Yes (probably), an example is here:

https://nornir.discourse.group/t/passing-options-to-napalm-netmiko/22/6

[2020-03-03 14:51] gnubyte commented on #1006
For anyone looking at this, the issue is not just as trivial as adding the detail to ios - I recently tried this in a fork and the unit tests will require updating, as when you update the unit test it will inherently break all model's tests (in my experience) from a quick attempt at this problem. If there is a better way to address a per driver unit test that is easily implemented I'd appreciate a

[2020-03-04 05:43] mayuresh82 commented on #1118
so why not just add it to junos to begin with ? Junos has supported this since day 1, all the other vendors are playing catch-up.  Why are we imposing the need for additional methods here ?
A `revert_commit()`  method is not required, as it defeats the purpose of doing a commit confirmed which by definition, will revert the commit anyway after the given time.  The correct way of doing is is by sim

[2020-03-04 17:55] ktbyers commented on #1118
@mayuresh82 This already exists on Juniper's PyEZ and consequently is accessible by NAPALM (i.e. you can access the underlying PyEZ driver via NAPALM). Consequently, if your primary concern is Juniper, then this is already available.

A main purpose of napalm (probably the main purpose) is to make a common set of methods across different dissimilar platforms. This implies that the we need to consi

[2020-03-08 12:50] remingu opened #1139 "IOS-driver: Allow usage of user-exec functions without the need of priv exec mode/enable secret"
### Description of Issue/Question

By default driver('ios').open() will fail if the user does not provide an enable secret or has already privilege-level 15.
It is not unusual that users are limited to lower privilege levels (8 for example).
Many getter functions inside napalm do not necessarily require priv exec level 15 and can be already performed in user-exec mode(priv1).

This is caused by th

[2020-03-08 17:19] ktbyers commented on #1139
I think we should default to  the current behavior (which is try to go into enable mode). This is generally needed for the config-operations and some set of the getters (at least those that require the running-config).

Also changing this behavior is a pretty significant breakage of backwards compatibility which I don't think is worth doing.

I propose we add an optional argument that causes the `

[2020-03-08 19:26] remingu commented on #1139
Hi,

My PR does not break api.  So users wouldn't feel a difference as long as they don't rely on specific functions, for these functions a permission error is raised if the necessary privilege level is not available. I thought that might result in a more predictable behavior instead of sending commands and receiving a "invalid input error" message or empty values as it explicitely tells the user

[2020-03-09 00:33] ktbyers commented on #1139
Let's let @mirceaulinic chime in on this.

I have a pretty strong preference for using the optional_args pattern instead of the solution in the PR.

I am worried about the added complexity in the code and breaking things in a backwards incompatible way (yes, it is possible we don't break things, but we would need to test very thoroughly to make sure we don't).

I also generally think that NAPALM s

[2020-03-09 02:46] remingu commented on #1139
i don't think it's overcomplex, seemed to be the nicest solution without breaking things after reading through the source.
permissionErrors might be possibly a point they came with python 3.3, Could be a possible gap for some older systems running python 3.2, But it can be easlily replaced by another error type like RuntimeError or something
Anyways it's about having an option to disable the manda

[2020-03-09 10:38] mirceaulinic commented on #1139
:wave:

Yes, I think I'm with Kirk on this one - let's look into an implementation with an optional_args as I believe it'd be much simpler and more straight forward long term speaking. Remember that NAPALM is ultimately an uniform API for both gathering data and loading configuration - or, having a different behaviour per feature (i.e., you can do this, but can't do that with a specific username),

[2020-03-09 11:06] remingu commented on #1139
Hi,

honestely i'm seeing good reasons for privilege aware apis, especially in large scale environments where different parties want to have a certain level of device access.
However, i can live fine with the optional args variant.
What about the changes for ping(),traceroute() and get_ntp_servers(). (We could discuss that separetely if wanted)  it would allow usage from user exec.

[2020-03-09 12:04] mirceaulinic commented on #1139
I think we want to ensure the API behaves uniformly for _any_ feature, `traceroute`, `ping`, etc. included. :-)

[2020-03-09 16:22] remingu commented on #1139
well,  i will close issue and fork the cisco drivers instead.

[2020-03-09 16:22] #1139 closed

[2020-03-10 00:56] 111pontes opened #1140 "Helper function should support XML namespace prefixes"
### Description of Issue/Question
`napalm.base.helpers.find_txt` extracts text value from an XML tree using XPath.  Current implementation doesn't support XML namespace prefixes.  Here's an example of the desired support:

[code]

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [] No

### S

[2020-03-10 19:11] remingu opened #1143 "possible typo in iosdriver?"
### Description of Issue/Question

Hi,

while i'm playing with my driver fork ... it's probably nothing, but it doesn't make much sense to me. See the if ttl block.

regards

ios.py:L3196 [traceroute()]

[code]

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [] No

### Setup

### napalm ve

[2020-03-11 14:16] ggiesen opened #1145 "Broken get_vlan on NX-OS for VLANs with no interfaces assigned"
### Description of Issue/Question

Using get_vlans for nxos_ssh fails when there are VLANs defined with no interfaces assigned.

Example output captured from vlan_table_raw:
[code]

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [] No

### Setup

### napalm version
(Paste verbatim output f

[2020-03-11 18:38] mabraham21 opened #1146 "Napalm cannot handle custom enable prompt on Cisco devices"
### Description of Issue/Question

Our company set a  custom prompt when switching to enable mode on Cisco devices. I cannot change that, it's the policy. The prompt is "SecurID_PASSCODE:". By default, Napalm is looking for the "Password:" prompt in order to enter the enable password. Is there a way to tell Napalm to expect a different prompt for the enable mode?

Netmiko can do this in the enable

[2020-03-11 19:32] ktbyers commented on #1146
You probably would have to do a pull-request on this to pass in a special argument. You would pass this in via optional_args.

[2020-03-12 08:51] mirceaulinic commented on #1143
Yes, I think that looks a bit :fish: - at least the `command += " ttl 0 {}".format(str(ttl))` which should probably be `command += " ttl {}".format(ttl)` instead. Feel free to open a PR for that @remingu.

[2020-03-13 15:57] ggiesen commented on #1145
Created a simple fix with PR 1150

[2020-03-20 09:26] #1140 closed

[2020-03-20 09:30] mirceaulinic commented on #1136
@bong-asis I'm going to close this issue, as it sounds like you found the solution. Feel free to comment here if you have further questions, and I shall reopen.

[2020-03-20 09:30] #1136 closed

[2020-03-20 14:37] inetman28 opened #1153 "LLDP interface showing with quotes"
### Environment
* Python version:  3.6.8
* NetBox version:  2.7.8
* Napalm version: 2.3.3 and 2.5.0

### Steps to Reproduce
1. Use driver EOS and method get_lldp_neighbors_detail

### Expected Behavior
Napalm return me correct key value pair without quotes

### Observed Behavior
As you can see remote_port key have value with quotation marks (see below):

[code]

[2020-03-20 15:53] mirceaulinic commented on #1153
I don't know if I should laugh or cry (or both). Thanks for reporting @inetman28.

[2020-03-20 17:42] network-shark opened #1154 "Cisco IOS Interface Counter TenGig and beyond not parsed correctly"
### show interface summary not parsed correctly for 10G Interfaces

### Setup

### napalm version
(Paste verbatim output from `pip freeze | grep napalm` between quotes below)

[code]

### Network Operating Sytem
[code]

I was playing arround with napalm to gather some interface data specifically on ios xe  router with 10G interfaces.

I noticed that I had a couple of interfaces with drops, but usi

[2020-03-26 10:06] grnv opened #1156 "RPC timeout when committing config"
### Description of Issue/Question
Napalm gets exception if commit of configuration takes more than the default PyEZ timeout. Need a way to override default timeout.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [ ] No

### Setup

### napalm version
(Paste verbatim output from `pip freeze

[2020-03-26 10:18] mirceaulinic commented on #1156
When opening the connection with the device, you should be able to pass in the `timeout`, see https://napalm.readthedocs.io/en/latest/base.html#napalm.base.base.NetworkDriver - that should apply to the `commit-configuration` RPC as well.

[2020-03-26 10:26] mirceaulinic commented on #1154
We could probably just make use of the NAPALM canonical map (see https://github.com/napalm-automation/napalm/blob/develop/napalm/base/canonical_map.py) to convert from the short name to the full name (when looping through the output of `show interface summary`), e.g., map Te0/0/0 out to TenGigabitEthernet0/0/0, then match that into the output.

[2020-03-26 11:22] grnv commented on #1156
I thought I tried setting the timeout, but it appeared that I did it in the wrong place.
Thank you.

[2020-03-26 11:22] #1156 closed

[2020-03-27 15:31] network-shark commented on #1154
I'm open to create a PR , but can you give me a ref. where this map is already applied ?

[2020-03-27 20:21] TheRealBecks commented on #1153
@inetman28 That's not a NAPALM bug, because when you issue "show lldp neighbors detail | json" an an Arista switch you will see that the doubled quotation marks come from there. Here's my example output:
`"interfaceId": "\"Gi0/8\"",`
On Cisco NX-OS 7 the output is as follows:
`"port_id": "Gi0/4"`
So it looks like a wrong output on EOS? Maybe you should file a bug report to Arista?

[2020-03-30 07:43] inetman28 commented on #1153
I create support request to support@arista.com (via email).

[2020-03-30 20:47] 111pontes opened #1158 "Missing dependency for 'requests' package during installation"
### Description of Issue/Question

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [] No

### Setup

### napalm version
(Paste verbatim output from `pip freeze | grep nap

[2020-03-31 23:37] vithubati opened #1159 "NAPALM library not imported when using PyInstaller"
### Description of Issue/Question

I am working on Napalm library integration. everything was working perfectly fine. but when I tried to use Pyinstaller to bundle my application, it doesn't import Napalm dependencies. I get below error in Napalm library
`(‘Cannot import “junos”. Is the library installed?’,)`

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place

[2020-04-01 00:05] ktbyers commented on #1159
Doesn't look like a napalm issue.

At a minimum it looks like you are failing to install some needed dependencies.

[2020-04-01 00:05] #1159 closed

[2020-04-01 14:07] mirceaulinic commented on #1158
Have you tried `pip install napalm`? @111pontes

[2020-04-01 14:13] mirceaulinic commented on #1153
I agree, and encourage you to open a case with Arista, however I believe we should correct this on the NAPALM side as well (for regression, moving forward). CC @TheRealBecks @inetman28

[2020-04-01 15:07] vithubati commented on #1159
no, I am not. it's working properly locally. only when I tried to bundle the application using PyInstaller, the Napalm dependencies are not being picked up. I was thinking if I have something to do with something else I am missing.

[2020-04-01 15:13] ktbyers commented on #1159
You will probably have to dig around/research on pyinstaller more. It is not something I have any familiarity with.

[2020-04-01 19:41] 111pontes commented on #1158
Version in PyPI (2.5.0) certainly doesn't have the issue.  It occurs in the `develop` branch.

[2020-04-01 20:35] 111pontes commented on #1158
Dependency installs fine form PyPI:

[code]

Shouldn't `requests` package be listed in `requirements.txt`?

[2020-04-02 08:48] mirceaulinic commented on #1158
Hi @111pontes. I have been able to reproduce this. Yes, `requests` should be a direct dependency of NAPALM now. We have [integrated nxapi-plumbing](https://github.com/napalm-automation/napalm/pull/1074) into NAPALM directly, and `requests` was a dependency of this third party library. Thanks for reporting!

[2020-04-02 08:54] #1158 closed

[2020-04-08 18:15] zakkymuhammad commented on #471
Hi, can you help me? I got this error when I was trying to test simple code with napalm. Thank you.

file 'candidate'
`hostname Router`

`from napalm import get_network_driver

driver = get_network_driver('ios')
others = {
			'secret':'cisco',
			'dest_file_system':'nvram:'
			}
device = driver(hostname='192.168.124.148', username='cisco', password='cisco', optional_args=others)
device.open()

dev

[2020-04-09 05:23] zakkymuhammad opened #1165 "Cisco IOS (GNS3) : Search pattern never detected in send_command_expect"
Hi, can you help me? I got this error when I was trying to test simple code with napalm. Thank you.

file "candidate"
```hostname Router```

[code]
[code]

[2020-04-09 09:39] mirceaulinic commented on #1165
@zakkymuhammad I'll help you with this search query: https://github.com/napalm-automation/napalm/issues?q=is%3Aissue+Search+pattern+never+detected+is%3Aclosed
Have you tried the solutions from the past similar issues?

[2020-04-09 11:47] zakkymuhammad commented on #1165
I've tried some solutions of posts which you mentioned such as:

- delay_factor : still not working
- inline_transfer : still not working
- strip_command & strip_prompt : still not working

[2020-04-09 12:46] mirceaulinic commented on #1165
What platform are you trying this on? A `show version` as requested in the issue template would be helpful.

[2020-04-09 13:04] msartuche opened #1166 "Disabling Paging and Setting Terminal Width fails on IOS when user privilege is 0"
### IOS Device doesn't disable paging or set the terminal width properly when user privilege is 0
1. If you login with a user that has a privilege level 0 napalm doesn't verify that paging is truly disabled, this looks more like a possible netmiko bug than napalm but discovered it using napalm since netmiko isn't making sure the terminal length and terminal width commands are sent without any erro

[2020-04-09 13:07] zakkymuhammad commented on #1165
@mirceaulinic

I only use GNS3 with running cisco image from EVE.

[code]

[2020-04-09 13:09] zakkymuhammad commented on #1165
`hghjgjkhkhklhlj` khklklhklh

[2020-04-09 15:22] ktbyers commented on #1166
We should bump this as a Netmiko issue. The fix will be to raise an exception if this happens.

In other words, output paging has to always be disabled and if we can't at some point, then Netmiko will stop and raise an Exception.

[2020-04-09 20:39] msartuche commented on #1166
I can open an issue on the Netmiko github if you’d like.

[2020-04-09 20:41] ktbyers commented on #1166
Sounds good.

[2020-04-13 09:11] hellt opened #1167 "Cisco IOS XR driver doesn't reflect the actual state of route_reflector_client for its neighbors"
### Description of Issue/Question

Cisco IOS XR driver [puts](https://github.com/napalm-automation/napalm/blob/develop/napalm/iosxr/iosxr.py#L989) `route_reflector_client: False` for every neighbor in the `get_bgp_config` getter even if the router is not a RR itself.

Should either of the following approaches be used instead
1. SSH driver be used to get this info
2. `""` be used instead if this in

[2020-04-13 17:07] sdanelli opened #1168 "Eos get_bgp_neighbors is failing on devices due to type mismatch"
### Description of Issue/Question

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [] Yes
- [x] No

### Setup

### napalm version
(Paste verbatim output from `pip freeze | grep nap

[2020-04-13 19:44] mirceaulinic commented on #1168
Thanks for reporting @sdanelli, this should be an easy fix. I'd also recommend you to report this to Arista to correct this in the next EOS releases.

[2020-04-13 19:50] mirceaulinic commented on #1167
Thanks for opening this @hellt. I've checked in the mock data and it turns out that there actually is a key for the route reflector in the document returned by the XML API: https://raw.githubusercontent.com/napalm-automation/napalm/develop/test/iosxr/mocked_data/test_get_bgp_neighbors_detail/normal/_Get__Operational__BGP__InstanceTable__Instance__Naming__________InstanceName_default__InstanceName_

[2020-04-14 06:46] zakkymuhammad commented on #1165
Hi,

Do you have any updates about this problem?

[2020-04-14 07:32] zakkymuhammad commented on #1165
Hi Napalm Team,

Maybe this is caused by Cisco image. I was running my code on the different version of image. Thanks.
[code]

[2020-04-14 07:32] #1165 closed

[2020-04-14 16:21] Ichabond opened #1171 "Cisco Nexus 9000 series report old version number"
### Description of Issue/Question

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [] No

### Setup

### napalm version
[code]

### Network operating system version
(Paste verbatim output from `show version` - or equivalent - between quotes below)

[code]

### Steps to Reproduce the Issue
D

[2020-04-15 08:45] #1171 closed

[2020-04-15 12:09] rdpravin1895 commented on #1128
@ktbyers Has this bug been fixed??

[2020-04-15 16:47] mirceaulinic commented on #1153
Could any of you test #1175 and confirm it works as expected?

[2020-04-15 18:44] TheRealBecks commented on #1153
@mirceaulinic That fixes the problem, thanks!

[2020-04-16 07:21] #1153 closed

[2020-04-16 07:30] #1143 closed

[2020-04-16 16:39] ktbyers opened #1178 "Cleanup use_canonical_interface and canonical_int"
This looks to be inconsistently implemented and only on IOS.

Should probably just be removed and we should migrate to always use canonical interface names.

[2020-04-16 19:47] rbcollins123 commented on #1118
Sorry, took me a while to get back to this.  I took a 1st pass at the base methods/args from the past work from @ktbyers and threw PR #1179 up as initial code for discussion.  Let me know thoughts or suggestions for edits.  Once we agree on the base implementation I'll submit a PR for the EOS driver to implement all of these and then others can do the same or other drivers.  Thanks!

[2020-04-17 09:14] #1154 closed

[2020-04-21 20:52] sjhloco opened #1180 "napalm_validate not accept ~/ for validation file location"
### Description of Issue/Question
When running *napalm_validate* and feeding the *validation_file* in you cant represent the home drive with *~/*, you need to have the full path. This is in contrast to *napalm_install_config* where *diff_file* or *config_file* will accept *~/*. I initially tried an Ansible variable that I was using with *napalm_install_config* (so knew worked), next tried not usin

[2020-04-22 00:18] mcroff-wish opened #1181 "IOS-XR get_environment() throws an error in 6.3.2 on NCS5501"
### Description of Issue/Question

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [X] Yes
- [] No

### Setup

### napalm version
(Paste verbatim output from `pip freeze | grep nap

[2020-04-24 19:02] vsakpal opened #1182 "nxos.compare_config() returns an error"
Hello,
I am experimenting with Napalm and Python, currently looking into the nxos.compare_config() function. However, I get an error which I am pasting in the section below. I do see a candidate_config file created in the archive directory I configured on the device.

Python version: 3.8
NXOS:nxos.7.0.3.I7.6

Code:
driver = get_network_driver('nxos_ssh')
optional_args = {'use_keys': True, 'allow_a

[2020-04-24 21:23] ktbyers commented on #1182
Is your file you are uploading ("switch.conf") is this an NX-OS checkpoint file?

[2020-04-24 21:44] mcroff-wish opened #1183 "Junos SRX cluster get_environment() returns null. 15.1X49-D130.6"
### Description of Issue/Question

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [X] Yes
- [] No

### Setup

### napalm version
(Paste verbatim output from `pip freeze | grep nap

[2020-04-24 22:18] vsakpal commented on #1182
Nope, @ktbyers I simply created a text file with all the configuration from the switch and altered it so I could use it as a comparison with the running-config.

[2020-04-24 22:56] vsakpal commented on #1182
My idea was also to use this as a means of confirming if the intended config on the device has deviated from what the generated config (via internal tool).

So I am treating `switch.conf` as a generated config file and comparing that to the actual config on the device to check for any deviation. Is that not possible?

[2020-04-25 15:53] Thildemar commented on #1182
Best I can tell napalm uses the "show diff rollback-patch" api function for NXOS: https://www.cisco.com/c/m/en_us/techdoc/dc/reference/cli/n5k/commands/show-diff-rollback-patch-file.html

NXOS only allows rollback/diff commands with a checkpoint file instead of a "raw" config.  The checkpoint file is basically a config with the implicit commands also noted with "!#" .  I was able to get this worki

[2020-04-26 11:37] network-shark commented on #1146
Can you provide a configuration snippet @mabraham21 ?

I only know about

[code]
That command would also change the first Password prompt and that is not what you have been ask for.

[2020-04-26 13:56] vsakpal commented on #1182
@Thildemar Thank you for your help. I appreciate it :)  I was able to make some progress with your suggestion. The thing I found was the candidate_config file which is uploaded to the device must have the exact name `candidate_config.txt` - took me a while to realize this.

Secondly, I found that the nxos.compare_config() returns the diff however it would be good to see if we have '+' or '-' indic

[2020-04-26 14:39] Thildemar commented on #1182
The + or - diff is something other platforms do, not part of NXOS (Napalm uses the native function to create the diff).  NXOS will output the commands it sees as required to change from current to candidate config, which also means you may see a lot of "no" statements at the top of the diff followed by the replacements lower in the file.

Rollback is created as step 1 in the commit_config() using

[2020-04-27 08:42] mirceaulinic commented on #1183
Thanks for reporting @mcroff-wish. A good starting point to fix this - for you, or whoever is going to look into it - would be sharing:

- The exact output returned by `get_environment` for your device.
- The XML results from the relevant RPC calls from https://github.com/napalm-automation/napalm/blob/a32611125d62c07e1acfc8afe74b91105a4765c9/napalm/junos/junos.py#L394-L397, i.e., `get-environment-

[2020-04-27 15:50] mcroff-wish commented on #1183
Hi @mirceaulinic.  So the variables in question contain no data.  There is no XML returned for `get_environment()` yet `get_facts()` behaves as expected which is why I'm puzzled.  It's not an error it's just an empty dataset.

Doing a basic `print()` on `environment_data` results in:
[code]

[2020-04-27 16:05] ktbyers commented on #1182
I don't think there are any actions to take here. This thread is basically just discussing the behavior of NX-OS and configuration operations namely:

1. You must use a checkpoint file for full config replace.
2. The diff for a replace operation returns what NX-OS returns
3. The timing of when rollback happens.

[2020-04-27 18:47] ktbyers commented on #1118
@rbcollins123 Nag me if I don't start looking at this by mid-May. I am worried it might just slip through the cracks...

[2020-04-27 18:57] ktbyers commented on #1128
Nope, this still needs fixed.

[2020-04-27 20:26] rbcollins123 commented on #1118
OK will do @ktbyers!

[2020-04-28 08:23] mirceaulinic commented on #1183
get_environment and get_facts don't return XML. I was referring to the XML replies the device returns for the RPC calls I mentioned just above.

[2020-04-28 18:26] mcroff-wish commented on #1183
@mirceaulinic Correct, I was looking for the XML returned but I did not see any being returned.  I looked through `junos.py` and `table.py` with `pdb` but I wasn't able to find any XML actually being returned.  Do you have any suggestions to further investigate?  It's a little hard to understand the flow of data for this function call.

[2020-04-28 18:51] mirceaulinic commented on #1183
When I say check the XML output, I refer to looking on the CLI of your device and executing the command equivalent of the RPC call. For example, `show chassis environment | display xml`  is the equivalent of  the `get-environment-information` RPC I was mentioning earlier (you can check this by executing `show chassis environment | display xml rpc`).

If the command above indeed returns empty XML a

[2020-04-28 19:15] mcroff-wish commented on #1183
That's an interesting idea.  I hadn't thought to examine the `cli` data.  And, not surprisingly, it looks like JNPR is doing the wrong thing.

h2. show chassis environment | display xml
[code]

h3. show chassis environment | display xml rpc
[code]

[2020-04-28 19:27] mirceaulinic commented on #1183
Great @mcroff-wish. What about the other 3 RPCs needed for this function to work well: `get-route-engine-information`, `get-temperature-threshold-information`, and `get-power-usage-information-detail` - would you be able to find their equivalent CLI commands and share here the output? :-)

[2020-04-28 19:33] melewitz commented on #1128
Fixed
The problem was due to Netmiko 3's send_command option that defaults to true e.g. wait for the sent text to be echoed.  XML servers don't echo.
Now sending cmd_verify=False in pyIOSXR: https://github.com/fooelisa/pyiosxr/pull/61

[2020-04-28 22:23] mcroff-wish commented on #1183
I was able to pull the data requested.  It's attached below:

Commands without RPC:
[code]

Commands with RPC:
[code]

Temp Thresholds:
[code]

Routing-Engine:
[code]

PEM:
[code]

[2020-04-29 12:06] mirceaulinic commented on #1183
Oh I think I see what's the issue: the XML reply usually is like https://github.com/napalm-automation/napalm/blob/develop/test/junos/mocked_data/test_get_environment/normal/get-environment-information.xml, while on SRX it's nested under ``<multi-routing-engine-results><multi-routing-engine-item>``. And this is a big problematic as the question is: which environment details should we return? From n

[2020-04-29 13:52] #1168 closed

[2020-04-29 15:06] network-shark opened #1187 "Question / Enhancement / Errorhandling napalm.compliance_report return value"
### Description of Issue/Question

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [] No

### Setup

### napalm version
(Paste verbatim output from `pip freeze | grep nap

[2020-04-29 18:01] mcroff-wish commented on #1183
So this will be a problem for a lot of the JNPR product line.  MX's and EX switches commonly have multiple RE's.  I would propose the following:

1.  Return the results from `node0` for now.
2. Modify the data structure to take into account multiple RE's for the platform as a future feature request.

[2020-04-29 18:04] mcroff-wish commented on #1183
I should have noted earlier,  I tested on two SRX-345s that only have one node.  Both are returning the same empty set of data from get_environment().  So I do believe we have a couple of issues going on for both clustered and stand-alone SRX's running >15 code.

[2020-04-29 18:54] mirceaulinic commented on #1183
I don't have a lot of experience with SRX which is why I haven't seen that
sort of output before. MX, QFX and EX multi routing engines are just fine
in my experience, as the output is normal, similar to the other one Iinked.

On Wed, 29 Apr 2020, 20:02 mcroff-wish, <notifications@github.com> wrote:

[2020-04-29 19:00] mcroff-wish commented on #1183
Oh that's interesting.  I would have expected, probably incorrectly, that they would have been consistent.  So this seems to be a different use case than the MX, QFX and EX.  So maybe for now we just consider `node0`?

[2020-04-29 20:02] mirceaulinic commented on #1183
Wouldn't that be nice?

Sounds good to me.

[2020-04-29 20:10] mirceaulinic commented on #1187
Yeah, I agree, that's counter-intuitive.

To make it clearer, and abstracted from other tools, that's easily reproducible from a Python console:

[code]

For now, probably the recommendation is to make sure the file is not empty. :smile:

[2020-04-29 21:30] melewitz commented on #1128
Kirk let me know that pyIOSXR is now included with Napalm.  I've opened a PR on Napalm with a fix that globally disables cmd_verify from pyIOSXR: https://github.com/napalm-automation/napalm/pull/1188

[2020-04-29 22:54] hgandhi7760 opened #1189 "Issue while executing napalm get_environment() on IOSXR (ASR9K) Cisco network gear."
### Description of Issue/Question
Ran into the below issue while executing napalm get_environment() on IOSXR (ASR9K) Cisco network gear: -
raise XMLCLIError(error_msg, self)
pyIOSXR.exceptions.XMLCLIError:

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/n

[2020-04-30 02:24] mcroff-wish commented on #1189
I suspect this is the same issue as: https://github.com/napalm-automation/napalm/issues/1181

[2020-04-30 04:07] ktbyers commented on #1128
Fixed in above PR.

[2020-04-30 04:07] #1128 closed

[2020-04-30 04:08] hgandhi7760 commented on #1189
Hi there,
I was not sure about the network operating system version, my version is 6.2.3 and issue 1181 reported version as 6.3.3. If also suspect a parsing issue with napalm get_enviornment() module; but just to be sure i opened a new issue. If the issue is same, regardless of the network operating system version, feel free to mark this issue as resolved and i can follow issue # 1181. Thanks so m

[2020-04-30 08:08] mirceaulinic commented on #1189
Closing as duplicate of #1181.

[2020-04-30 08:08] #1189 closed

[2020-04-30 09:34] mirceaulinic commented on #1113
Only now seeing this, sorry... we have a helper in the napalm base: https://github.com/napalm-automation/napalm/blob/8deb8b6447098d16139c4fe77a67061838121fd6/napalm/base/helpers.py#L367

When used in the context @AmbicaY mentioned, for example, it'd give:

[code]

That should be an easy fix, let me PR that quickly.

[2020-04-30 09:52] mirceaulinic commented on #1113
Would any of you try #1191 and confirm it works well? My changes also touched a couple other methods besides `get_bgp_config`: `get_route_to` and `get_bgp_neighbors` - so I'd appreciate if you could test those too.

[2020-04-30 09:56] mirceaulinic commented on #1041
Implemented via #1042.

[2020-04-30 09:56] #1041 closed

[2020-04-30 10:00] mirceaulinic commented on #748
Done via #1184.

[2020-04-30 10:00] #748 closed

[2020-04-30 10:00] #547 closed

[2020-04-30 10:04] mirceaulinic commented on #525
I don't think anyone is working on this. Otherwise, please comment / open a separate issue, or even submit a PR (with the mention that it should provide the implementation of at least 3 core platforms).

[2020-04-30 10:04] #525 closed

[2020-04-30 10:05] #437 closed

[2020-04-30 10:06] #439 closed

[2020-04-30 10:19] mirceaulinic commented on #1118
Just wanted to add a note to make sure this doesn't lead to false assumptions. For example, I noticed this:

If you do a bad deploy and you lost access to the device because of it, NAPALM won't be able to save you unless you're using a platform that supports commit confirm natively. In other words, if you're on, for example, Cisco IOS or others similar, NAPALM can _at most_ revert to the previous

[2020-04-30 11:13] mirceaulinic commented on #1183
One more request. You provided:

[code]

Can you provide the output from the alternative command valid on this platform? (and it's XML RPC)

[2020-04-30 13:24] rbcollins123 commented on #1118
Yep understood.  I assumed we would address and document it accordingly in
the future PRs for each OS driver.  This PR was to ONLY get the base class
methods and args agreed upon and in place so we could all do PRs to enhance
each driver in the coming months.  I’ve already stubbed our the EOS stuff
but won’t submit until we all agree and merge this base PR first.

On Thu, Apr 30, 2020 at 6:19 AM M

[2020-04-30 14:56] network-shark opened #1192 "Enhancement / Feature Request Validation of NTP Status"
### Description of Issue/Question

I tried to validate configured ntp associations. It seems nearly all getter functions returning a dict , except get_ntp_stats()  which returns a list , but that is exactly the data I was looking for.
From my understanding I need a nested dict to create a validation yaml if I want to specify a specific host, neigh , ip ... .

The driver already have a get_ntp_serv

[2020-04-30 20:33] mcroff-wish commented on #1183
It doesn't seem to be supported on the SRX platform with fixed power supplies.  I would suspect it's relying on the routing-engine data.  I can't find any command to gather more info for the branch devices.

[2020-05-05 14:18] mirceaulinic commented on #1183
@mcroff-wish are you able to test this branch: #1196 and confirm this fixes the issue as discussed?

[2020-05-05 18:39] mcroff-wish commented on #1183
@mirceaulinic I was able to test with a standalone SRX345 and a clustered SRX345. Both return env variables!  Looks like it's fixed.

[2020-05-05 21:17] mirceaulinic commented on #1183
Great, thanks for confirming @mcroff-wish.

On Tue, 5 May 2020, 20:39 mcroff-wish, <notifications@github.com> wrote:

[2020-05-05 22:54] mcroff-wish commented on #1183
I pushed this fix by hand to `stage` netbox and confirmed the env variables are now populated.

[2020-05-05 23:52] phobozad commented on #612
On IOUL3 there is a writable filesystem under ```unix:/```

[code]

Not sure what modifications would be required to leverage that.  It seems like its just doing a ```dir``` command and assuming that is a full list of writable filesystems.  ```dir all``` does report the ```unix:/``` filesystem

[2020-05-06 11:03] #1183 closed

[2020-05-06 11:04] #1113 closed

[2020-05-06 17:18] ktbyers commented on #612
@phobozad What does `dir` by itself show (with no trailing filesystem specified)?

[2020-05-06 17:24] ktbyers commented on #612
You can specify the file-system using optional_args, however. The argument is:

[code]

So:

[code]

Then that needs to be passed in as an argument when creating the NAPALM object.

[2020-05-06 23:33] phobozad commented on #612
```dir``` just shows the system: filesystem.

Thanks for the tip about manually passing that in.  I ran across that in the documentation as I was looking for something else following my post.

Explicitly passing that is working correctly so that’s probably good enough given the unique nature of the platform in question.

[2020-05-08 08:48] ExaneServerTeam opened #1200 "IOS: get_interfaces_counters broken with Managment Interface"
### Environment

### Description of Issue/Question
Driver: ios
On call device.get_interfaces_counters() a KeyError is raised on Managment0 beeing missing

This is due to the Managment interface mgmt0 not beeing translated to canonical.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [w] Yes
- [] No

[2020-05-08 09:01] mirceaulinic commented on #1200
Hey @ExaneNetworkTeam - if you submit a PR by mid next week, I'll make sure to release it with 3.0.1. :-)
Out of curiosity: are you seeing this bug with 2.5.0?

[2020-05-08 09:08] ExaneServerTeam commented on #1200
@mirceaulinic Pull request available

I can confirm that the bug is not triggered with 2.5.0.

[2020-05-08 12:10] mirceaulinic commented on #1200
Okay, great. Thanks for the clarification and PR!

[2020-05-08 23:38] aroramanish2009 commented on #1015
Hi @max-cz
I am seeing the same issue, using the replace config option. In my case, I am seeing Diff populated with changes which are not real as nothing is being changed or committed to the device. I only see this issue with following in the configuration:
1. ACL
2. Interface Names
3. Prefix-set
4. route-policy

`#  !
#  ipv4 access-list SNMP-ACL
#   10 permit ipv4 host 10.x.x.x any
#   20 permit

[2020-05-09 20:49] #1200 closed

[2020-05-11 08:45] ExaneServerTeam opened #1205 "IOS: get_optics broken if input value is N.A"
### Description of Issue/Question

Exception is raised when running get_optics on Cisco iOS if the input value is N/A (Vs a float)

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [X] Yes
- [] No

### Setup

### napalm version
Latest Git

### Network operating system version

[code]

### Steps to Rep

[2020-05-11 09:09] #1205 closed

[2020-05-11 12:25] ExaneServerTeam opened #1207 "get_optics does not work on IOS VSS setup"
### Description of Issue/Question

Trying to get optics metrics on iOS virtual Switching System (VSS) setup returns nothing.

Source of the issue:

Command *show interfaces transceiver* does not work on vss mode.

It should be
[code]

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [X] Yes
- [] No

#

[2020-05-11 14:09] #1207 closed

[2020-05-11 14:33] rbcollins123 commented on #1118
Hey @ktbyers, bumping this and PR #1179 on your stack.  Just looking for thoughts on the methods/args/naming with everything set to raise `NotImplementedError` for now.  Then we will do small individual PRs for each OS driver once this is merged.

[2020-05-11 14:57] ktbyers commented on #1118
Correcting something here (from statement above)...Cisco IOS can do this (I basically implemented it in a POC at one point).

Will try to start working on this a bit today through Wednesday.

[2020-05-11 16:56] ktbyers commented on #1015
@aroramanish2009 Which version of NAPALM are you using?

I thought I might have fixed this earlier (would need to double check though as it was a while ago).

[2020-05-11 20:06] aroramanish2009 commented on #1015
Hi @ktbyers
The version I am running might be old, I can certainly try to upgrade and retest it.

napalm-ansible         0.10.0

I will update the thread if upgrading resolves the issue.
Thank you

[2020-05-11 20:13] aroramanish2009 commented on #1015
Update:
Upgraded to "napalm-ansible         1.0.0" using PIP
Same issue observed with diff, it tries commits ACL/Prefix-Set and RPL again even though nothing changes.

[2020-05-11 20:29] ktbyers commented on #1015
It is more a question of which version of NAPALM (napalm-ansible is largely a wrapper for the NAPALM library):

`pip list | grep napalm`

[2020-05-12 11:10] xschlef commented on #1128
Exactly the same problem happens with the nxos_ssh driver. Downgrading to netmiko 2.4.2 fixed the issue temporarily.

[2020-05-12 11:30] xschlef opened #1211 "nxos_ssh devices with Netmiko 3.1 fail on is_alive() call"
### Description of Issue/Question

This is the same issue as #1128 but with nxos_ssh.
Downgrading to netmiko 2.4.2 fixed the issue, but I think the logic has to be fixed here as well.

### Setup

### napalm version

[code]

### Network operating system version

[code]

### Steps to Reproduce the Issue

### Error Traceback

[code]

[2020-05-12 16:44] ktbyers commented on #1128
Adding a comment as while they have a similar underlying cause (namely cmd_verify=True being enabled for Netmiko 3.X), the problem is not really all that similar.

This is because the IOS-XR driver and XML-agent behavior cannot/does not work with verifying the echo of commands (there is no echo).

NX-OS on the other hand should generally work with cmd_verify=True.

[2020-05-12 16:45] ktbyers commented on #1211
@xschlef Can you post your NAPALM code corresponding to the exception. Thanks.

The exception above happens in the `is_alive()` call.

[2020-05-12 17:03] aroramanish2009 commented on #1015
I was running napalm version 2.4.0, upgraded it to 3.0.0 but now I started to run into some netmiko error. Let me try to troubleshoot it.
[code]

[code]

[2020-05-12 17:27] aroramanish2009 commented on #1015
[code]
Login issue is resolved with above combination but the diff file issue persists in version 2.5.0. Unable to resolve invalid syntax issue with version 3.0.0, interesting thing is that gather facts works with 3.0.0 and I see a successful login in router logs.

[2020-05-12 19:56] ktbyers commented on #1015
Python 2.7 is no longer supported.

You need to test with Netmiko 3.1.0 and NAPALM 3.0.0 ( the latest released version). Realistically we are not going to fix any issue on the old version (i.e. we would need to be working on the current code-base).

Thanks, Kirk

[2020-05-12 20:05] aroramanish2009 commented on #1015
Let me try to test it out with Python 3 and get back to you.

[2020-05-12 23:16] ktbyers commented on #1015
@aroramanish2009 Sounds good.

[2020-05-13 12:31] xschlef commented on #1211
I have wrapped all calls which checks if the connection is still alive.
[code]

[2020-05-13 12:58] smaxx1337 opened #1213 "IOS get_bgp_neighbors_detail(): ValueError: invalid literal for int() with base 10: ''"
### Description of Issue/Question
When we try to get a detailed view of the BGP neighbors by calling get_bgp_neighbors_detail(), we receive the error:
`ValueError: invalid literal for int() with base 10: ''`

However, get_bgp_neighbors() works fine.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x

[2020-05-13 16:31] ktbyers commented on #1211
Proposed fix:

https://github.com/napalm-automation/napalm/pull/1214

[2020-05-14 05:08] ktbyers commented on #1118
@rbcollins123 Haven't forgotten...just haven't got to it yet.

[2020-05-14 09:46] smaxx1337 commented on #1213
FYI: I have tried to "quickfix" it by adding this on line 375 in "napalm/base/helpers.py":
`        return int(as_number_str) if as_number_str.isdigit() else None
`
However, got the next error then:
[code]

[2020-05-14 11:26] mirceaulinic commented on #1213
@smaxx1337 the way I usually debug this sort of things is adding another test case for the impacted method (i.e., a new directory under https://github.com/napalm-automation/napalm/tree/develop/test/ios/mocked_data/test_get_bgp_neighbors_detail, say `issue_1213`) where I dump the data that's causing the trouble. Then, I start crafting around that. `tox` is your friend in this case. :-)
Feel free to

[2020-05-15 09:38] #1211 closed

[2020-05-18 08:14] asergeant01 commented on #1153
I have it that this will be addressed by Arista.....

[2020-05-19 08:50] FloLaco opened #1221 "Impossible to import napalm"
### Description of Issue/Question

When I try to import napalm with python 3.5.2 using virtualenv, I get a traceback.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq

- [x] Yes
- [ ] No

### Setup

### napalm version
[code]

### Network operating system version
[code]

### Steps to Reproduce the Issue

### Error Traceback

[code]

[2020-05-19 09:25] mirceaulinic commented on #1221
Hi @FloLaco - as previously announced, NAPALM 3.0.0 and later is supported only on Python 3.6+.

[2020-05-19 09:25] #1221 closed

[2020-05-19 09:26] FloLaco commented on #1221
Hi @mirceaulinic where is the annoncement ? I've read the doc and it's not written : https://napalm.readthedocs.io/

[2020-05-19 09:28] mirceaulinic commented on #1221
It's been announced in the last two releases https://github.com/napalm-automation/napalm/releases/tag/2.5.0 and https://github.com/napalm-automation/napalm/releases/tag/3.0.0, and Twitter. But you're right, we should probably add a note on RTD as well.

[2020-05-20 20:36] rrgual opened #1223 "NAPALM 3.0 fails on Python 2.7 due to f-string error"
Hi, Please help me how to deal with this I already install the  NAPALM and Netmiko updates however I cant run  also I already issue this command but still didnt work pip install --upgrade pip enum34

PS: Im using GNS3

Please see the image below for your reference

![NAPALM](https://user-images.githubusercontent.com/65682535/82494670-85899f80-9b1c-11ea-9361-d0ddb0f3b60b.jpg)

[2020-05-20 22:39] alphatwins opened #1224 "Adding OSPF to the GET commands"
Hi there, i saw this post in the napalm-base from 2017 regarding OSPF being added to the Get, just like get bgp etc. [Link to old post](https://github.com/napalm-automation/napalm-base/issues/216)

Would be awesome to have something like "get_OSPF_neighbors" etc

[2020-05-20 22:42] ktbyers commented on #1223
NAPALM is now Python3.6 or greater only.

Python 2.7 doesn't work with the newer version of Napalm (or Netmiko).

[2020-05-20 22:43] #1223 closed

[2020-05-21 17:51] jf008339 opened #1226 "ModuleNotFoundError: No module named 'fcntl'"
### Description of Issue/Question

When I am trying to import napalm module, I get:

```ModuleNotFoundError: No module named 'fcntl'```

and

```ModuleNotFoundError: No module named 'clitable'```

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [ ] No

### Setup

### napalm version
[code]

[2020-05-21 18:20] ktbyers commented on #1226
Which version of Juniper PyEZ library do you have installed?

Downgrade to Juniper PyEZ Version 2.3.2. That will probably fix your problem.

Note, this issue is fundamentally a TextFSM issue. Fix for it is here (but hasn't been merged into TextFSM nor released):

https://github.com/google/textfsm/pull/82

[2020-05-21 21:33] jf008339 commented on #1226
Junos PyEZ version was 3.4.1. I downgraded to 2.3.2 and the same problem.

I moved to Linux and it works fine.

Thanks for your reply. 😃

[2020-05-21 21:55] #1226 closed

[2020-05-22 18:04] VDavidCC opened #1227 "inline_transfer not working if specifying the configuration directly on IOS"
I'm using this scipt:
[code]

But when i run got this error:
[code]
Then i tried adding inline_transfer = True in optional args, but still don't work now im getting this error:

[code]
I know that there is a workaround using a user privilege 15 but for my purpose is nos possible to do that, please help me.

i typed this on the cisco switch:

[code]
But i'm not getting any response or log...

[2020-05-22 18:33] ktbyers commented on #1227
Okay, there is a probably bug in inline_transfer. As a workaround, you would need to put your configuration changes in an external file.

In other words, call:

[code]

[2020-05-22 22:33] VDavidCC commented on #1227
That solved the problem, thank you!

[2020-05-23 03:18] ktbyers commented on #1227
I am going to re-open() to track the underlying issue.

[2020-05-24 19:17] jbotello7381 commented on #1015
I thought to add my comments here since this is something I'm been actively working with Cisco.

The issue mentioned by @aroramanish2009 is been fixed by Cisco.

`ncs5500-parser-2.0.0.1-r653.CSCvr17274
`

In the lab, I'm using 6.5.3 with the fix applied

I'm currently asking Cisco to see if they can fix how they generate the config diff when performing configuration replace, which is what we use i

[2020-05-25 21:57] raikone14 opened #1229 "loop through a nested dictionary to connect in multiple vendor devices in Napalm"
I have NAPALM install and working to get facts from a single device at a time. However i deviced to make things a bit different, now I am trying to use a nested dictionary to connect to my devices, but I am getting a error.

[code]
I tried to put comma between my devices in the device=driver , but I cant connect either. And I think I will have another problem when I can fix this, my optional_args

[2020-05-26 02:06] ktbyers commented on #1229
This is not really a NAPALM issue/error.

You stated `but I am getting a error.`, but you didn't include the `error`?

[2020-05-26 02:06] #1229 closed

[2020-05-27 11:57] mirceaulinic commented on #1224
Hi @alphatwins. I agree it would be awesome, please feel free to open a PR and we shall be happy to review.
Note, we have agreed to only accept new methods when implemented on at least 3 or more NAPALM core platforms.

Cheers!

[2020-05-29 05:28] expbits opened #1231 "bgp_neighbors issue"
### Description of Issue/Question
Hi, I'm new to automation and trying to get 'bgp_neighbor' stats and ran into some issue. I have 2 ASR 1001-x running IOS-XE on the same code version on the same network with identical config setup. I’m getting a Traceback error when getting ‘bgp_neighbors’ to Router1 but on Router2 it works fine. I’m using ‘ios’ for the platform in my host file.  Any idea how to

[2020-06-04 11:41] jutkarsh079 opened #1233 "Issue in connecting to Juniper device"
### Description of Issue/Question
Getting issue while connecting to Juniper router.
*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [] No

### Setup

### napalm version
(

[2020-06-04 12:40] #1233 closed

[2020-06-05 18:37] VDavidCC opened #1234 "OSError: Search pattern never detected in send_command_expect: \(tcl\)#"
Hi!
Im having this error when i try to apply commit.changes:
OSError: Search pattern never detected in send_command_expect: \(tcl\)#

This is my script:
`from napalm import get_network_driver

with open('Lista.txt') as f:
    IpList = f.read().splitlines()

for ip_address in IpList:
    print ("Connecting to " + str(ip_address))
    driver = get_network_driver('ios')
    iosv = driver(ip_address,

[2020-06-06 15:43] ktbyers commented on #1234
Get rid of:

[code]

You will need to enable Secure Copy on the AP however (so it must support that and have it enabled).

[2020-06-09 14:27] VDavidCC commented on #1234
Well in my case i would have to apply the Scp server enable command manually on many APs (around 200) so i preferred to use Netmiko to directly apply commands on configuration mode.
Thank you!

[2020-06-09 16:53] ktbyers commented on #1234
Yes, understood...use Netmiko to enable SCP (if you want to use NAPALM's merge operation).

[2020-06-11 18:50] raikone14 opened #1236 "Commit Config issue, not finding the config file"
Hey guys I am trying to test the commit of napalm, but it is not able to finding the cfg file, I also tried to change to "txt", but the same error occurred Here my code:

[code]
**### and this is the error,both files are in the same folder:**

[2020-06-11 19:12] ktbyers commented on #1236
Which directory is "config.cfg" located in (full-path)?

[2020-06-11 20:57] raikone14 commented on #1236
hey tks, but both are in the same folder my code and my config file, should I use the full path in is case ?

[2020-06-11 21:05] ktbyers commented on #1236
Your program is here:

/home/user/Documents/python_files/network/config_compare.py

Your current working directory is:

user@user-pc:~/Documents/python_files$

So which one of those two directories is config.cfg located in?

[2020-06-12 23:26] raikone14 commented on #1236
Hey, tks again for your reply,
This are the path of my files,at least when I do a copy path in visual studio:
/home/users/Documents/python_files/network/config_compare.py
/home/users/Documents/python_files/network/config.cfg

[2020-06-14 11:00] network-shark commented on #1231
Can you provide "show bgp all summary" from both devices ?

[2020-06-15 08:35] expbits commented on #1231
@network-shark , there is one peer in one of the address-family that is down in R1 but not shutdown. R2 doesnt have any down peers and was able to pull all peer state for each address-family.

[2020-06-17 11:41] luqasz opened #1238 "No data to return in get_environment"
### Description of Issue/Question

This is more of a dev question. In cases where I can not return any valid data for `get_environment` or any other, what napalm driver shoudl do ?
* raise exception
* return empty dict

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq

- [x] Yes

### Setup

### napalm version
[code]

### Network operating system version
Affects all

[2020-06-18 19:17] #1192 closed

[2020-06-18 19:19] network-shark commented on #1192
I was wrong.
Everything works as expected , if you do it right :) .

This is my working validation.yaml

[code]

[2020-06-22 00:15] ankirich opened #1239 "Napalm 3.0+ import fails on Windows platform because of fcntl absence"
### Description of Issue/Question

"import" napalm works  perfectly fine on windows platforms (w7/w10) for version 2.3.2. however, the same fails after upgrade to 3.0+

### Setup

### napalm version
(Paste verbatim output from `pip freeze | grep napalm` between quotes below)

[code]
### Steps to Reproduce the Issue

PS C:\Users\devops\Documents\Tech\REPOs\_maintenance> python
Python 3.8.3 (tags/v3

[2020-06-22 00:47] ankirich commented on #1239
It seems that the problem is coming with _junos_eznc_. Version 2.4.1 installed with Napalm 3.0.1 has _cmdtable.py_ calling _parse_ function from _ntc_templates_ which, in turn tries to use _textfsm_.
I guess _textfsm_ there is a native module which, at the end, is trying to import _fcntl_.

[2020-06-22 01:38] tynany opened #1241 "NAPALM opengear driver does not implement force_no_enable"
### Description of Issue/Question
Commit https://github.com/napalm-automation/napalm/commit/638af2d8be5658cd17fb9bdcfe1b5ce7e6617334#diff-42f76fa4e7c3a361b0ebdd6daa24796e has broken NAPALM drivers that use `_netmiko_open` and do not implement `force_no_enable`. I will submit an MR shortly with a fix.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x``

[2020-06-22 01:38] tynany commented on #1241
https://github.com/napalm-automation/napalm/pull/1240

[2020-06-22 02:50] ktbyers commented on #1241
The opengear driver needs to accept the argument so the PR should be implemented there.

[2020-06-22 02:57] ktbyers commented on #1241
I corrected my initial comment here where I was going to advocate correcting this in the opengear driver. I am okay with correcting this in core napalm as long as it is implemented as a graceful handling of the attribute error.

[2020-06-22 03:02] ktbyers commented on #1239
This is not a really napalm issue.

One fix is to install this PR:

https://github.com/google/textfsm/pull/82

Second option is to install a downrev version of Juniper PyEz (2.2.1 I believe).

The issue is not Netmiko related. Netmiko has an alternate workaround for the Textfsm issue on windows.

The issue is that Juniper PyEZ loads ntc_parse and ntc_parse loads textfsm without the Windows workaro

[2020-06-22 03:02] #1239 closed

[2020-06-22 05:11] tynany commented on #1241
OpenGear is just an example. I took a quick look at all drivers in https://github.com/napalm-automation-community and the below drivers will suffer from the same issue (i.e. the driver uses `_netmiko_open` but does not implement `force_no_enable`).

https://github.com/napalm-automation-community/napalm-huawei-vrp
https://github.com/napalm-automation-community/napalm-onyx
https://github.com/napalm-

[2020-06-22 16:02] ktbyers commented on #1241
It is up to all the community drivers to pin to a specific version of napalm and update them across time as changes are made in napalm.

Using `_netmiko_open` is likely the preferred solution (as I think that would automatically/properly handle all of Netmiko's arguments getting passed including future arguments).

But the AttributeError and try/except will at least cause them not to break (as the

[2020-06-25 06:47] hellt opened #1243 "Parameters docstring read wrong by Sphinx in get_route_to method"
### Description of Issue/Question

The parameters for get_route_to method are a bit messed up (longer mixed with protocol) - https://napalm.readthedocs.io/en/latest/base.html#napalm.base.base.NetworkDriver.get_route_to

Although the docstring at the commit when the docs were built seems to be correct...

[2020-06-25 08:31] mirceaulinic commented on #1243
Thanks for reporting. Yes, that seems to always be the case where we have ``(optional)``, should probably just move it after the column, i.e., `param source: (optional)` instead of `param source (optional):`.

[2020-06-29 12:48] LensHunnel opened #1245 "Extend community driver"
### Description of Issue/Question

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [x] Yes
- [] No

### Setup

### napalm version

[code]

### Network operating system version

[code]

### Steps to Reproduce the Issue

I've followed the tutori

[2020-06-29 19:14] network-shark commented on #1245
You can create a pull request for each driver .

All Community Driver
https://github.com/napalm-automation-community?page=1

Drivers
https://github.com/napalm-automation-community/napalm-aos
https://github.com/napalm-automation-community/napalm-huawei-vrp

[2020-06-30 07:16] LensHunnel commented on #1245
It isn't the same thing, thoses drivers are working for some os versions but with minor changes (like with the extends driver feature) I can add support for others OS versions.

[2020-06-30 10:36] mirceaulinic commented on #1245
Hi @LensHunnel:

I think this falls exactly under what @network-shark mentioned: I'd recommend you to work it out in the existing public drivers for the benefit of the community at large. The minor changes can be modeled depending on the device properties as we do, for example, in the core NAPALM driver for IOS or Junos (e.g., https://github.com/napalm-automation/napalm/blob/develop/napalm/junos/j

[2020-06-30 10:36] #1245 closed

[2020-06-30 11:24] mirceaulinic commented on #1238
I'd say the following general rule of thumb:

- Error when there's something the users should do for the correct functionality (e.g., enable specific option or protocol), and document that as a caveat. See for example https://github.com/napalm-automation/napalm/blob/develop/napalm/ios/ios.py#L1911-L1912.
- Return empty when there's nothing you can do (i.e., the device doesn't return this informati

[2020-06-30 15:20] luqasz commented on #1238
Thx for clarification.

[2020-06-30 15:20] #1238 closed

[2020-06-30 16:10] steffann opened #1247 "KeyError in get_environment() on Juniper MX10k3 with Junos 19.2R1.8"
### Description of Issue/Question

Calling `get_environment()` on our Juniper MX10003 throws a `KeyError`.

The error has been traced back to `pem_name = pem[0].replace("PEM", "Power Supply")`. I assume this was done because Junos returned "Power Suppply" in `junos_environment_table` and "PEM" in `junos_pem_table`. However, my box returns "PEM" in both, so replacing it causes the lookup error late

[2020-06-30 16:44] mirceaulinic commented on #1247
Hi @steffann. Thanks for reporting. I think the fix you suggested sounds good.

[2020-06-30 16:48] mirceaulinic commented on #1231
@expbits are you able to share the output as @network-shark suggested?

[2020-06-30 16:52] #1236 closed

[2020-06-30 16:53] steffann commented on #1247
Shall I make a PR or will you copy&paste the line yourself? ;)

[2020-07-01 01:26] expbits commented on #1231
Sorry for the delayed response, got stuck at work. Here is the output for reference. I notice that i have 1 neighbor that is part of 2 VRFs. 1 is down and 1 is UP.

RTR-01#show bgp all summary
For address family: IPv4 Unicast
BGP router identifier 10.10.100.13, local AS number 10000
BGP table version is 1, main routing table version 1

Neighbor        V           AS MsgRcvd MsgSent   TblVer  InQ O

[2020-07-01 16:16] #1247 closed

[2020-07-06 23:06] aroramanish2009 commented on #1015
@jbotello7381
This was really helpful, I applied the Service Pack 2 with the IOS-XR fix and it fixed the issue I was seeing with ACL/RPL etc.
Thank you very much.

[2020-07-06 23:12] ktbyers commented on #1015
I am going to close this issue as I don't believe there is any work to be done on the napalm side. Just let us know if that is not correct.

[2020-07-06 23:12] #1015 closed

[2020-07-21 10:28] ndricimdanaj opened #1258 "error ios.commit_config()"
error ios.commit_config()
please help, any idea how to resolve

from napalm import get_network_driver

driver = get_network_driver('ios')

optional_args = {'secret': 'cisco'} #cisco is the enable password
ios = driver('10.1.1.40', 'admin', 'cisco', optional_args=optional_args)
ios.open()

ios.load_replace_candidate(filename='config.txt')

diff = ios.compare_config()
#print(diff)
if len(diff):

[2020-07-21 23:05] mirceaulinic commented on #1258
Read the error message.

See also https://napalm.readthedocs.io/en/latest/support/ios.html#archive.

[2020-07-21 23:05] #1258 closed

[2020-07-28 11:19] adampav commented on #1083
Hey @mirceaulinic , @TheRealBecks apologies for vanishing for a while.
Pretty swamped with work and obligations during the past month.
If this is still of relevance for napalm I will proceed as described above.

[2020-07-28 13:38] mirceaulinic commented on #1083
Sure, @adampav. Feel free to open a PR at your leisure.

[2020-08-04 09:14] #1241 closed

[2020-08-04 09:16] mirceaulinic commented on #1224
Feel free to submit a PR directly whenever, as described above. If you have any questions, you're welcome to ask here.

[2020-08-04 09:16] #1224 closed

[2020-08-07 13:10] aletessier opened #1265 "get_environment uses old show environment temperature on EOS"
### Description of Issue/Question

On latest EOS release the *show environment temperature* command used by *get_environment* is deprecated.
The new way of getting temperature is *show system environment temperature*.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [] No

### Setup

### na

[2020-08-11 05:18] chonty commented on #958
Same problem on ASR9000 with IOS-XR 6.1.4.

Would this be an acceptable approach to backward-compatibility?

get_facts() during a get_route_to() call or upon initialisation*, check version and adjust XML path accordingly.

*this would require an extra variable to store the version or some flag value unless facts are already stored and means you won't have to call get_facts() every time you ask for

[2020-08-11 08:25] chonty commented on #958
PR for option b https://github.com/napalm-automation/napalm/pull/1267

[2020-08-17 13:43] narayanankl opened #1271 "napalm load_merge_candidate error"
Dear Team,

I have been keep trying to test loading acl with the help of napalm, but it keeps showing below the error.

Traceback (most recent call last):
  File "napalmconfig1.py", line 19, in <module>
    iosvl2.load_merge_candidate(filename='acl.cfg')
  File "/usr/local/lib/python3.8/dist-packages/napalm/ios/ios.py", line 315, in load_merge_candidate
    return_status, msg = self._load_candidat

[2020-08-18 20:25] narayanankl opened #1274 "napalm_merge_cadidate_issue"
Dear Team,

I have been keep trying to test loading acl with the help of napalm, but it keeps showing below the error.

Traceback (most recent call last):
File "napalmconfig1.py", line 19, in
iosvl2.load_merge_candidate(filename='acl.cfg')
File "/usr/local/lib/python3.8/dist-packages/napalm/ios/ios.py", line 315, in load_merge_candidate
return_status, msg = self._load_candidate_wrapper(
File "/usr

[2020-08-18 20:43] ktbyers commented on #1274
@narayanankl Which version of NAPALM and Netmiko are you using? Please make sure you are using the latest released version.

Do you have `archive` configured and `secure copy` enabled on the device?

https://napalm.readthedocs.io/en/latest/support/ios.html#archive

Also are you at privilege level 15 (i.e. does the user you login with have privilege 15 permissions)?

[2020-08-19 10:07] #1271 closed

[2020-08-19 10:11] mirceaulinic commented on #1265
Hey @aletessier. I think you'd need to add the mapping to the new command [here](https://github.com/napalm-automation/napalm/blob/develop/napalm/eos/utils/cli_syntax.py#L94) and [here](https://github.com/napalm-automation/napalm/blob/develop/napalm/eos/utils/cli_syntax.py#L246) (after the lines I linked). Can you test, and open a PR to fix this if it works?

[2020-08-19 10:55] mirceaulinic commented on #958
Solved via https://github.com/napalm-automation/napalm/pull/1267.

[2020-08-19 10:55] #958 closed

[2020-08-23 17:25] ktbyers commented on #687
@suhasbhoir Please create a new/separate issue for this and please make sure to format your code properly using GitHub markdown formatting.

Regards, Kirk

[2020-08-24 04:29] suhasbhoir opened #1277 "OSError: Search pattern never detected in send_command_expect: B2#"
Only one router in topology getting this error while sending the load_merge_candidate **OSError: Search pattern never detected in send_command_expect: B2#**

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq

- [x] Yes
- [] No

### Setup

[code]

### napalm version
(napalm==3.1.0)

[code]

### Network operating system version

[code]

### Steps to Reproduce the Issu

[2020-08-25 02:24] yzguy commented on #1265
Put a PR in for this, seemed like a simple one for a first contribution

On EOS-4.22.3M

[code]

On EOS-4.24.2.1F

[code]

[2020-08-25 02:27] yzguy commented on #1265
I put a PR in for this, seemed like an easy first contribution

[code]

[2020-08-25 13:56] mirceaulinic commented on #1265
That's great - thanks for the PR and testing it out @yzguy!

[2020-08-27 11:23] narayanankl commented on #1274
@ktbyers , thanks for your response, yes, I have enabled archive and scp, but still the same error, also I can confirm the user is alligned with privilege level 15.

[2020-08-28 12:42] javcasalc opened #1281 "cisco ios get_probes_config: incorrect "ip sla" parsing"
Hi

I've seen this code is pretty old (3 years, https://github.com/napalm-automation/napalm/commit/1bdc4d171baa75a74005ccedf4d7e4ab24c28b97#diff-5a3fb7da3626f2d9b4eed6d1e6011e74R1905), and it turns out that it does not work with newer IOS XE like Version 16.12.3 for example.

I would change the probes_regex definition from
[code]
to
[code]

and also I think you have to exec ```sh run | section ip

[2020-08-28 12:55] mirceaulinic commented on #1281
Hi J. Yes, please feel free to submit a PR to correct this, as described above (assuming the current tests would pass -- but another test case would be ideally added for this particular scenario). Thanks.

[2020-08-28 13:02] mirceaulinic commented on #1277
Suhas, have you tried to increase the `global_delay_factor` more than 4? Say 10, and check if this would help. I believe you have followed the notes from https://napalm.readthedocs.io/en/latest/support/ios.html? Cheers.

[2020-08-28 15:07] resparis opened #1282 "License is missing"
Hi, Im trying to add it my company repository but I am getting the following error

[96mRejectReasons[0m (1)
[96mType:[0m      UNKNOWN_LICENSE_FOUND
          [96mLicense:[0m   UNKNOWN

Can you add one?

[2020-08-28 15:09] ktbyers commented on #1282
It is already there:

https://github.com/napalm-automation/napalm/blob/develop/LICENSE

Kirk

[2020-08-28 15:12] ktbyers commented on #1277
It looks like it fails on doing the `write mem`. How long does write mem take on this device if you do it manually? Does it do anything odd if you manually do this i.e. `prompt` you to continue (this can happen after an OS-upgrade)?

[2020-08-28 15:44] resparis commented on #1282
Do you think you can add it to pypi.org ?

still getting the same error to imort it

[2020-08-28 15:50] ktbyers commented on #1282
Okay, I will update setup.py meta data.

Which tool are you using that is checking/verifying the license (for my information/learning)?

[2020-08-28 15:51] ktbyers commented on #1282
Also when you say you get an error on `importing it`--can you show me?

[2020-08-28 17:34] resparis commented on #1282
We are usign jfrog articatory..
Still having the same problem.

[96mMessage:[0m                     Artifact scanning found issues.  Upload aborted, see reject reasons.
[96mProgress:[0m                    [92m4[0m / [92m5[0m
[96mCreate Timestamp:[0m            2020-08-28 13:47:10 -0300 -03
[96mUpdate Timestamp:[0m            2020-08-28 13:51:59 -0300 -03
[96mArtifact:[0m

[2020-08-28 17:46] ktbyers commented on #1282
Yes, you will have to wait until we deploy a new release to pypi. We are planning on doing that in the not too distant future (though that usually means on the order of x-days where x is less than ~7).

Note, NAPALM is licensed as Apache2 (which is clearly indicated in the repository using the standard filename for this).

[2020-08-28 18:04] resparis commented on #1282
oh cool. Thanks A lot for your help.

Just to let you know. I worked in a really big US company. WE have 5k branches. I did a multithread script to use netmiko to scp.
I have 2 linux servers, so I created 5 intances of the same script, each one of them with its own individual environment, using 50 threads each. So at the same time I was pushing the files to 500 devices. I knock them out in 4 days

[2020-08-28 18:07] ktbyers commented on #1282
@resparis Awesome :-)

Which vendor-platforms was that on (or most common platform anyways)? No worries if you can't respond.

Regards, Kirk

[2020-08-28 18:34] resparis commented on #1282
I can. For the line of business I am, we have an standard. 4431 for routers with 2 or 3 3650 switches.
something interesting was when I tried 150 theads at the same time, I got a lot of errors. My guess was hte ssh socket, but I did not have the time to do tshoot, that is the reason I split in "instances".

[2020-08-31 13:37] javcasalc commented on #1281
Hi

kindly check https://github.com/napalm-automation/napalm/pull/1285

I must say that the regex expression is pretty ugly, and this time, black/pylama plays against us because the regex string format must not be longer than 100chars.

J.

[2020-09-02 14:41] suhasbhoir commented on #1277
I have  not tested yet.. i will check in coming two days.. and update you with the result.

[2020-09-03 12:12] #1281 closed

[2020-09-03 12:12] #1265 closed

[2020-09-03 12:13] #1282 closed

[2020-09-03 13:53] ktbyers commented on #1282
@resparis NAPALM 3.2.0 has been pushed to pypi with the updated License meta data. Can you test that your tooling passes now?

[2020-09-03 15:12] dbench commented on #135
@ktbyers Hi Kirk. Do you know if the issue with the quit command within the self-signed cert ever get resolved, or is there a workaround?  I am having issues with ansible-napalm applying a Jinja2 template.  When attempting the "configure replace" command manually for cli, I get the below error.  Any guidance you can provide on this?

blah#configure replace flash:candidate_config.txt force revert t

[2020-09-03 16:12] dbench commented on #463
@ktbyers  I am attempting to use the same Jinja2 template and push this config to multiple ASR-1001x routers using napalm-ansible.  The config replace operation works great on the router where I pulled the config file from however, when attempting this config replace on a different ASR router, the operation errors out with the "no quit" command in the self-signed-cert.

I have read the napalm read

[2020-09-03 16:46] ktbyers commented on #463
@dbench I think you should be able to use the same certificate generated from Jinja2, BUT you have to get the certificate format exactly right. Which means having a tab character in the `quit` line.

This generally implies you shouldn't try to copy-and-paste that self-signed certificate as you will very likely convert the tab character over to spaces in this process (and thus break the self-signed

[2020-09-03 20:13] dbench commented on #463
Thank you @ktbyers. I will give this a shot.

[2020-09-04 14:17] n-holmstedt commented on #1181
Seems like <AdminOperational><PlatformInventory> have been reworked in later versions. I'm on IOSXR 7.0.2 and i couldn't find anything regarding inventory under the adminoperational.

 <?xml version="1.0" encoding="UTF-8"?><Request MajorVersion="1" MinorVersion="0"><Get><Operational><Inventory/></Operational></Get></Request>

This seems to get some information regarding physical entities tho.

[2020-09-04 16:30] ktbyers commented on #135
@dbench Yep, looks like your configuration file (particularly your SSL certificate) is not valid (as per our other discussion in the separate GitHub thread).

Regards, Kirk

[2020-09-08 16:27] sen2diwakar opened #1289 "napalm not working : showing error [SSL: UNKNOWN_PROTOCOL] unknown protocol (_ssl.c:852)"
### Description of Issue/Question

Hi ,

I am trying to connect to my router which has only telnet supported but its not cisco or arista or eos from any famous company .

I have written following telnet script but it gives me error 👍

[code]
*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from htt

[2020-09-08 20:13] sen2diwakar commented on #1289
I this issue is resolved as i am able to telnet successfully after using optional argument of 'transport' : 'telnet'

[2020-09-08 20:13] #1289 closed

[2020-09-08 21:35] #1182 closed

[2020-09-13 15:21] ktbyers opened #1292 "Commit-Confirm Design Spec"
## Original discussions:

https://github.com/napalm-automation/napalm/pull/550

https://github.com/napalm-automation/napalm/issues/1118

https://github.com/napalm-automation/napalm/pull/1179

https://github.com/napalm-automation/napalm/pull/1266

## API Changes

#### New Methods

def confirm_commit(self):

def has_pending_commit(self):

#### New Arguments to Existing Methods

commit_config(revert_

[2020-09-13 16:47] ktbyers commented on #1292
I am going to close this as it is a reference issue...so that this is documented.

[2020-09-13 16:47] #1292 closed

[2020-09-13 23:15] jtopjian opened #1293 "JunOS: Add Support for Logical Interfaces Counters"
### Description of Issue/Question

I noticed that when calling `get_interfaces_counters` for JunOS, only the physical interface counters are returned and not the logical interfaces. Since logical interfaces are returned in a call to `get_interfaces`, I was wondering if it makes sense to also include logical interfaces when calling `get_interfaces_counters`.

I did some testing and it's definitely

[2020-09-14 01:25] kimjw001 opened #1294 "get_users doesn't work at Juniper"
### Description of Issue/Question
getters=["get_users"] doesn't work on juniper platform

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [] Yes
- [x] No

### Setup

### napalm version
(Paste verbatim output from `pip freeze | grep napalm` between quotes below)

[code]

### Network operating system v

[2020-09-14 13:51] mirceaulinic commented on #1293
Hi @jtopjian. I think it would make sense; historically, `get_interfaces` didn't return logical interfaces either, so I think it would be best to have them aligned. For anything else besides `rx_octets` and `tx_octets` you can default the other fields to -1.

[2020-09-14 13:54] mirceaulinic commented on #1294
I think that's rather a Nornir or Windows issue. Are you able to invoke other NAPALM methods successfully?

[2020-09-14 14:35] ktbyers commented on #1294
@kimjw001 Can you re-test it with NAPALM 3.2.0 (i.e. does it happen with the current version of NAPALM)?

[2020-09-16 07:09] sumitmcc opened #1296 "SCPException: Privilege denied."
### Description of Issue/Question

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [] No

### Setup
- Connecting to an IOS device and loading config and trying to commit

[2020-09-16 14:49] ktbyers commented on #1296
The user you login using must have privilege level 15 for Secure Copy to work (i.e. must login at level15...well technically elevated privileges with sufficient permissions). You cannot elevate privileges using `enable()` (this is a Cisco-IOS/XE limitation).

A workaround is to use inline_transfer.

That is what the error message you are posting indicates. Don't know why it would be intermittent--

[2020-09-18 02:41] kimjw001 commented on #1294
@ktbyers
I have upgrade napalm to 3.2.0 , I got same error.
 Test are OK ,
get_facts ,
get_lldp_neighbors
get_mac_address_table

Test are NOK
get_users
get_vlans

PS C:\Users\jkim3\Pythonworkspace\network auto\Nornir> pip show napalm
Name: napalm
Version: 3.2.0
Summary: Network Automation and Programmability Abstraction Layer with Multivendor support
Home-page: https://github.com/napalm-automation

[2020-09-23 17:12] n-holmstedt opened #1297 "IOS-XR get_lldp_neighbor_details does not support 'N/A' capabilities"
### Description of Issue/Question

The constants LLDP_CAPAB_TRANFORM_TABLE does not include 'N/A' of system capabilities. No checks for this value either.
[code]

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square

[2020-09-23 18:26] lupineye opened #1298 "Sample code with Napalm produced the bunch of error (Pycharm)"
### Description of Issue/Question

Hi, Gurus. I'm struggling to napalm work with Pycharm on Windows 10. I installed Napalm and related package and tested if this sample code was working. but it produced a bunch of errors with "ModuleNotFoundError: No module named 'fcntl' at the end.  I have to test and verify the code before pushing onto the production network. Please give advice to me. Thanks a l

[2020-09-23 21:25] ktbyers commented on #1298
You need to install the patch here:

https://github.com/google/textfsm/pull/82

Regards, Kirk

[2020-09-23 21:25] #1298 closed

[2020-09-25 03:00] yzguy commented on #1294
The `get_vlans` error of NotImplementedError is expected per the [Getters Support Matrix](https://napalm.readthedocs.io/en/latest/support/index.html#getters-support-matrix)

[2020-09-25 06:07] dependabot-preview[bot] opened #1299 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/napalm-automation) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/napalm-automation/update-logs/48695982).

[2020-09-26 04:05] kimjw001 commented on #1294
@yzguy Thanks . I didn't check matrix

[2020-09-28 05:54] #1299 closed

[2020-09-29 14:53] M-iqy opened #1301 "NAPALM does not work well with ThreadPoolExecutor?"
### Description of Issue/Question
Napalm seems can't catch the error when I use concurrent.futures to utilise ThreadPoolExecutor. I can connect with all of my network devices(cisco and arista) without the problem occur when I just loop the IP address one by one.
But when I try to use ThreadPoolExecutor , the problem occur. I try to use Python debugger to detect at which point my code fails, and I

[2020-09-29 15:36] #1301 closed

[2020-09-30 08:06] n-holmstedt commented on #1181
This works for me in iosxr 7.1.2:
[code]
using the xpath:
[code]

[2020-10-04 10:28] narayanankl commented on #1274
@ktbyers , hello is there any way to sort out this? I really stuck to proceed further :(, you r help would be much appreciated :)

[2020-10-04 16:37] ktbyers commented on #1274
@narayanankl What does `dir` on this failing device show?

[2020-10-04 19:20] narayanankl commented on #1274
@ktbyers , please find the dir output

SW1#dir
Directory of flash0:/

    1  drw-           0  Jan 30 2013 00:00:00 +00:00  boot
  264  drw-           0  Oct 14 2013 00:00:00 +00:00  config
  267  -rw-   107590528  Mar 22 2017 00:00:00 +00:00  vios_l2-adventerprisek9-m
  268  -rw-      524288  May 22 2020 11:51:56 +00:00  nvram
  269  -rw-         325   Oct 4 2020 19:15:54 +00:00  e1000_bia.txt

[2020-10-04 19:47] narayanankl commented on #1274
@ktbyers , I have removed enable secret and provided normal enable password in as optional arguments. now it's picking up configuration from file using napalm.
Many thanks @ktbyers for your continues support.

[2020-10-05 01:11] #1274 closed

[2020-10-07 20:52] jonathanghent opened #1303 "nxos_ssh get_interfaces_counters prints data to stdout"
### Description of Issue/Question
The nxos_ssh get_interfaces_counters method prints all_stats_d before returning.  Other than that, it is working great.

https://github.com/napalm-automation/napalm/blob/7f107a9b9b74659cc43254e624992f6eebd1887e/napalm/nxos_ssh/nxos_ssh.py#L1723

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square bra

[2020-10-08 10:03] mirceaulinic commented on #1303
For this sort of issues, you can open a PR straight away @jonathanghent.

[2020-10-08 14:20] jonathanghent commented on #1303
See #1303

[2020-10-08 15:19] #1303 closed

[2020-10-09 12:16] #926 closed

[2020-10-09 12:17] #919 closed

[2020-10-09 12:19] #664 closed

[2020-10-09 12:20] #464 closed

[2020-10-09 16:14] alphabet5 commented on #919
@mirceaulinic was a model defined for this? Was this linked to a pull request somewhere I'm not seeing? Thanks.

[2020-10-22 01:54] ultraming opened #1309 "ImportError: cannot import name 'get_network_driver' from 'napalm'"
### Description of Issue/Question
Getting ImportError: cannot import name 'get_network_driver' from 'napalm', need some help to fix this.  Thanks.

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where

[2020-10-22 11:22] #1309 closed

[2020-10-23 13:41] Tristou27 opened #1310 "IOS-XR get_route_to empty outgoing interface"
### Description of Issue/Question

In the IOSXRDriver, the method get_route_to does not check for the outgoingInterface, set by default to an empty string.
On IOS XR, there is a value in the XML output named InterfaceName, located under RoutePath/InterfaceName
[code]

Would it be possible to complete this information ? I can open a PR to speed up the addition.

Rgds
Tristou27

### Did you follow t

[2020-10-26 09:31] sen2diwakar opened #1311 "Unable to login to Cisco DUT with only enable mode"
### Description of Issue/Question

Hi Kirk / Napalm Team ,

I am a newbie to napalm and have written a python automation script to access cisco device with only enable mode present :
Please find console login prompt for ASR router below  :

**ASR-Router>en
Password:**

Please find script below I have written to access this prompt :

[code]

However issue is that the script is not entering in the d

[2020-10-26 17:38] sen2diwakar commented on #1311
Hi team /Kirk,

Kindly help as this is urgent.

Regards,
Diwakar Sharma

[2020-10-28 21:31] rlanyi opened #1312 "IOS XR: AttributeError: 'CiscoXrSSH' object has no attribute 'receive_data_generator'"
### Description of Issue

Calling Cisco ASR9K devices (IOS XR) via SSH from Napalm CLI is unreliable, seemingly only very small responses can be gathered. With most calls I get `AttributeError: 'CiscoXrSSH' object has no attribute 'receive_data_generator'` error, sometimes during the built-in `get_facts` call, sometimes during the call passed on the command line. Even if my command is also `get_fa

[2020-10-31 00:14] Trilogie opened #1316 "Add wildcard to set for detect_config_format"
### Description of Issue/Question
You cannot push a set config with "wildcard" as the starting word only to Juniper.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [] No

### Setup
Nornir, Napalm, Juniper EX3400

### napalm version
[code]

### Network operating system version
[code]

###

[2020-11-03 02:07] expbits opened #1317 "IOS XR BGP neighbor admin status"
### Description of Issue/Question

Hi, I'm testing on getting bgp_neighbors on IOS-XR running on GNS3 and notice that "is_enabled" key always has a "False" value even though the peer is UP and working and not manualy shutdown  compared to devices running on IOS/NXOS. I haven't tested this on an actual hardware though. Any idea how to fix this? Thanks in advanced.

{   'global': {   'peers': {   '1

[2020-11-04 22:40] mirceaulinic commented on #1316
Hi @Trilogie, the solution you suggest would work. Feel free to open a PR, cheers!

[2020-11-05 00:42] Trilogie commented on #1316
@mirceaulinic done!

[2020-11-05 11:26] #1316 closed

[2020-11-05 11:26] mirceaulinic commented on #1316
Thanks @Trilogie.

[2020-11-05 11:31] mirceaulinic commented on #1312
Hi @rlanyi. Could you share what Netmiko version are you using?

[2020-11-05 11:51] rlanyi commented on #1312
Hi @mirceaulinic, thanks for looking into this. Netmiko version is latest, `3.3.2`.

[code]

[2020-11-11 11:26] mirceaulinic commented on #1243
Fixed by #1319.

[2020-11-11 11:26] #1243 closed

[2020-11-12 06:19] MatthiasGabriel opened #1320 "IOS XE Traceroute ttl"
### Description of Issue/Question
The command string created when calling traceroute on IOS device leads to an incomplete command and to an empy `success` in the result.

The problem is that the generated command in the IOS driver is missing the minimum ttl.
The output from the device is then `'^% Invalid input detected at \'^\' marker.`

I noticed that the minimum ttl got removed in the pr #1174.

[2020-11-12 06:46] MatthiasGabriel commented on #1320
During the analysis of this problem I also noticed that there is no possiblity to skip the ttl parameter.
If one calls the method without the ttl parameter, the default value of 255 is taken.
If one calls the method with ttl parameter set to None and therefore the ttl part is not added to the command string, the calculation of the max_loops variable fails.
Maybe for the calculation another default

[2020-11-12 09:58] MatthiasGabriel commented on #1320
Maybe the minimum ttl  should be set to 1 instead of 0
![image](https://user-images.githubusercontent.com/11162099/98925213-01fea900-24d6-11eb-8683-c735134ba9ee.png)

[2020-11-12 11:28] qaxi opened #1322 "Deprecation warning on python3.8 - collections import"
### Description of Issue/Question

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [] No

### Setup

### napalm version
(Paste verbatim output from `pip freeze | grep nap

[2020-11-12 15:15] #1322 closed

[2020-11-13 10:50] MatthiasGabriel commented on #1320
Hi,
We checked this on different IOS Devices, and either the ttl option does not exist at all or it requires both min and max ttl.

![with_ttl_17_3](https://user-images.githubusercontent.com/11162099/99064466-48bbd400-25a6-11eb-8b1c-959d50f1c44e.png)
![with_ttl_16_6](https://user-images.githubusercontent.com/11162099/99064469-48bbd400-25a6-11eb-890c-312296a49b53.png)

![without_ttl_12_2](https://u

[2020-11-13 19:01] MatthiasGabriel commented on #1320
During the analysis I discovered another small issue with the traceroute.

If we want to skip the ttl parameter of the command string ttl in my opinion the logical input value for ttl would be None.
However, if we set ttl to None, the calculation of max_loops fails, because 5*None raises an exception.
The only possibility would be to set ttl to 0. But in this case the max_loop is (normally) to low

[2020-11-18 21:13] prime001 opened #1324 "Junos - Driver - SNMP"
### Description of Issue/Question

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [X] Yes
- [] No

### Setup
Have a device that doesn't have contact configured
have a device that

[2020-11-19 10:02] #1324 closed

[2020-11-23 15:47] prime001 opened #1327 "Juniper SRX 320 - UTF-8 Error"
### Description of Issue/Question

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [X] Yes
- [] No

### Setup

### napalm version
(Paste verbatim output from `pip freeze | grep nap

[2020-11-23 16:04] mirceaulinic commented on #1327
Closing as this doesn't respect the first FAQ item:

If the error persists after upgrading, feel free to reopen.

[2020-11-23 16:04] #1327 closed

[2020-11-27 12:11] mirceaulinic commented on #1320
I'm not sure I'm following, where does `5*<something>` come from? The default TTL is 255: https://github.com/napalm-automation/napalm/blob/develop/napalm/base/constants.py#L45.

So if you want to use a lower value than 255, pass in the argument, otherwise this is that value it should use.

Now, if the syntax should be `traceroute <destination> ttl 0 <max_ttl>` or `traceroute <destination> ttl <max

[2020-11-27 12:22] MatthiasGabriel commented on #1320
Sorry for the confusion. I'll try to be a little bit more consise.
Imagine that you do not want to specify the ttl in the command that is sent to the device(e.g. for devices that do not support ttl, or just to get the default value of the device itself)

In my opinion the best way to do that would be to pass None into the traceroute function.
`device.traceroute("8.8.8.8", ttl=None)`

In the most d

[2020-11-28 07:15] pratimakini opened #1330 "IOS XR get_bgp_neighbors_detail: flap_count return a negative value"
### Description of Issue/Question

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

[code]

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [] No

### Setup

### napalm version
(Paste verbatim output from `pip freeze |

[2020-11-30 02:23] automateboring opened #1331 "Custom method not working"
I am trying to write a custom module in napalm. But for some reason its not working. Can anyone please tell me why this is not working?

root@NetworkAutomation:~/Automation# python test_napalm.py ----> No results

Here is my folder structure:

[code]

Here is the contents of ios.py:

[code]

[2020-11-30 02:32] itdependsnetworks commented on #1331
My one guess would be is custom_napalm installed in your python library? You would be able to `import custom_napalm` from another directory, such as /tmp if this is the case.

Other than that, this is a support issue and likely better for slack... though I am not a maintainer and they may feel differently.

[2020-11-30 12:45] mirceaulinic commented on #1330
Hi @pkinicisco. Yes, feel free to open a PR to fix this, I'll mark it as a bug. Thanks for reporting.

[2020-11-30 12:59] mirceaulinic commented on #1317
Hi @expbits. I've checked this and it looks like `ConnectionAdminStatus` is always reported as 0 in the XML reply. On your device, if you do a `show xml schema` and get into the oper mode, you can execute

```walkdata BGP.InstanceTable.Instance{default}.InstanceActive.VRFTable.VRF{default}.NeighborTable```

(to show the neighbours in the default VRf). I'm not sure there's another field from that r

[2020-11-30 13:12] mirceaulinic commented on #1310
Hey @Tristou27 - yes, I think it would make sense to do that. It seems like there's an `InterfaceName` field under the `RoutePath` level, so if you'd be willing to PR that, it'd be very welcome! Cheers.

[2020-11-30 13:16] #1294 closed

[2020-11-30 13:16] #1296 closed

[2020-11-30 13:18] #1135 closed

[2020-11-30 13:35] mirceaulinic commented on #1062
This method needs to return the number of accepted prefixes per AF. The problem is that this information is not granularly returned from the device in this form:

`sh ip bgp neighbors vrf all` returns (excerpt), e.g.,

[code]

So only Sent and Received counters are there, no Accepted.

In the output shared above:

[code]

Accepted prefixes is presented, but not per AF/SAF, which is what `get_bgp_n

[2020-11-30 13:42] mirceaulinic commented on #1022
Sorry I dropped the ball here. Sure @emr-arvig feel free to open a PR for the solution you suggested. :+1:

[2020-11-30 13:44] #963 closed

[2020-11-30 13:46] #1277 closed

[2020-12-01 13:13] gcotone commented on #1118
Description for method `confirm_commit()` should be updated since `commit_confirm=True` is not used at all:
https://github.com/napalm-automation/napalm/blob/b44332f88336b6fd42fdb967958a2661bcf2c958/napalm/base/base.py#L248

[2020-12-02 16:14] ktbyers commented on #1118
Yes, that needs updated... @gcotone

Regards, Kirk

[2020-12-02 16:32] Tristou27 commented on #1312
Hello.

I've the same behavior here, with IOS-XR 6.5.3. It's not happening that much but I've seen it 3 times today.
Using napalm 3.2.0, netmiko 3.3.2

For information, after some researches I found that the function receive_data_generator() has been removed from the netmiko BaseConnection class since 2016, see commit [d93a643](https://github.com/ktbyers/netmiko/commit/d93a6435e67a37ec78557d77918f

[2020-12-02 17:04] Tristou27 commented on #1310
Hello @mirceaulinic

Yes OK I'll try to push a PR in the coming days.

Rgds
Tristan

[2020-12-03 13:22] mirceaulinic commented on #1312
Could any of you give https://github.com/napalm-automation/napalm/pull/1332 a try and confirm it works well?

[2020-12-04 08:12] indy-independence opened #1333 "IOS XE NETCONF cli-config-data-block, candidate config diffs etc"
### IOS XE NETCONF cli-config-data-block, candidate config diffs etc

This is not a specific bug so tell me if I'm in the wrong place, but I think it could be good to have a place to track/discuss the state of driver for IOS XE. It seems like IOS XE (unlike classic IOS) has good support for candidate configurations via NETCONF that does not require you to SCP textfiles and so on. From what I can f

[2020-12-04 11:32] mirceaulinic commented on #1333
Hi @indy-independence. The current driver for IOS aims to cover IOS-XE as well, and it is not based on NETCONF. If you would like to contribute however, we can create a repository for you under the [napalm-automation-community](https://github.com/napalm-automation-community) where you can start working on a NETCONF-based driver for IOS-XE. It might be a good idea to ask in Slack or other channels

[2020-12-04 11:32] #1333 closed

[2020-12-04 14:08] ktbyers commented on #1333
You should also make sure if you go down this road that the NETCONF IOS-XE is feature complete (or very close to feature complete) and by this I mean that almost `everything` that can be configured via the CLI can also be configured via NETCONF. Otherwise, you start to get into needing two mechanisms for configuration: NETCONF + legacy-cli.

Also you would probably need to research at what IOS-XE

[2020-12-04 14:25] indy-independence commented on #1333
Yes I share the same concern about feature completeness of the NETCONF implementation, that's why I'm suggesting use of the "cli-config-data-block" to start. It looks like it accepts the same old CLI commands, so you can just have the same Jinja2 templates etc as before but send it via another protocol I think. Or am I missing something here?

[2020-12-04 16:27] ktbyers commented on #1333
I haven't looked into it...so can't comment much. Can you support full configuration replace (i.e. replace everything in the config using this mechanism)? Also is there a reasonable way of generating human readable diffs using this mechanism?

The key thing would be to build all of the NAPALM configuration methods.

[2020-12-13 20:56] netwninja commented on #1062
Sorry, didn't see this message. Yes, your findings or statement is correct. Is there something specific you want me to try in the LAB ?

Gaurav Sood

[2020-12-16 11:13] vascojcm opened #1335 "device.load_merge_candidate() failing on netmiko scp_handler.py Cisco C3850"
### Description of Issue/Question

I generate a file with vlan configs and want to merge with the current switch running config.
[code]
The print of get_vlans() get_facts() or some other get method is OK.
When I try to load the file into the flash (via load_merge_candidate method) I get the traceback described below in the traceback session.
`device.load_merge_candidate(filename="my_candidate_merg

[2020-12-16 23:30] kaibabbob opened #1337 "IOS ip_bgp_neigh.tpl Doesn't match VRFs with hyphens"
### Description of Issue/Question

I have found that the textsfm template (ip_bgp_neigh.tpl) used by get_bgp_neighbors_detail doesn't match VRFs with hyphens such as "MY-VRF" because the regex is only looking for a word (\w+)

[code]

One fix would be to change \w+ to \S+ which will match hyphenated words.

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to p

[2020-12-17 01:26] kaibabbob opened #1338 "IOS get_bgp_neighbors_detail does not support the BGP "local-as xx " option"
### Description of Issue/Question

If a BGP neighbor is configured with the "neighbor x.x.x.x local-as X " command then get_bgp_neighbors_detail will return the router process ID as the local-as instead of the one configured as the local-as.

Additionally, including the "no-prepend" and/or "replace-as" options will prevent the first line of the CLI command output from being matched.

Two files nee

[2020-12-18 16:08] luqasz opened #1339 "Feature request. Getters as generators"
Hi

I am maintaining `napalm-ros` (routeros / MikroTik driver) for `napalm`. My proposition is to use `yield` instead of returning whole dict / list etc. This only applies to getters which can return more than one result e.g. `get_users`. This will reduce memory usage since some drivers may already use generators under the hood.

What do you think ?

[2020-12-18 16:22] luqasz opened #1340 "get_lldp_neighbors_detail with specified interface return type"
Hi

What type should `get_lldp_neighbors_detail()` return when `interface` is passed ? I couldn't find any information in `base.py` or tests. Should it return a dict with interface as key and all  its neighbors OR list with all neighbors ?

[2020-12-18 21:56] kaibabbob opened #1341 "IOS get_bgp_neighbors_detail breaks when there are dynamic BGP neighbors"
### Description of Issue/Question

The Cisco IOS BGP command:
[code]
will result in neighbors listed with the show ip bgp summary command with a leading asterisk (*)
[code]
The problem is that the "ip_bgp_all_sum.tpl" and "ip_bgp_neigh.tpl" textfsm templates return the neighbor address with the leading asterisk which then breaks the code that uses the address.

I am not sure if it is better to cap

[2020-12-20 15:03] rlanyi commented on #1312
Hi @ktbyers , I've tested this in the same (dockerized) environment as above and out of 10 tries I've never received the `receive_data_generator` error anymore. I've other errors but I think these are unrelated to this issue so I think the change can be merged.

For reference, I've the following errors, in 60% of the cases if I run the command above and in 40% of the cases if I add `--optional_arg

[2020-12-20 22:50] rlanyi opened #1342 "IOS XR: XMLCLIError on large XML output"
### Description of Issue/Question

Trying to call `get_bgp_neighbors` on an ASR9K router running IOS XR 6.1.2 that has a large number (>1500) of BGP sessions always fails with the exception `XMLCLIError`. Another ASR9K with 6.0.2 and _only_ 1100 sessions runs fine.

Please note that this is happening while I'm testing https://github.com/napalm-automation/napalm/pull/1332, without that I'm always r

[2020-12-22 00:33] ktbyers commented on #1342
@rlanyi Can you post the full exception stack trace?

[2020-12-22 09:33] mirceaulinic commented on #1312
Solved via #1332, as @rlanyi confirmed in #1342.

[2020-12-22 09:33] #1312 closed

[2020-12-22 11:23] rlanyi commented on #1342
@ktbyers I've posted the stack trace above under "Napalm results", please click it to see the actual results. If you need more details please let me know which CLI parameters should I use to get those.

[2020-12-22 17:35] ktbyers commented on #1342
I would probably try setting `fast_cli=False` as an argument in optional_args.

I assume you are using Netmiko 3.3.2? If so, you need to set fast_cli=False in order for delay_factor to work. Once you set fast_cli=False and then I would try setting delay_factor=1 (which might require some modifications to the napalm-pyiosxr code...looks like _READ_DELAY would need set to 1)

If you do this, then yo

[2020-12-22 20:57] rlanyi commented on #1342
Yes, I'm using Netmiko 3.3.2.

I'm quite sure that I've found the problem: when I played with the `fast_cli` argument I'd always set it to `True` or didn't use it at all. Netmiko's documentation states that the default value for this argument is `False`, but now that you've recommended to set it explicitly to `False` I've tried this and out of 10 tries I got successful result every time.

I've che

[2020-12-22 21:25] ktbyers commented on #1342
Yes, I need to fix this all in Netmiko 4. Certain drivers default to fast_cli=True now (whereas the general default is fast_cli=False).

[2020-12-22 21:25] #1342 closed

[2020-12-23 17:24] ktbyers opened #1345 "IOS-XR NETCONF driver fails on get_facts()"
get_facts() fails with the following exception:

[code]

facts_rpc_reply_etree is the following:

[code]

[code]

[2020-12-23 17:26] ktbyers commented on #1345
@neelimap

[2020-12-29 03:50] malanovo commented on #1069
This issue hit me as well, I have created a patch and submitted a pull request for it.

[2020-12-30 18:32] mirceaulinic commented on #1340
Hi @luqasz. It should return a dictionary with the interface as key. Let me know if you have any questions.

[2020-12-30 18:32] #1340 closed

[2020-12-30 18:35] mirceaulinic commented on #1339
I see where you're coming from, and I do agree this would be better in some particular scenarios, for example, when calling NAPALM from a script. I'm afraid this would break functionality with various framework integrations. Of course, this would also require for all the drivers to be updated, so it'd be an API change. I'm not closing this though, let's see what other people think.

[2021-01-03 19:49] luqasz commented on #1339
Yes it will break backwards compatibility. However it will:
* reduce memory usage
* simplify things as generators will yield always same type
* require new function calls

[2021-01-04 18:31] ktbyers opened #1348 "IOS-XR NETCONF driver returns empty running-config, candidate-config, and startup-config"
Cisco IOS-XR version:

[code]

Relevant test code:

[code]

[code]

[2021-01-04 18:33] ktbyers commented on #1348
CC: @neelimapp

[2021-01-04 18:36] ktbyers commented on #1345
`get_environment()` will also fail as it calls `get_facts`

[2021-01-04 18:45] neelimapp commented on #1348
Could you please try with optional_args, setting config_encoding to xml?

[2021-01-04 18:49] neelimapp commented on #1345
Will look into it. Thanks.

[2021-01-04 19:09] ktbyers commented on #1348
Okay, yuck on the 6.7.1 support...

that is really going to limit support of this (as we are going to have to state support of 6.7.1 as I view `get_config` in CLI format as pretty fundamental to the entire driver).

And now I can't test it as my test device is 6.5.3. I will have to figure out a way to get a newer virtual device.

XML encoding works fine.

[2021-01-04 19:30] neelimapp commented on #1348
Yes, we have added the current limitations of this driver in the documentation.
https://github.com/napalm-automation/napalm/pull/1314#issuecomment-719737760

[2021-01-04 19:32] ktbyers commented on #1348
Yeah, we will probably need to roll that to 6.7.1 in the documentation as CLI format for config is pretty fundamental to reasonable operation for the driver.

[2021-01-04 19:39] neelimapp commented on #1348
Okay.
CC: @111pontes

[2021-01-04 20:17] ktbyers commented on #1348
Closing as this is the expected behavior for this OS version.

[2021-01-04 20:17] #1348 closed

[2021-01-04 22:38] 111pontes commented on #1345
Took a quick look.  Needs more investigation, but it seems potentially a defect in the XR version where the proper inventory info isn't provided by the device.  If that's the scenario, what is consider the proper robust implementation?  Should themethod return empty data for the info missing?  Should an exception be raised?  If so, what exception? Just `NapalmException` with an error string?

[2021-01-05 16:29] mirceaulinic commented on #1069
Closed via https://github.com/napalm-automation/napalm/pull/1346.

[2021-01-05 16:29] #1069 closed

[2021-01-05 23:02] ktbyers commented on #1345
If some particular data is impossible to get via XML and get_facts() I would just leave that field as empty/null (so generally a null-string for that field).

[2021-01-06 14:40] muhammad-rafi opened #1350 "get_network_instances del instances["default"]["interfaces"]["interface"][item] on IOS-XE KeyError"
### Description of Issue/Question

I have been using the napalm '`get_network_instances(name='')'` to pull the details of all VRFs on the IOSXE device but it is given me the similar key error below no matter what device I try, however it works really good for IOS devices, not sure if I am missing something in my function or it is bug ?

### napalm version
napalm==3.2.0

### Error Traceback
(Paste

[2021-01-06 15:17] vascojcm commented on #1335
dear @mirceaulinic,
Can you please let me know what type of info is needed in order to unblock this issue ?

[2021-01-06 17:40] ktbyers commented on #1335
@vascojcm Which version of Netmiko are you using?

It looks like it is failing on this code here:

[code]

Particularly the `match`=re.search` that is returning None. You might need to go into the Python debugger here and see what the `remote_output` is at this point.

[2021-01-07 08:10] vascojcm commented on #1335
Dear @ktbyers,

[code]

I just saw that the latest release of netmiko is 3.3.2, I will update it and will let you know about the outcome.

Thanks

[2021-01-07 08:45] vascojcm commented on #1335
Dear @ktbyers,
Now:
[code]
Same issue is happening but now in different lines (probably due to the new netmiko version)
[code]
I will try to debug further and will let you know.

Thanks

[2021-01-07 14:54] hfeixas opened #1351 "get_arp_table method for ios does not return all vrfs."
### Description of Issue
When running get_arp_table() method ios devices we do not retrieve all of the arp tables.
The method just executes the following when no vrf is passed:

[code]

Ideally in a multi vrf environment we would want to retrieve all vrfs, and cycle through the arp tables in a separate get_arp_table worker function which doesn't care about command..
Liike:
[code]

### Did you foll

[2021-01-08 17:34] ktbyers commented on #1335
Okay probably need to go into the debugger and see what is going on there. On the face of it, it looks like it should be working on that regex parsing.

[2021-01-11 06:00] MatthiasGabriel commented on #1320
@mirceaulinic Is there anything I can do to push this forward?

[2021-01-11 11:12] mirceaulinic commented on #1320
Hi @MatthiasGabriel. I think the behaviour shouldn't change from one driver to another because of the platform differences. In particular:

Then we just ignore the `ttl` argument.
In that case, for declarations like `max_loops = (5 * ttl * timeout) + 150`, `ttl` defaults to 255 as defined in the NAPALM constants, and there shouldn't be any issue with that.

That would break the consistency of the

[2021-01-11 15:22] MatthiasGabriel commented on #1320
Hi @mirceaulinic thanks for your response.

The core issue is that if IOS allows to specify a TTL, it requires a min ttl as shown in the screenshots.
The min ttl was set to 0 until PR #1174.

Regarding the consistency of the NAPALM API, some drivers(e.g. junos, nxos) already support ttl=None, while others run into exceptional behaviour due to the calculations.
I suggest to open another issue as it

[2021-01-12 07:42] miroistona opened #1354 "Traceroute response empty for IOS"
### Description of Issue/Question
Traceroute on IOS is not working - I receive only an empty 'success' dictionary: {'success': {}}

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

-

[2021-01-12 14:11] mirceaulinic commented on #1320
The min ttl was set to 0 until PR #1174.

I see, wasn't aware some platforms require a minimum TTL. We should probably just revert #1174 as it seems to rather be based on feelings than facts. Thoughts?

[2021-01-12 14:39] MatthiasGabriel commented on #1320
I think the fix which renamed timeout to ttl was okay, however the second change was not.
https://github.com/napalm-automation/napalm/pull/1174/files#diff-513ca510c8962153b7b69d75d628fe85c3956d74a4ad863f0220a723ccff0905R3195

[2021-01-14 20:46] lucasalvatore opened #1359 "key error when BGP peer has the same import/export policy names"
### Description of Issue/Question

When running `get_bgp_config()` on a junos device, if a peer as the same peer level import/export policies, a key error is thrown.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [] No

### Setup

### napalm version
(Paste verbatim output from `pip freeze

[2021-01-14 21:45] vascojcm commented on #1335
After running into the debugger I finally found what was happening:
a bug in the code. 🤦
thank you for the help
cheers

[2021-01-14 21:45] #1335 closed

[2021-01-15 11:23] mirceaulinic commented on #1359
Hi @lucasalvatore,

I have configured the following:

[code]

With NAPALM 3.2.0 I am not able to reproduce the error:

[code]

Let me know if I'm missing anything. Would you also be able to share your XML view? I'm seeing the following on my vMX (similar output on a prod QFX10k2 running Junos 17, but don't exclude the possibility something may differ on a another model / version combination):

[co

[2021-01-15 11:26] mirceaulinic commented on #1354
Can you share your exact script @miroistona, this information is not enough to understand what you're doing exactly.

[2021-01-15 11:31] mirceaulinic commented on #1351
Thanks for this report @hfeixas. As you already have some working code, would you mind opening a PR to fix this?

[2021-01-15 11:33] mirceaulinic commented on #1339
I believe this isn't something we'll support in the core NAPALM.

[2021-01-15 11:33] #1339 closed

[2021-01-15 11:33] #1331 closed

[2021-01-15 11:37] mirceaulinic commented on #1320
As #1321 is now merged, was there anything else you wanted to discuss here @MatthiasGabriel ?

[2021-01-15 11:45] miroistona commented on #1354
Code below - changed IPs & credentials & vrf name only. output I get:
connecting..
connected
{'success': {}}

`import napalm

if __name__ == "__main__":
    driver = napalm.get_network_driver('ios')

    device = driver(
        hostname="1.1.1.1",
        username="cisco",
        password="cisco",
    )
    try:
        print(f"connecting..")
        device.open()
        print(f"connected ")

[2021-01-15 12:11] mirceaulinic commented on #1354
Could you also share what this code does? And please remove the try-except block.

[2021-01-15 12:59] MatthiasGabriel commented on #1320
Hi @mirceaulinic
Thanks for merging, I'll open another issue next week regarding the ttl behaviour.
But this (core issue) is fixed.

[2021-01-15 12:59] #1320 closed

[2021-01-15 13:54] luqasz commented on #1339
Which part ?

[2021-01-15 14:28] lucasalvatore commented on #1359
hi @mirceaulinic
interesting indeed.  Here is the XML
[code]

[2021-01-15 16:17] mirceaulinic commented on #1339
`Getters as generators`

[2021-01-15 16:39] lucasalvatore commented on #1359
i tested this on a different device with similar config but running junos 18.4R3.3 and it worked without issues.  Perhaps there is something weird on junos 19.4

[2021-01-15 16:59] mirceaulinic commented on #1359
Sounds like there's something different on 19 indeed. The issue might be caused by the [`junos_policy_nhs_config_table`](https://github.com/napalm-automation/napalm/blob/develop/napalm/junos/utils/junos_views.yml#L282). Do you have any `next-hop self` policy? Do you notice any difference between the XML for the policies in Junos 19 vs 18? Are you able to share?

[2021-01-16 11:35] network-shark commented on #1059
I can confirm this behaviour on 16.09.06

[code]

[2021-01-18 16:17] lucasalvatore commented on #1359
I checked again and i was able to replicate this issue on another QDFX10K running junos 18 (not sure what i did previously).  There are next-hop self policies configured on these devices, but not for this specific group.  Here is the full config including policies which causes the issue (IP addresses have been sanitized)

[code]

## XML
[code]

## Napalm
[code]

[2021-01-18 19:18] miroistona commented on #1354
`import napalm

def napalm_trace_test(ip):
    driver = napalm.get_network_driver('ios')

    device = driver(
        hostname="1.2.3.4",
        username="username",
        password="ciscopw123",
    )
    print(f"connecting..")
    device.open()
    print(f"connected ")
    trace = device.traceroute(ip, vrf='ACME')
    print(trace)
    device.close()

if __name__ == "__main__":
    napalm_trac

[2021-01-18 19:39] deiliet commented on #1350
My version of fixing bug - handle canonical_interface_name() to form long names of interfaces int both dictionaries:
-interface_dict
-instances

def get_network_instances(self, name=""):

        instances = {}
        sh_vrf_detail = self._send_command("show vrf detail")
        show_ip_int_br = self._send_command("show ip interface brief")

        # retrieve all interfaces for the default VRF

[2021-01-18 19:43] deiliet commented on #1350
But now on Catalyst 9k I have another issue:

Traceback (most recent call last):
  File "C:\Users\Deiliet\Documents\GitHub\PycharmProjects\Nornir_Netbox\venv\lib\site-packages\nornir\core\task.py", line 98, in start
    r = self.task(self, **self.params)
  File "C:\Users\Deiliet\Documents\GitHub\PycharmProjects\Nornir_Netbox\venv\lib\site-packages\nornir_napalm\plugins\tasks\napalm_get.py", line 4

[2021-01-18 20:22] deiliet commented on #1350
I think we can do this througt if-condition:

            for item in interfaces:
                if "LI" in item:
                    continue
                del instances["default"]["interfaces"]["interface"][item]

[2021-01-19 10:50] mirceaulinic commented on #1354
@miroistona and what is the exact output when you run this? And go to https://guides.github.com/features/mastering-markdown/ and see how you should properly formatting.

[2021-01-19 10:56] mirceaulinic commented on #1118
As this has been merged into the develop branch, before releasing rc1, would anyone mind adding some documentation around the new features? Thanks.

[2021-01-19 12:18] miroistona commented on #1354
the output I get is:
[code]
per napalm specification key 'success' should contain dict with hops - I do not see them in the response. when I try this on CLI - trace works fine. I tried this on both Cisco IOSXE and Juniper Junos

[2021-01-19 14:08] mirceaulinic commented on #1354
And the output from your device when you run that command on the CLI?

[2021-01-19 14:53] lucasalvatore commented on #1359
here you go @mirceaulinic
[code]

All policies with NHS are
[nhs_policies.txt](https://github.com/napalm-automation/napalm/files/5836608/nhs_policies.txt)
in the attached text file.

[2021-01-19 16:26] hfeixas commented on #1351
Sure, its open:
https://github.com/napalm-automation/napalm/pull/1361/files

[2021-01-20 11:20] miroistona commented on #1354
router#traceroute vrf ACME 9.9.9.9
Type escape sequence to abort.
Tracing the route to 9.9.9.9
VRF info: (vrf in name/id, vrf out name/id)
  1 9.9.9.9 [AS 65016] 0 msec *  0 msec

[2021-01-20 12:02] #1354 closed

[2021-01-25 15:59] ckozler opened #1366 "question - junos vlan support"
Hi there -

I see in the support matrix table that vlan information for junos is not supported

I've actually begun implementing it on my own and was wondering if there was any particular reason napalm does not support it out of the box? Was that table/view not available when junos support was originally added to napalm or is there a reason you chose not to from a technical standpoint?

i.e you've

[2021-01-25 18:07] mirceaulinic commented on #1366
Hi @ckozler. I think it was just not implemented, I don't think there is anything wrong with the juniper vlan table. Feel free to open a PR to add it if you wish, cheers!

[2021-01-25 18:07] #1366 closed

[2021-01-25 18:13] ckozler commented on #1366
Thanks, working on it now! Just wanted to make sure there wasn't some specific reason why you had not implemented it

[2021-02-01 21:15] neelimapp commented on #1345
@ktbyers, Could you please provide the configuration of the device you are using, to test get_facts()?

[2021-02-01 21:24] ktbyers commented on #1345
[code]

[2021-02-01 21:59] neelimapp commented on #1345
Thanks, @ktbyers. Could you please remove this tag  <name>Rack 0</name> from the below constant FACTS_RPC_REQ of  https://github.com/napalm-automation/napalm/blob/iosxr_new2/napalm/iosxr_netconf/constants.py and see if the issue still exists?

# GET RPC to retrieve device facts
FACTS_RPC_REQ = """<get xmlns="urn:ietf:params:xml:ns:netconf:base:1.1">
  <filter>
    <system-time xmlns="http://cisco.

[2021-02-01 22:02] neelimapp commented on #1345
Thanks, @ktbyers. Could you please remove this tag ``` <name>Rack 0</name>``` from the below constant FACTS_RPC_REQ of https://github.com/napalm-automation/napalm/blob/iosxr_new2/napalm/iosxr_netconf/constants.py and see if the issue still exists?

[code]

[2021-02-01 22:56] ktbyers commented on #1345
Same error:

[code]

[code]

[2021-02-02 01:14] neelimapp commented on #1345
Thanks, @ktbyers. I am able to retrieve the facts from the 6.5.3 xrv9k device.  Please find the output and device version below.  Can I access your device and check?
[code]

[code]

[2021-02-04 18:20] ktbyers commented on #1345
@neelimapp Can you send me your source IP address so I can add it to my firewall policy to allow you this access? You can just email it to me.

Thanks, Kirk

[2021-02-08 18:14] mirceaulinic commented on #1118
@ktbyers @rbcollins123 any thoughts? I'd like to release 3.3.0 soon, but I can't do this without having this major feature documented; I'll check back in a couple of weeks - and unless anyone that has been in the loop contributes with some documentation on this, I'm afraid I'll revert it from the `develop` branch, and leave it open as a PR till someone will come up with the docs. Sounds good?

[2021-02-08 19:03] ktbyers commented on #1118
I will see if I can write some docs on it. Give me 10 days though. Sound reasonable?

[2021-02-08 20:52] mirceaulinic commented on #1118
Sure, thanks @ktbyers - as long as you need, just a confirmation is all I needed. :smile:

[2021-02-10 12:31] mirceaulinic commented on #1359
Should be solved via #1362 and #1363.

[2021-02-10 12:31] #1359 closed

[2021-02-11 21:16] kaibabbob opened #1371 "nxos get_environment does not check for power supply status as 'ok' or 'Ok'"
### Description of Issue/Question

Some models or maybe versions report a good power supply  status as “Ok” and others as lower case “ok”

The _process_pdus() function in nxos.py only looks for the lower case string and so reports a failed power supply that was "Ok".

I propose as the fix to change the return value to lower case before comparing to 'ok'

'''
psinfo.get("ps_status", "ok").lower() =

[2021-02-11 21:35] kaibabbob opened #1372 "nxos get_environment does not parse power supply output with alternate key name"
### Description of Issue/Question

Some Nexus models or NXOS versions have a different key for the power load.  The function is expecting 'watts' but some switches return the key 'actual_out' instead.

I propose the following update to the  _process_pdus() function in nxos.py

'''
<                 normalized[psinfo["psnum"]]["output"] = float(psinfo.get("watts", -1.0))
---

'''

### Did you follo

[2021-02-11 22:02] kaibabbob opened #1373 "nxos: get_interfaces crashes when an unexpected MTU string is returned."
### Description of Issue/Question

Due to a bug ( CSCve21405) in Cisco nxos the API call for get_interfaces returns text in the 'etc_mtu' entry such as '  MTU 1500 bytes' instead of '1500' which causes a fault as the function is expecting an integer string.

I propose that the function be modified to look for this possible value and normalize it as an integer string.

for example,  by inserting so

[2021-02-11 22:24] kaibabbob opened #1374 "nxos: get_environment fails when the Nexus switch does not support CPU idle time reporting."
### Description of Issue/Question

The napalm call for get_interfaces to my Nexus switches is failing because some versions of NXOS or Nexus models do not have the "TABLE_cpu_util" key that the function is expecting.

I propose that the function _process_cpu() be modified to verify that the key exists to avoid the crash.

### Did you follow the steps from https://github.com/napalm-automation/napal

[2021-02-12 12:05] kaibabbob commented on #1371
with further testing on additional Nexus switches, it turns out that each of the other places in the file where "ok" or "Ok" are checked need to be converted to  lower case and compared with 'ok'

[2021-02-15 22:21] ktbyers commented on #1118
First pass at docs are here:

https://github.com/napalm-automation/napalm/pull/1379

[2021-02-23 03:29] beleof opened #1381 "set replace_config: true"
### Description of Issue/Question

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [] Yes
- [] No

### Setup

### napalm version
(Paste verbatim output from `pip freeze | grep napa

[2021-02-25 09:06] privatefire opened #1383 "NAPALM didn''t catch this exception."
Hey im quite new to using napalm and is trying to run it in stackstorm, however this error keeps cropping up when i try the Napalm.ping action. Can you help explain whether is it a host issue or something else

File "/opt/stackstorm/virtualenvs/napalm/lib/python3.6/site-packages/jnpr/junos/device.py", line 1264, in open
    self.__class__.ON_JUNOS})
  File "/opt/stackstorm/virtualenvs/napalm/lib/p

[2021-02-25 17:55] ktbyers commented on #1383
I looks like you are trying to connect to a hostname that doesn't exist in DNS (or are providing the arguments improperly such that you are not passing in the hostname properly).

[2021-02-25 17:55] #1383 closed

[2021-02-26 07:56] privatefire commented on #1383
Hey @ktbyers  ive resolve that issue but im now facing with this error "jnpr.junos.exception.ConnectError: ConnectError(host: xxx.xxx.xxx.com, msg: Unexpected session close)" can you confirm if this is due to some missing dependencies or some network issue?

[2021-02-26 19:07] dzitzels1 opened #1384 "napalm merge_config on nxos_ssh driver failing with generic "Error while applying config!""
### Description of Issue/Question

merge_config returns generic error: **"Error while applying config!"**

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [X] Yes
- [] No

### Setu

[2021-02-26 22:17] ggiesen opened #1385 "get_users on junos results in AttributeError: 'NoneType' object has no attribute 'strip'"
### Description of Issue/Question
Calling get_users on junos results in an AttributeError: 'NoneType' object has no attribute 'strip'

This issue was closed in #1294 but according to the [Getters support matrix](https://napalm.readthedocs.io/en/latest/support/index.html#getters-support-matrix) , get_users should be supported on all platforms

### Did you follow the steps from https://github.com/na

[2021-02-26 22:21] ggiesen commented on #1385
Note this is on CentOS 8, so this is not a Windows-specific issue

[2021-02-26 22:31] ggiesen commented on #1385
Can also confirm this happens on Junos boxes running 17.3R2.10 and 19.1R3-S3.2

[2021-03-02 22:13] gomens commented on #687
Kirk,
I was having the same issue and ---optional_args={'global_delay_factor': 2}--- helped fixed it!

Thank you very much. You are awesome!

[2021-03-03 14:59] cromulon-actual opened #1387 "IOS get_network_instances fails 'KeyError' when deleting item from interfaces"
### Description of Issue/Question

Issue with ios driver for getting VRFs. On Cat3850 running Fuji 16.9.x code, when performing the `get_network_instances` line 3431 (deleting items from interfaces from network instances nested dict) returns an error: `line 3431, in get_network_instances
    del instances["default"]["interfaces"]["interface"][item]
KeyError: 'LI18/2'`

Suggestion is to set conditi

[2021-03-03 18:45] dzitzels1 commented on #1384
I found that this was an ssh/scp configuration issue.  My switch is older so I had to create an ssh profile with the proper Kex and cipher negotiations.

ubuntu@host:~$ sudo cat /root/.ssh/config
Host myhost
        Hostname myhost.mydomain.com
        User myuser
        Port 22
        Protocol 2
        Ciphers aes256-cbc
        KexAlgorithms diffie-hellman-group14-sha1
        IdentityFile /e

[2021-03-03 18:45] #1384 closed

[2021-03-03 18:48] dzitzels1 commented on #1384
[https://community.cisco.com/t5/network-management/open-ssh/td-p/3930558](url)

That was link was also helpful in understanding this issu.

[2021-03-04 11:06] arunsingh1234 commented on #687
Hi Kirk,

My issue got solved with --optional_args={'global_delay_factor': 2}

Thank you very much.

Arun

[2021-03-05 15:11] mirceaulinic commented on #1385
Hi @ggiesen, would you be able to share the sanitized view of `show configuration system login | display xml` (not the values itself are important here, rather the structure) to see what's different?

[2021-03-06 07:35] ggiesen commented on #1385
At first I thought it might have been an issue with the use of custom login classes (and indeed, there is a separate issue where the priv level is reported as 0):

[code]

but I simplied things using only standard login classes with the same result:

[code]

[2021-03-07 17:57] ktbyers opened #1389 "IOS-XR NETCONF - Create clearer error indication messages when "cli" is not supported"
This is on a connection.load_replace_candidate(filename=filename) operation

Using:

[code]

[code]

We should indicate that "cli" is not supported on this platform and the minimum IOS-XR version where "cli" is supported.

[2021-03-07 17:58] ktbyers commented on #1389
@neelimapp

[2021-03-07 21:53] ktbyers opened #1390 "IOS-XR NETCONF - XML config replace unable to use get_config() 'running' output."
On the following device:

[code]

If I try to do a:

[code]

Where initial_config.xml is the output of get_config()["running"] (using 'xml'). I receive the following error:

[code]

Should this operation be supported? If not what is the proper process for getting the full configuration of a device via XML to use with `load_replace_candiate`?

Regards, Kirk

[2021-03-07 21:54] ktbyers commented on #1390
@neelimapp

[2021-03-08 03:01] beleof opened #1391 "IOSXR can't get correct diff_file in Ansible/Napalm check mode"
### Description of Issue/Question

We found IOSXR have problem get the correct diff_file in Ansible/Napalm check mode.
For example, we want to delete the prefix-set `DW-CLOUD` in configuration file.
[code]
After delete tie prefix-set and run the Ansible playbook in check mode found **no changes**

`PLAY RECAP *****************************************************************************************

[2021-03-08 03:36] ktbyers commented on #1391
NAPALM 2.3.1 is obsolete. You would need to reproduce the issue in the latest released version of NAPALM (NAPALM 3.2.0)

[2021-03-08 03:36] ktbyers commented on #1381
NAPALM 2.3.1 is obsolete. You would need to reproduce the issue in the latest released version of NAPALM (NAPALM 3.2.0)

[2021-03-08 06:14] ggiesen commented on #1385
A napalm run with debugging enabled:

[code]

[2021-03-08 09:19] mfatty opened #1392 "Support for EOS Commands in "EOS_Ver >= 4.23""
### Description of Issue/Question
There is a bunch of changes that went into EOS => 4.23 as the settlement with Cisco vs Arista lawsuit. I ran into an issue with the command "show ipv6 bgp neighbors vrf all" because it's no longer supported in newer EOS versions. It has been changed to "show ipv6 bgp peers vrf all". A lot of other commands have changed.

*Note*: Please check https://guides.github.

[2021-03-08 13:22] mirceaulinic commented on #1392
Hi @mfatty, have you tried to enable the `eos_fn0039_config` optional argument (see https://napalm.readthedocs.io/en/latest/support/index.html#list-of-supported-optional-arguments)?

[2021-03-08 13:32] #1293 closed

[2021-03-08 16:47] d-gagne opened #1394 "IOSXR_NETCONF SSHException, optional args do not work"
### IOSXR_NETCONF SSHException, optional args do not work

When connecting via iosxr_netconf I get an exception:

napalm.base.exceptions.ConnectionException: SSHException('No existing session')

I can get it to work by modifying iosxr_netconf.py to force it to use the optional args:
[code]

But iosxr_netconf doesn't use those optional args if you attempt to supply them using

```--optional_args 'h

[2021-03-08 17:38] ktbyers commented on #1394
FYI @neelimap

[2021-03-09 16:15] d-gagne commented on #1394
Also if anyone knows why these ssh args were even required, and if there's something I can do to not require them, I would be interested.

[2021-03-09 18:37] ktbyers commented on #1394
@d-gagne allow_agent should probably default to False.

The other two are better security i.e. you potentially shouldn't blindly trust SSH host keys.

[2021-03-10 03:13] beleof commented on #1391
Hey @ktbyers

we setup an environment with napalm 3.2.0, reproduce the issue.

`[root@localhost bin]# pip list | grep napalm
napalm                3.2.0
napalm-ansible        1.1.0`

[2021-03-11 15:38] neelimapp commented on #1389
Sure, Kirk, will add that.

[2021-03-15 03:02] beleof commented on #1391
Can you advise what commands NAPALM uses internally to get the diff out of the IOS-XR device?
We run NAPALM from Ansible with `replace_config: true`, and when we try to delete a prefix set or other config item, diffs in the Ansible check mode look like this:
[code]
While is rather informative, doing the diff on the device gives us a bit more IOS-XR-native format:
[code]
The `disk0:candidate_config

[2021-03-15 03:16] ktbyers commented on #1391
Let me try to respond on this issue tomorrow.

[2021-03-15 08:46] minefuto commented on #1385
Hi @mirceaulinic,

I reproduced this issue on MX480/16.1R1-S3.
In my opinion, the cause is "key: root-authentication" in junos_root_table.
When junos-eznc gets the key's value, it may return `NoneType` instead of a `""`(empty string),
but I don't know why this occurs(It seems there is a difference in the XML from the router).

If we want to fix this problem on the napalm side, I think we need to c

[2021-03-17 03:28] ktbyers commented on #1391
Ooops, didn't get to this yet. Still need to look into it.

[2021-03-22 13:06] mirceaulinic commented on #1392
Closing; @mfatty feel free to reopen or comment if you the issue persists.

[2021-03-22 13:06] #1392 closed

[2021-03-22 13:54] mirceaulinic commented on #1181
It looks like this got moved under `Oper` (instead of `AdminOper` as in previous versions).

@n-holmstedt if you have multiple devices available, would you be able to confirm the following output on XR 7+ in `show xml schema` mode?

[code]

Instead it's available under:

[code]

For XR 6 and earlier, `MemorySummary` should still be under `AdminOper`). It'd be great if you or someone would be able

[2021-03-22 15:09] mirceaulinic commented on #1181
Would anyone be able to test #1400 and confirm it solves this issue?

[2021-03-23 15:06] Mondhund opened #1406 "get_bgp_neighbors_details on IOS-XR not working as expected"
### Description of Issue/Question

No matter what's between () in the call to get_bgp_neighbors_detail e.g.
`device.get_bgp_neighbors_detail('bskdjf')`
`device.get_bgp_neighbors_detail(neighbor_address='192.168.0.1'`
`device.get_bgp_neighbors_detail('1.2.3.4'))`

the result is always a dictionary with *all* routing-tables, neighbors, etc. instead of just the information about the single BGP neighb

[2021-03-23 17:21] alphabet5 opened #1407 "device.get_vlans() doesn't operate as expected for Cisco IOS / IE switches that support spaces in the vlan name."
### Description of Issue/Question

*Note*: Please check https://guides.github.com/features/mastering-markdown/
to see how to properly format your request.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [] No

### Setup

[code]

### napalm version
(Paste verbatim output from `pip freeze |

[2021-03-24 04:29] beleof commented on #1391
@ktbyers @mirceaulinic  Do we have some findings after looking to it ?

[2021-03-24 11:42] mirceaulinic commented on #1385
@ggiesen would you be able to check @minefuto's fix from #1409 and confirm it solves your issue?

[2021-03-24 16:35] ktbyers commented on #1391
@beleof Can you post your playbook? So your change only drops a prefix-set and nothing else?

Here is what NAPALM does:

[code]

This is for the replace operation (which you indicated you were using above).

Code is here:

https://github.com/napalm-automation/napalm/blob/develop/napalm/pyIOSXR/iosxr.py#L636

This assumes you are using the most recent released version of NAPALM.

[2021-03-24 20:41] rnwolfe commented on #919
Agreed, @mirceaulinic @ktbyers this doesn't seem to have been put in anywhere (PR or otherwise). Is there a path to get this in? I've come across multiple uses for this.

[2021-03-24 22:36] mirceaulinic commented on #919
@rnwolfe see https://napalm.readthedocs.io/en/latest/base.html#napalm.base.base.NetworkDriver.get_vlans.

[2021-03-24 22:57] rnwolfe commented on #919
@mirceaulinic that does not address the root of this issue as it doesn't give information on the interface mode, e.g. trunk, access, routed. It only gives the VLAN.

[2021-03-25 12:35] rnwolfe opened #1410 "Control Plane Interface on 6509 "show interfaces" throws ValueError"
### Description of Issue/Question

Certain IOS Platforms have begun showing the control plane as an interface in `show interfaces` output and the NAPALM IOS Driver doesn't know how to handle this interface causing an exit as it doesn't match the existing interface patterns in the IOS driver.

This is news to me and the first time I've ever seen it before on a switch. In this specific case it is a

[2021-03-25 12:37] rnwolfe commented on #1410
I'm going to open a PR for this shortly, but for anyone looking for a quick fix to this you can modify the `napalm/napalm/ios/ios.py` file (around line 1082 in release 3.2.0) to this:

[code]

[2021-03-26 11:52] mirceaulinic commented on #919
You're right @rnwolfe, forgot about the full context of this. Re-reading though the thread, I think [Kirk's suggestion](https://github.com/napalm-automation/napalm/issues/919#issuecomment-485905491) would be the most appropriate choice for this. If you wanted to open a PR, let me know, I'll be happy to guide and review, cheers!

[2021-03-26 12:15] #1181 closed

[2021-03-26 14:23] rnwolfe commented on #919
Thanks @mirceaulinic, just wanted to make sure it wasn't ongoing elsewhere that I was missing. I'll try to take a run at it soon.

[2021-03-26 14:36] #1410 closed

[2021-03-27 07:46] ggiesen commented on #1385
I can confirm @minefuto's fix in #1409 solves the issue.

[code]

[2021-03-28 08:43] FSociety07 opened #1413 "NAPALM and Cisco IOS in GNS3 fails on save_config() due to prompting of a new OS version"
### Description of Issue/Question
I am able to connect to the Cisco 7200 Router using Napalm. Can run get_facts without any issues.
When running the below script, getting error "**OSError: Search pattern never detected in send_command: R4\#** " where R4 is the Router's hostname.
Added the optional_argument "'**global_delay_factor':5**" as per kirk's advice from other similar threads. But, please n

[2021-03-29 09:48] #1385 closed

[2021-03-29 19:21] ggiesen commented on #1413
I'm having the same issue with many Cisco Catalyst 6500s running 12.2(33)SXJ10:

[code]

[code]

I've tried many variations on the configuration file, without empty line at the end, with empty line at the end, with ! at the end. Make no difference.

[2021-03-29 19:30] ktbyers commented on #1413
You probably need to look at the Netmiko logging or the Netmiko session log to provide more details on what is happening (Netmiko is being used under the hood here).

Regards, Kirk

[2021-03-29 19:58] ggiesen commented on #1413
How do I go about enabling that logging? I don't see an `optional_args` for that

[2021-03-29 20:03] ktbyers commented on #1413
@ggiesen https://github.com/ktbyers/netmiko/blob/develop/COMMON_ISSUES.md#enable-netmiko-logging-of-all-reads-and-writes-of-the-communications-channel

[2021-03-29 20:37] ggiesen commented on #1413
I managed to get it working using the CLI (and found out you can't have spaces between optional_args)

[code]

[code]

[code]

At first I thought it was enabling logging that had "fixed" it, but it ended up actually being global_delay_factor (It's tested good through the CLI at 2 so I set it to 4 to give some headroom). Will now test in my actual application (Salt) to see if it resolves the issue.

[2021-03-30 09:22] FSociety07 commented on #1413
'''
DEBUG:paramiko.transport:starting thread (client mode): 0x85c16970
DEBUG:paramiko.transport:Local version/idstring: SSH-2.0-paramiko_2.7.2
DEBUG:paramiko.transport:Remote version/idstring: SSH-1.99-Cisco-1.25
INFO:paramiko.transport:Connected (version 1.99, client Cisco-1.25)
DEBUG:paramiko.transport:kex algos:['diffie-hellman-group-exchange-sha1', 'diffie-hellman-group14-sha1', 'diffie-hellma

[2021-03-30 15:15] ktbyers commented on #1413
`Overwrite the previous NVRAM configuration?[confirm]`

You are trying to do a save_config, but the save config is prompting for confirmation (due to the OS version on the device changing). You will need to use write_channel/read_channel to handle this "wr mem" that is prompting you for confirmation.

Also it looks like you might have run into issues earlier in the output trying to use "nvram" as

[2021-03-31 08:19] FSociety07 commented on #1413
I ran the "write' cmd in the Router CLI and it prompted the same you mentioned. I hit the enter button there and then ran the script and it executed flawlessly.
I will look up how to use the "write_channel/read_channel".

I have added a disk0: and removed the dest_file_system argument, so I believe by default disk0: is being used as the file system by NAPALM.

Thanks Kirk. You the king.
Closing th

[2021-03-31 08:19] #1413 closed

[2021-03-31 23:25] sdanelli opened #1416 "get_bgp_neighbors_detail() only returns back a single peer for a certain EoS platform"
### get_bgp_neighbors_detail() only returns back a single peer for a certail EoS platform

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [] No

### napalm version

[code]

### Network operating system version

Version: `4.22.8.1F-20034137.42281F',`
Model: `DCS-7260CX3-64-F`

### Steps to

[2021-04-02 13:41] beleof commented on #1391
@ktbyers
Here is the playbook to install the configuration
`  post_tasks:

    - name: Check if static/brownfield file exists
      stat:
        path: "{{ static_conf_dir }}/{{ inventory_hostname }}.conf"
      register: static_config

    - name: Include static/brownfield configs if applicable
      copy:
        src: "{{ static_conf_dir }}/{{ inventory_hostname }}.conf"
        dest: "{{ host_t

[2021-04-06 16:39] ktbyers opened #1417 "Improve the behavior of nxos_ssh and commit_config with respect to fast_cli"
I was seeing some timeouts using the default settings of fast_cli=True.

[2021-04-09 10:07] Tristou27 commented on #1310
Done with #1421.

[2021-04-09 15:27] nick4me opened #1422 "Thola support / driver for SNMP queries"
Is SNMP support planned for querying network devices?
an integration of / driver for Thola could be interesting:
https://github.com/inexio/thola

[2021-04-09 17:30] ktbyers opened #1423 "IOS-XR NETCONF using config_encoding=xml and full replace config issues"
I retrieve the config using:

[code]

And the `cfg` looks as follows:

[code]

[2021-04-09 17:34] ktbyers commented on #1423
Adding @neelimapp

[2021-04-09 20:49] ktbyers opened #1424 "IOS-XR NETCONF gets into a locked state and can't be unlocked"
I have ran into this multiple times where the IOS-XR NETCONF interface gets into a locked state and I can't see any way to unlock it:

The device will report something similar to the following:

[code]

And trying to `unlock()` the device will fail:

[code]

Also it is not sufficient to clear the configuration session from the device (i.e. the lock still persists).

[2021-04-09 20:51] ktbyers commented on #1424
@neelimapp

[2021-04-09 20:53] ktbyers commented on #1424
Neither `show configuration lock` nor `show configuration sessions`, show any lock nor config session:

[code]

[2021-04-09 21:13] ktbyers opened #1425 "IOS-XR NETCONF unable to load merge config if using config_encoding="xml""
I am trying to perform a merge operation with config_encoding="xml"

My XML is as follows:

[code]

When I try this, I receive the following error:

[code]

I also tried it without the namespace in the `data` tag:

[code]

In this second situation, I receive the following error:

[code]

[2021-04-09 21:14] ktbyers commented on #1425
@neelimapp

[2021-04-09 21:16] ktbyers commented on #1422
Nope, no SNMP is planned.

[2021-04-09 21:16] #1422 closed

[2021-04-09 21:26] ktbyers commented on #1345
I think this was fixed here:

https://github.com/napalm-automation/napalm/pull/1336/commits/a3f02075b28a8b77230f5036fe5c1237fbb524cd

[2021-04-09 21:26] #1345 closed

[2021-04-16 21:48] network-shark commented on #1341
I would go for solution one . If you treat the '*' as an attribute then you have the information that this ip is a dynamic neighbor . If you just 'ignore' it you will lose that information.

[2021-04-16 21:49] network-shark commented on #1341
@kaibabbob I would go for solution one . If you treat the '*' as an attribute then you have the information that this ip is a dynamic neighbor . If you just 'ignore' it you will lose that information.

[2021-04-18 05:22] beleof commented on #1391
@ktbyers  Do you have any questions about the playbook ? Can you please help try to re-produce the issue?

[2021-05-07 02:29] expbits opened #1439 "Ping Discrepancy when there is Packet Loss"
### Description of Issue/Question

Hi I'm  using ping to validate my ipsla results but seeing discrepancies when three is packet loss involve.  The Packet_loss result value of a ping generated by napalm is always much lower vs to a Ping result send through the CLI.

BTW im running this on GNS3 IOS/IOSXE devices. I'm pinging the next hop device of a connected WAN interface.

Any ideas why its like

[2021-05-07 16:43] ktbyers commented on #1439
@expbits I am not seeing the issue? On your test1, you had the following results:

[code]

15 packets lost out of 50 is 30% packet loss.

On your second attempt, you lost 13 out of 50 i.e. 26% packet loss.

Those results are consistent with your CLI results.

[2021-05-11 13:21] ggiesen opened #1444 "traceroute broken on ios - no traceroute ouput produced"
### Description of Issue/Question

traceroute on IOS doesn't produce any output:

[code]

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
(Place an ``x`` between the square brackets where applicable)

- [x] Yes
- [] No

### Setup

### napalm version
(Paste verbatim output from `pip freeze | grep napalm` between quotes below)

[code]

### Network operating system v

[2021-05-11 14:04] ggiesen commented on #1444
Traceroute output from device:

router#traceroute 8.8.8.8

Type escape sequence to abort.
Tracing the route to 8.8.8.8
[code]

[2021-05-11 14:08] ggiesen commented on #1444
This apparently a duplicate of #1354 but there was no indication why that issue was closed.

[2021-05-12 08:31] indy-independence opened #1445 "JunOS failed commits causes lingering config sessions that are not cleared"
### JunOS failed commits causes lingering config sessions that are not cleared

When doing load_replace_candidate and the candidate configuration has a syntax error, napalm will raise a ReplaceConfigException as expected. However, the failed candidate configuration is not cleared from the router and instead lingers causing future commits to fail. The next attempt at a commit will result in napalm.

[2021-05-13 09:55] mirceaulinic commented on #1445
Hey @indy-independence - are you using any of the `lock_disable`, `config_lock` or `config_private` optional arguments by chance?

How are you using NAPALM? I'm asking as I'm not able to reproduce: if there's a syntax error, `load_replace_candidate` / `load_merge_candidate` will error and will tell you about it, e.g., ` [{'severity': 'error', 'source': None, 'edit_path': None, 'bad_element': 'fake

[2021-05-18 06:55] indy-independence commented on #1445
Hey, no I'm not using any optional arguments currently but I did try using config_private to test out the workaround thing

I'm using NAPALM via nornir, so this should be the code calling load_replace_candidate etc I think: https://github.com/nornir-automation/nornir_napalm/blob/master/nornir_napalm/plugins/tasks/napalm_configure.py
Indeed looking at the stack trace it seems like it never reaches

[2021-05-18 09:13] DavidVentura commented on #1387
what is this issue waiting for? I can make the PR if that's what's missing

[2021-05-18 09:42] mirceaulinic commented on #1445
Yes, this should be rather fixed in there (i.e., if loading config fails, discard the config instead of trying to commit).

[2021-05-18 09:44] mirceaulinic commented on #1387
Yep, a PR would do it @DavidVentura, cheers!

[2021-05-18 10:59] indy-independence commented on #1445
No I think there is a misunderstanding, it does not try to commit since an exception is raised.
Also the main point here is that I think napalm should handle all drivers in the same way, it seems wrong that when using napalm with junos driver you have to manually run discard config somewhere but for napalm with eos driver you don't need to have that code. I want napalm to be the abstraction layer

[2021-05-18 14:59] ktbyers commented on #1445
@mirceaulinic I will look into this. @indy-independence and I have been messaging in Slack so I want to look into what is going on a bit more.

[2021-05-18 15:19] mirceaulinic commented on #1445
I think the general good approach is to always discard on load failure, regardless on the driver. To me, the implementation you've linked is far from sufficient / correct (regardless on what driver we're referring to).

[2021-05-18 15:25] ktbyers commented on #1445
Yeah, it looks like EOS does a discard_config() whereas Junos doesn't (after a failed commit_config). @indy-independence pointed this out to me so that is what I wanted to look into.

I only looked into it very quickly so I might be wrong on the above, but that is what I wanted to dig into more.

[2021-05-19 07:03] indy-independence commented on #1445
I tried applying this patch to my napalm code and this seems to result in the same behavior as the napalm EOS driver:
[code]

I no longer have those lingering sessions, and I don't have to do any junos driver-specific stuff in the nornir code. For me it makes more sense to change the junos driver here rather than changing the eos driver and the nornir code since I don't see why you would want to k

[2021-05-19 13:18] indy-independence commented on #1445
Yes that makes sense, I did a PR with the patch for the junos driver #1448

[2021-05-19 16:44] ktbyers commented on #1445
I don't really have strong opinions on whether the discard_config() should be in the Nornir-napalm plugin or in NAPALM itself (as both of you mentioned earlier we should just make the behavior consistent).

@mirceaulinic Do you have preferences on where this discard_config() should be? Is there ever a case on a failed commit_config() where you would still want the bad candidate config to be staged

[2021-05-21 12:45] jmlcv opened #1450 "SR Linux Community Driver repo request"
### Repo request for community driver for Nokia SR Linux

Nokia developed a new product, SR Linux, and as SR OS, we developed a Napalm driver for it. We would like you to enable a repo so we can make it available as a community driver.

We would like to name the repo 'napalm-srlinux'.

Please grant write access to the following users:
- jmlcv  (me)
- mfzhsn

As you create the repo I will push the

[2021-05-24 12:39] mirceaulinic commented on #1450
Hi @jmlcv. I have created https://github.com/napalm-automation-community/napalm-srlinux for you and granted access as requested. Let me know if you have any issues or questions! :wink:

[2021-05-24 12:39] #1450 closed

[2021-05-24 13:37] #1330 closed

[2021-05-24 14:34] ktbyers commented on #1450
@mirceaulinic Thanks for doing this :-)

[2021-05-27 10:04] #1387 closed

[2021-05-28 01:27] cameront-1 commented on #1416
This is caused by Multi-Agent vs RIBD on the device.

Can be reproduced by simply swapping an eos version/veos version between ribd/multi-agent and re-running the tests.

It is fixable by going back to ribd, but in doing so will significantly slow down route updates, convergence, etc, only really viable with a few routes due to interest in convergence speeds.

[2021-05-31 04:57] syedgaffar1 commented on #687
@ktbyers, I too face similar issue and the optional_args={'global_delay_factor': 2} helped to fix it. Thanks a lot

[2021-06-01 12:20] network-shark opened #1459 "Cisco IOS get_interfaces retuns wrong bandwith"
### Description of Issue/Question

get_interfaces func returns the speed in megabit/s

configuration
[code]

napalm return
[code]
expected return
[code]

[code]

### Steps to Reproduce the Issue
run get_interfaces against a router

###

Could this be improved without breaking the existing code ?

[2021-06-01 13:57] mirceaulinic commented on #1459
Yes, I think this should be corrected.

[2021-06-14 13:43] beleof opened #1466 "Not able to delete some configuration with IOS-XR NETCONF interface"
### Description of Issue/Question
We are trying to using IOS-XR NETCONF interface to make changes to the IOSXR router.
When I tired to delete the _prefix-set_ I found no changes

change diff on configs_static/las1-xrv-2.conf

`-prefix-set RFC_1918
-  10.0.0.0/8
-end-set
-!`

Run the playbook find **no changes**
`ansible-playbook playbooks/ncs_routers.yml -i inventories/production/hosts --limit las

[2021-06-14 13:48] beleof commented on #1391
@ktbyers Could you please kindly take a looks of this? Please let me know if you need any more information of the issue.

[2021-06-16 20:39] somebody78 opened #1469 "Junos, configurations fails when there are no changes"
### Description of Issue/Question
Hello,

I stumbled upon an issue and hope you can help me. I have a process where a configuration is either written to or deleted from a Juniper firewall using Nornir with Napalm.
For a delete process it can happen that the config doesn't exist to begin with and there is no configuration change.
After updating the Juniper firewall to version 18.4 this throws an ex

[2021-06-17 11:51] mirceaulinic commented on #1469
Hi Dirk, that error message `'bool' object has no attribute 'find'` is somewhat familiar to me, I think I've seen it myself too a couple of times - but didn't dig into it yet, as it seems to be raised extremely rarely. Do you see it every time you run, or very often? Regardless on the frequency, it must be investigated, but I'm just curious... Regarding the note you shared, I would imagine that mo

[2021-06-18 13:21] somebody78 commented on #1469
Hi Mircea,
Thanks for the quick reply. I see this happen everytime in this specific scenario, when I'm using a new configuration that doesn't really change the active config.
I did the same test with newer versions for Napalm, junos-eznc and Nornir but unfortunately with the same result.
Any help appreciated.

Dirk

[2021-07-05 13:29] jeanfrancis opened #1472 "Request for support ZTE M6000 router"
Hi,

I would like to request the support of ZTE M6000 series router.
[code]

[2021-07-05 17:10] ktbyers commented on #1472
It would probably be up to you to build a napalm-community driver to support this.

There is some amount of Netmiko support for ZTE platform...so you could alternatively look there.

Regards, Kirk

[2021-07-05 17:10] #1472 closed

[2021-07-06 15:30] jmlcv commented on #1450
@mirceaulinic Thank you!

[2021-07-07 03:45] Tree2w63 commented on #1394
I'm seeing this exact same message (authentication failure) when running from a script as well, I have noted the following, which may be a pointer to the base issue though, let me know if you need more info.

This works --> ssh -p 830 -s admin@xr.device.com netconf
This fails --> ssh -p 830 admin@xr.device.com netconf

The '-s' --> straight from the man page
     -s      May be used to request inv

[2021-07-07 03:58] ktbyers commented on #1394
@Tree2w63 Your message/issue sounds unrelated to NAPALM's IOS-XR driver? What is the relevance of your post here?

[2021-07-07 04:06] Tree2w63 commented on #1394
Script fails at open
from napalm import get_network_driver

optional_args = {
    #'allow_agent': True,
    #'config_encoding': 'xml',
    'config_encoding': 'cli',
    #'port': 830,
}
device = {
    "hostname": "xr.device.com",
    "username": "admin",
    "password": "password",
    #"optional_args": optional_args,
}

driver = get_network_driver("iosxr_netconf")
dev = driver(**device)
dev.open()

[2021-07-07 04:13] ktbyers commented on #1394
You have to specify port 830. it looks like you are trying to connect on port 22?

[2021-07-07 04:21] ktbyers commented on #1394
Is the remote host in SSH known hosts?

Does it work if you add: `hostkey_verify=False,` into the manager.connect() call here:

https://github.com/napalm-automation/napalm/blob/develop/napalm/iosxr_netconf/iosxr_netconf.py#L93